[2022-01-14 10:33] #985 closed

[2022-01-14 17:34] abatishchev opened #989 "Security role called monitors is not explained"
The table for Security Roles covers all roles but `monitors`:

|*Role*      |Description|
|------------|-----------|
| admins |Have control over the securable object, including the ability to view, modify it, and remove the object and all sub-objects.|
| users | Can view the securable object, and create new objects underneath it.|
| viewers |Can view the securable object.|
| unrestrictedviewers |A

[2022-01-14 17:43] abatishchev opened #990 "Screenshots are out of data for Manage language extensions"
Current blade in the Azure Portal looks like differently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb051ac3-09cc-a84b-cd03-68e0a7ba6f72
* Version Independent ID: 23d8320d-3e59-14c7-de2f-433b85b32129
* Content: [Manage language extensions in your Azure Data Explorer cluster.](https://docs.microsoft.com/en-us/azure

[2022-01-14 18:03] MartinJaffer-MSFT commented on #989
Thank you for bringing this to our attention.  We will let you know when we have more information.

[2022-01-14 18:05] MartinJaffer-MSFT commented on #990
Thank you for bringing this to our attention.  We will let you know when we have more information.

[2022-01-14 18:32] himanshusinha-msft commented on #990
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-01-16 09:47] shsagir commented on #989
@abatishchev Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Yo

[2022-01-16 10:09] shsagir commented on #990
@abatishchev Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

We're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution to our community.

#please-close

[2022-01-16 17:51] abatishchev commented on #990
Please close issue after it has been addressed, not before.

#please-open #pleaese-reopen

[2022-01-17 05:01] SudheeshGH opened #992 "Examples has reference to wrong plugin"
Page is for mysql_request but the examples has sql_request referred.

evaluate **sql_request(**
    'Server=contoso.mysql.database.azure.com; Port = 3306;'
    'Database=Fabrikam;'
    h'UID=USERNAME;'
    h'Pwd=PASSWORD;',
  'select * from [dbo].[Table]')
| where Id > 0
| project Name

evaluate **sql_request(**
   'Server=contoso.mysql.database.azure.com; Port = 3306;'
    'Database=Fabrikam;'

[2022-01-17 13:02] vipulsparsh commented on #992
@SudheeshGH Thanks for reaching out. We will investigate and update the thread accordingly.

[2022-01-17 18:23] dariuszdbr opened #994 "Missing more detailed information about .clear table data command"
Hi, based on documentation [here](https://docs.microsoft.com/en-us/azure/data-explorer/delete-data), Azure Data Explorer offers different ways of deleting data. It is described that we can:

1. Delete data using the retention policy
2. Delete data by dropping extents
3. Delete individual rows with [.purge](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/concepts/data-purge) or [.soft-de

[2022-01-17 19:28] BryanTrach-MSFT commented on #994
@dariuszdbr Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-18 07:14] shsagir commented on #989
@abatishchev Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-01-18 07:14] #989 closed

[2022-01-18 07:28] shsagir commented on #990
@abatishchev You can track the progress on this in the WI I sent you in Teams. In the meantime, I'm closing this issue. Tx

#please-close

[2022-01-18 07:28] #990 closed

[2022-01-18 07:33] shsagir commented on #992
@SudheeshGH Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-01-18 07:33] #992 closed

[2022-01-18 08:08] SudheeshGH commented on #992
@shsagir  Thank you. There were also few other reference of SQLDB instead of  MySQLDB in few places on same page , Hope that also will be addressed.
"The following example sends a SQL query to an Azure SQL DB database retrieving all records from "
"SQL authentication with username and password" : I think it is Passport Authentication.

[2022-01-20 21:15] himanshusinha-msft commented on #994
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-01-24 11:53] lmjeremias opened #999 "ARM template does not pass validation"
I have tried to use the ARM template to create a Kusto cluster, but it doesn't deploy:

Failed to start deployment to resource group 'lujeremi-rg'.
Additional details from the underlying API that might be helpful: Code: 'templateLinkAndJson'.
Parameters: MyGalleryItem,,.

(I have removed VNET and Keyvault parameters)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-01-24 18:32] MisterFlask opened #1001 "arg_max documentation should mention v2 vs v3 null handling differences"
In V2 of the kusto engine, this documentation is incorrect (or at least incomplete).  Specifically, if the value being maximized is ever null in the input set, then *every* column not in the summarized-by set of columns gets converted to null in the result set.

The documentation should reflect this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-01-24 22:26] MartinJaffer-MSFT commented on #999
This appears to be a request for troubleshooting, not a documentation issue.  For assistance, please post your question in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/products/).

[@lmjeremias](https://github.com/lmjeremias)

[2022-01-25 04:38] ShaikMaheer-MSFT commented on #1001
@MisterFlask Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-25 17:14] #999 closed

[2022-01-26 01:42] baselsalam opened #1004 ".create materialized-view with "move-extents" example query gives intellisense errors without adding quotes around tablename"
The .create materialized-view command given is:
.create async materialized-view with (move_extents_from=DedupedT) MV on table T
{
    T
    | summarize arg_max(Timestamp, *) by EventId
}

In Kusto desktop explorer, the intellisense shows an error where DedupedT is. The intellisense error goes away when this is quoted with single quotes, like (move_extents_from='DedupedT')

Edit: looks like this is

[2022-01-26 01:49] baselsalam commented on #1004
Edit: looks like this is a KustoDesktopExplorer intellisense issue.

I got it to work without the quotes:

.set mv_test_raw <|
range Timestamp from ago(1d) to now() step 1s
| extend x=rand(10), y=rand(100)

.set mv_test_backfill_table <|
mv_test_raw
| summarize arg_max(Timestamp, y) by x

.create materialized-view with (move_extents_from=mv_test_backfill_table) mv_test on table mv_test_raw
{
    m

[2022-01-26 05:15] jiasli opened #1005 "Unclear about what if Right-hand-side (RHS) of `has` operator is not a pure alphanumeric word"
I checked these 2 docs but it is unclear what will happen if Right-hand-side (RHS) of `has` operator is not a pure alphanumeric word:

- https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/datatypes-string-operators
- https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/has-operator

[code]

The tests show that if Right-hand-side (RHS) of `has` operator is not a pure alpha

[2022-01-26 17:41] himanshusinha-msft commented on #1005
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2022-01-26 17:43] #1004 closed

[2022-01-26 18:25] KranthiPakala-MSFT commented on #1005
We have assigned the issue to the content author. They will evaluate and update as appropriate.

[2022-01-27 10:57] shsagir commented on #994
@BryanTrach-MSFT Thanks so much for taking the time to leave us your comment on our documentation. We're working on an [update ](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2718) for the page based on your suggestions which will be published as soon as possible.

We're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your c

[2022-01-27 10:57] #994 closed

[2022-01-28 00:08] seank-com commented on #481
Why do the rows show up Red though? Take this example

Exceptions
| where Properties["NodeName"] == "_generic_0" and Properties["ResourceGroup"] == "prd-emea-tcvp2"
| extend ExceptionType = tostring(Exceptions[0]["TypeName"])
| take 10

![image](https://user-images.githubusercontent.com/1326518/151463377-fccc0e52-bd5e-4aff-a271-2a93a0fb9cf8.png)

Some rows are Red, some are Black, All rows have a

[2022-01-28 08:45] KranthiPakala-MSFT commented on #1005
@orspod - Could you please help loop relevant product owner who can clarify on this ask. Thank you

[2022-01-28 14:29] ShaikMaheer-MSFT commented on #1001
@orspod could you please validate feedback and enhance document as appropriate.

[2022-01-29 00:15] baselsalam opened #1010 "Make the warning on column type rename more clear"
The wording here 'When altering the data type of a column, any pre-existing data in that column which is not of the new data type will be ignored in future queries and will be replaced by a null value. ' is very misleading.

It should simply state that any pre-existing data in that column will be replaced by a null value.
"any pre-existing data in that column which is not of the new data type" cou

[2022-01-29 09:53] ShaikMaheer-MSFT commented on #1010
@baselsalam Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-01-30 08:13] shsagir commented on #1001
@MisterFlask Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

[2022-01-30 08:17] shsagir commented on #1005
@jiasli Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

[2022-01-30 08:18] shsagir commented on #1010
@baselsalam Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

[2022-02-01 12:53] shsagir commented on #1001
@MisterFlask Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-02-01 12:53] #1001 closed

[2022-02-01 13:03] ajs794 opened #1014 "No longer exists"
Page is no longer relevant, it appears the "real" function does not exists.

![image](https://user-images.githubusercontent.com/78363586/151973280-52c9a3df-5d85-4916-bfa5-dc902d303ce0.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a093fa47-a7fe-9f2a-3069-c1a87edcf517
* Version Independent ID: e13c2621-b98e-be79-3e

[2022-02-01 18:22] himanshusinha-msft commented on #1014
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2022-02-02 07:38] shsagir commented on #1014
@ajs794 Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-02-02 13:50] shsagir commented on #1005
@jiasli Thanks again for your feedback. The RHS can be *any* scalar or literal expression as mentioned in the arguments section. I'm closing this issue, but we'll continue to monitor if there is a need to update the descriptions.

#please-close

[2022-02-02 13:50] #1005 closed

[2022-02-03 06:11] AnnuKumari-MSFT commented on #1010
Hi @orspod / @shsagir
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-02-03 07:48] shsagir commented on #1014
@ajs794 After investigating with the product team, the real type does exist and shows up in IntelliSense wherever an expression is expected. For example:

![image](https://user-images.githubusercontent.com/51323195/152301671-82a81e44-0531-4977-b6ac-09ddd67958bb.png)

Thanks again for contacting us with feedback. Since there is no change required, I am closing this issue.

#please-close

[2022-02-03 07:48] #1014 closed

[2022-02-06 08:34] shsagir commented on #994
@BryanTrach-MSFT Thanks again for your feedback. We've updated the topic based on your feedback.

[2022-02-07 07:53] shsagir commented on #1010
@baselsalam Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-02-07 07:54] #1010 closed

[2022-02-08 04:41] pnarsi opened #1025 "Automated Routes to the Internet"
Are the Azure Data Explorer management IP addresses and Health Monitoring IP address on this page up to date. I recently deployed an VNET injected Data Explorer in Australia East and a route table with the following IP addresses with a next hop of Internet were automatically configured. As far as I can tell none of the IP addresses that was configured in my environment appear on this page.

![imag

[2022-02-08 10:45] ShaikMaheer-MSFT commented on #1025
@pnarsi Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-08 12:59] asafnadler opened #1026 "The "View Entity" page is incredibly difficult to find. It's not showing in any search. For instance: try search "view" or "view object""
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26865d49-b5b4-da75-b2fb-be9cdadd0f89
* Version Independent ID: ed417589-c34b-87d3-4d8b-985b8faca50e
* Content: [Views - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/schema-entities/views)
* Content Source: [dat

[2022-02-08 17:49] KranthiPakala-MSFT commented on #1026
Thanks for the feedback @asafnadler !

You can use the `Filter by title` search box to find the most relevant documents. Please see below GIF:

![docSearchType](https://user-images.githubusercontent.com/50185738/153045998-71a2d99c-e4b9-4fc0-9342-d3a47cbe8783.gif)

Hope this info helps.

[2022-02-10 05:00] pnarsi opened #1030 "Data Explorer CMK and Description"
If we enable this feature to encrypt all data in the storage account used by Data Explorer with a CMK, will the CMK also be used to encrypt the OS and data disks of the cluster VMs in the Data Explorer cluster when the "disk encryption" feature documented [here](https://docs.microsoft.com/en-us/azure/data-explorer/cluster-disk-encryption) is enabled?

---
#### Document Details

⚠ *Do not edit this

[2022-02-10 11:56] ShaikMaheer-MSFT commented on #1030
@pnarsi Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-02-10 12:29] shsagir commented on #1025
Fixed by https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2732

[2022-02-10 12:31] #1025 closed

[2022-02-10 22:01] karstenulferts opened #1032 "CSV file not available"
https://kustosamplefiles.blob.core.windows.net/samplefiles/StormEvents.csv seems unavailable.

[2022-02-10 22:53] pnarsi commented on #1030
@ShaikMaheer-MSFT - I was using my question to highlight an issue/gap with the docs - it is not clear which specific components are encrypted at rest via the CMK feature mentioned on this page. I would have thought this would be something that would be articulated on this page more clearly.

[2022-02-11 04:51] ShaikMaheer-MSFT commented on #1032
@karstenulferts Could you please share link of the documentation page for which you are providing feedback? Thank you.

[2022-02-11 07:41] karstenulferts commented on #1032
Here you can find the peage with a dead link:
https://docs.microsoft.com/en-us/azure/data-explorer/ingest-sample-data?tabs=ingest-comand

See step 4 (dead URL and typo/syntax error)
.ingest into table StormEvents 'https://kustosamplefiles.blob.core.windows.net/samplefiles/StormEvents.csv with (ignoreFirstRecord=true)

This link is the new/correct link to csv file.
https://kustosamples.blob.core.wi

[2022-02-13 13:12] shsagir commented on #1030
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-02-13 13:13] shsagir commented on #1032
@karstenulferts Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback.

[2022-02-13 13:39] #1032 closed

[2022-02-15 09:46] kerbelp opened #1035 "Cannot download Kusto Explorer"
Links in the docs are broken for me.
https://aka.ms/ke (CDN location)
https://aka.ms/ke-mirror (Non-CDN location)

This is the error I see in developer tools:
`
Cross-Origin Read Blocking (CORB) blocked cross-origin response https://browser.events.data.microsoft.com/OneCollector/1.0/?cors=true&content-type=application/x-json-stream&client-id=NO_AUTH&client-version=1DS-Web-JS-3.1.10&apikey=c6c27850

[2022-02-15 18:16] KranthiPakala-MSFT commented on #1035
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-02-16 18:56] dudu-markovitz opened #1039 "pack_all() demo query does not match results"
The following query does not match the given results:

datatable(SourceNumber:string,TargetNumber:string,CharsCount:long)
[
'555-555-1234','555-555-1212',46,
'555-555-1234','555-555-1213',50,
'555-555-1313','',42,
'','555-555-3456',74
]
| extend Packed=pack_all()
| extend PackedIgnoreNullEmpty=pack_all(true)

It should actually be as following (a single 'extend' clause with 2 pack_all() operations

[2022-02-16 20:53] james-tn opened #1040 "Example on python is outdated"
[Enter feedback here]

It should be updated to the following to run.
use azure.identity and method begin_create_or_update

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c09ec755-8b8b-c3ae-c41c-e46e150b9296
* Version Independent ID: 139476a1-e5f9-181e-ee7f-ab466d65d54d
* Content: [Create an event hub data connect

[2022-02-17 02:17] KranthiPakala-MSFT commented on #1040
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

@orspod Could you please review the above feedback and loop in the relevant owner to validate and update the document as needed. Thank you

[2022-02-17 02:28] KranthiPakala-MSFT commented on #1039
@dudu-markovitz
Thanks for the feedback and bringing this to our notice. At this time, we are reviewing the feedback and will update the document as appropriate.

[2022-02-17 05:36] #1039 closed

[2022-02-17 05:37] KranthiPakala-MSFT commented on #1039
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-02-17 17:49] MartinJaffer-MSFT commented on #1035
Hello @kerbelp .  I just finished conferring with my colleague.  The CORS / CORB error you received is something implemented by your browser or company IT.  It is not cause by a broken link per se.  Please try looking at
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS/Errors

[2022-02-17 19:25] #1035 closed

[2022-02-18 03:42] pnarsi opened #1044 "Outbound FQDN Dependencies"
For securing outbound traffic with Firewall this page gives a list of FQDN including some very broad wildcard subdomain rules for *.core.windows.net (any storage account) and *.servicebus.windows.net (any eventhub/servicebus/relay)

![image](https://user-images.githubusercontent.com/7891408/154595540-f15ca9f9-8ab6-48c7-ac39-f62d5bdab08b.png)

The next section of the page talks about retrieving the

[2022-02-18 11:01] ShaikMaheer-MSFT commented on #1044
@pnarsi Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-20 08:16] shsagir commented on #1040
@james-tn Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your

[2022-02-20 08:20] shsagir commented on #1044
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-02-20 08:45] Gabilehner commented on #1030
Using Customer Managed Key (CMK) for encryption the data is done on the storage level (cold data), while Disk Encryption today is enabled on the compute (OS and data disks). Therefore the 2 features are unrelated and do not have any impact on one another.

[2022-02-20 13:50] kerbelp commented on #1035
Maybe the issue was in Edge browser. `aka.ms/ke` in edge got me this CORS errors, but it did work using the Chrome browser.

[2022-02-22 08:10] shsagir commented on #1030
@pnarsi Thanks so much for taking the time to leave us your comment on our documentation. The information you request is in the previous comment. We're still looking into whether the docs need updating. If relevant, changes will be made in the next possible publish.

We're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution

[2022-02-22 08:10] #1030 closed

[2022-02-22 09:33] ShaikMaheer-MSFT commented on #1044
@orspod Could you please validate customer feedback and enhance doc as appropriate to get clear about from two lists of dependencies which should be in the context of an actual solution?

[2022-02-22 12:32] dariuszdbr opened #1052 "Materialized View with backfill property vs idempotency with IaC"
Hi, not sure if that's the correct area to place question regarding materialized views and IaC, but will give a try.

We are working on solution that is using ADX. We have created some arm templates responsible for creating ADX Cluster, and then we have *.csl scripts used by [Adx Azure DevOps Tasks](https://docs.microsoft.com/en-us/azure/data-explorer/devops) to create tables, functions, policies

[2022-02-22 18:41] SaurabhSharma-MSFT commented on #1052
@dariuszdbr To assist you better on your query could you provide us with the link to the document you are referring to ?
In case your query in not related to document content, open a new forum thread either [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or StackOverflow as it could be better place to get help on your scenario where the community members could provide their ex

[2022-02-22 21:26] dariuszdbr commented on #1052
There is no such example in the docs (with `create-or-alter + backfill property`), although there are examples with `.create async ... ` like the second one [here](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/materialized-views/materialized-view-create#examples),
[code]
but this is not exactly what I was asking, so I have placed a question on [stackoverflow](https://stacko

[2022-02-23 21:24] ghogen opened #1056 "Need examples of usage in context"
OK, so I have a table in Kusto that has a query string that is ideal input for parse_urlquery() but what do I need to do with the output of parse_urlquery to extract useful information like the value of a particular parameter. This article just gives the result in a JSON format and I guess we need to go through the article on dynamic types that are property bags to go further, but that topic is ve

[2022-02-24 01:15] SaurabhSharma-MSFT commented on #1052
@dariuszdbr Closing this one as it looks like you have got your answer over Stackoverflow.

[2022-02-24 01:15] #1052 closed

[2022-02-24 09:47] ShaikMaheer-MSFT commented on #1056
@ghogen Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-02-24 13:19] shsagir commented on #1056
@ghogen Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-02-24 13:35] sloutsky commented on #1056
Here is a working example, we will add something like this to the docs.

[code]

|UrlQuery|Moniker|
|---|---|
|view=vs-2019&preserve-view=true|vs-2019|

[2022-02-24 14:47] shsagir commented on #1056
@ghogen Thanks for your feedback. We've submitted a [documentation change](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2864) based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-02-24 14:47] #1056 closed

[2022-02-24 15:23] cosh commented on #1044
that's correct. kusto needs to access a variable list of storage accounts which might grow or shrink. That's why we are using a wildcard for *.core.windows.net. Same is true for servicebus.

we'll fix the doc. thx for bringing it up

[2022-02-24 15:44] marcolisi opened #1057 "Missing dash in instruction for ".alter materialized view""
The instructions are missing a dash for materialized view: .alter materialized view

Both in the definition and in the code.

It should be .alter **materialized-view**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c105250e-9bb6-4ef6-0f20-1e84158b57c2
* Version Independent ID: 17b0eee7-a0c3-02a2-5281-ea10a21f9e7b
* Con

[2022-02-24 19:16] KranthiPakala-MSFT commented on #1057
Thanks for the feedback and bringing this to our notice. At this time, we are reviewing the feedback and will update the document as appropriate.

[2022-03-01 07:46] shsagir commented on #1040
@james-tn Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish. We are tracking the request in [work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1924707).

We're closing this as an open issue for now, but fe

[2022-03-01 07:46] #1040 closed

[2022-03-01 08:54] shsagir commented on #1044
@pnarsi  Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish. We are tracking the request in this [work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1925226).

We're closing this as an open issue for now, bu

[2022-03-01 08:54] #1044 closed

[2022-03-01 09:09] shsagir commented on #1057
@marcolisi Thanks for your feedback. @KranthiPakala-MSFT (Thanks!) submitted a documentation change based on your feedback, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-03-01 09:09] #1057 closed

[2022-03-03 08:28] Aviv-Yaniv commented on #1040
Thank you @james-tn for notifying us and for the vigilance!
We are updating the docs accordingly

[2022-03-03 15:48] stowen-msft opened #1065 "These examples *really* need to show the output."
Since so many Microsoft services use Kusto for querying, a lot of folk's will be viewing these help documents.  It would really be beneficial to show the expected output from the command.

The output of these commands demonstrates the value of using the commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66c8f1ca-

[2022-03-03 18:08] KranthiPakala-MSFT commented on #1065
Thanks for the feedback. We have assigned the issue to the content author. They will evaluate and update the document as appropriate.

[2022-03-04 01:12] JasonFreeberg opened #1067 "This article needs troubleshooting steps"
Followed the instructions but it fails with this:

![image](https://user-images.githubusercontent.com/18747768/156680045-d3ae3603-75a4-4d3f-a859-9da5b05cb8fc.png)

_Now what do I do?_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee4aa15b-5f33-b4f8-f3cd-f5f2434f3836
* Version Independent ID: ac42a985-65b3-4671-5c8e-de

[2022-03-04 06:17] ShaikMaheer-MSFT commented on #1067
@JasonFreeberg Thank you for sharing feedback. We will validate and share updates soon.

[2022-03-04 06:20] ringerc opened #1068 "No helptext for user defined functions"
The documentation at https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/functions/user-defined-functions does not describe any way to add help-text, parameter documentation etc to user-defined functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5958aeff-6cae-d186-b3b4-47925c42f4dd
* Version Independ

[2022-03-04 12:54] m-terlinde opened #1069 "Are more authentication methods possible than the GET parameter?"
Hey guys,

we have the issue, that for MS Defender advanced hunting, we need to access 3rd-party data behind authentication. Unfortunately, the GET parameter does not work on that endpoint like in the example.

We tried something like that:
`let data= (externaldata(md5_hash:string ) [h@"https://user:password@domain.tld/path/to/file.txt"]`

Looking at the logs of the 3rd-party werbserver, username

[2022-03-04 13:08] MonikaReddy-MSFT commented on #1068
@ringerc  - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update the document accordingly.

[2022-03-04 20:01] joedeveau opened #1070 "Term character count is inconsistent compared to other articles"
In the "Tips" section (https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/datatypes-string-operators#understanding-string-terms):

Terms are listed to be four or more characters. However on the string operator page (https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/datatypes-string-operators), terms are listed to be three or more characters

---
#### Document Details

[2022-03-04 20:08] KranthiPakala-MSFT commented on #1069
Thanks for reaching out! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-03-04 20:13] KranthiPakala-MSFT commented on #1070
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-06 07:54] shsagir commented on #1065
@stowen-msft Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Yo

[2022-03-08 16:42] vmhenard opened #1073 "Typo "deletes" should be "displays" in show stream ingestion policy articles"
Hello,

Looks like there is a typo, it should be "displays" not "deletes" in :
"The following command deletes the streaming ingestion policy:"

Same issue for the .show database streaming ingestion policy article.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c753d363-f7eb-4681-ae61-84cf5e1173d3
* Version Independent I

[2022-03-08 17:45] KranthiPakala-MSFT commented on #1073
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-03-08 17:45] #1073 closed

[2022-03-08 17:45] ShaikMaheer-MSFT commented on #1067
@orspod Could you please validate customer feedback and check if this doc can include few trouble shooting tips and enhance document as appropriate?

@JasonFreeberg Thank you for question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.

[2022-03-10 10:50] shsagir commented on #1067
@JasonFreeberg Thanks for your feedback. After investigating, we've discovered the documented steps work as expected. If the problem persists, please use the support channel suggested by @ShaikMaheer-MSFT.

@ShaikMaheer-MSFT Thanks for the suggestion. At this time the steps have been verified.

#please-close

[2022-03-10 10:50] #1067 closed

[2022-03-10 10:55] shsagir commented on #1068
@ringerc Thanks for your feedback. Please can you provide more detail or an example of the issue you raised?

[2022-03-10 11:03] shsagir commented on #1069
@m-terlinde Thanks for your question. You can use the [authentication methods](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/connection-strings/storage-authentication-methods) topic for supported ways to authenticate.

We're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution to our community.

#please-clos

[2022-03-10 11:03] #1069 closed

[2022-03-10 18:08] #1065 closed

[2022-03-10 21:57] m-terlinde commented on #1069
Thanks a lot for the link, @shsagir!
The linked documentation only mentions authentication against a Azure storage product. Are the same methods also possible against 3rd-party sites like a basic auth protected webserver or so?

In our tests, the SAS was not passed to our Apache web server, which left us kind of puzzled.

[2022-03-11 07:32] zivcaspi opened #1082 "Page needs a new title/TOC-title"
It's very hard to find this page based on its title and/or its TOC-title.
Suggest we rename both to something like "Referencing security principals"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b075a2bc-27ff-ad1f-b155-42f8486f7688
* Version Independent ID: 90dd764e-d81d-76ec-0da0-e4b9d14e0018
* Content: [Principals a

[2022-03-11 09:19] meanin opened #1083 "Exception mapping"
Hi, it would be cool to have somewhere documented http response code mappings into C#/.NET exceptions as it is not so easy to replicate all of scenarios from [here](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/rest/response).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d7b0560f-8a4c-c829-7307-c18a7

[2022-03-11 09:58] meanin commented on #1083
Which Microsoft.Azure.Kusto.Data exceptions map to which ADX http response codes. In example, we do know, that 400 is being mapped to KustoRequestException with ErrorReason property set to "BadRequest", or 413 is being mapped to KustoServicePartialQueryFailureException. Please provide a way to distinguish each http response code returned from ADX based on mentioned nuget.

[2022-03-11 13:15] lujinlou opened #1084 "Need to update the limitation of externaldata operator in documentation"
When we use externaldata operator to execute Azure DevOps Rest API, it will shows the error message: message":"Partial query failure: 0x80131500 (message: 'The remote server returned an error: (405) Method Not Allowed in the Browser Developer Network Tool.

For example: Rest API: https://docs.microsoft.com/en-us/rest/api/azure/devops/build/source-providers/get-file-contents?view=azure-devops-rest-

[2022-03-11 14:48] ShaikMaheer-MSFT commented on #1082
@zivcaspi Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-11 17:58] KranthiPakala-MSFT commented on #1083
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-11 18:15] KranthiPakala-MSFT commented on #1084
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-14 10:08] shsagir commented on #1070
@joedeveau Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-03-15 14:36] ShaikMaheer-MSFT commented on #1082
@shsagir Could you please validate customer feedback and enhance document as appropriate? Thank you

[2022-03-16 07:50] jasonhumsft opened #1094 "Chinese version misses the latest download link"
In the English version, there are two download links and the one for .NET is latest:
![image](https://user-images.githubusercontent.com/91578501/158541485-ed213ce6-1a84-4e51-8e19-36aa3b84d8b1.png)

But in the Chinese version, there is only one download link for the depreciated .NETCore version, but the link for the latest .NET version is missing:

![image](https://user-images.githubusercontent.com

[2022-03-16 12:19] ShaikMaheer-MSFT commented on #1094
@jasonhumsft Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-17 08:07] jasonhumsft opened #1097 "Default value for CachingPoliciesModificationKind"
As per my testing, when a DB is attached to a follower cluster, the default CachingPoliciesModificationKind is "union", not the "none" described in this document.
![image](https://user-images.githubusercontent.com/91578501/158763624-856f1e3b-8778-452e-ab84-8359851228b9.png)
![image](https://user-images.githubusercontent.com/91578501/158763794-c23a11e1-0cfd-4085-9077-e8803d0d7e9c.png)

Could you ch

[2022-03-17 08:49] CHEEKATLAPRADEEP-MSFT commented on #1097
@jasonhumsft  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-03-17 11:54] AnnuKumari-MSFT commented on #1094
@shsagir ,
Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2022-03-20 05:11] KhaoticMind opened #1099 "Telegraf is still not mentioned on the plugin list"
Telegraf received an output plugin to ADX november last year (https://techcommunity.microsoft.com/t5/azure-data-explorer-blog/new-azure-data-explorer-output-plugin-for-telegraf-enables-sql/ba-p/2829444) but there's no mention of it on the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c758ab8-a66a-0d9d-af7a-a0fb

[2022-03-20 11:28] CHEEKATLAPRADEEP-MSFT commented on #1099
@KhaoticMind  Thanks for the feedback! We are investigating and will update you shortly.

[2022-03-21 14:16] sandersaares opened #1101 "How to use identity mapping for Event Hub data connection? Docs should lead to greater success here"
The [mapping docs](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/mappings#identity-mapping) say that identity mappings are supported.

However the Event Hub page does not explain how to tell it to use it - when I created such a data connection in the Azure Portal, it says the mapping is required. If this is something that can only be accomplished in a different way (e.g. ma

[2022-03-21 19:00] KranthiPakala-MSFT commented on #1101
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-23 03:14] KhaoticMind opened #1104 "Wrong parameter on query example"
The query example of section "Evaluate resource usage" is probably wrong.

The script calls "MyFunction" in the end, but this is never defined. This probably refers to the second let that reads

[code]
but should probably be

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bac25c-c168-fadc-2491-651d35361512
* Ve

[2022-03-23 03:27] CHEEKATLAPRADEEP-MSFT commented on #1104
@KhaoticMind  Thanks for the feedback! We are investigating and will update you shortly.

[2022-03-23 10:14] shsagir commented on #1068
@ringerc Apologies for the delay in responding.

Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks ag

[2022-03-23 10:16] shsagir commented on #1083
@meanin Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-03-23 11:50] shsagir commented on #1068
@ringerc Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

We're tracking the change request on [Work Item 1932537](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1932537) and closing this as an open issue for now,

[2022-03-23 11:50] #1068 closed

[2022-03-23 12:46] shsagir commented on #1084
@lujinlou Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your

[2022-03-23 14:51] shsagir commented on #1082
@zivcaspi Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

We're tracking this in [work item 1932547](https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1932547) and  closing this as an open issue for now, but feel fr

[2022-03-23 14:52] #1082 closed

[2022-03-23 15:01] shsagir commented on #1099
@KhaoticMind Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Yo

[2022-03-23 15:03] shsagir commented on #1101
@sandersaares Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Y

[2022-03-24 07:43] LeaShallev commented on #1101
Thanks @sandersaares for the feedback.
Indeed we not support automatic identity mapping for JSON, MULTIJSON and AVRO in Event Hub ingestion.
As mentioned [here](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-event-hub#target-table) and as you can see in the portal, specifing mapping for these formats is required.
We will update docs so it clearer.

[2022-03-24 09:07] shsagir commented on #1094
#assign: @SunnyDeng

[2022-03-24 10:59] shsagir commented on #1104
#please-close

[2022-03-24 10:59] #1104 closed

[2022-03-24 11:28] shsagir commented on #1101
@sandersaares Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @MicrosoftDocs/build_service_account
#please-close

[2022-03-24 11:28] #1101 closed

[2022-03-25 12:25] dudu-markovitz opened #1108 "Undocumented hint: hint.progressive_top"
There seems to be an undocumented hint (hint.progressive_top) for the top operator

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4829b5ee-46fa-3d2d-af51-4a5c28803b79
* Version Independent ID: 7dcb3bc9-4a10-97e1-ed40-a5ed989e1b9e
* Content: [top operator - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/dat

[2022-03-25 14:16] sergeigirshev opened #1109 "Duplicated content"
Every data value **(such as the value of an expression,** or the parameter to a function, **or the value of an expression**)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 303e5f6b-e267-4c5d-36ae-b82999a9ebf2
* Version Independent ID: e41a87d8-e321-1fe3-8854-384eaf2030a2
* Content: [Scalar data types - Azure Data Explo

[2022-03-25 17:23] KranthiPakala-MSFT commented on #1109
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-03-25 17:25] KranthiPakala-MSFT commented on #1108
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-27 08:02] #1094 closed

[2022-03-27 23:24] faizgouri opened #1112 "Not sustainable design for Adx proxy URL"
The URL for Azure Monitor data using Azure Data Explorer contains "Resource Group Name" and "Workspace Name" which is not an ideal case because these values may change in the future and any application with that URL will fail.
Why using Resource Group ID and Workspace ID is not supported here just like Subscription ID in the URL?

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2022-03-28 06:17] ShaikMaheer-MSFT commented on #1112
@faizgouri Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-03-28 07:54] #1109 closed

[2022-03-28 12:07] shacharoronm opened #1113 "Not clear on partial sucess/failure"
Hi.
thank you for the documentation.

some details that I am missing in order to use the .lear table [name] data command in my code:

this page does not state what will happen in case of partial success or failure of the command.
will there be an exception thrown?
will there be an indicator if a retry is required?
what details will be available?

thanks,
Shachar

---
#### Document Details

⚠ *Do n

[2022-03-28 16:41] KranthiPakala-MSFT commented on #1109
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-03-28 16:47] samadane opened #1115 "When is Azure Data Explorer Dashboards out of preview?"
When is the dashboard feature coming out of preview?

What is the expected cost of using the dashboard feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4be1640-3699-8fdf-07a2-c9b922499c90
* Version Independent ID: 55027537-6af4-541d-da8d-e2cdc2b5fa92
* Content: [Visualize data with the Azure Data Explorer dashb

[2022-03-28 17:24] KranthiPakala-MSFT commented on #1113
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-28 17:26] KranthiPakala-MSFT commented on #1115
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2022-03-28 21:56] #1115 closed

[2022-03-29 15:56] liranms opened #1118 "Incorrect default/max values"
Several issues with this documentation:
1) The default value for max number of items appears to be 500 rather than 1000
2) For raw data size the default is 1024 which is larger than 1000 that you consider max
3) setting values larger than the max works, is this a bug or a feature?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-03-29 17:13] KranthiPakala-MSFT commented on #1118
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-03-30 10:53] shsagir commented on #1084
@lujinlou Thanks for your feedback. We've submitted a documentation change based on your query, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-03-30 10:53] #1084 closed

[2022-03-30 11:05] shsagir commented on #1097
@jasonhumsft Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

You can track progress on work item: https://dev.azure.com/mseng/TechnicalContent/_workitems/edit/1934643

We're closing this as an open issue for now, but feel free

[2022-03-30 11:05] #1097 closed

[2022-03-30 14:52] #1112 closed

[2022-03-30 15:47] shsagir commented on #1113
@shacharoronm Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Y

[2022-03-30 15:48] shsagir commented on #1118
@liranms Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your s

[2022-03-31 12:55] KhaoticMind opened #1121 "Provide download link for the .jar files needed"
Please provide a link for the .jar that are needed to be download to connect to ADX, or at least a list of the sources, the way it is is hard to figure where each .jar should be dowloaded.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f6149ce-1c3c-d2a2-79a9-cb181240ce90
* Version Independent ID: 372e6191-af44-ba93-bf

[2022-03-31 15:30] pflickin opened #1122 "Sample JSON ingest page incorrect."
The sample JSON ingest page for Python appears to have several inconsistencies with the Python ingest page (https://docs.microsoft.com/en-us/azure/data-explorer/python-ingest-data). For instance, there appears not to be a KustoIngestClient, so the examples do not work. Additionally, the examples are very hard to follow given that sample data is only provided for the first and second examples with

[2022-03-31 17:07] KranthiPakala-MSFT commented on #1121
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-01 03:44] CHEEKATLAPRADEEP-MSFT commented on #1122
@pflickin  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-01 04:03] kganjam opened #1124 "Examples should use HH not hh for hour"
// Using hh incorrectly cuts of the hours
print format_timespan(time(29.23:59:59.12345), "d.hh:mm:ss"); // 29.11:59:59
print format_timespan(time(29.23:59:59.12345), "d.HH:mm:ss"); // 29.23:59:59

// Using HH is better when for example subtracting two times
print format_timespan(time(29.23:59:59.12345) - time(1.2:30:59.12345), "d.HH:mm:ss"); // 28.21:29:00 (Correct)
print format_timespan(time(29.2

[2022-04-01 09:38] CHEEKATLAPRADEEP-MSFT commented on #1124
@kganjam Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-04-03 13:46] shsagir commented on #1083
@meanin Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

You can track progress on work item: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1936737

We're closing this as an open issue for now, but feel free t

[2022-04-03 13:46] #1083 closed

[2022-04-03 14:16] shsagir commented on #1121
@KhaoticMind Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Yo

[2022-04-03 14:25] shsagir commented on #1122
@pflickin Thanks so much for taking the time to leave us your comment on our documentation. We have a [backlog work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1910703) to update the topic and have added your feedback to it.

We're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution to our communit

[2022-04-03 14:25] #1122 closed

[2022-04-03 14:27] shsagir commented on #1124
@kganjam Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your s

[2022-04-03 14:37] amitof commented on #1108
This is a debugging flag meant to be used by Kusto developer
We will hide it from intellisense

[2022-04-04 07:53] shsagir commented on #1108
@amitof Thanks for your feedback. Per @amitof's comment, this is not a supported feature and hence not relevant for docs. Because we cannot change the referenced page to include the information and functionality that you're asking for, we are closing this issue.

#please-close

[2022-04-04 07:53] #1108 closed

[2022-04-06 06:57] shsagir commented on #1118
@liranms Thanks again for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

Progress is tracked on work item: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1937666

We're closing this as an open issue for now, but feel free to co

[2022-04-06 06:57] #1118 closed

[2022-04-06 15:37] shsagir commented on #1099
@KhaoticMind Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue and will be updating the page based on your suggestions. Changes will be made in the next possible publish.

We're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution to our community.

#please-close

[2022-04-06 15:37] #1099 closed

[2022-04-06 21:29] acalarch opened #1127 "Include escaping of quotes in verbatim string literals"
[There should be a section that describes how to escape " in verbatim string literals (via double-double quotes]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 525bbc5a-0b79-0609-3637-2af59995c55d
* Version Independent ID: 9d1ec307-cf2d-a41d-bacc-cd7615c85212
* Content: [The string data type - Azure Data Explorer](http

[2022-04-06 23:45] KranthiPakala-MSFT commented on #1127
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-07 09:01] shsagir commented on #1113
Fixes https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/3006

[2022-04-07 09:02] shsagir commented on #1113
@shacharoronm Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-04-07 09:02] #1113 closed

[2022-04-07 09:09] shsagir commented on #1124
@kganjam Thanks for your feedback. We've submitted a code bug fix based on your suggestion that will be released at the earliest opportunity, most likely in the coming months. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-04-07 09:09] #1124 closed

[2022-04-07 09:28] shsagir commented on #1121
@name Thanks again for your feedback. After investigating with the product dev team, we've discovered the list of jar files is provided for example purposes only. It's not jar files we provide. As such, we cannot change the referenced page to include the information and functionality that you're asking for and we're closing this issue.

#please-close

[2022-04-07 09:28] #1121 closed

[2022-04-07 12:00] yahavx-ms commented on #1118
Default values are indeed outdated, will fix that.
Upper bounds are not set at the moment, will be removed from the docs.
Thanks.

[2022-04-11 08:32] #1127 closed

[2022-04-11 14:54] brianmatusz opened #1136 "Example 4 - Case Sensitive match in quotes"
We setup exercises to train our team on KQL. And there was some confusion regarding the documentation. It appears that `search` does not permit in-quote sensitivity as mentioned in example 4 *OR* is there an additional configuration item to enable this scenario?

For our classroom exercise we found:
[code]

| **Count** | **searchterm** |
|--|--|
1,916 | search 'Bob' |
1,916 | search 'bob' |
1,866

[2022-04-11 18:06] Grace-MacJones-MSFT commented on #1136
Hi @brianmatusz, thanks for bringing this to our attention. I have assigned the issue to the content author to evaluate and update as appropriate

[2022-04-13 06:21] shsagir commented on #1136
@brianmatusz Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Yo

[2022-04-13 09:42] shsagir commented on #1136
@brianmatusz Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-04-13 09:42] #1136 closed

[2022-04-13 10:37] rigoita opened #1141 "AttributeError: 'ClustersOperations' object has no attribute 'create_or_update'"
Hello,
when I try to run the command provided for creating an Azure Data Explorer cluster and database by using Python (ref. https://docs.microsoft.com/en-us/azure/data-explorer/create-cluster-database-python), I received the following AttributeError:

- 'ClustersOperations' object has no attribute 'create_or_update'.  Did you mean: 'begin_create_or_update'?

Could you please advice?

Thanks
Rigo

[2022-04-13 15:44] Grace-MacJones-MSFT commented on #1141
Thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2022-04-14 10:07] yihezkel commented on #1141
We do not support this SDK, so it's worth confirming with the owners of this repo, but I looked back and see that in https://github.com/Azure/azure-sdk-for-python/commit/b1d8fc67f1831ea276bc73e9f1c7fdae16a825a5 it seems `create_or_update` was indeed changed to `begin_create_or_update`.

I'll update our docs accordingly.

[2022-04-19 04:36] CHEEKATLAPRADEEP-MSFT commented on #1141
@rigoita  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-19 04:36] #1141 closed

[2022-04-19 05:59] williamtwar commented on #947
Thanks for sharing the workaround (contains "xx")
The bloomfilters allow the SOC team to check if the file's name is a legitimate remote admin tool.
If it is, then the SOC team will proceed to send the email to user for removing the remote admin tool file.

[2022-04-20 18:16] ChadNedzlek opened #1146 "Missing documentation on ExecuteQueryV2Async"
This page references a "ExecuteQueryV2Async" as a way that will fix the problem when making these queries from code. But that method appears to be 100% undocumented anywhere.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 082142f3-9558-d472-c85b-459b956480a1
* Version Independent ID: 3beb35b6-5885-9367-9fc0-2c4fe6b7b82

[2022-04-20 18:17] ChadNedzlek commented on #1146
It is also a very confusing API, so using it correctly is incredibly difficult.  I've had to just start slapping "notruncation" on a lot of my queries because I don't know how to use the progressive mode, and that's presumably not ideal for my cluster.

[2022-04-20 23:08] KranthiPakala-MSFT commented on #1146
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-04-21 06:35] darrychen92 opened #1148 "Executing the "parse" example doesn't get the correct result"
Got empty value with every column.

[Example](https://dataexplorer.azure.com/clusters/help/databases/Samples?query=H4sIAAAAAAAEAN2UTU%2fDMAyG75X6H6xcxlCkpRlsUNQjN6gQ2wnEoevMFsiaKk2HJvHjabqvlI91l11QLrH12vETW5Zo4H411kmKEME0MdWZSISz2yVmpvaHhdEim3V979n3OrU%2fhFgZ8boaSZHiI0pMiipEY6FKnWKcLDB6EDlKkeEoneO0lKgpGGUSWYcUER9SKOw1LhcT1BHvU5AqfR%2bLKpbxXjDscRYMgF2FFyxkwRMFvX7ngCLXuBSqLO5%2bT9S%2ftrJuh54OI7g8iMF

[2022-04-21 11:59] CHEEKATLAPRADEEP-MSFT commented on #1148
@darrychen92  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.

[2022-04-25 04:33] CHEEKATLAPRADEEP-MSFT commented on #1148
@darrychen92 Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-04-25 04:33] #1148 closed

[2022-04-25 05:21] richard-southworth-pico opened #1149 "Description of example Kusto code is incorrect"
The statement quoted below seems to be referring to a different example than the one it is used to describe.
'The following example binds the name x using the ['name'] notion'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 741d0e14-4a3f-af28-1d6e-e6a6dd3dd414
* Version Independent ID: 731bbd4d-10c6-5cc4-741d-7cba31cb05

[2022-04-25 09:28] v-weijiexu opened #1150 "In step 2 of the On-behalf-of authentication part, what is the accessToken?"
[Enter feedback here]
In step 2 of the On-behalf-of authentication part, what is the accessToken?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee89d0d7-becd-83f4-b862-f39b1c1ad6d4
* Version Independent ID: d40d3446-9677-dbdc-faa9-f04a30ffb042
* Content: [Authenticate with Azure AD for access - Azure Data Explorer](ht

[2022-04-25 09:53] ShaikMaheer-MSFT commented on #1149
@richard-southworth-pico Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-04-25 22:27] RyanHill-MSFT commented on #1150
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-26 07:48] shsagir commented on #1149
@richard-southworth-pico Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-04-26 07:48] #1149 closed

[2022-04-26 07:54] shsagir commented on #1150
@v-weijiexu Thanks for your question. As stated in step 2, it's "the access token **acquired in the first step as a proof of identity** to Azure Data Explorer". So it refers to the access token created in step 1c. Hope that answers your question. In the meantime, I'm closing this issue. You can @comment me if you have any further questions relating to this issue. Thanks again.

#please-close

[2022-04-26 07:54] #1150 closed

[2022-04-27 10:42] shsagir commented on #1146
@ChadNedzlek Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-04-27 10:42] #1146 closed

[2022-04-27 13:41] FoxSpirit77 opened #1154 "Attempting to render a chart after series_metric_fl() in Log Analytics gives error"
I have Data from an Istio Ingress and after  running it through series_metric_fl() in Log Analytics and attempting to render it it gives me this error:
"Failed to create visualization
The Line can't be created as you are missing a column of one of the following types: int, long, decimal or real"

The data seems to be correctly styled but it only lets me render something if I use
`| limit 1`
when u

[2022-04-28 03:58] CHEEKATLAPRADEEP-MSFT commented on #1154
@FoxSpirit77  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members

[2022-04-28 08:46] FoxSpirit77 commented on #1154
Concerned document:
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/functions-library/series-metric-fl

I found a workaround that will actually render me the timechart the way the document states:
[code]
The project is necessary because `render timechart` simply takes the column with the lowest ColumnOrdinal and  of the type string, and uses that for the y-split. The series operator is

[2022-04-28 14:26] se02035 opened #1157 "IoT Hub Connection. How to access user properties?"
Doc <https://github.com/MicrosoftDocs/dataexplorer-docs/blob/main/data-explorer/ingest-data-iot-hub-overview.md#system-properties> describes how to access system properties when using an IoT Hub Connection.

But that document doesn't cover whether user properties are also accessible / can be used in ADX or whether this is currently not supported. If it is not supported, pls mention that in the doc

[2022-04-28 14:28] adieldar commented on #1154
Are you OK for now?
Which client are you using for rendering? Kusto Explorer, Kusto Web Explorer, Log Analytics? It's important as the rendering code is exclusive to each tool so based on the client I can connect you to the relevant person.

[2022-04-29 07:07] ShaikMaheer-MSFT commented on #1157
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c4906624-6602-9047-87e9-c87882642dbb
* Version Independent ID: 010f471b-67ea-958b-a1f9-74a26c408a25
* Content: [Ingest from IoT Hub - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-iot-hub-overview)
* Content Sou

[2022-04-29 07:08] ShaikMaheer-MSFT commented on #1157
@se02035 Thank you for sharing feedback.

@shsagir Could you please validate customer feedback and update document as appropriate? Thank you.

[2022-05-01 10:25] iwafula025 opened #1159 "Variable name inconsistent"
while inconsequential, I believe the second example should to be "AvailableMB" instead of "AvailableMD"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01a9498f-3bba-5479-e7d7-32cc4d96c15a
* Version Independent ID: 198ef7fc-f118-3f0d-0c9b-366d3e008be0
* Content: [extract_json() and extractjson() - Azure Data Explorer](h

[2022-05-01 15:00] shashishailaj commented on #1159
@iwafula025
Thank you for your feedback . We will investigate and update the thread.

[2022-05-02 07:16] msftyehong opened #1160 "Missing instructions on setting/modifying 'All Databases *' roles"
Missing references to how one can set/modify 'All Databases admin', 'All Databases viewer' and 'All Databases monitor' roles. Reference below the table https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/security-roles#managing-database-security-roles links to a page that only shows how one can manage security roles at database, table, materialized view and function. But not clus

[2022-05-02 07:17] FoxSpirit77 commented on #1154
I am trying to render it in a Log Analytics Blade and a Dashboard.
Yes, I am ok for for now, thanks.
Should maybe go into the documentation?

[2022-05-02 07:26] FoxSpirit77 opened #1161 "Calling series-metric-fl() breaks IDE in Azure Log Analytics blade"
Concerned function/document:
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/functions-library/series-rate-fl

I am using the function in a Azure Log Analytics blade and after calling it, the IDE breaks.
ReferenceError: UnknownIdentifierResolveResult is not defined

After using this in code, none of the IDE functions work, it turns into a basic text editor.

** Added page metadata **

-

[2022-05-02 10:31] CHEEKATLAPRADEEP-MSFT commented on #1160
@msftyehong  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-05-02 10:43] CHEEKATLAPRADEEP-MSFT commented on #1159
@iwafula025 Thanks for pointing out the issue, I've addressed this issue in PR:[https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/3061](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/3061)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribution

[2022-05-02 10:45] #1159 closed

[2022-05-02 11:43] shsagir commented on #1157
@se02035 Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your s

[2022-05-02 12:47] FoxSpirit77 commented on #1161
Very sorry for the error, it's series-rate-fl(), not series-mertic-fl(). Metric is fine.

[2022-05-02 14:36] ShaikMaheer-MSFT commented on #1161
@FoxSpirit77 Yes typo in function name it seems.

Please Note, GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2022-05-03 14:43] FoxSpirit77 commented on #1161
Okay, did that. Many thanks :-)

[2022-05-04 14:42] FoxSpirit77 commented on #1161
Just to clarify, this is not a query or need for clarification, this is a bug.

[2022-05-06 05:14] #1161 closed

[2022-05-09 00:05] g9K5ZTr0 opened #1171 ".create function with (docstring = 'Demo function with parameter', folder='Demo') MyFunction2(myLimit: long) {StormEvents | limit myLimit}"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 28a1c45a-851f-b06f-9258-412aac797750
* Version Independent ID: 7f8c7702-129c-62b8-2a8f-d893aa96c848
* Content: [repeat() - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/repeatfunction)
* Content Source: [data-ex

[2022-05-09 04:27] CHEEKATLAPRADEEP-MSFT commented on #1171
@g9K5ZTr0 Could you please share more details on your feedback on this document?

[2022-05-09 12:28] #1154 closed

[2022-05-10 16:15] vladikbr commented on #1157
There is no support for enriching IoT Hub events payload with user properties. Consider embedding user properties in the event body upstream.

[2022-05-11 00:14] yamakenrc5 opened #1176 "Cannot add this document to collection at docs.microsoft.com"
It looks like I cannot add this document to my collection. I confirmed this page behavior with my iPhone and Windows 10 PC.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eb28ce95-83a3-dcb7-5c37-f4efbbff1dc6
* Version Independent ID: d7fd65d3-33d0-7dd4-6c83-6842fa5cc334
* Content: [database() (scope function) - Azure D

[2022-05-11 03:44] CHEEKATLAPRADEEP-MSFT commented on #1171
@g9K5ZTr0  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-05-11 03:44] #1171 closed

[2022-05-11 03:59] CHEEKATLAPRADEEP-MSFT commented on #1176
@yamakenrc5  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@shsagir As per my repro from my end, we are unable to add this document to my collection and when I click on save it keeps on rotating and it never stops or save it.

Note: We are able to save other docs under the special functions section.

![image](https://user-images.gi

[2022-05-11 08:22] shsagir commented on #1157
@se02035  Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-05-13 18:18] FaronFaulk opened #1181 "examples not helpful"
examples not helpful

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c70cf14e-e42f-392b-c7b8-4616574e2f33
* Version Independent ID: 0b04f427-098d-0602-5c02-3d4a71b292c5
* Content: [The timespan data type - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/scalar-data-types/timespan)
*

[2022-05-14 01:54] Karishma-Tiwari-MSFT commented on #1181
Thanks for your feedback.
Can you please share what do you think is missing and what can be done to improve the doc?

[2022-05-16 16:24] Karishma-Tiwari-MSFT commented on #1181
We will now close this issue. Please share the details when you get a chance and tag me in a comment. I will reopen it and we will gladly continue the discussion.

[2022-05-16 16:24] #1181 closed

[2022-05-18 22:28] douggarding opened #1188 "Incorrect link in documentation"
Under the [Retention Policy Control Commands section](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/retentionpolicy#control-commands), the link for ".alter policy retention" takes you to the wrong page. It takes you to the documentation for _showing_ the policy instead of the _altering_ the policy.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-05-18 23:09] KranthiPakala-MSFT commented on #1188
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-05-18 23:49] #1188 closed

[2022-05-19 14:30] anneschatz opened #1190 "Searching all databases with wildcard doesn't work"
Hey, as suggested in this page, searching all databases in a cluster  with a wildcard like this:
find in (cluster(clustername).database("*").*) where * has "searchvalue"
doesn't work.
It even highlights the syntax and asks for a real database name. This should be definitely be investigated because it is suggested in the documentation but doesn't actually work.
[Enter feedback here]

---
#### Docum

[2022-05-19 16:51] KranthiPakala-MSFT commented on #1190
@anneschatz Looks like you have provided any value for the database name, have you tried this way `find in (cluster('clustername').database( '*').*) where * has "searchvalue"`?

[2022-05-19 17:57] anneschatz commented on #1190
Yes, I tried it the exact same way as you, but as you can see in the screenshot it highlights the syntax as incorrect:
![image](https://user-images.githubusercontent.com/105869481/169366157-b58cc7cb-5196-4d12-9d76-162db7cdba9c.png)

[2022-05-19 20:58] KranthiPakala-MSFT commented on #1190
Thank for you response @anneschatz! I'm looping in product team folks who can better clarify on this usage.

@@shsagir - Could you please help loop in the relevant feature owner who can assist and clarify on this feedback? - Thank you

[2022-05-23 00:43] jeremylcarter opened #1195 "Typo with word user"
Typo:

Sentence: "The current version of the SDK doesn't support interactive uer authentication on .NET Core. If required, use AAD username/password or application authentication instead."

Word: uer
Should be: user

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae82ebd2-f7f6-5068-54f2-69c7532b6b38
* Version Independen

[2022-05-23 05:48] ShaikMaheer-MSFT commented on #1195
@jeremylcarter Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-24 10:24] LeaShallev commented on #1101
@sandersaares - we recently added a support for identity mapping for all formats in Event Hub, Event Grid and IoT hub ingestion so you can now use it.
Thanks for your feedback!

[2022-05-26 07:40] shsagir commented on #1195
@jeremylcarter Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-05-26 07:40] #1195 closed

[2022-05-26 07:41] shsagir commented on #1160
@msftyehong Thanks for contacting us with feedback about our product documentation. We are looking into your issue. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again f

[2022-05-26 07:49] shsagir commented on #1176
@yamakenrc5 Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. You

[2022-05-26 08:20] shsagir commented on #1190
@anneschatz Thanks so much for your question.

I tested the scenario using the [Azure Data Explorer Web UI](https://docs.microsoft.com/en-us/azure/data-explorer/web-query-data) with the help cluster. Per the capture below, I did not experience this issue.

As this does not appear to be a documentation issue, please ask product questions on:

* Ask a question on [Stack Overflow](https://stackoverfl

[2022-05-26 08:20] #1190 closed

[2022-05-26 11:39] orhasban commented on #1160
@msftyehong AllDatabases* (Admin, Viewer, Monitor) are all types of Kusto ARM resource which is called clusterPrincipalAssignments.

This resource can be managed in every form that uses ARM API:

UI – Azure portal.

![image](https://user-images.githubusercontent.com/39991747/170479959-dd25209a-2097-4630-8131-3bcd36c9d2ed.png)

Programmatically – all Azure resource manager SDKS:

•	Azure PowerShell

[2022-05-26 12:49] msftyehong commented on #1160
@orhasban I understand from your response this specific set of permissions cannot be controlled Azure Data Explorer using KQL
 language (the interface I asked about). Thank you for sharing information regarding other ways to control these permissions.

 Consider updating into docs if you see fit.

 Can close the case as far as I'm concerned.

[2022-05-27 00:27] pnarsi opened #1202 "Label the ADX virtual network"
Can I suggest labelling the "ADX virtual network" in the various diagrams on this page as "ADX managed virtual network" or similar to make it clear that it is not a regular virtual network.
![image](https://user-images.githubusercontent.com/7891408/170604528-73d2d764-3f15-4c0a-9a29-2232e3b9efc1.png)

Also the statement in the Managed private endpoint section around "when a cluster is created Azure

[2022-05-27 04:44] ShaikMaheer-MSFT commented on #1202
@pnarsi Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-05-27 08:44] TANGLIHUI opened #1203 "datetime_diff has strange result"
[Enter feedback here]
I got this, anyone explain it please!
![image](https://user-images.githubusercontent.com/25787018/170664349-84592161-db86-4e53-85eb-d98aef469f49.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b7d3f626-bc42-8e9b-12da-c6349e698076
* Version Independent ID: 79e92c50-4110-5782-dcda-6d0ff93dbc23
*

[2022-05-27 16:21] KranthiPakala-MSFT commented on #1203
@TANGLIHUI Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://

[2022-05-27 16:21] #1203 closed

[2022-05-29 10:09] shsagir commented on #1160
@msftyehong Thanks again for your feedback. Following on from @orhasban response, we are closing this issue.
#please-close

[2022-05-29 10:09] #1160 closed

[2022-05-29 10:17] shsagir commented on #1176
@yamakenrc5  Thanks so much for taking the time to leave us your feedback. We're investigating the issue.
We're closing this issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution to our community.

#please-close

[2022-05-29 10:17] #1176 closed

[2022-05-29 10:40] shsagir commented on #1202
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-05-30 07:52] ciufudean opened #1205 "incomplete description of the conditions which start a new session"
The paragraph that starts with

describes 3 conditions upon which a new session is started.
It misses a 4th given by the *Restart* parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08ced7b0-4d88-798d-b83b-881c06fc9c7e
* Version Independent ID: 10b55046-8597-a047-c980-6ef5b1ae5366
* Content: [row_window_session(

[2022-05-30 09:47] shsagir commented on #1205
@ciufudean Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your

[2022-05-30 12:11] shsagir commented on #1205
@ciufudean  Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-05-30 12:11] #1205 closed

[2022-05-30 13:43] dlopoel opened #1206 "Lightingest argument creationTimePattern works differently"
Me and my colleague are running 2 different versions of LightIngest. Him 5.4.2, me 6.0.3 We are experiencing different behavior when we use parameter creationTimePatter.
In version 5.4.2 it works as documented and expected and when we use following pattern ( -creationTimePattern:'/0575/'yyyy/MM/dd'/blob' ) it correctly evaluates the file:
==> Size (bytes): '1806772', **CreationTime: '2017-01-01T00

[2022-05-30 18:30] MartinJaffer-MSFT commented on #1206
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2022-05-30 18:34] MartinJaffer-MSFT commented on #1206
@dlopoel so the difference is whether or not `adx-ingest` is included in the url, between XXX and 0575 ? All else is the same?

[2022-05-31 00:06] pnarsi opened #1207 "Mention Managed VNET/Managed Private Endpoint/Callout Policy in Network Security"
The Network security section of this page talks about VNet Injection only. I think it needs to highlight the Managed VNET + Manage Private Endpoint + callout policies as well as an option and include a link to the overview page: https://docs.microsoft.com/en-us/azure/data-explorer/security-network-private-endpoint

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2022-05-31 04:07] CHEEKATLAPRADEEP-MSFT commented on #1207
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2022-05-31 06:36] dumarkov opened #1208 "additionalProperties are actually supported by the ADF GUI"
As can be seen in the ADF documentation, additionalProperties are supported for ADX as a sink in a COPY operation, as part of the GUI. No need to manipulate the JSON manually.

https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-data-explorer?tabs=data-factory#azure-data-explorer-as-sink

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2022-05-31 19:02] jocawtho opened #1210 "the sentence for stored functions doesnt make sense"
https://github.com/MicrosoftDocs/dataexplorer-docs/blob/main/data-explorer/kusto/query/functions/index.md

This phrasing doesnt make sense to me, should it be fixed?
Stored functions, which are user-defined functions **that are stored and managed a one kind of a database's schema entities**. See [Stored functions](https://github.com/MicrosoftDocs/dataexplorer-docs/blob/main/data-explorer/kusto/que

[2022-05-31 23:39] JamesTran-MSFT commented on #1210
@jocawtho
Thanks for your feedback! We will investigate and update as appropriate.

[2022-06-01 03:22] shsagir commented on #1202
@pnarsi  Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-06-01 03:22] #1202 closed

[2022-06-01 12:08] shsagir commented on #1208
@dumarkov  Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your

[2022-06-01 12:08] shsagir commented on #1207
@pnarsi  Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your s

[2022-06-01 12:27] #1210 closed

[2022-06-01 13:41] cosh commented on #1207
fixed it. thx for reporting it

[2022-06-01 18:31] MartinJaffer-MSFT commented on #1206
@shsagir should I assign this issue to you?  I was going to do a repro and then escalate, but if you are aware of an existing doc gap, I'll unassign myself.

[2022-06-01 19:21] vladikbr commented on #1206
@dlopoel,
creationTimePattern requires constant prefix and suffix to correctly locate and identify the datetime pattern.
LightIngest versions below 6.0.1 had a bug that caused the suffix part to be ignored in some cases, which made your scenario work.

Your LI works correctly, and since it cannot locate the trailing substring "blob", fails to read the creation time.
In your case and with the updat

[2022-06-01 19:22] vladikbr commented on #1206
#please-close

[2022-06-01 23:32] pnarsi commented on #1207
@cosh @shsagir - that looks better.

[2022-06-01 23:32] #1207 closed

[2022-06-02 06:21] dlopoel commented on #1206
Hi,
I reported it, because neither of patterns worked, the one with '/blob' and the one with just '/' neither. Please look at the screenshot
![image](https://user-images.githubusercontent.com/61112053/171565950-7494a869-12c2-4b43-8898-77ef20fb53c9.png)

[2022-06-02 08:26] vladikbr commented on #1206
On closer look it appears that the recent LI versions have a bug when CreationTimePattern's suffix is a single character that is also used in the datetime format string.
This will be fixed in the next released version of LightIngest (ETA second week of June).

[2022-06-02 12:45] shsagir commented on #1208
@ Thanks so much for taking the time to leave us your comment on our documentation. We're working on changing the docs based on your feedback that will be added in the next possible publish.

It may take a little while. In the meantime, we're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution to our community.

#please-clo

[2022-06-02 12:45] #1208 closed

[2022-06-03 01:26] pnarsi opened #1215 "Configuring ZRS for ADX"
The "Persistent layer" section mentions that the service leverages Azure Storage which by default uses LRS within a data center. However it goes on to mention that ZRS can be configured at additional cost. Is there a link that explains how exactly ZRS can be configured for ADX? Is it automatically enabled if a ADX cluster is configured to deployed across multiple Availability Zones. A link to page

[2022-06-07 06:33] shsagir commented on #1215
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-09 02:06] pnarsi opened #1220 "Specify time interval for automatic stop of inactive ADX cluster"
The leading sentence of this page mentions that "Azure Data Explorer clusters that have been inactive for a **specified time interval** are automatically stopped". Can we actually specify a time interval for this automatic stop for inactivity or is it fixed at 5 days as per the second sentence?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2022-06-09 04:31] shsagir commented on #1176
@yamakenrc5 We've investigated and resolved the issue and you should now be able to add the article to your collection. To follow up on this issue, leave us a comment with an @mention.

[2022-06-09 04:37] CHEEKATLAPRADEEP-MSFT commented on #1220
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-09 08:04] ChristopherLeitner opened #1221 "This page should have a link to the aggregation functions types"
This page should contain a link to https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/aggregation-functions
As is, the only way to find that page is to manually search for one of the functions used in the programming samples and then go from there.

Also a suggestions: put important, related links at the top of the page. As is, if there are any links, they are always at the very end

[2022-06-09 10:08] ShaikMaheer-MSFT commented on #1221
@ChristopherLeitner Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-10 05:53] pnarsi opened #1222 "Does Tenant Permissions apply for data connections"
It is not clear from the documentation if the "define tenant permissions" feature documented on this page impacts on the cross tenant data connection feature on this other [page](https://docs.microsoft.com/en-au/azure/data-explorer/ingest-data-cross-tenant).

For example if the "Define tenant permissions" setting on the UI is set to "My tenant only" as described on this page, will it block users f

[2022-06-10 07:02] pnarsi opened #1223 "Setting My tenant only via API"
The documentation shows that via the Portal Interface tab we can set tenant permissions to either my tenant, all tenants or specific tenants.

![image](https://user-images.githubusercontent.com/7891408/173008063-caccd138-5b5f-44fe-86e9-f02470a04309.png)

However when we switch to the API it talks about settings permissions to all tenants or specific tenants only. There is no mention how how to res

[2022-06-10 09:47] yamakenrc5 opened #1224 "Cannot save this page to collections"
[Enter feedback here]
Tried to save this document to a collection under docs.microsoft.com, and found I cannot save this page, the round icon just moves around and does not let me save the page to my collection.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 103728d9-415c-551e-ca55-7bd70a0894f0
* Version Independent ID

[2022-06-10 12:45] ShaikMaheer-MSFT commented on #1221
@shsagir Could you please validate customer feedback and update document as appropriate? Thank you.

[2022-06-10 13:13] ShaikMaheer-MSFT commented on #1222
@pnarsi Thank you for sharing feedback. We will share updates soon.

[2022-06-10 13:15] ShaikMaheer-MSFT commented on #1223
@pnarsi Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-11 09:59] EitanSht opened #1227 "I'm using KQL for almost a year, love it and familiar with the different functions. But I have to say that the Syntax column here is VERY unclear, the different brackets are not clear, for functions I'm using (all of them) - I don't understand the Syntax explanation. Maybe consider providing examples."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 95c35535-c41f-5fcb-e4a0-2ad29a9f9b9d
* Version Independent ID: d43ad025-70be-142b-9d76-b6f9bacc3768
* Content: [KQL quick reference](https://docs.microsoft.com/en-us/azure/data-explorer/kql-quick-reference)
* Content Source: [data-explorer/kql-quick-r

[2022-06-11 11:57] MayankBargali-MSFT commented on #1227
@EitanSht Thank you for your feedback! We will review and update as appropriate.

[2022-06-13 13:24] ChristopherLeitner commented on #1221
Yes, thank you. Link works great and is in a good place.

[2022-06-14 04:41] pnarsi opened #1230 "Other FQDN dependencies for clients accessing ADX UI"
This there a page that documents all of the FQDN dependencies for clients accessing ADX from a private network including those that are **not** exposed as private endpoints?

For example when accessing the ADX UI in addition to the private endpoint FQDN I have also noticed the following FQDN being accessed from my browser which means that I would need to allow my clients to have outbound access to

[2022-06-14 06:49] pnarsi opened #1231 "Add link to Dashboard Permissions"
Neither this page nor any of the other pages in this Access Control section mention the fact that there is also the ability to set permissions on dashboards. Adding a link to this page: https://docs.microsoft.com/en-us/azure/data-explorer/azure-data-explorer-dashboards#share-dashboards I think would be helpful.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2022-06-14 07:48] shsagir commented on #1224
@yamakenrc5 Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. You

[2022-06-14 08:26] shsagir commented on #1222
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-14 08:29] shsagir commented on #1223
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-14 09:08] shsagir commented on #1221
@ChristopherLeitner Thanks for your feedback. In the description of the _aggregation_ argument, there is a link to the aggregations' functions page.

#please-close

[2022-06-14 09:08] #1221 closed

[2022-06-14 09:14] ShaikMaheer-MSFT commented on #1231
@pnarsi Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-15 01:47] pnarsi opened #1233 "Include Diagram showing how the Storage Account, Event Grid and Event Hub work in this scenario"
It would be helpful to include a diagram that provides an overview of how the four services mentioned in this scenario (Storage Account, Event Grid, Event Hub, and ADX) work together.

Something similar to the below:

![image](https://user-images.githubusercontent.com/7891408/173718147-2ee4a2ec-2b10-46b1-935b-7d4dee903084.png)

A diagram would also make it clear how this integration could be confi

[2022-06-16 06:45] shsagir commented on #1233
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-17 06:46] ShaikMaheer-MSFT commented on #1230
@shsagir Requesting to validate feedback and update document as appropriate. Thank you.

[2022-06-17 06:49] pnarsi opened #1236 "Authentication Method"
In addition to authentication methods mentioned in the screenshot below (from this page) there is also an option to use Managed Identity (User or System assigned) as well which is probably the most secure option as there are no credentials involved - https://github.com/Azure/azure-kusto-python/blob/master/azure-kusto-data/tests/sample.py#L48

![image](https://user-images.githubusercontent.com/7891

[2022-06-17 21:26] briandunnington commented on #1224
This was due to an Akamai WAF configuration issue. It has been resolved and I verified that the content can be added to collections now.

[2022-06-20 01:18] pnarsi opened #1238 "Missing Ingest Action in Table"
I believe that the summary of supported actions at the top of this page is missing the [INGEST Action](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/rest/streaming-ingest)

![image](https://user-images.githubusercontent.com/7891408/174509024-3af65382-c422-4611-b29a-0782c0c3aeba.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2022-06-20 04:50] CHEEKATLAPRADEEP-MSFT commented on #1238
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-20 05:55] pnarsi opened #1239 "Managed Identity also Supported for Ingestion of Blobs via SDK"
In addition to the two scenarios in the screenshot below. Managed Identity also seems to be supported for Ingestion of Blobs via SDK. Refer to: https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-managed-identity#ingest-blobs-with-managed-identity-using-kusto-sdk

![image](https://user-images.githubusercontent.com/7891408/174534224-47317047-276a-4996-b080-f385d28110c9.png)

---
#### D

[2022-06-20 07:09] ShaikMaheer-MSFT commented on #1239
@pnarsi Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-21 03:56] pnarsi opened #1241 "Using Managed Identity to Authenitication"
In addition to Service Principal based authentication mentioned in this page it might be also worth mentioning that System or User Assigned Managed Identities can be used as well - perhaps in that purple Note box? https://docs.microsoft.com/en-us/azure/data-factory/connector-azure-data-explorer?tabs=data-factory#linked-service-properties.

Annoyingly Managed Identities cannot be used when configur

[2022-06-21 04:28] CHEEKATLAPRADEEP-MSFT commented on #1241
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the details.

[2022-06-22 01:19] pnarsi opened #1245 "Connectivity to Blob, Table and Queue Endpoints"
This page mentions that in addition to the query and ingestion endpoints ADX comes with several FQDNs for blob, table, queue endpoints for ingestion scenario. Is there page that goes into how these blob, table and queue endpoints are used for ingestion in more detail? There are many ways to ingest data into ADX (Custom Streaming, Event Grid, Event Hub, IoT Hub, SDK, Event Hub, etc, LightIngest, On

[2022-06-22 02:22] pnarsi opened #1246 "Power Automate with Private Endpoint ADX"
Does the Power Automate connector work with private endpoint enabled ADX cluster (i.e where public connectivity is blocked)? I assume that in order to enable this use case we need to setup a [VNET Data Gateway](https://docs.microsoft.com/en-us/data-integration/vnet/data-gateway-power-platform-dataflows#supported-data-sources) (which is still in preview) or possibly use an on premise data gateway (

[2022-06-22 04:24] CHEEKATLAPRADEEP-MSFT commented on #1245
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-22 04:25] CHEEKATLAPRADEEP-MSFT commented on #1246
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-22 08:14] YaelSchuster commented on #1236
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-22 08:15] YaelSchuster commented on #1238
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-22 08:17] YaelSchuster commented on #1239
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-22 09:45] YaelSchuster commented on #1238
This missing information has been addressed in the above tagged PR. It will go live over the next 1-2 days. @pnarsi thanks for your contribution!

#please-close

[2022-06-22 09:45] #1238 closed

[2022-06-22 09:48] YaelSchuster commented on #1245
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-22 14:22] #1224 closed

[2022-06-22 20:25] Craigmeister68 opened #1249 "Grant User Permissions Assumptions?"
Hi,
There is not any information regarding the users being shared the dashboard. Is it assumed the user is in the same tenant or already has permissions in the cluster/database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4be1640-3699-8fdf-07a2-c9b922499c90
* Version Independent ID: 55027537-6af4-541d-da8d-e2cdc2b5

[2022-06-22 20:28] Craigmeister68 commented on #1249
I see this in the document - Azure Active Directory (Azure AD) user.

[2022-06-23 01:17] pnarsi opened #1251 "Add Link to Github page for output plugin"
I believe this page is missing the link to the Logstash Output Plugin for Kusto documentation. It would be helpful to include it in this article. https://github.com/Azure/logstash-output-kusto.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55ca34fa-96ef-e2f3-4758-667c8d1c21da
* Version Independent ID: 816b41a3-3fe6-19

[2022-06-23 03:57] #1249 closed

[2022-06-23 03:58] CHEEKATLAPRADEEP-MSFT commented on #1251
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-23 08:24] shsagir commented on #1230
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-23 08:29] shsagir commented on #1227
@EitanSht Closing as no further information received.
To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-06-23 08:29] #1227 closed

[2022-06-23 21:12] mawarren642 opened #1252 "Information Missing"
This page lacks information on how to modify sharding policy. The only pages I have found that remotely offer what this page should contain have several issues:

https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/alter-table-sharding-policy-command
Does not contain information on how to modify sharding policy-- using toggling it with this command yields an exception

https://doc

[2022-06-24 01:10] pnarsi opened #1253 "Incorrect Link to how to guide to Enable CMK"
I believe that while ADX stores data in Azure Storage which is encrypted at rest by default using Microsoft managed keys, enabling ADX to use a CMK to encrypt data stored in the Azure Storage is actually managed via ADX rather than via the Azure Storage (which is hidden to customer).

Therefore this link to "Use your own customer-managed key" actually makes no sense in the context of ADX as it is

[2022-06-24 01:21] pnarsi opened #1254 "Are Dashboards and Dashboard-related metadata encrypted at rest via CMK"
According the note in blue at the top of the page, "Dashboards and dashboard-related metadata about users is encrypted at rest." If our ADX cluster is configured to encrypt data at rest using a CMK as described on this [page](https://docs.microsoft.com/en-us/azure/data-explorer/customer-managed-keys-portal), would this CMK also be used for the Dashboard and related metadata encryption as well?

It

[2022-06-24 04:14] CHEEKATLAPRADEEP-MSFT commented on #1252
@mawarren642  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-24 04:15] CHEEKATLAPRADEEP-MSFT commented on #1253
@pnarsi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-24 04:16] CHEEKATLAPRADEEP-MSFT commented on #1254
@pnarsi Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-24 06:26] pnarsi opened #1255 "Prereqs for this How to Guide"
The prerequisites section is missing from this how to guide. Is it the same as what is documented in the excel query pages (screenshot below)? Specifically I assume we need to have an organization email account that is a member of the AAD directory and has permissions on the ADX database that is being connected to?

![image](https://user-images.githubusercontent.com/7891408/175475506-16a6dbbd-c44a

[2022-06-24 08:03] cosh commented on #1222
Thx!! created a PR

[2022-06-24 08:25] cosh commented on #1230
to the best of my knowledge: no
reason: those are FQDNs which are needed by the portal to connect to ADX. We documented the FQDNs which are needed to run the service in case of vnet injection

[2022-06-24 08:27] cosh commented on #1231
thx for the feedback. this doc is focused on roles which apply to the data plane. Not related to dashboards.

[2022-06-24 08:38] cosh commented on #1239
thx for the feedback. I'll get in touch with the devs to see if we want to highlight in our docs.

[2022-06-24 12:15] ShaikMaheer-MSFT commented on #1255
@pnarsi Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-06-24 18:44] centis opened #1259 "Outdated path to Kusto.Data.dll."
It seems that starting with Microsoft.Azure.Kusto.Tools/6.0.0-preview there are multiple versions of the binaries in the tools directory for different versions of .NET; ie: net5.0, net572, etc.  This change breaks the Add-Type command below.

Add-Type -LiteralPath "path\Kusto.Data.dll"

You might also include instructions for installing the necessary runtime.

[Enter feedback here]

---
#### Docum

[2022-06-24 23:48] YutongTie-MSFT commented on #1259
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-25 22:54] AMK2805 opened #1261 "Would be better if there was a mention of the benefit or use case of the operator in summary or seperate section called use case"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0735a144-ec13-33fe-da6a-37b5f43fd85c
* Version Independent ID: a4d0c043-e081-9d66-792f-2d2464e0f873
* Content: [partition operator - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/partitionoperator)
* Content Sou

[2022-06-26 00:39] YutongTie-MSFT commented on #1261
Thanks for the feedback! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2022-06-26 06:09] YaelSchuster commented on #1246
Thanks @cosh for your response.

@pnarsi at this time I'm closing this issue. Feel free to reach out by @mention me for further issues.

#please-close

[2022-06-26 06:25] YaelSchuster commented on #1251
Link has been added
#please-close

[2022-06-26 06:26] YaelSchuster commented on #1251
#please-close

[2022-06-26 06:27] #1251 closed

[2022-06-26 06:30] YaelSchuster commented on #1246
#please-close

[2022-06-26 06:30] #1246 closed

[2022-06-26 06:30] YaelSchuster commented on #1222
Thanks @cosh. Closing the issue at this time.

[2022-06-26 06:30] YaelSchuster commented on #1222
#please-close

[2022-06-26 06:30] #1222 closed

[2022-06-26 06:31] YaelSchuster commented on #1215
@please-close

[2022-06-26 06:31] YaelSchuster commented on #1215
#please-close

[2022-06-26 06:31] #1215 closed

[2022-06-26 06:32] YaelSchuster commented on #1230
Thanks, @cosh.

At this time, I'm closing the issue. If you have further questions, feel free to @mention myself or @cosh
Thanks for your contributions!

[2022-06-26 06:32] YaelSchuster commented on #1230
#please-close

[2022-06-26 06:32] #1230 closed

[2022-06-26 06:32] YaelSchuster commented on #1231
#please-close

[2022-06-26 06:32] #1231 closed

[2022-06-26 06:39] YaelSchuster commented on #1252
@mawarren642  Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Y

[2022-06-26 06:57] shsagir commented on #1233
@pnarsi Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

You can track progress on work item: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1964359

We're closing this as an open issue for now, but feel free t

[2022-06-26 06:57] #1233 closed

[2022-06-26 06:59] shsagir commented on #1245
@pnarsi Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-06-26 07:00] shsagir commented on #1245
#please-close

[2022-06-26 07:00] #1245 closed

[2022-06-26 07:03] YaelSchuster commented on #1253
Link updated in PR referenced above

[2022-06-26 07:03] YaelSchuster commented on #1253
#please-close

[2022-06-26 07:03] #1253 closed

[2022-06-26 07:28] YaelSchuster commented on #1223
#please-close

[2022-06-26 07:28] #1223 closed

[2022-06-26 07:29] YaelSchuster commented on #1259
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-06-26 07:29] YaelSchuster commented on #1255
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-26 07:30] YaelSchuster commented on #1254
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-26 23:37] pnarsi commented on #1230
Thanks @cosh @YaelSchuster - is there a separate page that documents the FQDN required by the portal to connect ADX? e.g. in the context of an end user accessing the ADX UI from a locked down environment where need to whitelist these required FQDN on a corporate Firewall?

[2022-06-27 04:07] pnarsi opened #1264 "Permissions to enable assignment of security roles"
What permissions does a user need to be able to actually assign a role to a user via  **.add database <TestDatabase> users ('aaduser=<user@contoso.com>')** as described on this page?

Do they need to have Contributor at the Cluster level (via Azure RBAC) or is having admin permissions for the specific ADX secured resource (e.g Database or Table) sufficient?
---
#### Document Details

⚠ *Do not edi

[2022-06-27 07:54] YaelSchuster commented on #1264
@pnarsi Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your su

[2022-06-27 08:23] noamhalamish90 opened #1265 "Wrong date in the example"
[Enter feedback here]

In Backfill a materialized view section, the date in the example is 2019-01-01 while the description says 2020-01-01
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a80bf02-94d1-8ba9-87d5-7eb879b3f193
* Version Independent ID: 775199fd-18a8-c173-27f1-c44d533e4697
* Content: [Create materialized vi

[2022-06-27 09:14] YaelSchuster commented on #1265
@noamhalmish90 thanks for noticing that! I've updated the file to correct

#please-close

[2022-06-27 09:14] #1265 closed

[2022-06-27 11:03] YaelSchuster commented on #1252
Hi @mawarren, the https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/alter-table-sharding-policy-command document describes how to alter the sharding policy. Can you share what command you have run and what kind of exception you are obtaining?

[2022-06-27 12:43] cosh commented on #1264
Azure RBAC and Kusto RBAC are decoupled from each other. You need to be an Admin on the database level or an AllDatabasesAdmin on the cluster level to change the security principals

[2022-06-27 23:46] pnarsi commented on #1264
Thanks @cosh. Looking into this a bit more, I believe that for a new cluster we also need to have Contributor Azure RBAC permissions (or a custom Azure RBAC role that gives **Microsoft.Kusto/Clusters/PrincipalAssignments/write** permissions) in order to actually first assign AllDatabaseAdmin permissions to a second user https://docs.microsoft.com/en-us/azure/templates/microsoft.kusto/2022-02-01/cl

[2022-06-28 06:50] pnarsi opened #1267 "Immutable callout policies cannot be modified"
I am a bit confused by some of the commentary on this page. Under the "Types of callout policies" sections it mentions that Immutable callout policies "are standard policies of a cluster. They are preconfigured and **can't be modified.**" which implies that these are baked in policies that cannot be edited or deleted.

![image](https://user-images.githubusercontent.com/7891408/176111670-c68faead-1

[2022-06-28 08:44] CHEEKATLAPRADEEP-MSFT commented on #1267
@pnarsi  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-06-28 10:37] YaelSchuster commented on #1261
Hi @AMK2805  Thanks for your input. I am updating docs to include further explanation and examples.

Tracking pull request to answer this request:
https://github.com/MicrosoftDocs/dataexplorer-docs/pull/1269

At this time I'm going to close the issue, but please feel free to reach out with further questions through new issues or by @mention myself.

Thanks

#please-close

[2022-06-28 10:37] #1261 closed

[2022-06-29 03:32] pnarsi opened #1271 "Monitor Role"
This may be a basic question so apologies in advance. With regards to the monitor role which is described as "Can execute .show commands in the context of the database and its child entities." Can a user assigned this role also run queries against the data in a table?

It is a mentioned in this other [page](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/) that 'Control comma

[2022-06-29 13:22] CharanCloud opened #1272 "Can't use Kusto for beyond 500000 records results?"
[Enter feedback here]
So Kusto is not useful for (500000) 5 Lakh+ records resultsets?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fb5754b-a061-c650-0d44-40e233dd5f8e
* Version Independent ID: 05aded72-a24a-470d-b976-e8814aeaefc5
* Content: [Kusto query result set exceeds internal limit - Azure Data Explorer](https:

[2022-06-29 14:44] shsagir commented on #1220
@pnarsi Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-06-29 14:44] #1220 closed

[2022-06-29 20:23] KranthiPakala-MSFT commented on #1272
@CharanCloud - Result truncation is a limit set by default on the result set returned by the query. Kusto limits the number of records returned to the client to 500,000, and the overall data size for those records to 64 MB. When either of these limits is exceeded, the query fails with a "partial query failure". The limits make sure that a single query doesn't disrupt concurrent queries running on

[2022-06-30 16:10] #1272 closed

[2022-07-01 11:04] webczat opened #1276 "Callout policies not respected for externaldata and externaltable queries"
Documentation talks about the "externaldata" kind of callout policies, which controls access to data on storage/sql using externaldata operator and external tables.
However, I have tested this with "restrict_outbound_access" setting set to "Enabled", which should make all externaldata callouts blocked by default unless whitelisted.
Yet, when there is no externaldata entry in callout policies, I am

[2022-07-01 16:47] KranthiPakala-MSFT commented on #1276
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-03 08:01] YaelSchuster commented on #1276
@webczat  Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your

[2022-07-03 08:49] YaelSchuster commented on #1271
@pnarsi, yes that is correct. A monitor cannot execute data queries.

#please-close

[2022-07-03 08:49] #1271 closed

[2022-07-03 08:52] YaelSchuster commented on #1267
@pnarsi  Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your s

[2022-07-03 08:54] YaelSchuster commented on #1255
hi @pnarsi, This depends on if you are sharing data in a free cluster - in which you only need a MS-linked email address, or using a paid cluster, which will require an organization email account that is a member of the AAD directory and has permissions on the ADX database that is being connected to.

I have opened a work item to update these prereqs

https://mseng.visualstudio.com/TechnicalConten

[2022-07-03 08:54] #1255 closed

[2022-07-03 08:55] YaelSchuster commented on #1264
@cosh @shsagir would you guys like to update the docs to clarify this?

[2022-07-05 17:57] hvoerman opened #1280 "Typo in Note at bottom of page"
Note

The daily period that can be also seen in the chart wasn't found **becasue** the sampling is too coarse (12h bin size), so a daily period of 2 bins is below the minimum period size of 4 points, required by the algorithm.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f4393ed0-5f93-4715-1b12-a7c6885c3a29
* Version

[2022-07-06 03:06] VikasPullagura-MSFT commented on #1280
@hvoerman Thanks for pointing this out. The document is updated, and changes will go live soon.

[2022-07-06 03:06] #1280 closed

[2022-07-06 08:49] YaelSchuster commented on #1264
I have added a note to the doc to clarify this.

#please-close

[2022-07-06 08:49] #1264 closed

[2022-07-07 07:22] YaelSchuster commented on #1276
Hi @webczat thanks for reaching out. I've checked with the engineering teams, and it turns out this is a bug. A fix will be deployed on your clusters within the next few weeks.

Since there are no docs changes needed, I'm going to close this issue.

#please-close

[2022-07-07 07:22] #1276 closed

[2022-07-08 04:32] konrad-jamrozik opened #1285 "Would be great if the page on "union operator" explains how to include columns only from one leg, while retaining their order."
Union operator can be used to simulate performing operations based on condition, as explained by [this StackOverflow answer](https://stackoverflow.com/a/70606783/986533). This is cool, but it gets really messy if the operations (function calls) are to return different sets of columns. You can see two proposed solutions to that problem [here](https://stackoverflow.com/a/72842527/986533) and [here](

[2022-07-08 09:21] CHEEKATLAPRADEEP-MSFT commented on #1285
@konrad-jamrozik  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-09 21:14] andreas-deruiter opened #1288 "Return status not documented correctly in case the table already exists on .create"
According to the .create command documentation:

**If the table already exists, the command will return success.**

This is not true. If you create a table - at least when using 'based-on' - the .create command returns an error message when the table already exists.

[code]

Note: I would expect this to be a documentation issue, however I find it odd that no .create-or-replace command exists, so p

[2022-07-10 04:32] VikasPullagura-MSFT commented on #1288
@andreas-deruiter
Thanks for your Question! We are currently investigating and will get back on this.

[2022-07-10 07:53] YaelSchuster commented on #1285
@konrad-jamrozik Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback

[2022-07-10 08:51] YaelSchuster commented on #1285
@konrad-jamrozik Since this is a feature request, and not a documentation update, I'm going to close this Issue.

#please-close

[2022-07-10 08:51] #1285 closed

[2022-07-10 19:48] dumarkov opened #1289 "range() | limitation on returned result"
We should add "Returns" section (similar to other function, e.g., round())  and note that the array returned by range()  is limited to 1,048,576 elements (2^20)

Example:

print r = range(1,100000000000, 1)
| mv-expand r
| count

//  Result: 1048576

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e95fd7c2-de6d-c3b2-c166

[2022-07-11 00:39] SaurabhSharma-MSFT commented on #1289
@dumarkov Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2022-07-11 05:58] YaelSchuster commented on #1289
Hi @dumarkov - I'm going to contact you on teams about how to contribute to docs for internal MS people

#please-close

[2022-07-11 05:58] #1289 closed

[2022-07-11 11:14] williamburns opened #1291 "Ingesting JSON data - dynamic type size limit not mentioned (nor BigObject/BigObject32)"
I think it would be useful to mention on this page that the `dynamic` field type has a default limit of 1MB. Although this is stated on its own field type page, when ingesting large JSON objects it is not immediately clear why it fails (no error message, just empty data), and this may provide a more obvious link.

It also isn't mentioned that you can apply an encoding policy update to `BigObject`

[2022-07-11 16:16] MonikaReddy-MSFT commented on #1291
@williamburns - Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can review and update  accordingly.

[2022-07-12 03:38] rymusg opened #1293 "The example should include something that actually works in Kusto, i.e."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d431578-4425-3bda-f5a5-1e048117893e
* Version Independent ID: 26c98c8f-350d-f8cf-f1fc-fb764b6049da
* Content: [iff() - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/ifffunction)
* Content Source: [data-explorer

[2022-07-12 03:38] rymusg opened #1294 "The example should include something that actually works in Kusto, i.e.:"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d431578-4425-3bda-f5a5-1e048117893e
* Version Independent ID: 26c98c8f-350d-f8cf-f1fc-fb764b6049da
* Content: [iff() - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/ifffunction)
* Content Source: [data-explorer

[2022-07-12 04:58] RahulSawantMS opened #1295 "Kusto DLL not loading in PowerShell session"
[Enter feedback here]
**I am using [this](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/powershell/powershell) reference to utilize Kusto DLL in PowerShell 5.1. However, when I attempt to load the dll file I got the following error?**
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2df80c7-1cca-

[2022-07-12 06:02] CHEEKATLAPRADEEP-MSFT commented on #1293
Duplicate of #1294

[2022-07-12 06:02] #1293 closed

[2022-07-12 06:03] CHEEKATLAPRADEEP-MSFT commented on #1294
@rymusg I see there is an example already included in the document:

Are you facing any issue while using the example?

![image](https://user-images.githubusercontent.com/79183421/178419883-952088e2-7c8f-42c9-83d2-d1684dfb4a60.png)

[2022-07-12 06:05] CHEEKATLAPRADEEP-MSFT commented on #1295
@RahulSawantMS  Thanks for the question! We are investigating and will update you shortly.

[2022-07-12 06:56] YaelSchuster commented on #1295
@RahulSawantMS  Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback.

[2022-07-12 08:36] YaelSchuster commented on #1291
Hi @williamburns, thanks for your suggestion. We appreciate your contribution to docs.

At this point, we aren't going to add more information on dynamic fields, as this doc is referenced and outside the scope of the how-to.

#please-close

[2022-07-12 08:36] #1291 closed

[2022-07-12 11:28] RishabhRishuGarg opened #1296 "replace_string() is not working"
[Enter feedback here]
replace_string() is not working:
![image](https://user-images.githubusercontent.com/29625904/178479651-c2499be9-7bd9-46c9-bab3-726d9f022f35.png)

Error message: Please provide below info when asking for support: timestamp = 2022-07-12T11:03:47.2039720Z, correlationId = 11ed149c-25a4-4eb2-856c-bbf2bb1bd36f....: "Query is invalid. Please refer to the documentation for the Azure

[2022-07-12 14:13] rymusg commented on #1294
Yes - when running in Azure Data Explorer, it returns an error.

<img width="348" alt="image" src="https://user-images.githubusercontent.com/95771466/178510943-59edfd5c-4981-4bfa-9aeb-dc0f3983955a.png">

[2022-07-12 17:47] KranthiPakala-MSFT commented on #1296
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-07-13 05:49] YaelSchuster commented on #1267
At this time, I'm closing this issue. Please feel free to reach out with further questions by @mention myself or @cosh

Thanks!

#please-close

[2022-07-13 05:49] #1267 closed

[2022-07-13 13:09] YaelSchuster commented on #1294
Hi @rymusg I'll add an example that can be run on our sample database. You can use this:

https://dataexplorer.azure.com/clusters/help/databases/Samples?query=H4sIAAAAAAAAAwsuyS/KdS1LzSsp5qpRSK0oSc1LUQhKzMxTsFXITEvT0ADLhVQWpCoAxTSUPFITyyrBCpR0FJTcchKLMxTccvLzUyBcEENTE8gEG5EK0guS8MsvUShCiGgCrSooys9KTS5RCC5JLEnVUQBb45kCZYDs0wHbAgAA0TJCoAAAAA==

StormEvents
| extend Rain = iff((EventType in ("Heavy R

[2022-07-13 13:11] YaelSchuster commented on #1294
#please-close

[2022-07-14 17:04] gacurtin opened #1302 "Ingestion Property Names and Values"
Can someone add all the Ingestion property names and values to this document?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8367589f-76cb-1a24-37d0-e4355594fb18
* Version Independent ID: 3455ea4f-4ce4-ee0d-007c-d4ca3b7ec89e
* Content: [Kusto.ingest into command (pull data from storage) - Azure Data Explorer](h

[2022-07-14 19:45] willheineman opened #1303 "rename columns does not work as described"
The `.rename columns` function does not swap the name of 2 columns as described in the page.

Using the suggested command for renaming multiple columns results in an error message

**query I am executing**
.rename columns TimeGenerated_archive = myDB.sampleData.TimeGenerated

**expected result**
swap the name of the column `TimeGenerated_archive` and `TimeGenerated`

**error message**
Error during

[2022-07-14 21:52] KranthiPakala-MSFT commented on #1302
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-14 21:54] KranthiPakala-MSFT commented on #1303
Thanks for the feedback! We have assigned the issue to the content author to further review this and provide an update as appropriate.

[2022-07-15 07:34] srjhunjhunwalacorp opened #1304 "Kusto UDF - time_weighted_avg_fl() is giving all zero's as result"
I am using "time_weighted_avg_fl()" UDF but all the results returned as value zero event after adjusting the aggregation window.

[2022-07-15 14:40] ShaikMaheer-MSFT commented on #1288
@andreas-deruiter Documentation actually means, when table already exists and if we try to run create command then you will get true that is table details back. I am not seeing any error when I tried same. So I feel all is good with document here. Kindly check below screenshot.
![image](https://user-images.githubusercontent.com/84302758/179246245-48eb27cb-be9d-4795-b83a-51c98d84e259.png)
Feel free

[2022-07-15 14:41] #1288 closed

[2022-07-15 14:57] ShaikMaheer-MSFT commented on #1304
@srjhunjhunwalacorp Thanks for the feedback. We are actively validating it. We will check and back to you

[2022-07-15 18:23] KranthiPakala-MSFT commented on #1304
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-07-15 19:03] andreas-deruiter commented on #1288
OK, I think I figured it out. You only get an error when you use .create table with **based-on**.

[2022-07-16 07:38] srjhunjhunwalacorp commented on #1304
Hi,

I am referring to the UDF provided in the document "https://github.com/MicrosoftDocs/dataexplorer-docs/tree/main/data-explorer/kusto/functions-library"  for time weighted average, which is not resulting correct output.

[2022-07-17 07:10] YaelSchuster commented on #1236
This has been updated in the attached PR
#please-close

[2022-07-17 07:10] #1236 closed

[2022-07-17 07:13] YaelSchuster commented on #1254
Updated in  Pull Request #3267

#please-close

[2022-07-17 07:13] #1254 closed

[2022-07-17 07:22] YaelSchuster commented on #1295
Hi @RahulSawantMS
We suggest that you try using Microsoft.Azure.Kusto.Tools version 5.4.2 instead of version 6.0.3, you should be able to load Kusto.Data.dll file in tools folder and call Kusto from PowerShell.

[2022-07-17 07:37] YaelSchuster commented on #1296
@KranthiPakala-MSFT This is not a docs bug. @RishabhRishuGarg has been instructed on getting engineering help through internal channels.

#please-close

[2022-07-17 07:37] #1296 closed

[2022-07-17 09:28] YaelSchuster commented on #1302
PR created to include these properties.

@gacurtin thanks for bringing this up. Your contributions help us improve our docs!
I'm going to close this issue at this time, but please feel free to reach out again with other docs improvements.

#please-close

[2022-07-17 09:28] #1302 closed

[2022-07-17 11:02] adieldar commented on #1304
In order to check this issue we need full details including the specific input and the KQL query. Best would be if you can generate using the datatable operator a minimal input that manifests the issue

[2022-07-17 11:59] YaelSchuster commented on #1303
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-07-18 04:58] AnnuKumari-MSFT commented on #1295
@RahulSawantMS ,
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-07-18 05:51] YaelSchuster commented on #1259
Hi @centis, thanks for the input. We are currently working on updating these docs. In the meantime, you can use the following syntax:

$packagesRoot = "C:\Users\salevy\Downloads\microsoft.azure.kusto.tools.6.0.3\tools\<version>\"
[System.Reflection.Assembly]::LoadFrom("$packagesRoot\Kusto.Data.dll")

#please-close

[2022-07-18 05:51] #1259 closed

[2022-07-18 07:26] YaelSchuster commented on #1239
https://github.com/MicrosoftDocs/dataexplorer-docs/pull/1307 PR opened to address this in docs

#please-close

[2022-07-18 07:35] RahulSawantMS commented on #1295
@AnnuKumari-MSFT
@YaelSchuster

Version 5.4.2 also produces the same error

[code]

PS Version
[code]

[2022-07-18 07:52] YaelSchuster commented on #1295
#please-open

[2022-07-18 13:22] YaelSchuster commented on #1241
https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/3316 created to address this Issue.

#please-close

[2022-07-19 13:04] appcrawler opened #1309 "No AVRO doc at all??"
I tried to create an Avro mapping, which is mentioned in the docs as a possible configuration.  I am unable to get a working config, so I would like to request an enhancement to include this.

[code]

AvroToCsvMappingReference contains no mappings with both column name and Avro fields/paths.

---

I tried to create a mapping with an Avro schema, and it complained about what is a valid Avro schema.

[2022-07-19 17:17] KranthiPakala-MSFT commented on #1309
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-07-19 21:45] rajyraman opened #1312 "Legend property invalid error"
I am unable to use legend property in Azure Data Explorer. Not sure what I am doing wrong. The tooltip says it is valid value, but I cannot execute the query.

![image](https://user-images.githubusercontent.com/5035266/179853719-12e60ed1-ccb7-4cdf-8ff8-4092182ee980.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f

[2022-07-20 03:51] CHEEKATLAPRADEEP-MSFT commented on #1312
@rajyraman  Thanks for the question! We are investigating and will update you shortly.

[2022-07-20 07:06] YaelSchuster commented on #1312
Hi @rajyraman, try using the word `visible` without any tick marks or apostrophes surrounding it.

[2022-07-20 10:02] oblancke opened #1313 "Update Policy on queries that joined tables thus relying on different table sources"
Dear Microsoft Team,

I would be interested in knowing possibilities to apply update policy on queries that applied tables join. Is there any limitation if query relies on differents table sources?

Thanks
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bac25c-c168-fadc-2491-651d35361512
* Version Independent ID: 608aa

[2022-07-20 11:47] YaelSchuster commented on #1312
Since the documentation is correct, and this appears to be a misunderstanding arising from the tool tip, I am closing this issue. Following up with the query team to clarify tool tips.

#please-close

[2022-07-20 11:47] #1312 closed

[2022-07-20 19:34] KranthiPakala-MSFT commented on #1313
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-07-21 03:48] rajyraman commented on #1312
That works. Thank you @YaelSchuster. I thought that I had to give it a string value because of the tooltip.

[2022-07-21 09:17] prateek-narula opened #1315 "Module "DataFormat" cannot be impoted from azure.kusto.ingest in python code"
Module DataFormat is not available in `azure.kusto.ingest` anymore rather in `azure.kusto.data`,
So the document needs correction in [section: Source file Information](https://docs.microsoft.com/en-us/azure/data-explorer/python-ingest-data#set-source-file-information) from code
[code]
To code

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ G

[2022-07-21 09:20] prateek-narula commented on #1315
For reference please have a look [here](https://pypi.org/project/azure-kusto-ingest/)

[2022-07-21 13:52] YaelSchuster commented on #1309
Hi @appcrawler, it seems you've tried to create an Avro mapping with CSV mapping format, specifying Ordinals – which is not supported. In the 2nd try, you've tried providing a Avro JSON schema, with an unfamiliar syntax.

Please see (AVRO mapping)[https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/mappings#avro-mapping].

I will update the ingestion doc with a better explanation

[2022-07-21 13:52] #1309 closed

[2022-07-21 13:56] ShaikMaheer-MSFT commented on #1315
@prateek-narula Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-21 14:30] KeroppiTheFrog opened #1316 "Syntax is wrong for datatable"
Syntax is wrong for datatable, as it should be

name:type, not type:name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97de494f-8a36-e9ee-45f8-95c0ef540ae9
* Version Independent ID: 8af2d2f5-1512-1827-3c39-c27683155c18
* Content: [datatable operator - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-ex

[2022-07-21 14:30] #1316 closed

[2022-07-21 20:07] KranthiPakala-MSFT commented on #1313
We will now proceed to close this thread. Once your issue is posted in forum, please do share the forum thread link here for tracking.

Thank you

[2022-07-21 21:02] rajyraman opened #1318 "Between operator"
There is between operator in KQL as well. So, query number 6 can be rewritten as

[code]

This would be more aligned with the SQL query.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f392719-bd91-a626-7176-a95297e4ca99
* Version Independent ID: 362cb089-c767-ed2c-6c00-16068b68cbbd
* Content: [SQL to Kusto query trans

[2022-07-22 03:50] CHEEKATLAPRADEEP-MSFT commented on #1318
@rajyraman  Thanks for the question! We are investigating and will update you shortly.

[2022-07-22 04:03] #1313 closed

[2022-07-22 04:44] ShaikMaheer-MSFT commented on #1315
@shsagir Could you please validate feedback and update as appropriate? Thank you.

[2022-07-22 05:09] KranthiPakala-MSFT commented on #1316
@KeroppiTheFrog Thanks for reaching out. Looks like the issue was opened and closed immediately. Just wanted to double check if the issue was closed intentionally or do you have any specific feedback on this document?

Thanks

[2022-07-22 17:40] xfgavin opened #1320 "term confusion"
Is command-then-query AdminTheyQuery?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7273ba66-9fda-51e5-1f6b-46cb610f6c33
* Version Independent ID: 12a79f6f-223f-3940-29dd-69d9dbc9f370
* Content: [Management (control commands) overview - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/ma

[2022-07-22 22:43] KranthiPakala-MSFT commented on #1320
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2022-07-22 22:57] KranthiPakala-MSFT commented on #1320
@xfgavin I did double checked with product team and yes, both terms (“command-then-query” and “AdminThenQuery”) refer to the same types of operations.

Product team has noted this feedback to make the documentation clearer.

Appreciate much for the feedback.

Hope this info helps.

[2022-07-24 05:34] rajyraman opened #1322 "What is Application Id for Active Directory Integrated"
I try to connect to Dataverse TDS endpoint using sql_request. I always get an error, even though the Managed Identity Application Id of the Azure Data Explorer Cluster is setup as an user in Power Apps with right roles.

![image](https://user-images.githubusercontent.com/5035266/180633683-80553cb0-baf7-43ba-ab3c-76e751cb070b.png)

The can connect with [access token](https://docs.microsoft.com/en-u

[2022-07-25 00:00] rajyraman opened #1324 "sp_execute_kql and TDS"
Is _sp_execute_kql_ present in all TDS endpoints? It does not work for me. I cannot see this listed as a limitation in [Supported operations and data types](https://docs.microsoft.com/en-us/power-apps/developer/data-platform/dataverse-sql-query#supported-operations-and-data-types)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-07-25 04:43] CHEEKATLAPRADEEP-MSFT commented on #1324
@rajyraman  Thanks for the question! We are investigating and will update you shortly.

[2022-07-25 10:34] tduarte14 opened #1325 "There is a Splunk equivalent to project-away!"
Hi team!

First of all thanks for this map of the 2 languages, it's being very handful.

I noticed you say that there is no splunk equivalent to project-away in KQL.
However, even if there's no equivalent command, you can use "| fields - " to exclude fields.

Kind regards,
Tiago

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-07-25 16:53] KranthiPakala-MSFT commented on #1320
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2022-07-25 16:53] #1320 closed

[2022-07-25 17:21] KranthiPakala-MSFT commented on #1325
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-07-26 04:18] CHEEKATLAPRADEEP-MSFT commented on #1318
@shsagir Could you please take a look at the above feedback.

[2022-07-26 06:49] YaelSchuster commented on #1304
Hi @srjhunjhunwalacorp - since there has been no response in over a week, I'm closing this issue. Please feel free to @mention one of us to reopen with more information.

#please-close

[2022-07-26 06:49] #1304 closed

[2022-07-26 06:52] YaelSchuster commented on #1295
@RahulSawantMS

Response from engineering:
Please ask him to make sure he points to a version folder
$packagesRoot = "C:\temp\kustoTools\tools" do not contains the required dll

$packagesRoot = "C:\Users\salevy\Downloads\microsoft.azure.kusto.tools.6.0.3\tools\<version>\"

[2022-07-26 06:56] YaelSchuster commented on #1315
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-07-26 06:58] YaelSchuster commented on #1318
Hi @rajyraman, thanks for your suggestion. You're correct, and that's a more performant way of writing the query. I'll update the doc now to include this method of writing the query.

#please-close

[2022-07-26 06:58] #1318 closed

[2022-07-26 07:29] YaelSchuster commented on #1324
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-07-26 07:30] YaelSchuster commented on #1303
Hi @willheineman
“.rename columns” syntax only supports _Exactly_ 2 columns, and also only works if used to swap the 2

Swap can be done like this:
.rename columns TimeGenerated_archive = myDB.sampleData.TimeGenerated, TimeGenerated = myDB.sampleData.TimeGenerated_archive,

I will update the docs to make this more clear.

At this time I'm closing the issue, please feel free to contact us with furt

[2022-07-26 07:30] #1303 closed

[2022-07-26 07:43] YaelSchuster commented on #1322
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-07-26 07:53] YaelSchuster commented on #1325
Thanks for your feedback, @tduarte14 ! I have created a work item to track this update

[2022-07-26 07:54] YaelSchuster commented on #1325
#please-close

[2022-07-26 07:54] #1325 closed

[2022-07-26 08:03] YaelSchuster commented on #1295
#please-close

[2022-07-26 08:05] RahulSawantMS commented on #1295
@YaelSchuster
@AnnuKumari-MSFT

Yes, I was pointing to the correct folder path; I had only given the folder a new name.
Please find the error output below as requested.

**Tested with Version 6.1.0**
[code]
**Tested with Version 5.4.2**
[code]
 **Tested with Version 6.0.3**
[code]

[2022-07-26 08:11] YaelSchuster commented on #1295
#please-open.

Sent response to engineering. Sorry that you're experiencing this- it must be frustrating. I have asked engineering to please respond quickly and help unblock.

[2022-07-26 08:53] samlevy-microsoft commented on #1295
the way to load the dll is as follow, we will as well update the documentation accordingly

$packagesRoot = "C:\kustools\microsoft.azure.kusto.tools.6.0.3\tools\<versionNumber"
[System.Reflection.Assembly]::LoadFrom("$packagesRoot\Kusto.Data.dll")

[2022-07-26 13:51] yosefd commented on #1324
@rajyraman sp_execute_kql is very rarely used feature that allows to execute KQL queries via TDS endpoint. It is documented here:  [sp_execute_kql](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/tds/tdskql#executing-queries)
Notice that this special stored procedure is not supported in T-SQL language and can be used with ADX only for opting to KQL language while connected with TDS

[2022-07-26 17:04] yihezkel commented on #1315
Thanks @prateek-narula !

We updated the docs per your suggestion, which should be published in the coming days.

[2022-07-26 20:33] bseaholmAlloyGroup opened #1329 "IoT Hub to Event Hub to Kusto database"
I was moving data from a hardware device to IoT Hub via MQTT.  I wanted to get the data into a Kusto database.  I created a IoT endpoint and route to an Event Hub.  Event Hub data all looked good.  Created Azure Data Explorer cluster with database and used One-Click ingestion to drop data into a Table.  One-click ingestion table looked ok with simulated data in the correct columns:
![image](https:

[2022-07-26 20:52] rajyraman commented on #1324
@yosefd - In Power Apps we have a TDS endpoint (https://docs.microsoft.com/en-us/power-apps/developer/data-platform/dataverse-sql-query). When I try _sp_execute_kql_ via C#, I get an error that it is not supported. I am not sure if this capability has to be/not enabled on Power Apps side, or if it is not supported in the TDS endpoint exposed by Power Apps.

![image](https://user-images.githubuserc

[2022-07-26 21:11] yosefd commented on #1324
Dataverse is completely different product than ADX. sp_execute_kql is ADX's feature.
Dataverse doesn't have any support for KQL.

[2022-07-26 21:19] rajyraman commented on #1324
@yosefd -  Are you saying that sq_execute_kql can be only run against a ADX cluster with SqlConnection?

[2022-07-26 21:23] yosefd commented on #1324
Of course. KQL is ADX's language. It is supported only by ADX.

[2022-07-26 21:35] rajyraman commented on #1324
@yosefd - Thank you for the clarification. I was thinking that it can be run against any TDS endpoint. Closing the issue.

[2022-07-27 04:13] CHEEKATLAPRADEEP-MSFT commented on #1329
@bseaholmAlloyGroup  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-07-27 09:23] RahulSawantMS commented on #1295
@samlevy-microsoft
@YaelSchuster

if I load the dll using the way you mentioned i am getting error on the next line.

**DLL Loading**
[code]
**Error**
[code]

[2022-07-27 09:32] YaelSchuster commented on #1329
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-07-29 00:57] johndog opened #1335 "'render linechart' example data is a poor illustration of how-to, as it doesn't use a real table"
The 'render linechart' linked example data uses 'demo_series2', but this isn't really a table, it's just one row of packed data values:

![image](https://user-images.githubusercontent.com/22213780/181660917-d0db4043-8f13-4efe-ad69-f76a10e7b39d.png)

A more useful example would start with an actual table with x and y fields, not a one row table with packed data.

---
#### Document Details

⚠ *Do no

[2022-07-29 07:00] ShaikMaheer-MSFT commented on #1335
@johndog Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-07-31 07:44] YaelSchuster commented on #1335
Thanks, @johndog
You're absolutely correct. We actually have an open work item for updating the examples in this subject.

At this time, I'm going to close the issue, but please feel free to reach out with other docs improvements.

#please-close

[2022-07-31 07:44] #1335 closed

[2022-08-01 01:36] rajyraman commented on #1322
Related to this issue, I tried to use `http_request_post` and so that I can token from Azure AD itself, and then use the token in the `sql_request`. But, I am unable to get that either. Always getting HTTP 400 - bad request.

![image](https://user-images.githubusercontent.com/5035266/182056062-4c70afcb-9e4d-4797-bff0-bffa37387dc0.png)

![image](https://user-images.githubusercontent.com/5035266/182

[2022-08-01 08:54] samlevy-microsoft commented on #1295
hi @RahulSawantMS , I'm looking

[2022-08-01 09:37] samlevy-microsoft commented on #1295
@RahulSawantMS , can you please share the powershell version you are using ?

[2022-08-01 09:39] RahulSawantMS commented on #1295
@samlevy-microsoft
[code]

[2022-08-01 11:20] samlevy-microsoft commented on #1295
Please refer to this article https://docs.microsoft.com/en-us/powershell/scripting/whats-new/differences-from-windows-powershell?view=powershell-7.2

Powershell 5.1 is compatible with .NET 4.X version and won't work with .NET 5.0 or .NET Core, for those you will need to upgrade to Powershell 7

So considering your environment, you need to use this version : net472

[2022-08-01 12:31] RahulSawantMS commented on #1295
@samlevy-microsoft

i am getting the same error when i try with **net472**
[code]

[2022-08-01 12:34] samlevy-microsoft commented on #1295
please use the syntax I pasted multiple times already in this thread (we are also fixing the docs)

$packagesRoot = "C:\Users\v-rahsawant\Downloads\microsoft.azure.kusto.tools.6.0.3\tools\net472"
[System.Reflection.Assembly]::LoadFrom("$packagesRoot\Kusto.Data.dll")

[2022-08-01 12:46] RahulSawantMS opened #1337 "Please update document with correct PowerShell cmdlet"
[Enter feedback here]
Could you please update the *example* in this document with correct syntax mentioned in [this link](https://github.com/MicrosoftDocs/dataexplorer-docs/issues/1295)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2df80c7-1cca-9c8d-0ed5-05b387e1850f
* Version Independent ID: d3f5e3ed-dc62-ca1a-c821-

[2022-08-01 12:52] samlevy-microsoft commented on #1337
ack, we have already pushed a fix to the documentation (under review)

[2022-08-01 12:55] RahulSawantMS commented on #1295
@samlevy-microsoft
The code is working now, I appreciate your prompt response and assistance with this issue. Thank you.

[2022-08-01 12:57] samlevy-microsoft commented on #1295
#please-close

[2022-08-01 12:57] #1295 closed

[2022-08-01 18:23] YaelSchuster commented on #1337
Hi @RahulSawantMS - thanks for reaching out. Docs have been updated here: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/3367 and should go live in a number of hours.

[2022-08-01 18:23] YaelSchuster commented on #1337
#please-close

[2022-08-01 18:23] #1337 closed

[2022-08-03 06:39] YaelSchuster commented on #1315
#please-close

[2022-08-03 06:39] #1315 closed

[2022-08-05 02:44] rajyraman opened #1346 "OAuth using python plugin"
Since I am having issues connecting to Dataverse using Managed Identity (#1322), I thought I will try raw python script to get the token. Below is the KQL code. This works fine in Jupyter Notebook.

[code]

When I run this I get an exception.

[code]

Is this kind of request blocked in the Sandbox?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2022-08-05 07:01] ShaikMaheer-MSFT commented on #1346
@rajyraman Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html).

[2022-08-05 07:30] rajyraman commented on #1346
@ShaikMaheer-MSFT - This is a  docs question. Because, the doc page does not mention anything about any limitation to the python code that can be run inside the python plugin, but the code does not run, even though it is valid. If outbound requests are blocked, this should be documented.

[2022-08-05 08:32] ShaikMaheer-MSFT commented on #1346
@rajyraman Thanks for sharing more clarity on feedback.

@shsagir Could you please validate feedback and enhance doc as appropriate? Thank you.

[2022-08-07 06:35] YaelSchuster commented on #1346
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-08-07 07:25] adieldar commented on #1346
@rajyraman, it is mentioned in the sandbox document "Network: A sandbox can't interact with any resource on the virtual machine (VM) or outside of it.", but I agree it should be clarified more explicitly. We will update the relevant docs.

[2022-08-07 23:11] rajyraman commented on #1346
@adieldar - I just read through https://docs.microsoft.com/en-us/azure/data-explorer/kusto/concepts/sandboxes#sandbox-parameters. Makes sense.

[2022-08-07 23:11] #1346 closed

[2022-08-09 07:00] vladikbr commented on #1329
We are working on improvements in that specific area right now that would affect the format handling, especially for JSONs.
Thank you for bringing this into our attention.

[2022-08-09 07:00] vladikbr commented on #1329
please-close

[2022-08-09 07:00] #1329 closed

[2022-08-09 08:08] YaelSchuster commented on #1322
This is currently being investigated by the dev team.

[2022-08-09 13:38] shanisolomon commented on #1322
Hi @rajyraman,

can you confirm you have the correct permissions on your sql server?

[2022-08-09 19:19] rajyraman commented on #1322
@shanisolomon - This is Dataverse TDS endpoint. https://docs.microsoft.com/en-us/power-apps/developer/data-platform/dataverse-sql-query

[2022-08-10 10:21] deyanp opened #1349 "Subnet delegation is mandatory, not "recommended" or optional"
Hi,

As per ticket 2205040050000216, my cluster was running fine for more than 6 months with daily start/stop so that we do not incur costs during the night. One day, all of a sudden it could not be started and the error message was:

[code]

There was no prior notification from Microsoft that we should change in anyway the configuration of the underlying Vnet so that our cluster can continue work

[2022-08-10 11:06] ShaikMaheer-MSFT commented on #1349
@deyanp Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-12 04:54] ShaikMaheer-MSFT commented on #1349
@shsagir Could you please validate customer feedback and enhance doc as appropriate? Thank you.

[2022-08-14 06:21] YaelSchuster commented on #1349
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-08-14 11:52] shanisolomon commented on #1322
@rajyraman could you please specify the port and try again? https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/sqlrequestplugin?pivots=azuredataexplorer#specify-the-network-endpoint

[2022-08-15 06:24] cosh commented on #1349
Hi Deyan,

I'm sorry for the inconveniences and hope that your cluster is running fine. Please consider changing to a Private Endpoint based solution (https://docs.microsoft.com/en-us/azure/data-explorer/security-network-private-endpoint). It's feature compatible with way less operational overhead.
I'm going to fix the doc

KR, Henning

[2022-08-15 06:39] YaelSchuster commented on #1349
#please-close

[2022-08-15 06:39] #1349 closed

[2022-08-16 06:56] deyanp commented on #1349
@cosh how is private endpoint going to help? The ADX instance must be reachable by:
1) Our AKS cluster
2) PowerBI/Excel, web browser https://dataexplorer.azure.com/

Private endpoint may help with 1), but not sure how it helps with 2) ..

[2022-08-17 04:53] nfgallimore opened #1355 "Add syntax for '.export' on Data Export document"
Add syntax for '.export'  like this answer on StackOverflow: https://stackoverflow.com/a/73151928

[code]
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad10bb6-4b40-d27e-c988-630c8e4e28be
* Version Independent ID: 30902ba1-ea77-0f75-e9bd-e20b1d4e1fd5
* Content: [Data export - Azure Data Explorer](https://docs.microsoft.co

[2022-08-17 04:58] #1355 closed

[2022-08-17 05:00] nfgallimore commented on #1355
Found .export syntax documentation

https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/data-export/export-data-to-storage

[2022-08-18 07:52] DanielHolth opened #1356 "deprecated nuget"
using Microsoft.IdentityModel.Clients.ActiveDirectory; is deprecated use
using Microsoft.IdentityClient; instead.

Might affect more of your code. But thanks for the sample :)
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7efb5044-1b89-ab74-187e-81e5751da9a1
* Version Independent ID: 56892ddf-748

[2022-08-18 07:54] YaelSchuster commented on #1356
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-08-18 17:19] KranthiPakala-MSFT commented on #1355
Thanks for sharing the doc link here as it will help others reading this post.

Thank you

[2022-08-18 19:59] rymusg-msft opened #1359 "Inconsistencies with ! vs. not"
For some commands, not works (e.g. contains, notcontains, !contains), while startswith only supports startswith, !startswith.

This should be consistent - either allowing 'not' for all commands or using ! for all commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9312e60-5709-96b9-f4d6-e0bfb1e618b9
* Version Ind

[2022-08-19 07:08] ShaikMaheer-MSFT commented on #1359
@rymusg-msft Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2022-08-19 16:41] chidhambaram55 opened #1360 "Getting the following error "New-Object : Exception calling ".ctor" with "2" argument(s): "The type initializer for 'Kusto.Data.KustoConnectionStringBuilder' threw an exception.""
Hi Team,
Iam currently trying to execute kusto queries using powershell. I was able to successfully execute kusto queries using net472 version on powershell version 5.1. But i am trying to execute kusto queries using powershell version 6.2.2. According to the following Doc: https://docs.microsoft.com/en-us/powershell/scripting/whats-new/differences-from-windows-powershell?view=powershell-7.2
![ima

[2022-08-19 16:58] chidhambaram55 opened #1361 "Getting the following error when trying to execute kusto queries using powershell. "New-Object : Exception calling ".ctor" with "2" argument(s): "The type initializer for 'Kusto.Data.KustoConnectionStringBuilder' threw an exception.""
[Enter feedback here]

Hi Team,
Iam currently trying to execute kusto queries using powershell. I was able to successfully execute kusto queries using net472 version on powershell version 5.1. But i am trying to execute kusto queries using powershell version 6.2.2. According to the following Doc: https://docs.microsoft.com/en-us/powershell/scripting/whats-new/differences-from-windows-powershell?vi

[2022-08-19 16:59] chidhambaram55 commented on #1360
closing this issue as i recreated it under appropriate docs

[2022-08-19 16:59] #1360 closed

[2022-08-19 18:23] KranthiPakala-MSFT commented on #1361
Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements. We didn't determine any changes for this documentation upon reviewing this feedback.

If your issue is specific to a use case, we request you to please reach out in forums like [Microsoft Q&A](https://docs.micros

[2022-08-21 12:41] YaelSchuster commented on #1359
Please submit all feature requests at https://aka.ms/adx.uservoice? This way it will be easier for the team to track it. Thanks!

Closing this matter, as it's not a docs update.
#please-close

[2022-08-21 12:41] #1359 closed

[2022-08-21 19:49] yihezkel commented on #1356
Thanks @DanielHolth for bringing this to our attention!

We've rewritten the page to include working examples that use MSAL instead of ADAL. It may take time for the new docs to publish.

[2022-08-22 06:48] YaelSchuster commented on #1356
@DanielHolth thanks for pointing that out - your contributions make our docs better.
Thanks so much @yihezkel. Closing the issue at this time.
#please-close

[2022-08-22 06:49] #1356 closed

[2022-08-23 00:34] domsooch opened #1365 "Instructions are vague or are deprecated"
Example given does not load data.
Either the underlying requirements changed and the documntation never updated or it never worked in the first place.
Kusto has an export form like this:
{
	"TableName": "PrimaryResult",
	"Columns": [
		{
			"ColumnName": "OperationName",
			"DataType": "String"
		},
		{
			"ColumnName": "Column1",
			"DataType": "Boolean"
		}
	],
	"Rows": []
}

this failed with no

[2022-08-23 04:31] CHEEKATLAPRADEEP-MSFT commented on #1365
@domsooch  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-25 02:08] xiaoshiyi123 opened #1367 "update managed identities authentication note"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/36906182/186557664-a0b6f3f0-920d-45a1-899d-6d4f0ca6c81f.png)

Hello, to use managed identities authentication, we should use function with_aad_managed_service_identity_authentication

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c010923-e011-691

[2022-08-25 04:22] CHEEKATLAPRADEEP-MSFT commented on #1367
@shsagir  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-08-25 04:41] CHEEKATLAPRADEEP-MSFT commented on #1361
@chidhambaram55  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-08-25 04:41] #1361 closed

[2022-08-25 06:50] YaelSchuster commented on #1365
Hi @domsooch, sorry to hear you're having such a frustrating time.
You've opened this docs issue on the .show table update policy command. Can you please let me know which document shows this example that doesn't work?

[2022-08-25 07:01] YaelSchuster commented on #1322
Since this issue has been inactive for over a week, I'm going to close it at this time. Please feel free to @mention myself or @shanisolomon to reach out again.

#please-close

[2022-08-25 07:01] #1322 closed

[2022-08-25 07:02] YaelSchuster commented on #1367
Hi @xiaoshiyi123, are you asking if this function should be used? with_aad_managed_service_identity_authentication

[2022-08-25 07:22] xiaoshiyi123 commented on #1367
Yes, I think the code showed in Note is for no authentication, I see the sample in
https://github.com/Azure/azure-kusto-python/blob/master/azure-kusto-data/tests/sample.py#:~:text=kcsb%20%3D%20KustoConnectionStringBuilder()

[2022-08-25 14:10] JustJordanT opened #1369 "The name 'ipv4_is_in_any_range' does not refer to any known function."
Using this function results in the following error.

The query being used is the same from the docs:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 64f3e904-5393-56f3-5dc8-6a4e1d0904f3
* Version Independent ID: ba1448fd-47e1-1406-d9c5-50ed476a7c90
* Content: [ipv4_is_in_any_range() - Azure Data Explorer](https:

[2022-08-25 18:35] domsooch commented on #1365
if half the people making snarky online comments would actually do the
things they are telling others to do in those comments . . . . .

Sorry, it was a weak moment!
The only thing I can think of is that either the kusto importer did not
have proper auth rights for the blob I pointed to, or the blob was too big
and ingestion failed.
I also may not have had the right file size specified in at least

[2022-08-25 19:43] llavalleytw opened #1371 "Page unclear on which engine version note applies to"
In the current version of the page `String Operators` there is a note stating that `In EngineV2, a term consists of four or more characters.`, as opposed to the section above the note which says that a term is 3 or more characters. The note is clear as to what the rules for EngineV2 are, but I don't see anywhere which clarifies whether the larger body of the document applies to EngineV1 or EngineV

[2022-08-25 22:00] KranthiPakala-MSFT commented on #1369
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-25 22:20] KranthiPakala-MSFT commented on #1371
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-08-28 09:43] YaelSchuster commented on #1369
Hi @JustJordanT; I have just run this query and get the following output:
![image](https://user-images.githubusercontent.com/62833511/187067770-0f6ad40e-dbc6-4747-a334-dd4329ad2969.png)
Can you please re-check that you're getting a different result?

[2022-08-28 11:03] YaelSchuster commented on #1371
Hi @llavalleytw, the currently available engine versions are v2 and v3. Only the note is specific to Engine V2; the rest is applicable to both instances.

Hope this answers your question. Please feel free to reach out by @mention me with further clarifications.

#please-close

[2022-08-28 11:03] #1371 closed

[2022-08-29 01:17] rajyraman commented on #1322
@shanisolomon I am getting a different error if I use the port number.

![image](https://user-images.githubusercontent.com/5035266/187104316-bfe0fc03-a57b-47a0-b837-73fafaef2fe4.png)

It should work based on the docs. https://docs.microsoft.com/en-us/power-apps/developer/data-platform/dataverse-sql-query#security-and-authentication

@YaelSchuster - I was away on AL, so I could not respond to this

[2022-08-29 01:23] rajyraman commented on #1322
@shanisolomon - On a side note I cannot connect to the TDS endpoint from Azure Data Studio as well.

![image](https://user-images.githubusercontent.com/5035266/187104721-13ace793-d7d8-4409-b091-d8834cbf6501.png)

I can connect only from SSMS.

[2022-09-01 06:36] YaelSchuster commented on #1369
Hi @JustJordanT, since I haven't heard back I'm going to go ahead and close this issue. If you have further problems, please feel free to reach out by @MicrosoftDocs/build_service_account
#please-close

[2022-09-01 06:36] #1369 closed

[2022-09-01 06:39] YaelSchuster commented on #1365
Oh sorry I missed your response. I'll reach out to you on teams.

[2022-09-01 06:42] YaelSchuster commented on #1365
#please-close

[2022-09-01 06:42] #1365 closed

[2022-09-05 08:54] roboyoben opened #1382 "Error connecting with Sisense and JDBC"
Hi,

we are currently trying to connect to Azure Data Explorer using JDBC by following the instructions from the documentation:

https://docs.microsoft.com/en-us/azure/data-explorer/sisense
https://github.com/MicrosoftDocs/dataexplorer-docs/blob/main/data-explorer/sisense.md

However, when we create the connection string by adding our ```cluster_name.region``` and the ```database_name```, we still

[2022-09-07 10:36] YaelSchuster commented on #1382
Closing this issue at this time. If there is a doc change that is requested, please feel free to reach out.
#please-close

[2022-09-07 10:36] #1382 closed

[2022-09-07 10:43] fazhong-ms opened #1385 "Embed dashboards Not Working For Only Show Dashboard and Select Specific Page"
Embed dashboards Not Working For Only Show Dashboard and Select Specific Page [Enter feedback here]
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/monaco/host-web-ux-in-iframe#embed-dashboards-preview

![image](https://user-images.githubusercontent.com/71804222/188858216-3b67a11c-fabc-4a21-9f4c-e5f07ab1722a.png)

My Code
[code]
1. It still shows menus(left and top), I want to show

[2022-09-07 16:38] YashikaTyagi-MSFT commented on #1385
@fazhong-ms
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-08 02:11] fazhong-ms commented on #1385
Hi @YashikaTyagi-MSFT , could you please assign to the right person? Thanks！
![image](https://user-images.githubusercontent.com/71804222/189018108-1c0326ca-3351-43fe-af2c-69bfdf10986b.png)

[2022-09-08 07:33] YaelSchuster commented on #1385
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-09-12 18:50] abatishchev opened #1390 "Not enough examples how to add/update/delete permissions"
For example, I'm getting an error trying to drop a principal from a database but getting a syntax error. The doc doesn't help me to achieve what I'm trying to.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4526aa53-827b-abf4-d419-cea51c79c71b
* Version Independent ID: 73682729-2e9a-216f-5fb5-8e887ef93df2
* Content: [S

[2022-09-12 21:05] KranthiPakala-MSFT commented on #1390
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-12 22:29] sfwatergit opened #1391 "Unable to connect to source without Authority ID"
The code in the documentation for source connection is missing a statement. You need to specify an authority Id in the configuration mapping. So, instead of

[code]

you need

[code]

where `authorityId`  is the user-specified variable for the appropriate authority ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa

[2022-09-13 04:36] CHEEKATLAPRADEEP-MSFT commented on #1391
@sfwatergit  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2022-09-14 06:46] YaelSchuster commented on #1390
Hi @abatishchev, can you share the command you're using and the error that was returned?

[2022-09-14 10:35] YaelSchuster commented on #1391
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-09-14 21:12] abatishchev commented on #1390
hi @YaelSchuster,
Sorry, my computer was rebooted and I've lost the history of closed tabs in ADX.

What I attempted to do was to drop an admin from a db. The article provides only the pattern:

[code]

Which makes sense when you know how to read it but less so when you don't. I don't update permissions often enough to remember the syntax so have to re-learn it every several months.

[2022-09-15 17:38] akhila31 opened #1400 "How to disable "ignoreformaterrors" using python"
Hi Team, I am using https://docs.microsoft.com/en-us/azure/data-explorer/data-connection-event-hub-python#add-an-event-hubs-data-connection to create dataconnections in ADX for eventhub as a source. My input data is in JSON format. Due to some issues I want to disable this option ignoreformaterrors option but unable to find a variable.

I have gone through below link to look at the class for event

[2022-09-16 04:25] AjayBathini-MSFT commented on #1400
@akhila31
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-16 05:31] RamanathanChinnappan-MSFT commented on #1400
@akhila31

Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-16 20:21] JustJordanT commented on #1369
Sorry about that. Yes looks like it does work, were getting errors from he Azure KQL editor.

[2022-09-17 11:09] SteffenZeidler opened #1403 "Click to run query: Could not connect to cluster (403-Forbidden)"
The "Click to run query" connection string contains a not accessible Kusto cluster.
There are 9 links with this cluster name - see https://github.com/MicrosoftDocs/dataexplorer-docs/search?q=northeurope

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c844fe93-572f-fcf9-7752-ca8252381e89
* Version Independent ID: 15f828d

[2022-09-17 15:52] YashikaTyagi-MSFT commented on #1403
@SteffenZeidler
Thanks for your feedback! We have assigned the issue to author and will provide further updates.

[2022-09-19 06:32] YaelSchuster commented on #1390
Hi @abatishchev, thanks for your reply. That's definitely a legitimate concern, and I've added a work item to track updating these docs: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1988446

Please feel free to reach out with other concerns/requests.

At this time, I'm closing the issue and will track updates in ADO

#please-close

[2022-09-19 06:32] #1390 closed

[2022-09-19 07:37] YaelSchuster commented on #1403
Hi @SteffenZeidler, make sure you've selected the "help" cluster and the "samples" database to run this query. It may automatically try to run on a different cluster you have access to.

[2022-09-19 08:13] SteffenZeidler commented on #1403
Hi @YaelSchuster, in the page  "count-aggfunction.md" is the link not correct. It is not an issue at my Kusto configuration.
See raw text:
**\[**[**Click to run query**](https://dataexplorer.azure.com/clusters/kvc6bc487453a064d3c9de.northeurope/databases/NewDatabase1?query=H4sIAAAAAAAAAwsuyS/KdS1LzSsp5uWqUSjPSC1KVQguSSxJVSguSSwqKS7PLMlQUApXAskWl+bmJhZlVqUqOOeX5pXYJoNIDU2FpEqIFgCZCeK+TQAAAA==)**\]*

[2022-09-19 11:23] vladikbr commented on #1400
This is actually just mapped into the format specifier.
"multijson" is the default JSON parser which is a strict one.
"json", which only supports JSON lines format (every line is a complete JSON document) is the equivalent of "ignoreformaterrors" option.

[2022-09-19 11:23] vladikbr commented on #1400
#please-close

[2022-09-19 11:23] #1400 closed

[2022-09-20 07:04] YaelSchuster commented on #1367
Sorry for the delay in response. We're going to remove the comment about managed identities and update the code sample to use user prompt authorization.

#please-close

[2022-09-20 07:04] #1367 closed

[2022-09-20 07:35] YaelSchuster commented on #1403
Ah ok, I see. I've fixed that in the doc.

[2022-09-20 07:35] YaelSchuster commented on #1403
#sign-off

[2022-09-20 07:35] YaelSchuster commented on #1403
#please-close

[2022-09-20 07:35] #1403 closed

[2022-09-22 19:13] llavalleytw opened #1413 "Difference in wording of descriptions for in set of operators"
In the Operators on Strings section of this document the wording for the Description column for the operators `in`, `!in`, `in~`, and `!in~` is different. For `in` the description is "Equals to one of the elements" whereas for `in~` the description is "Equals to any of the elements". The key difference here is using the word 'one' vs. the word 'any'. The word 'one' can be interpreted as exactly on

[2022-09-22 22:23] fangzi11 opened #1414 "The following command deletes the streaming ingestion policy"
url: https://learn.microsoft.com/en-us/azure/data-explorer/kusto/management/show-database-streaming-ingestion-policy-command#example

error: "deletes"

I think is displays command
Please reply，Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: a8c32733-27fe-4c24-497a-c258a1ac741d
* Version Independent ID: b948cb66-

[2022-09-22 23:37] KranthiPakala-MSFT commented on #1413
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-23 04:58] RamanathanChinnappan-MSFT commented on #1414
@fangzi11

Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-27 13:44] lucabovo opened #1415 "Azure Data Explorer > Networking > Managed Private Endpoints configuration panel - wrong sub-resource in Microsoft.Sql/servers"
Good morning,
I have noticed an issue in Azure Data Explorer configuration web interface, specifically in Managed Private Endpoints configuration tab:
![image](https://user-images.githubusercontent.com/77054756/192542740-3ad5759e-eac0-484c-8c18-ba5ab66b8e6a.png)

The issue is related to SQL Server (Microsoft.Sql/servers resource): in the configuration form, the field "Target sub-resource" has only

[2022-09-27 16:26] SaibabaBalapur-MSFT commented on #1415
@lucabovo
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-28 06:54] YaelSchuster commented on #1413
Hi @llavalleytw, you're absolutely right. Opening a PR now to fix that.

Thanks for helping us improve our documentation!

#please-close

[2022-09-28 06:54] #1413 closed

[2022-09-28 06:57] YaelSchuster commented on #1414
Oh dear. @fangzi11 you're definitely correct. Fixing that now.

Thanks for helping us improve our documentation!

#please-close

[2022-09-28 06:57] #1414 closed

[2022-09-28 06:58] YaelSchuster commented on #1415
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-09-28 07:44] cosh commented on #1415
Hi Luca,

we'll fix it. thanks for reporting.

Cheers, Henning

[2022-09-28 10:36] YaelSchuster commented on #1391
Hi @sfwatergit Thanks for your feedback. I've added a note that this field is optional and defaults to microsoft.com

Thanks!

#please-close

[2022-09-28 10:36] #1391 closed

[2022-09-28 11:22] lucabovo commented on #1415
Thank you @SaibabaBalapur-MSFT, @YaelSchuster, @cosh for your prompt feedback!

[2022-09-29 16:23] tamirkamara opened #1427 "Preparing python dependencies must be done on a Windows machine"
The document describes how to prepare python dependencies but doesn't mention it has to be done on a Windows machine.
This is crucial since some packages also include native/compiled code which pypi fetches according to the os/arch it's run on. So running pypi on a linux will create an issue in runtime in ADX when the package is there but isn't usable since the os is wrong and then we'll get a fai

[2022-09-29 17:33] KranthiPakala-MSFT commented on #1427
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-09-30 02:58] tsubasaxZZZ opened #1429 "Add more information about the connection settings"
When I connected by using Kusto Explorer, I'm not sure about the connection settings.
So, it might better describe settings on Connection screen.
![image](https://user-images.githubusercontent.com/3822284/193180094-d9cfd14d-19f6-45f3-938d-4b4757e9ed58.png)

For example:
1. Select Cloud settings [Public cloud]
2. Put "http://localhost:8080" to [Cluster connection]
3. Open "Advanced: Connection Stri

[2022-09-30 04:34] SaibabaBalapur-MSFT commented on #1429
@tsubasaxZZZ
Thanks for your feedback! We will investigate and update as appropriate.

[2022-09-30 10:38] shoshii opened #1430 "Add description about duplicated records in Data Explorer"
[Enter feedback here]
Hello, could you consider add the description that tells us duplicated records could appear even in Data Explorer?
Data Explorer sometimes handles sensitive data such as Security Event logs, and there is cases at which users want to know precise number of security incidents. Duplicated records could end up with incorrect statistics and mislead the judgement of viewers.

I wou

[2022-09-30 17:13] SaibabaBalapur-MSFT commented on #1430
@shoshii
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-01 13:17] qliu95114 opened #1431 "need more clear guidance how to setup Windows Container to get it work."
need more clear guidance how to setup Windows Container to get it work.

with some test efforts it look to me only 17763  RS5 build Windows Client and Server can do Dock Run, higher windows build won't work
high Windows 11 build 22000 or Windows Server 2022 20348 build cannot load the image with error message

docker: Error response from daemon: hcsshim::CreateComputeSystem 0440ec7e99152f6a4dbbef5

[2022-10-01 15:41] ManoharLakkoju-MSFT commented on #1431
@qliu95114
Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-02 08:23] YaelSchuster commented on #1427
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-10-02 08:34] YaelSchuster commented on #1429
Thanks, @tsubasaxZZZ for this. We are modifying this guidance now.

https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/3511

#please-close

[2022-10-02 08:34] #1429 closed

[2022-10-02 08:37] YaelSchuster commented on #1431
Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your suggestion

[2022-10-02 08:49] YaelSchuster commented on #1430
Hi @shoshii, thanks for taking the time to reach out and help us improve our docs! I have added a note to this document emphasizing that duplicates can affect the number of records returned by a query. This is relevant when you need a precise count of records, such as when counting events.

#please-close

[2022-10-02 08:49] #1430 closed

[2022-10-02 10:44] YaelSchuster commented on #1427
Thanks @tamirkamara for pointing this out. We've added this note to the docs page.
#please-close

[2022-10-02 10:44] #1427 closed

[2022-10-02 13:00] grawcho commented on #1431
@qliu95114 - can you try to collect docker logs from the image, additionally. can you check which processes are running on the container (with powershell Get-Process)?
everything seems in order, but it looks like the Kusto.Svc or the dotnet process are not running.

[2022-10-02 13:29] shoshii commented on #1430
Hello @SaibabaBalapur-MSFT  @YaelSchuster thank you for quick reply.
I have not found your note but assume I wii be able to see some change after your review process is completed.

[2022-10-03 02:38] qliu95114 commented on #1431
c:\Kusto>dir
 Volume in drive C has no label.
 Volume Serial Number is C008-D78D

 Directory of c:\Kusto

10/03/2022  02:37 AM    <DIR>          .
10/03/2022  02:37 AM    <DIR>          ..
10/03/2022  02:37 AM                 0 dir
09/30/2022  12:52 PM    <DIR>          Packages
09/30/2022  12:52 PM    <DIR>          Running
09/30/2022  12:52 PM               247 StartKusto.cmd
10/03/2022  02:37 A

[2022-10-03 10:01] grawcho commented on #1431
@qliu95114 - i would like to look at the console output (assuming there is any) from docker logs.

[2022-10-04 04:04] shoshii commented on #1430
@YaelSchuster , I could see the note you have added. Thank you so much!

[2022-10-05 01:53] Shawngbk opened #1435 "Typo error at "Plan subnet size in your VNet" section"
Typo error at "Plan subnet size in your VNet" section
https://learn.microsoft.com/en-us/azure/data-explorer/vnet-deployment#plan-subnet-size-in-your-vnet
![image](https://user-images.githubusercontent.com/18609174/193962476-1cad2ede-db8c-4fe1-902a-cd8bf64b4233.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 501c33