[2020-12-09 15:12] orspod commented on #491
@NavtejSaini-MSFT - thanks for your help.
I created a [WI](https://mseng.visualstudio.com/TechnicalContent/_queries/edit/1800148/?fullScreen=true&triage=true) to update this doc. FYI @avneraa

[2020-12-10 17:35] NavtejSaini-MSFT commented on #491
@vivere-dally At this point we are going ahead and closing this feedback. Please get back to us if any questions.

Thank you @orspod for creating workitem to update the document.

[2020-12-10 17:35] #491 closed

[2020-12-12 22:47] orspod commented on #495
@HymieHo - thanks for your feedback. Sync Slicers is a different feature than the Query Reduction feature. We will link to that DQ best practice page as suggested. I am now closing this issue.

[2020-12-12 22:47] #495 closed

[2020-12-14 15:27] aconkle commented on #359
@brandonh-msft @MartinJaffer-MSFT - How did you work around this? We are currently blocked on this.

[2020-12-14 15:36] aconkle commented on #359
We are trying to do:

.show cluster;
let azEnv = $command_results | top 1 by StartTime
| extend azEnvironment = extractjson('$.compute.azEnvironment', EnvironmentDescription)
| project azEnvironment;
let clusterHybrid =
iif('AzureUSGovernmentCloud' in~ (azEnv), 'foo',
iif('AzureChinaCloud' in~ (azEnv), 'bar',
'public'));
cluster(clusterHybrid).database('foo').bar | take 1

[2020-12-14 17:18] brandonh-msft commented on #359
@aconkle , unfortunately no way to work around this. Suggest upvoting the feedback forum entry.

[2020-12-14 19:31] daviw-git opened #504 "ADE Dashboard documentation needs more optimization tips"
I am concerned about cluster load caused by the Azure Data Explorer dashboards. While there were a couple of tips on reducing load in this document, I don't have a good sense of how often these queries are run, if the result of the queries are cached somewhere or are run again each time they are viewed by each user, etc...

I am looking for more information on how refresh works so that I can be su

[2020-12-15 02:50] femsulu commented on #504
@daviw-git Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-12-15 03:19] JasonWHowell commented on #489
The alternative syntax to group by month or year rather than by bin() is to use this kind of syntax:

| summarize ... by Month = startofmonth(DateTimeColumn)
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/startofmonthfunction

| summarize ... by Year = startofyear(DateTimeColumn)
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/startofyearfunction

[2020-12-16 08:19] Gabilehner commented on #504
Hi @daviw-git,
In general, all of the performance optimization rules are applicable to ADX dashboards.
Specifically, we do plan to add performance optimizations during 2021for ADX dashboards.
For now, the main recommendation is not to overload the cluster with dashboard queries using the auto refresh capability of dashboards. That's the purpose of allowing the dashboard owner to control the minima

[2020-12-16 08:56] YaelSchuster commented on #504
Thanks @Gabilehner for your detailed response.

@daviw-git We will now proceed to close this issue. Feel free to reach out with any additional questions.

[2020-12-16 10:00] jiyongseong opened #508 "Load balancer of outbound settings(Create Private Link service)"
[Enter feedback here]
Load balancer of outbound settings(Create Private Link service) should be an **internal load balancer**, not external load balancer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2af34f52-e08b-55b0-bfdd-6081b808e585
* Version Independent ID: 4e61b826-27ab-67be-e921-1656ec7f2777
* Content: [Using

[2020-12-16 15:05] HarshitaSingh-MSFT commented on #508
Hello @jiyongseong , thanks for taking time to share your valuable feedback! We are taking a look into this and will get back to you soon.

[2020-12-16 16:50] YaelSchuster commented on #504
#please-close

[2020-12-16 16:50] #504 closed

[2020-12-17 07:48] sloutsky commented on #494
Use: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/sethaselementfunction

[2020-12-17 07:49] YaelSchuster commented on #494
Thanks @sloutsky for your response. @ymost I am closing this issue at this time. Please feel free to reach out with any further questions.

#please-close

[2020-12-17 07:49] #494 closed

[2020-12-17 08:07] eladbi commented on #508
Hi @jiyongseong

Thanks for the feedback, this could be the external and the internal load balancer, I will update the documentation.

[2020-12-17 08:12] YaelSchuster commented on #508
Thanks @eladbi for your response. I have created a WI to followup on this issue in the docs. https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1802476

@jiyongseong thanks for your input. Please feel free to reach out with any further questions. I am closing this issue at this time.

#please-close

[2020-12-17 08:12] #508 closed

[2020-12-17 08:40] jiyongseong commented on #508
@eladbi
I think the suggested value of "Load balancer frontend IP address"  needs to be changed also.
| Load balancer frontend IP address | Your engine or data management public/private IP. | Select the Load Balancer public/private IP address. |
https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1351/files

[2020-12-17 09:17] ymost commented on #494
@sloutsky Thanks!
I want to point out a mistake in [this](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/scalar-data-types/dynamic#operators-and-functions-over-dynamic-types) documentation page:
1. It says that "in" can be used for this purpose, but that doesn't work for dynamic columns
2. The function "set_has_element" doesn't appear under "Operators and functions over dynamic t

[2020-12-20 12:38] eladbi commented on #508
@jiyongseong Thanks for the feedback, I will remove the need for public IP, just need to select the load balancer IP address.

[2020-12-20 14:23] jiyongseong commented on #508
@eladbi  thank you for letting me know.

[2020-12-22 19:21] SyntaxC4 opened #515 "Test issue"
Testing some new automation

[2020-12-22 19:21] SyntaxC4 commented on #515
Second test with a comment

[2020-12-23 16:50] nigarfin opened #517 "Performance Considerations"
It would be helpful to include performance considerations for unions similar to what we see for joins.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bdae741d-890b-0d72-8873-1b5be2a72d74
* Version Independent ID: 4845e524-c60d-ebbd-94c7-05c075e5a177
* Content: [union operator - Azure Data Explorer](https://docs.microso

[2020-12-23 18:56] himanshusinha-msft commented on #517
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-12-23 18:57] himanshusinha-msft commented on #517
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-12-27 13:12] YaelSchuster commented on #517
Hi @nigarfin, thank you for your feedback. I have opened a work item to address this issue. I am closing this issue at this time. If you have any further questions, please feel free to reach out.

#please-close

[2020-12-27 13:12] #517 closed

[2021-01-07 12:42] vivere-dally opened #531 "Add ifexists flag"
Hello,

I have some automation scripts which drops and creates some tables/functions/materialized-views. The tables and functions allow for the following syntax: .drop table <tableName> ifexists, which is very convenient, but the MV doesn't.

Consider adding this feature.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-01-07 15:34] docast opened #532 "To fix the link in the article which is no longer available"
[Enter feedback here]
The article, has a section called "This article is also available as an Azure Notebook." and has a hyperlink to launch Azure notebook. But the link is no longer valid given that Azure notebooks preview is retired and getting "page not found" error.

Feedback:
To fix the broken link or to remove the retired link from the doc.

---
#### Document Details

⚠ *Do not edit this sec

[2021-01-07 18:02] KranthiPakala-MSFT commented on #532
@docast
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-07 18:07] KranthiPakala-MSFT commented on #531
@vivere-dally Thanks for the feedback and brining this to our attention. Since the feedback is related to product feature request, I would request you to please log a feature request suggestion in Azure Data Explorer user voice forum:
https://feedback.azure.com/forums/915733-azure-data-explorer

All the feedback  shared in this forum are actively monitored and reviewed by ADX engineering team.  Al

[2021-01-07 18:07] #531 closed

[2021-01-07 19:04] KranthiPakala-MSFT commented on #532
Hi @docast I don't see the section called "This article is also available as an Azure Notebook." in this doc: https://docs.microsoft.com/azure/data-explorer/ingest-json-formats?tabs=python

Could you please point me to exact location of the doc which your are referring to? In case if your feedback relates to a different document, I would recommend you to please open an issue on that particular doc

[2021-01-08 03:26] docast commented on #532
HI, the below link need to be looked at:
https://docs.microsoft.com/en-us/azure/data-explorer/python-ingest-data

In the above link, it has a line called "This article is also available as an Azure Notebook<https://notebooks.azure.com/ManojRaheja/libraries/KustoPythonSamples/html/QueuedIngestSingleBlob.ipynb>." Which points to a broken link.

Regards,
Don Rohan Castelino
From: KranthiPakala-MSFT <

[2021-01-08 13:49] Craigmeister68 opened #536 "Required permissions info is missing from this and other ingestion docs."
Greetings,
It would seem there are required permissions on the ingestion sources for ADX to access the blob, event message, etc. Based on lack of mention in the documentation, it would seem ADX is using the permissions of the logged in user which is creating the objects. However, this is not explicit and there does not seem to be guidance for security settings necessary in the ingestion sources in

[2021-01-08 17:29] ManojRaheja opened #537 "Please refresh the screenshots in this doc."
Please refresh the screenshots in this doc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 469b31a6-10e1-1460-b20e-8f2c72561675
* Version Independent ID: 50da61e1-e28a-63f2-2450-0ec5350b5c20
* Content: [Manage cluster vertical scaling (scale up) to match demand in Azure Data Explorer](https://docs.microsoft.com/en-us/a

[2021-01-08 18:38] KranthiPakala-MSFT commented on #536
@Craigmeister68
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-01-08 18:46] KranthiPakala-MSFT commented on #537
@ManojRaheja
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-01-08 21:42] #532 closed

[2021-01-08 21:43] KranthiPakala-MSFT commented on #532
@docast Appreciate much for the feedback and pointed to the exact location of the issue.
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-01-10 16:35] YaelSchuster commented on #537
A [work item](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1807007) has been created for this task.

[2021-01-10 16:36] YaelSchuster commented on #537
#please-close

[2021-01-10 16:36] #537 closed

[2021-01-11 15:11] YaelSchuster commented on #536
@Craigmeister68 Thanks for reaching out.

The answer I've received from @orhasban is as follows:

We don’t use the caller permission, we have special permissions to fetch data from that data source (S2S).
We just verify that the caller that set the data connection has listKeys permission on the EH / Storage – which practically means that they owns the data source.

Soon we’ll introduce more secure

[2021-01-11 17:17] docast opened #542 "Kusto Query in the document needs an update"
In the article:
https://docs.microsoft.com/en-us/azure/data-explorer/ingest-json-formats?tabs=kusto-query-language

In Section:  "Ingest raw JSON records", step 6 has the below Kusto query ( KQL):

.ingest into table RawEvents ('https://kustosamplefiles.blob.core.windows.net/jsonsamplefiles/simple.json') with '{"format":json, "ingestionMappingReference":"DiagnosticRawRecordsMapping"}'

the above Q

[2021-01-11 18:04] himanshusinha-msft commented on #542
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-01-12 14:22] docast opened #544 "from azure.kusto.ingest import- ImportError: cannot import name 'KustoIngestClient'"
I am ingesting formatted json into ADX using Python SDK:  I have installed the Kusto libraries using below commands:
pip3 install azure-kusto-data
pip3 install azure-kusto-ingest

I have also ensured that the above libraries are present by following Option 2 mentioned in https://github.com/Azure/azure-kusto-python#install

However, whenever I am referencing azure.kusto.ingest module to import "Kus

[2021-01-12 16:20] SaurabhSharma-MSFT commented on #544
@docast Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-13 07:55] orspod commented on #536
@Craigmeister68 - I hope your question was addressed. I am now closing this issue.
If you have additional questions, feel free to reach out.

[2021-01-13 07:55] #536 closed

[2021-01-13 11:31] docast opened #546 "Table Name need to be updated on python code"
In the article: https://docs.microsoft.com/en-us/azure/data-explorer/ingest-json-formats?tabs=python
under "Ingest mapped JSON records"
Python code is creating "TABLE = "RawEvents" whereas KQL/C# code is creating "Events" table. Hence when the document is viewed from python code point of view, the table name created in python code and the table name referrenced in the document is different and cau

[2021-01-13 12:11] HarithaMaddi-MSFT commented on #546
@docast - Thanks for your contribution, I've addressed this issue in this [PR](https://github.com/MicrosoftDocs/dataexplorer-docs/pull/547). The changes should be live once the content author approves them.

[2021-01-13 15:42] nakah opened #548 "Incorrect description"
On the percentiles section:
5% of storms lasted at least two hours and 50 minutes should be:
95% of storms lasted at least two hours and 50 minutes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b32c0bf-08cc-c345-edca-d8fb0e15ffac
* Version Independent ID: 436fb2c0-ada7-e5dc-d6b7-3d2a8b5ea191
* Content: [Tutorial: Ku

[2021-01-13 16:28] #546 closed

[2021-01-13 16:41] docast commented on #546
Hi Haritha,

I am looking at the article:
Ingest JSON formatted data into Azure Data Explorer | Microsoft Docs<https://docs.microsoft.com/en-us/azure/data-explorer/ingest-json-formats?tabs=c-sharp>

Under Ingest mapped JSON records section:

KQL : code snippet creates Events table
[cid:image001.jpg@01D6E9F9.0B260D60]

C#: code snippet creates "Events" table.,
[cid:image002.jpg@01D6E9F9.0B260D60]

[2021-01-13 16:53] docast opened #549 "Ingest multijson format data from local file/blob container to a "NEW TABLE" in ADX always Fails"
Ingesting a JSON file with ( multijson) format always fails when ingested from local file/blob container to a NEW TABLE through "Ingest New data" option.

when a multijson file is used to ingest into ADX cluster with "create new table" option, we see that the table schema gets created however, the data ingestion always fails with below error:

BadRequest_InvalidBlob:BadRequest_EmptyBlob

This is b

[2021-01-13 18:01] KranthiPakala-MSFT commented on #548
@nakah
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-01-13 18:22] SaurabhSharma-MSFT commented on #549
@docast Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-13 23:09] #548 closed

[2021-01-13 23:10] KranthiPakala-MSFT commented on #548
@nakah
The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-01-13 23:38] himanshusinha-msft commented on #542
@docast Thanks for the valuable feedback , going ahead and closing the issue , as PR is in place and the changes will reflected in the next 24 hrs .

[2021-01-13 23:38] #542 closed

[2021-01-14 09:17] YaelSchuster commented on #549
@kerend @TzviaGT

[2021-01-14 12:54] ArielYehezkely commented on #549
Hi @docast,

Thanks for notifying. I've fixed the issue so the ingestion won't fail, it will be available next week.
Having both Json and Multijson is confusing so we'll keep the UI as is and the file format you'll need to choose will be Json, under the hood we'll ingest the file as multijson.

[2021-01-14 12:56] YaelSchuster commented on #549
Thanks @ArielYehezkely for your help.
@docast since the underlying issue has been fixed, I will proceed to close this issue. If you have further questions or comments, please feel free to reach out.

#please-close

[2021-01-14 12:56] #549 closed

[2021-01-15 19:01] SaurabhSharma-MSFT commented on #544
@docast I am able to reproduce this issue when I used option 2 like you mentioned.
![image](https://user-images.githubusercontent.com/38112130/104764384-2f591480-571c-11eb-997f-36ed09308beb.png)

@orspod Can you please help engaging right people for this issue.

[2021-01-15 19:10] docast commented on #544
Hi Saurabh,

As per the Github WIKI: https://github.com/Azure/azure-kusto-python/tree/master/azure-kusto-ingest

KustoIngestClient is renamed to QueuedIngestClient ( 10 days ago), however, this change is not yet reflected on docs page:
Ingest data using the Azure Data Explorer Python library | Microsoft Docs<https://docs.microsoft.com/en-us/azure/data-explorer/python-ingest-data>

So the above doc

[2021-01-17 13:59] YaelSchuster commented on #544
A PR has been opened to make this update in the docs. Thanks @docast for your feedback! I am closing this issue now, but please feel free to reach out with any other comments or questions.

#please-close

[2021-01-17 13:59] #544 closed

[2021-01-19 15:11] roehrijn opened #560 "Inconsistency between documentation pages"
You mention the following on this page:
![image](https://user-images.githubusercontent.com/2474078/105052862-a110c580-5a70-11eb-813b-328b392f1000.png)

But the term "Access Kusto" mentioned here can not be found at all on the linked target page called "Kusto guide to AAD applications provisioning". Neither in the text nor on any screenshot.

---
#### Document Details

⚠ *Do not edit this section.

[2021-01-19 18:09] himanshusinha-msft commented on #560
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-01-20 16:19] atrichet opened #562 "Error on percentiles spotted"
text found in "https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/tutorial?pivots=azuredataexplorer":
vvvvv
We can see from the output that:

5% of storms have a duration of less than 5 minutes.
50% of storms lasted less than one hour and 25 minutes.
95% of storms lasted at least two hours and 50 minutes.
^^^^^
This is inconsistent: If 50% lasted LESS than 1h25, you can't have have 9

[2021-01-20 18:00] KranthiPakala-MSFT commented on #562
@atrichet
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-01-20 19:52] himanshusinha-msft commented on #560
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-01-20 23:00] MLwolter opened #563 "There isn't any example"
Please add examples. For example when exporting parameters it's recommended to use todynamic, but there isn't any example and when I come to this article there isn't any either.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f0bdf325-a459-1c3e-f445-452b0c21d6ec
* Version Independent ID: d9317182-7957-acdf-8837-5597d24e

[2021-01-21 00:40] Grace-MacJones-MSFT commented on #563
Hi @MLwolter , Thanks for the feedback! I have assigned the issue to the content author to evaluate and update this doc as appropriate.

[2021-01-21 12:55] YaelSchuster commented on #562
Hi @atrichet. Thanks for noticing that mistake! The doc has been updated accordingly. I am now closing this issue.
#please-close

[2021-01-21 12:55] #562 closed

[2021-01-21 16:54] docast commented on #549
Hi Team, this is still broken:

I tried to ingest a new valid multiline Json into ADX using "Ingest new data". Now, its reporting "Stream_NoDataToIngest: The input stream produced 0 bytes. This usually means that the input JSON stream was ill formed." .

Previously I used to get "BadRequest_InvalidBlob:BadRequest_EmptyBlob". This is when I create a new table through UI "Ingest New data" option and

[2021-01-22 05:33] Marco-Santoni opened #566 "Specify retentio period of ".show ingestion failures""
In the documentation it is not specified that the command `.show ingestion failures` has a retention period for the ingestion failures is **14 days**. Is it possible to add a note?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e92070-d041-ea43-b0ee-577e61727302
* Version Independent ID: 4fcfa11f-f1a3-d27f-0674-2a4ea

[2021-01-22 15:56] SaurabhSharma-MSFT commented on #566
@Marco-Santoni Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-24 10:35] YaelSchuster commented on #560
@vladikbr @cosh Please advise

[2021-01-24 10:53] orspod commented on #549
@ArielYehezkely - please assist

[2021-01-24 11:04] YaelSchuster commented on #566
@Marco-Santoni thanks for your input. A PR has been opened to update this in the docs. I will now close this issue.

#please-close

[2021-01-24 11:04] #566 closed

[2021-01-24 11:34] ArielYehezkely commented on #549
Hi @docast,

You're right the fix hasn't been deployed yet. It will be available in version 1.0.11, which hopefully will be deployed during this week.
To check version go to Settings:
![image](https://user-images.githubusercontent.com/37837385/105628805-d1c57600-5e47-11eb-8d4d-edd902a778ec.png)

[2021-01-24 12:14] YaelSchuster commented on #563
Hi @MLwolter, thanks for your feedback. The todynamic() function is an alias of the [parse_json() function](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/parsejsonfunction) , which has several examples. I've opened a PR to consolidate this documentation, and will now close this issue. Thanks for your help!

#please-close

[2021-01-24 12:14] #563 closed

[2021-01-25 08:09] YaelSchuster commented on #560
Hi @roehrijn, thanks for reaching out.

@vladikbr has responded that this text should read:

If your application is intended to serve as front-end and authenticate users for Azure Data Explorer cluster, it has to be granted delegated permissions on Azure Data Explorer.
The full step by step process for that is described at [Configure delegated permissions for the application registration](https://

[2021-01-25 08:10] #560 closed

[2021-01-27 19:30] orgen16 opened #573 "Capture Group 2 and up is not working in extract()"
I tried the following example and it is not working.
ex. extract("\"Some string\": \"(.+)\"", 2, Text)

Let me know if you need the actual example.

[2021-01-28 04:06] CHEEKATLAPRADEEP-MSFT commented on #573
@orgen16  Please help with the link of the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be a better place to get help on your scenario. These forum community members c

[2021-01-28 06:31] eanders-MS opened #574 "Sample code syntax error?"
When I copy/paste this sample code into data explorer, I see an error for `count`:
[code]

I get the error: `The function 'count' expects no arguments.`

Indeed, the docs for `count` does not list any parameters: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/count-aggfunction

Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2021-01-28 15:12] SaurabhSharma-MSFT commented on #574
@eanders-MS Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-29 12:57] vivere-dally opened #578 "Examples on how to query using an ORM."
Hello,

I want to query my cluster from .Net but I could only using the query provider given by KustoClientFactory.CreateCslQueryProvider(). Is there a way to query using ORMs like Entity Framework, Dapper, or something like that? If so are there any samples? What do you recommend using?

I only found these samples which are insufficient and haven't been updated in two years: `https://github.com/A

[2021-01-29 15:13] SaurabhSharma-MSFT commented on #578
@vivere-dally Thanks for your feedback! We will investigate and update as appropriate.

[2021-01-29 20:01] SaurabhSharma-MSFT commented on #574
@eanders-MS The PR for the fix has been created and it will be merged after author's review. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2021-01-29 20:01] #574 closed

[2021-01-31 17:31] sabatlive opened #582 "Tables not selectable in Pivot Mode"
As shown here, I cannot select tables to drag and drop for pivot exercise.

![image](https://user-images.githubusercontent.com/77139452/106392450-c245b000-63a6-11eb-8e7a-76e08ec81f47.png)

 I followed all the steps. I should see all tables to drag and drop if filter checkbox is on.

Thanks,

Sunil

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-02-01 01:01] Hellofafar opened #583 "Provide use sample including query and result first then explain the query"
Actually this is a general issue I meet when searching for Kusto document.

Many time I just wanted to get an idea from actual usage sample with query and output, but I always see a long description of the operator/query, which drove me crazy...For example, if an example usage of "lookup" provided and I find it's what I want, then I don't need to read much document. If I found the example is not e

[2021-02-01 03:15] SatishBoddu-MSFT commented on #582
@sabatlive
Thanks for the feedback! We are currently investigating and will update you shortly.
Cc: @CHEEKATLAPRADEEP-MSFT

[2021-02-01 04:47] CHEEKATLAPRADEEP-MSFT commented on #573
@orgen16  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2021-02-01 04:47] #573 closed

[2021-02-01 05:17] CHEEKATLAPRADEEP-MSFT commented on #583
@Hellofafar  Thanks for the feedback! Your feedback has been shared with the content owner for further review.

[2021-02-01 05:46] CHEEKATLAPRADEEP-MSFT commented on #582
@sabatlive You may follow the step6 & step7 under Work with the table grid, to Select Pivot Mode, then drag columns as follows:

![ADX-PivotMode](https://user-images.githubusercontent.com/44426401/106419600-d0ff9600-647e-11eb-93ab-118d86ca6351.gif)

Hope this helps.

[2021-02-02 01:39] SaurabhSharma-MSFT commented on #578
@vivere-dally Can you please look into [this](https://github.com/AutoMapper/AutoMapper.Data) Automapper repository if this helps. Please check for test folder for any examples.  Also, [here](https://stackoverflow.com/questions/39441168/get-poco-object-from-idatareader-using-dapper) is a SO thread which can provide some pointers to use Dapper.

[2021-02-02 07:10] YaelSchuster commented on #583
Hi @Hellofafar thanks for being a part of our contributor community! We will take this suggestion into consideration and discuss internally. I'm going to close this issue at this time, but please feel free to reach out with more comments, suggestions, and questions.

#please-close

[2021-02-02 07:10] #583 closed

[2021-02-02 07:20] Hellofafar commented on #583
Thank you!

On Mon, Feb 1, 2021 at 23:10 PRMerger8 <notifications@github.com> wrote:

--
Thanks,
Jianfa

[2021-02-02 12:57] vivere-dally commented on #578
I succeeded in making it work with both Dapper and AutoMapper. Thank you for your help. I suggest you update that sample, or somehow make a link between ADX Documentation and Dapper/AutoMapper resources. I really had a though time finding something.

[2021-02-02 19:04] SaurabhSharma-MSFT commented on #578
@vivere-dally Good to hear.  Thanks for your feedback.  I will check internally on the same. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-02-02 19:04] #578 closed

[2021-02-03 04:21] CHEEKATLAPRADEEP-MSFT commented on #582
@sabatlive  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-03 04:21] #582 closed

[2021-02-05 02:49] yildizba opened #590 "Fix for the explanation on how to connect to your own ADX cluster"
[There is a part (purple box) in this document where it says: 'If you are using your own ADX cluster, you must include the region in the connection string as follows:
%kql azuredataexplorer://tenant="youecompany.com";code;cluster='mycluster.westus';database='mykustodb'
However, i think the **tenant part** should be removed in order to connect to one's own cluster, otherwise it gives error. This ca

[2021-02-05 04:22] CHEEKATLAPRADEEP-MSFT commented on #590
@yildizba  Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-05 06:27] CHEEKATLAPRADEEP-MSFT commented on #590
@yildizba As per my testing, both the codes works perfectly without any issues.

If you are using your own ADX cluster, you must include the region in the connection string as follows:
`%kql azuredataexplorer://tenant="yourcompany.com";code;cluster='mycluster.westus';database='mykustodb'`

![image](https://user-images.githubusercontent.com/44426401/106997610-33bb9f00-67a9-11eb-9480-f3dc88580bc9.pn

[2021-02-08 00:01] yildizba commented on #590
Hi

Thank you for the response. This works for me as well when trying to connect to Microsoft’s help cluster but when trying to connect to my own cluster & db, I had to remove the tenant section. (I am aware of the region detail for the cluster part).

Could you please let me know what the ‘tenant’ should be for an ADX cluster that I have under our university account (UNSW).

Than you

Best Regard

[2021-02-08 04:34] CHEEKATLAPRADEEP-MSFT commented on #590
@yildizba  A tenant represents an organization in Azure Active Directory. It's a dedicated Azure AD service instance that an organization receives and owns when it signs up for a Microsoft cloud service such as Azure, Microsoft Intune, or Microsoft 365. Each Azure AD tenant is distinct and separate from other Azure AD tenants.

![image](https://user-images.githubusercontent.com/44426401/107176303-

[2021-02-09 08:52] CHEEKATLAPRADEEP-MSFT commented on #590
@yildizba  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2021-02-09 08:52] #590 closed

[2021-02-09 21:56] adingler711 opened #594 "arg_min() default NameExprToReturn value"
When we are using arg_min(NameExprToMinimize , NameExprToReturn ) there should be a default value of * for NameExprToReturn. It does not make sense that there always needs to be two arguments especially if the user is using *. When using * it is returns all the columns after the by statement.

[code]

should also be able to use

[code]

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-02-09 22:00] adingler711 opened #595 ".create materialized-view using dimensionTables"
The document is a little miss leading.

In the example section there is an example of using a dimension table on number 6.

[code]

and then in the tips section it mentions that dimension tables should not be used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a80bf02-94d1-8ba9-87d5-7eb879b3f193
* Version Independent

[2021-02-09 23:43] KranthiPakala-MSFT commented on #595
@adingler711
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-10 05:11] CHEEKATLAPRADEEP-MSFT commented on #594
@adingler711  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2021-02-10 05:36] jason-ha opened #598 "Is there https://dataexplorer.azure.com/clusters/ support for query parameters?"
There are notes on specifying parameters for several interfaces, but no notes for https://dataexplorer.azure.com/clusters/. Is there support? If the feature is missing it would still be useful to call that out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3f989c5-4b98-697a-7db0-95e77ad43402
* Version Independent ID:

[2021-02-10 07:41] YaelSchuster commented on #595
@yifatsor Please advise.

[2021-02-10 10:57] CHEEKATLAPRADEEP-MSFT commented on #598
@jason-ha  Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2021-02-10 11:57] YaelSchuster commented on #594
Hi @adingler711, thanks for being in touch! For product requests, please add requests and vote on what's important to you here: https://aka.ms/adx.uservoice

I'm going to close this issue now, but please feel free to reach out with any other docs requests.
#please-close

[2021-02-10 11:57] #594 closed

[2021-02-10 18:34] yifatsor commented on #595
@adingler711 - I'll try to clarify (here and in the docs) - although dimension tables _are_ supported with materialized views, it is generally recommended to perform enrichments (lookups) and transformations in update policies. This is not set in stone - both may work, depending on clusters available resources / ingestion rate and so on. So both options are possible, but the recommendation still s

[2021-02-10 22:48] adingler711 commented on #595
@YaelSchuster, @yifatsor thank you. I was able to get around it by creating an update policy instead of using the dimension table.

When I was using the dimension table, it worked when I only had 1 dimension table but it would break when I had 2 dimension tables.

[2021-02-11 15:23] Spoonbender opened #613 "Clarify if IngestionTime is guaranteed to be monotonic"
The page says `$IngestionTime` can be used to retrieve only the data ingested since the last query.
However, the page doesn't explicitly state if `$IngestionTime` is **guaranteed** to be monotonic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c5dcc08f-5459-e456-0812-d724c735b92d
* Version Independent ID: c05f8646-afd

[2021-02-11 15:36] Spoonbender opened #614 "Clarify the guarantees of strongly consistent queries"
Please clarify if the strongly consistent queries mode provides only a "[read-your-write](https://jepsen.io/consistency/models/read-your-writes)" guarantee for a specific client session, or a stronger guarantee such that a write performed by some session is immediately visible to all other sessions.

The current documentation uses the term "you", which is ambiguous.

---
#### Document Details

⚠ *

[2021-02-11 16:05] Spoonbender opened #615 "Explain the enforcement of concurrency limit"
The document explains that the concurrency limit exists and how the limit is defined, but it doesn't say what happens when the limit is reached (request rejected? throttled? etc.)
Do notice that this behavior **is** explained at the ["Request limit policy" document](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/request-rate-limit-policy)

---
#### Document Details

⚠ *Do no

[2021-02-11 16:13] izikl commented on #598
Unfortunately, there is no such option.

As a workaround you can try passing the full query with [deep links](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/rest/deeplink):
[code]
For example:
to run this query:
[code]

You can run this deep-link:
https://dataexplorer.azure.com/clusters/help/databases/Samples?query=let%20%5B%27takeParam%27%5D%3D10%3B%0ACovid19_flat%20%7C%20take%20t

[2021-02-11 18:09] KranthiPakala-MSFT commented on #615
@Spoonbender -
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-11 18:10] KranthiPakala-MSFT commented on #614
@Spoonbender -
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-11 18:11] KranthiPakala-MSFT commented on #613
@Spoonbender  - Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-02-12 13:24] vincesp opened #618 "How to use a connection string with @azure/data-tables"
Add example how to use a connection string with NPM package `@azure/data-tables` in Azure functions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6548247e-f52f-8a4d-9ca5-b15314a7bb33
* Version Independent ID: f671c75c-8275-4e9a-7c4d-1508691139f7
* Content: [Storage connection strings - Azure Data Explorer](https://do

[2021-02-12 14:03] YaelSchuster commented on #595
Thanks for your response, @yifatsor.
@adingler711 I am going to proceed to close this issue. If you have any other feedback, problems, or improvements, please feel free to reach out!

#please-close

[2021-02-12 14:04] #595 closed

[2021-02-12 14:04] SaurabhSharma-MSFT commented on #618
@vincesp Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-02-12 14:05] YaelSchuster commented on #598
Hi @izikl, thanks for responding.

@jason-ha please feel free to open a feature request on the user voice link above. I am going to proceed to close this issue. Please feel free to reach out with any further questions or issues.
#please-close

[2021-02-12 14:05] #598 closed

[2021-02-12 18:53] jason-ha commented on #598
I still think it could be useful to note that it is not supported.

[2021-02-12 20:30] jason-ha commented on #598
@izikl Don't see that as workaround for scenario of trying to explore with ease. But I did file suggestion https://feedback.azure.com/forums/915733-azure-data-explorer/suggestions/42696005-support-query-parameters-specification.

[2021-02-14 09:00] YaelSchuster commented on #613
Hi @Spoonbender, thanks for reaching out. Can you please clarify your question? The section you reference of $IngestionTime retrieving only the data ingested since the last query is in combination with supporting Database Cursors and is not general to use of $IngestionTime.

"To support Database Cursors that let users issue consecutive queries, the query is limited to the data that was ingested si

[2021-02-14 10:00] YaelSchuster commented on #615
Hi @Spoonbender thanks for your input! A PR has been opened to address this request. As such, I'm closing the issue. Please feel free to reach out with more docs improvements!

#please-close

[2021-02-14 10:00] #615 closed

[2021-02-14 10:40] Spoonbender commented on #613
Hi,
First, thank you for clarifying that `$IngestionTime` is only meant to be used for exactly-once queries via the Database Cursors feature.
It might be worth adding a relevant note about this intention and/or about the monotonicity guarantees to the documentation, since the document does point at the [ingestion_time() function](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/ing

[2021-02-15 06:49] YaelSchuster commented on #614
Thanks @Spoonbender for reaching out.

Response from @zivcaspi:

There are no “sessions” as such in Kusto today. Once a “write” transaction completes successfully, any subsequent strongly-consistent “read” transaction will “see” its results.

[2021-02-15 06:52] YaelSchuster commented on #618
Hi @vincesp, thanks for reaching out.

Response from @ArielYehezkely:
This document lists the storage connection strings supported by Kusto.
Kusto doesn’t support connection strings of tables.

[2021-02-15 07:17] Spoonbender commented on #614
@YaelSchuster thank you for the clarification!
I suggest clarifying in the document itself as well, since the doc uses the term "read-my-changes" which resembles the well-known "read your write" (a.k.a "read my write") consistency model, which provides _weaker_ consistency than what Kusto provides (See https://jepsen.io/consistency/models/read-your-writes and https://en.wikipedia.org/wiki/Consiste

[2021-02-15 08:14] YaelSchuster commented on #613
@Spoonbender thanks for your detailed response. I will look into clarifying that in the docs. In the mean time, I'm going to close this issue. Please feel free to reach out by @mention my GitHub alias, or opening new issues where necessary.
Have a great day!

#please-close

[2021-02-15 08:14] #613 closed

[2021-02-15 08:18] YaelSchuster commented on #614
@Spoonbender thanks for the references. I'm going to close the issue at this time.

#please-close

[2021-02-15 08:18] #614 closed

[2021-02-15 08:19] YaelSchuster commented on #618
@vincesp thanks for being part of our contributor community! Please feel free to @mention me with any further questions or open up a new issue if needed. Since this issue has been answered, I'm going to proceed to close it at this time.

#please-close

[2021-02-15 08:19] #618 closed

[2021-02-15 10:15] YaelSchuster commented on #613
One more note from @alexans:

The only thing that we guarantee – is that when using cursors – the data can be queried “only once”.
We can’t guarantee that ingestion time is monotonically increases (at least not in all scenarios: streaming, followers, streaming+followers in the future).

[2021-02-16 08:15] avosdewael opened #620 "Add hint to use top operator instead when no groupExpression is used"
A mistake I have made was using the:

- `| summarize arg_min(scalar, *)` and
- `| summarize arg_max(scalar, *)`

syntax patterns without a _groupExpression_ to reduce the table to a single output row. While this works, it seems that the alternative `| top 1 by scalar` pattern is functionally equivalent yet offers better performance.

I suggest adding a hint to the arg_min() and arg_max() pages to

[2021-02-16 10:28] KalyanChanumolu-MSFT commented on #620
@avosdewael Thank you for the detailed feedback.
This is being assigned to the content author to evaluate and update the documentation as appropriate.

[2021-02-19 11:44] joelnotified opened #625 "Trying to get series_rate_fl and series_metric_fl working with Prometheus data in Azure Monitor"
I'm using the example on [this page](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/functions-library/series-rate-fl?tabs=adhoc) but I think the format of Prometheus data in Azure Monitor might have changed since this was written? Or is _"(Prometheus) data stored in Azure Data Explorer"_ of another format?

What I have:
- An application running in AKS that exposes a prometheus `/metric

[2021-02-19 17:20] KranthiPakala-MSFT commented on #625
@joelnotified
Thanks for reaching out. We have assigned the issue to the content author to further evaluate and provide an update as appropriate.

[2021-02-20 15:33] derSchtefan opened #627 "multijson/JSON ingestion mismatch: provide information about BadRequest_InvalidBlob: BadRequest_EmptyBlob error"
We were spending a considerable amount of time trying to fix the issue that a manual ingest of a GZIP compressed JSON file containing multiple records succeeded if run via the portal, but failed with "BadRequest_InvalidBlob: BadRequest_EmptyBlob" when run via Event Grid / Event Hub, or .ingest into table commands.

It turns out the problem was us not realizing that the ingest format is multijson,

[2021-02-20 16:55] JamesTran-MSFT commented on #627
@derSchtefan
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-21 06:51] YaelSchuster commented on #620
Hi @avosdewael thanks for reaching out with your suggestion. As per @sloutsky, actual perf results depend on the data, and implementation which may change in future.

I am going to close this issue at this time, but please feel free to reach out with future improvements!
#please-close

[2021-02-21 06:51] #620 closed

[2021-02-21 07:57] adieldar commented on #625
Hi @joelnotified,

The query in the doc works on the Help cluster, on the table demo_prometheus. You can access this cluster, so try running the query to see it works.

The structure of demo_prometheus is:
`
demo_prometheus
| getschema

ColumnName | ColumnOrdinal | DataType | ColumnType
-- | -- | -- | --
TimeStamp | 0 | System.DateTime | datetime
Name | 1 | System.String | string
Labels | 2 | Syst

[2021-02-21 10:25] Spoonbender opened #628 "Clarify RPO and RTO of Active-Active configuration"
Please clarify the RPO and RTO of the Active-Active configuration:

The "Active-Active-Active" configuration specifies RTO and RPO of `0 hours`, which I believe means that the recovery time is zero and the data loss is also zero.
However, the "Active-Active" configuration specified RTO and RPO of `None`, which seems to imply... that there is no objective at all? (?!)
This is confusing with regards

[2021-02-21 11:18] adieldar commented on #625
Another note @joelnotified, I've improved the function series_metric_fl() to use the new has_all() native function (instead of existing workaround that uses mv-apply). This is going to be published in the doc later today/tomorrow. Please update you code to use the new version, it is cleaner, shorter and should perform much better

[2021-02-21 11:49] Spoonbender opened #629 "Minor fix: GO API -> Go SDK"
Under "Programmatic ingestion using SDKs", the list specifies the "GO API", but this is actually a "Go SDK" and not an API (as the linked document specifies)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c758ab8-a66a-0d9d-af7a-a0fbe43ec6f4
* Version Independent ID: 62e4d091-8261-eb79-0f50-92a302487dd0
* Content: [Azu

[2021-02-21 13:20] YaelSchuster commented on #629
Hi @Spoonbender, thank you for noticing. This has been updated in the docs.

#please-close

[2021-02-21 13:20] #629 closed

[2021-02-21 16:55] JamesTran-MSFT commented on #628
@Spoonbender
Thanks for your feedback! We will investigate and update as appropriate.

[2021-02-22 13:58] joelnotified commented on #625
@adieldar Thank you! I will give it a try. I think it might have been the `todynamic` that was failing me. BTW, how do I connect to the Help cluster so that I can query the demo_prometheus table?

[2021-02-22 14:05] YaelSchuster commented on #625
Hi @joelnotified, navigate here: https://dataexplorer.azure.com/?cluster=help
Or, go to the web UI: dataexplorer.azure.com and select **Add Cluster**
![image](https://user-images.githubusercontent.com/62833511/108719003-b3769700-7527-11eb-807f-bc994f6bc89d.png)
with the cluster name help.kusto.windows.net

At this time it looks like your original Issue has been addressed, so I'm going to close thi

[2021-02-22 14:06] #625 closed

[2021-02-22 22:18] himanshusinha-msft commented on #628
Hello @Spoonbender  ,
As mentioned in the same article ( i am pasting the text below ) that Active- Active is very similar to Active-active-active configuration with the exception that we have only two regions participating in Active- Active . I think for Active- Active also the RTO and RPO should be 0  , but i will let @orspod comment on the same .

[Active-Active configuration](https://docs.micr

[2021-02-26 02:13] elmarsto opened #631 "Documentation page for Kusto (and *only this specific page*) renders in high-contrast mode when dark mode is selected"
[Enter feedback here]
![image](https://user-images.githubusercontent.com/315987/109245366-32243c00-7795-11eb-9281-57e7157ed33a.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62643597-337f-69f2-2ed9-bc9e6ddc1bf7
* Version Independent ID: 3f140887-e703-105c-1b27-e29e3b001324
* Content: [as operator - Azure Data Expl

[2021-02-26 05:02] AshokPeddakotla-MSFT commented on #631
@elmarsto Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-02-27 00:56] haritrichy opened #632 "Azure Log Analytics"
I'd like to know if Spark Connector for data explorer can be used to interface with Azure Log Analytics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa46bfb-17f8-a18d-50a5-eaad4c85ae19
* Version Independent ID: ac1fc513-55d6-203a-ce2c-bae250d126d4
* Content: [Use the Azure Data Explorer connector for Apache Spark t

[2021-02-27 17:04] SamaraSoucy-MSFT commented on #632
Thanks for the question! We will review and get back to you shortly.

[2021-02-28 07:28] YaelSchuster commented on #627
@vladikbr

[2021-02-28 07:31] YaelSchuster commented on #628
Hi @Spoonbender thanks as usual for your excellent questions about our docs.
I've checked with @cosh and the RTO and RPO for the Active-Active configuration is indeed 0 hours. This is now being changed in the documentation.

Closing this issue now, please let me know if you have further questions.
#please-close

[2021-02-28 07:31] #628 closed

[2021-02-28 13:11] YaelSchuster commented on #627
Hi @derSchtefan thanks for reaching out. I understand you have been in touch with the Kusto team by email to work on this issue and that they have identified three problems:
* Kusto.Explorer unable to infer (and ingest) multiline JSON data unless the correct format was specified
* Kusto.Explorer unable to create an identity JSON mapping for arrays of JSON records (fixed in the last version of KE)

[2021-02-28 13:11] #627 closed

[2021-02-28 18:57] YaelSchuster commented on #631
Hi @AshokPeddakotla-MSFT - this looks like more of a docs ops question than a docs question. I am unable to reproduce the difference between this doc and any others in dark mode.

[2021-03-01 02:03] kogesaka opened #633 "About NSG settings when deploying an Azure Data Explorer Cluster in a Virtual Network"
In step 9 of "Create Network Security Group (NSG)" section, the content of the "Outbound security rules" in the figure and the content in the link (https://docs.microsoft.com/en-us/azure/data-explorer/vnet-deployment#dependencies-for-vnet-deployment) appear to be different.

It seems that the content of the link ("Outbound NSG configuration" section) is correct, not the figure, but would you preal

[2021-03-01 03:06] elmarsto commented on #631
yeah almost immediately after I left this the problem occurred on other pages. It was uncanny.  suspect some rollout somewhere

[2021-03-01 04:21] AshokPeddakotla-MSFT commented on #633
@kogesaka Thanks for the feedback! I have assigned the issue to the content author @orspod to evaluate and update as appropriate.

[2021-03-01 04:29] AshokPeddakotla-MSFT commented on #631
@YaelSchuster Thanks for looking into this issue.
@elmarsto Thanks for the confirmation. We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-01 04:29] #631 closed

[2021-03-02 19:00] basaba commented on #633
Hi @kogesaka,
The figure shows inbound security rules and not outbound

[2021-03-02 21:24] himanshusinha-msft commented on #632
We have assigned the issue to the content author to comment on this .

[2021-03-03 01:41] kogesaka commented on #633
Hi @basaba,

Is what you are saying true?

This document's in figure looks like both inbound and outbound settings.

Which content is correct infomation?

[2021-03-03 10:45] ohadbitt commented on #632
If by interface you mean to query from Azure Log Analytics with the log analytics credentials and urls then the answer is no.
If you really want to use it for that you will need to find the Kusto cluster, dtabase and table supporting this Log analytics

[2021-03-03 11:12] YaelSchuster commented on #632
Thanks, @ohadbitt, for your response.
@haritrichy thanks for reaching out with your question. Since it has been answered, I am going to proceed to close this issue. If you have further questions or comments, please feel free to open a new issue or @ mention myself or Ohad.

#please-close

[2021-03-03 11:12] #632 closed

[2021-03-04 09:01] YaelSchuster commented on #633
@kogesaka - the image you show describes the specific settings for inbound and outbound network security group rules. The document you refer to discusses general dependencies. Can you elaborate as to which particular rule you find a discrepancy in? @basaba

[2021-03-04 09:54] kogesaka commented on #633
@YaelSchuster,

"Outbound security rules" Priority 104 (AllowADXMonitoringConfigurationDownload, 443, TCP, Any, 40.78.70.148) in figure that is not included in the "Outbound NSG configuration" section of the document "Deploy Azure Data Explorer cluster into your Virtual Network" (https://docs.microsoft.com/en-us/azure/data-explorer/vnet-deployment#dependencies-for-vnet-deployment).

[2021-03-04 11:18] basaba commented on #633
@kogesaka AllowADXMonitoringConfigurationDownload specifically is not needed anymore it's included in AzureMonitor now, I'll  remove it from the diagram

[2021-03-04 13:12] YaelSchuster commented on #633
@basaba thanks for your response.
@kogesaka It seems you have an answer to your question. As such, I'm going to proceed to close this issue. If you have any further questions, please feel free to reach out. Thanks for being a part of our contributor community!

#please-close

[2021-03-04 13:12] #633 closed

[2021-03-05 13:54] gitmadness opened #637 "Datatype returned by dayofweek() is Timespan and not Int as document states"
The data type returned by the function dayofweek() is Timespan but the documentation says it is an Int.

e.g.

`print dayofweek(datetime(2021-03-04))`

returned

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f82871-793a-1887-529a-0e7d9fd7df77
* Version Independent ID: 5d6ae62b-1975-2c82-71b9-cffbb94333e8
* Content: [

[2021-03-05 18:32] himanshusinha-msft commented on #637
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-03-05 21:22] nbfowler opened #638 "delete command description must be wrong"
<img width="722" alt="Screen Shot 2021-03-05 at 1 20 09 PM" src="https://user-images.githubusercontent.com/245593/110174892-b722dd00-7db5-11eb-9bb5-7b8be202948d.png">

Really?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26bac25c-c168-fadc-2491-651d35361512
* Version Independent ID: 608aa328-7799-1597-0940-4edec0b93e

[2021-03-06 02:56] shashishailaj commented on #638
@nbfowler Thank you for your feedback . We will investigate and update the thread.

[2021-03-07 17:01] YaelSchuster commented on #638
Hi @nbfowler, thanks for catching that! You are correct. I've opened a PR to fix this error.
Thanks for being part of our contributor community and please continue to send issues our way!

#please-close

[2021-03-07 17:01] #638 closed

[2021-03-09 18:08] himanshusinha-msft commented on #637
Hello @gitmadness ,
Thanks for the feedback and I did checked the point which you did brought up .

print dayofweek(datetime(2021-03-09))
-- 2.00:00:00

As per the document its says "Returns the integer number of days since the preceding Sunday, as a **timespan**." To my  understanding this is what we are seeing  & the document at this time does not require any update . We will go ahead and close

[2021-03-09 18:08] #637 closed

[2021-03-10 19:49] haivercarrillo opened #640 "How do we run the commands instead of the queries?"
Hi,

Could you please add how do we run the .drop, . alter, .clear commands from powershell?

Thank you.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2df80c7-1cca-9c8d-0ed5-05b387e1850f
* Version Independent ID: d3f5e3ed-dc62-ca1a-c821-4ca25453fa0f
* Content: [Kusto .NET Client Libraries from PowerShell - Azure Data

[2021-03-10 21:19] SaurabhSharma-MSFT commented on #640
@haivercarrillo  Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-03-11 15:06] YaelSchuster commented on #640
@yonileibowitz can you help with this question?

[2021-03-11 15:58] yonileibowitz commented on #640
there's a `Example: Running an admin command` section in this document, it shows how to run control commands from powershell

[2021-03-11 16:06] YaelSchuster commented on #640
Thanks, @yonileibowitz
@haviercarrillo please see https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/powershell/powershell#example-running-an-admin-command

Please let us know if you have any further questions.

Closing this Issue at this time.
#please-close

[2021-03-11 16:07] #640 closed

[2021-03-13 14:39] robertdudus-shell opened #641 "The LET query does not work in resources manager to query Resources"
Here's a prove:
![image](https://user-images.githubusercontent.com/76438250/111033569-cdf6ae80-8409-11eb-90d8-85c8b8f53bc4.png)
Or:
![image](https://user-images.githubusercontent.com/76438250/111033649-2f1e8200-840a-11eb-9671-8dcd9065561e.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b32c0bf-08cc-c345-edca-d8fb0

[2021-03-14 04:34] BhargaviAnnadevara-MSFT commented on #641
@robertdudus-shell Thanks for the question. We're investigating this and will get back to you shortly.

[2021-03-15 06:23] CHEEKATLAPRADEEP-MSFT commented on #641
@robertdudus-shell VMComputer is a table that Azure Monitor uses for VMs to store details about virtual machines that it monitors. [InsightsMetrics](https://docs.microsoft.com/en-us/azure/azure-monitor/reference/tables/insightsmetrics) contains performance data that's collected from those virtual machines. One value collected in InsightsMetrics is available memory, but not the percentage memory th

[2021-03-15 09:44] robertdudus-shell commented on #641
They work on Logs and in other places, they don't work for Resource based queries like here (I should have clarified it):
![image](https://user-images.githubusercontent.com/76438250/111133993-1087ca80-8573-11eb-9418-af05690af331.png)

[2021-03-15 09:55] CHEEKATLAPRADEEP-MSFT commented on #641
@orspod Could you please look into this issue?

[2021-03-15 15:23] YaelSchuster commented on #641
Hi @robertdudus-shell,
Thanks for reaching out. The Azure Resource Manager supports a subset of KQL (Kusto Query Language) for querying resources. The let statement is not part of this subset. For more information, see https://docs.microsoft.com/en-us/azure/governance/resource-graph/concepts/query-language#supported-kql-language-elements

As this question is not related to the Azure Data Explorer

[2021-03-15 15:23] #641 closed

[2021-03-19 05:29] doangeh opened #643 "Finish."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c758ab8-a66a-0d9d-af7a-a0fbe43ec6f4
* Version Independent ID: 62e4d091-8261-eb79-0f50-92a302487dd0
* Content: [Azure Data Explorer data ingestion overview](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-overview)
* Content Source: [

[2021-03-19 05:31] doangeh commented on #643
Rms InternationalL*

[2021-03-19 08:41] CHEEKATLAPRADEEP-MSFT commented on #643
@doangeh Could you share your feedback on the document or any questions related to the document?

[2021-03-19 10:38] fgheysels opened #644 "Unable to convert a dynamic type to a datetime in KQL"
I have an issue where I try to convert a _dynamic_ value to a datetime value.

I'm logging custom events in Application Insights where each custom event has some custom properties.  One of these custom properties (custom dimensions), is a datetime value.
Something like this:

![image](https://user-images.githubusercontent.com/3605786/111767106-9cb52d00-88a6-11eb-833e-ef719f4429de.png)

Now, I want

[2021-03-19 11:27] CHEEKATLAPRADEEP-MSFT commented on #644
@fgheysels  Thanks for the question! We are investigating and will update you shortly.

[2021-03-21 09:04] YaelSchuster commented on #644
@fgheysels
Hi, thanks for reaching out! It seems you're using unsupported datetime representation, that’s why conversion fails.
Supported datetime string types are listed here:
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/scalar-data-types/datetime

The reason why the same string works when it is used as constant – is due to historical/backward compatibility issues (it was neve

[2021-03-21 09:09] YaelSchuster commented on #644
At this time, I am closing the issue. Please feel free to reach out with any further questions.
#please-close

[2021-03-21 09:09] #644 closed

[2021-03-22 09:07] CHEEKATLAPRADEEP-MSFT commented on #643
@doangeh  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-03-22 09:07] #643 closed

[2021-03-22 13:20] YaelSchuster commented on #644
Hi @fgheysels, the todatetime function only works on some non-supported formats when used as constants. It seems you are still not using one of the supported datetime formats. https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/scalar-data-types/datetime

[2021-03-22 16:33] fgheysels commented on #644
Hi @YaelSchuster  Please read my answer :)

I am using a supported format, and the `todatetime` function works on that.

However, when I use `print todatetime` with an unsupported format, it also works, but when I retrieve that same unsupported answer from log analytics, it doesn't work.

[2021-03-24 06:24] YaelSchuster commented on #644
@fgheysels yes, the `print todatetime()` on certain unsupported formats only works because of some legacy backwards compatibility, but does not actually work anywhere else.

[2021-03-24 22:11] darivuki opened #649 "KQL pattern query from docs not working"
This code snippet/query, does not seem to be working. I haven't seen another example in the docs similar to this one to try to out. The problem here is that the passed-in parameters in the second pattern-expression are not working. I get this error "'where' operator: Failed to resolve table or scalar expression named 'applicationId'", which means that the applicationId:string parameter could not b

[2021-03-25 05:31] CHEEKATLAPRADEEP-MSFT commented on #649
@darivuki  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-03-25 12:56] YaelSchuster commented on #649
Hi @darivuki thanks for reaching out. You are correct, this scenario is not supported. We've opened a PR to correct this in the docs.

The example should read:

declare pattern app = (applicationId:string)[eventType:string]
{
    ("ApplicationX").["StopEvents"] = { database("AppX").Events | where EventType == "StopEvent" };
    ("ApplicationX").["StartEvents"] = { database("AppX").Events | where E

[2021-03-25 14:41] 1RedOne opened #650 "Should include a reference to the underlying data source"
It is difficult to understand what this command on this page is meant to do.  Since it doesn't show the underlying data source, and references an opaque 'EpsidoeNarrative` property.

[code]

It would be easier to understand if this article included a link to what kind of events would be found in the `StormEvents` table, or had a screenshot of them.  Then the functionality of what the command is do

[2021-03-25 14:50] KranthiPakala-MSFT commented on #650
@1RedOne
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-03-25 16:47] YaelSchuster commented on #649
Since this problem has been resolved in the docs, I'm going to close it now. Please feel free to reach out with any more questions or problems.

#please-close

[2021-03-25 16:47] #649 closed

[2021-03-25 17:00] YaelSchuster commented on #650
Hi @1RedOne, thanks for reaching out with your question.
I've updated the docs with a link to the table in the help cluster that is referenced in this example.

This example uses data from the StormEvents table in the help cluster. To access this data, sign in to [https://dataexplorer.azure.com/clusters/help/databases/Samples](https://dataexplorer.azure.com/clusters/help/databases/Samples). In the

[2021-03-25 17:00] #650 closed

[2021-03-25 17:45] 1RedOne commented on #650
This looks great, excellent 👍

[2021-03-25 22:01] fgheysels commented on #644
Thanks for clarifying.

[2021-03-29 06:31] ciufudean opened #651 "This note on the page is cryptic "Time of ingestion""
The consideration next to ingesting using ADF is cryptic "Time of ingestion"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c758ab8-a66a-0d9d-af7a-a0fbe43ec6f4
* Version Independent ID: 62e4d091-8261-eb79-0f50-92a302487dd0
* Content: [Azure Data Explorer data ingestion overview](https://docs.microsoft.com/en-us/azure/

[2021-03-29 13:44] SaurabhSharma-MSFT commented on #651
@ciufudean Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-03-29 17:24] YaelSchuster commented on #651
Thanks for the feedback, @ciufudean. You're definitely not wrong here.  @TzviaGT can you help clarify this consideration?

[2021-04-01 13:47] mklement0 opened #652 "In the example, use Add-Type -LiteralPath rather than [System.Reflection.Assembly]::LoadFrom()"
The PowerShell-idiomatic way to load an assembly is to use:

[code]

By contrast, `[System.Reflection.Assembly]::LoadFrom()` is obscure _and produces output_, namely an object describing the newly loaded assembly, which PowerShell surfaces _by default_, which can cause confusion.

While it's easy to suppress this output with `$null = [System.Reflection.Assembly]::LoadFrom(...)`, `Add-Type -Literal

[2021-04-01 14:31] SaurabhSharma-MSFT commented on #652
@mklement0 Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2021-04-04 09:42] YaelSchuster commented on #651
@ciufudean The article in question has now been updated to clarify the following regarding ingestion with Azure Data Factory (ADF):
This method takes relatively more time until data is ingested. ADF uploads all data to memory and then begins ingestion.

[2021-04-04 09:43] YaelSchuster commented on #651
#please-close

[2021-04-04 09:43] #651 closed

[2021-04-05 07:53] shsagir commented on #652
Hi @mklement0,

Thanks for your input! A PR has been opened to address this request. As such, I'm closing the issue. Please feel free to reach out with more docs improvements!

#please-close

[2021-04-05 07:53] #652 closed

[2021-04-05 15:36] jdiekhoff commented on #18
@orspod what is the status of the work item? That link gives a 403 access denied. Docs are also still out of date (have not been updated since 2019) and are using outdated "Releases" instead of pipelines.

[2021-04-06 18:50] nisinha opened #655 "Commands not working for linux powershell"
From windows powershell the commands are working properly but not from Linux powershell where unblock-file is not recognized and I am getting type Initialization error while calling
$kcsb = New-Object Kusto.Data.KustoConnectionStringBuilder($clusterUrl, $databaseName)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2df

[2021-04-06 20:00] SaurabhSharma-MSFT commented on #655
@nisinha Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-07 13:32] grawcho commented on #655
@nisinha - can you please share the $PSVersionTable output (since support for posix systems for Unblock-file was added in pwsh 7)?

[2021-04-07 15:16] nisinha commented on #655
@grawcho . This is output of the below command.

Name                           Value
----                           -----
PSVersion                      7.1.3
PSEdition                      Core
GitCommitId                    7.1.3
OS                             Linux 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020
Platform                       Unix
PSCompatibleVersions

[2021-04-07 15:32] orspod commented on #18
@jdiekhoff  - Apologies for the delay. This has been in the docs queue for a while.
Thanks for reaching out. The doc update is now in progress. @shsagir is currently working on it. It should be live soon.
@shsagir will you update when live?

[2021-04-08 15:26] zzgzy opened #657 "Wrong API version for Microsoft.Kusto/clusters/databases"
[Enter feedback here]

In this doc, you have
[code]
However, "2020-18-09" is not a valid date or api version. Please help update. Thank you!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ff9c4d32-fdd8-6ce4-4237-fb0f34b56c7f
* Version Independent ID: d2045be8-bc75-aeef-249d-2b95d73e4841
* Content: [Create an Azure Data

[2021-04-08 16:17] KranthiPakala-MSFT commented on #657
@zzgzy
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-04-09 01:05] KranthiPakala-MSFT commented on #657
@zzgzy Could you please help provide few additional details about your feedback? Are you seeing any errors using this API version/date? Appreciate if you could provide few additional context.

Thank you

[2021-04-09 01:40] zzgzy commented on #657
I deployed this template and got the error saying the api version is wrong. I think the day and month needs to be switched.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Kranthi Pakala ***@***.***>
Sent: Thursday, April 8, 2021 8:05:32 PM
To: MicrosoftDocs/dataexplorer-docs ***@***.***>
Cc: GZY ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/data

[2021-04-09 16:46] 1RedOne opened #658 "The Render page should have examples of rendering each chart."
For instance, the `linechart` type is only listed in the example, and isn't mentioned as a valid option in the body of this document at all.

It would be super cool if each option where there, with one or two examples of each.  Maybe even make those subpages?  Rendering charts is very powerful, so people will get lost and need help, IMHO

---
#### Document Details

⚠ *Do not edit this section. It

[2021-04-09 17:29] MartinJaffer-MSFT commented on #658
Thank you for your feedback, @1RedOne  . This has been assigned to the content owner, @orspod , and will be updated as appropriate.

[2021-04-09 18:44] KranthiPakala-MSFT commented on #657
Hi @zzgzy , thanks for the response. We have assigned the issue to the content author to investigate this and update as appropriate. Thank you

[2021-04-10 00:19] SaurabhSharma-MSFT commented on #655
@grawcho - Did you get a chance to look into this.

[2021-04-11 05:28] orspod commented on #655
@shsagir  - FYI

[2021-04-11 08:43] YaelSchuster commented on #658
Thanks, @1RedOne for your feedback. I agree that this would help users greatly. I've created a work item to follow up on this in our next sprint. https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1834229
As such, I'm going to close the issue at this time. Please continue to reach out with ideas and improvements!

[2021-04-11 08:44] YaelSchuster commented on #658
#please-close

[2021-04-11 08:44] #658 closed

[2021-04-11 09:21] shsagir commented on #655
Thx. We are currently investigating the issue.

[2021-04-11 14:23] grawcho commented on #655
I provided a workaround for @nisinha when we spoke, essentially use native powershell script query without the SDK, i'm still investigating the issue.

[2021-04-12 09:26] Cutuy opened #659 "Unclear explanation of shuffle query correctness"
The reason of shuffle query may be producing incorrect result is not clearly explained. Examples that may lead to such incorrect shuffle query is verbose.

Kusto's behavior on incorrect usage of shuffle query is not documented. Kusto seems to ignore inappropriate `shufflekey`s when `hint.strategy=shuffle` is specified, and fail if these keys were explicitly specified with `hint.shufflekey=<joinkey

[2021-04-12 10:35] CHEEKATLAPRADEEP-MSFT commented on #659
@Cutuy  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-04-12 11:02] shsagir commented on #657
@zzgzy Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention

#please-close

[2021-04-12 11:07] shsagir commented on #655
@nisinha, @grawcho Thanks for the update. Since there is not doc change at this time I'm closing the issue. Please open a PR if your investigation required a docs change.

#please-close

[2021-04-12 11:07] #655 closed

[2021-04-13 00:15] msft-edluo opened #661 "Kusto code analyzer doesn't show anything even when pressing ctrl + f6 as mentioned in document"
I tried using ctrl+F6 to run a query analysis on my Kusto code but it didn't seem to do anything. Is there a specific version I need to run this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2774c8d6-b082-154c-31eb-4341d8884b52
* Version Independent ID: abdcdbb0-f34d-61d6-6d22-262f262aaee8
* Content: [Kusto Explorer

[2021-04-13 03:37] KranthiPakala-MSFT commented on #661
@msft-edluo
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-04-13 08:00] ziham1531991 commented on #659
Hi Cutuy,

We've updated our docs and made it more clear.
Kusto will not return wrong results in that case, it will ignore the parameter hint.strategy=shuffle / hint.shufflekey = <key> when it is not valid.
I believe the docs is confusing and was not clear that the hint will be ignored so Thanks again for reporting this.

Now regarding why the hint is ignored in that case, it is because for each o

[2021-04-13 13:43] YaelSchuster commented on #659
@Cutuy since it looks like you got an answer above, I'm going to go ahead and close this issue. If you have any followup questions, please feel free to @mention myself or Ziad (@ziham1531991). Thanks!

#please-close

[2021-04-13 13:43] #659 closed

[2021-04-13 16:49] Cutuy commented on #659
Thanks for the quick updates. Appreciated!

[2021-04-13 22:16] KranthiPakala-MSFT commented on #661
@msft-edluo I have escalated this to Product team and awaiting response. Will keep you posted once we have a response.

Thanks for bringing this to our notice.

[2021-04-14 17:39] KranthiPakala-MSFT commented on #661
Hi @msft-edluo I have escalated this to ADX product team and below is the update

"We have made a change in KE that now Code Analysis is “called” Issues – and the tab is constantly present on the screen.
We will return Ctrl+F6 hot-key to make Issues tab active + change docs to reflect the change."

As product is working on a doc fix, we will now proceed to close this thread. If there are further q

[2021-04-14 17:39] #661 closed

[2021-04-14 18:21] nbfowler opened #664 "limitations of .show not clear"
Your doc makes it clear that

What it does not make clear is that `principals` is the _only_ role that seems to work with `.show` verb. This is a basic omission that is _not_ at all inferable from the above.

A → B does not equate to B → A.

Please make it clear what can or can't be used with the `.show` verb and any other limitations.

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-04-14 22:10] KranthiPakala-MSFT commented on #664
@nbfowler
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2021-04-20 15:38] noellelc opened #667 "Database user role doesn't seem to have permissions to create functions"
When attempting to execute `.create-or-merge function` commands using a service principal with the Database User role, I got a 403 permission denied; when I granted that same principal the Database Admin role, the function creation was executed successfully.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 143622e5-86cc-

[2021-04-20 17:29] himanshusinha-msft commented on #667
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-04-22 07:12] YaelSchuster commented on #664
Hi @nbfowler you are correct. the `.show` command can only be used with principals. Principals can only be used in the `.show` command, as it is not really a role. I have added a work item to update this document accordingly.

[2021-04-22 07:13] YaelSchuster commented on #664
I'm going to close this Issue at this time. Please feel free to reach out with any other questions and/or doc improvements. Thanks for being part of our community!

#please-close

[2021-04-22 07:13] #664 closed

[2021-04-24 02:02] jianfeng-jia opened #670 "The result of section "Equality and inequality of null values" is incorrect."
[Enter feedback here]
The result of equality-and-inequality-of-null-values is incorrect in page
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/scalar-data-types/null-values?pivots=azuredataexplorer#equality-and-inequality-of-null-values

It should be
5	true	true	false	true
null	false	true	false	true
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-04-24 04:06] BryanTrach-MSFT commented on #670
@jianfeng-jia Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-04-25 06:21] YaelSchuster commented on #667
@himanshusinha-msft this seems to be a product question, not a docs question.

[2021-04-25 06:24] YaelSchuster commented on #667
@noellelc do you mean the `.create-merge` function? Are you trying to merge an existing table? If you do not have permissions on an existing table, you will not be able to execute this command.

[2021-04-26 16:14] noellelc commented on #667
No, I am referring to the `.create-or-alter function` function to be able to actually create or update functions on a Kusto database (I don't believe functions are associated with tables). The "Roles and permissions" table on the docs page suggests that a Database User role would have the ability to create functions, but I believe a principal should actually be assigned to the Database Admin role

[2021-04-27 07:44] YaelSchuster commented on #667
@noellelc Ah, ok now I understand your question. I've checked with product, and creating functions should work with database user, as documented. If this isn't working for you, you'll need to [create a support ticket](https://ms.portal.azure.com/#create/Microsoft.Support).

If you have any further docs issues, please feel free to reach out!

#please-close

[2021-04-27 07:44] #667 closed

[2021-04-27 13:36] bobbytreed opened #673 "Where does ```new UserAssertion(customerAadWebApplicationToken)).GetAwaiter().GetResult();``` come from?"
I cannot see where the variable  **customerAadWebApplicationToken** comes from in:
[code]

Could you please elaborate, or am I missing something obvious? If so, apologies.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ee89d0d7-becd-83f4-b862-f39b1c1ad6d4
* Version Independent ID: d40d3446-9677-dbdc-faa9-f04a30ffb042
*

[2021-04-27 14:50] vladikbr commented on #673
The sample has a title "Step 2: Perform token exchange in your server code", which indicates this is the token your web app receives for the logged in user.

[2021-04-27 18:55] himanshusinha-msft commented on #670
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-04-27 20:19] dckfnuance opened #674 "No more option for "File Begin With""
For one-click ingestion from ADLS gen2 container, we used to be able to specify what the filename begins with. It was working fine 2 weeks ago. Now the option to specify "File begins with" is no longer there. Why was the option removed??

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 567e6ac5-f63b-e3a8-6a57-763563436ae

[2021-04-27 20:32] KranthiPakala-MSFT commented on #674
Hi @dckfnuance,

Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-04-28 00:47] KranthiPakala-MSFT commented on #674
Hi @dckfnuance, I have reached out to product team to double check on this change in behavior. Will get back to you as soon as we have an update from the team.

Thank you

[2021-04-28 06:49] YaelSchuster commented on #670
Hi @jianfeng-jia thanks for reaching out with your question.
If you notice in the explanation section,
![image](https://user-images.githubusercontent.com/62833511/116358803-b67f5380-a806-11eb-9fa5-c8129c2866a3.png)
as noted in the docs (image above), applying the equality operator to two null values yields null. The same is true for the inequality operator.

If you try the example in Azure Data Ex

[2021-04-28 06:49] #670 closed

[2021-04-28 09:06] shsagir commented on #673
@vladikbr Thanks for responding. We've submitted a documentation change based on your information, and the updated article should be live by tomorrow.
@bobbytreed If you need to follow up on this issue, leave us a comment with an @mention

#please-close

[2021-04-28 09:06] #673 closed

[2021-04-29 13:09] hugovoerman opened #676 "The plug-in function 'ipv4_lookup' is not defined."
When I try to do the examples on this page, in the Azure Data Explorer website as well as in Kusto Explorer I get the message: "The plug-in function 'ipv4_lookup' is not defined."

How do I define this plugin?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da5e53c6-7e59-9af7-9b2d-83de3f299fa3
* V

[2021-04-29 14:36] SaurabhSharma-MSFT commented on #676
@hugovoerman Thanks for your feedback! We will investigate and update as appropriate.

[2021-04-29 15:15] KranthiPakala-MSFT commented on #674
Hi @dckfnuance Product team confirmed that there has a been a recent change made to UX which is why there is no more option for "File Begin With". Product and content team are working on an internal work item to update the document with updated functionality.

Hope this info helps. Do let us know if you have further query.

[2021-04-29 18:08] SaurabhSharma-MSFT commented on #676
@hugovoerman Are getting this error while executing the function ?  I am able to execute it both on Kusto Explorer and on web versions.
![image](https://user-images.githubusercontent.com/38112130/116598058-3d9dfb80-a8db-11eb-9e04-908dcaf4318e.png)

[2021-04-29 23:23] SaurabhSharma-MSFT commented on #676
@hugovoerman ok, I see it but I agree it is confusing.  I will internally provide this information to products team. Thanks for your feedback.

[2021-05-01 01:34] SaurabhSharma-MSFT commented on #676
@hugovoerman We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-05-01 01:34] #676 closed

[2021-05-02 06:03] YaelSchuster commented on #674
@dckfnuance I'll sync with the product team to update the docs according to the new UI. I'm going to close this PR at this time, @KranthiPakala-MSFT thanks for your work tracking down this problem!

[2021-05-02 06:04] YaelSchuster commented on #674
#please-close

[2021-05-02 06:04] #674 closed

[2021-05-04 23:42] chriswue opened #680 "Syntactically wrong Kusto example"
The example code

    set query_datascope="hotcache";
    T | union U | join (T datascope=all | where Timestamp < ago(365d) on X

Is either missing the closing bracket - closing the one opened in `join (` - or the opening bracket after `join` is wrong.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3e81a2cf-15af-04b4-f

[2021-05-05 03:15] CHEEKATLAPRADEEP-MSFT commented on #680
@chriswue  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-05-06 08:08] YaelSchuster commented on #680
@chriswue, thanks for noticing this. You are correct, it is missing the closing bracket before the word "on". I have opened a PR to fix this in the docs.

[2021-05-06 08:09] YaelSchuster commented on #680
#please-close

[2021-05-06 08:09] #680 closed

[2021-05-06 17:09] mmannion opened #685 "Elaborate on allowable column syntax"
I'm just learning Kusto for the first time, and in the context of the Azure Resource Graph Explorer.

From what I can tell so far, most of the useful queries for me will include some sort of "special" column syntax. For example, for the `project` operator, I may have something like:

`project ['MyProperty'] = properties['someProperty']`

I can't seem to figure out the proper syntax sorting by a co

[2021-05-06 21:15] KranthiPakala-MSFT commented on #685
@mmannion
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-05-07 20:07] joel74 opened #686 "Unhelpful example"
This page has the exact same sample as the stdev() and stdevif() pages. It would be beneficial to have more relevant examples and/or explain more about these variants. It's not clear at all how adding a population alters the output.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b731fd3c-718f-6048-6ee6-84122f353522
* V

[2021-05-08 15:11] KranthiPakala-MSFT commented on #686
@joel74
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-05-11 05:32] GeorgeJoy opened #687 "trouble import with .import data that I exported with .export"
I am trying to use .export to export a table to Azure blob and then .import to import the table into a table.
This seems like it should work easily but I'm not having success. There should be a simple example to show how to do this.
The errors are vague like 'Invalid Blob'. In one case I get a 'stream too long' error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2021-05-11 08:03] YaelSchuster commented on #687
Hi @GeorgeJoy, thanks for reaching out. Can you please clarify, are you trying to then ingest data back into an Azure Data Explorer cluster? What ingestion method are you using? There is no `.import` command for ingesting data in Azure Data Explorer. Perhaps do you mean the `.ingest` [ingest from storage](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/data-ingestion/ingest-f

[2021-05-12 11:05] YaelSchuster commented on #686
@joel74 You'd want to use whichever standard deviation is relevant for your data. Is your data set just a small sample of the population or is it the entire population? I'll add a work item to clarify this in the docs.

Feel free to reach out with any further questions!
I'm going to close this issue at this time.
#please-close

[2021-05-12 11:05] #686 closed

[2021-05-12 12:08] YaelSchuster commented on #685
Hi @mmannion, I haven't heard back from you in two days. I'm going to close this issue at this time. If you have any further questions, please feel free to @mention me.

#please-close

[2021-05-12 12:08] #685 closed

[2021-05-12 13:22] joel74 commented on #686
I think you've completely missed the point. I want an example that's useful for anyone.

[2021-05-13 11:29] CHEEKATLAPRADEEP-MSFT commented on #687
@GeorgeJoy Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-05-13 11:29] #687 closed

[2021-05-20 09:08] grik001 opened #689 "Missing await for IngestFromStorageAsync"
Hi you are missing **await** in your IngestFromStorageAsync example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68d5f8ab-85c7-19bf-d91a-e76e81c76d7b
* Version Independent ID: 161a10d8-fc7f-97e8-b13e-0ddc7dd4f3c6
* Content: [Ingest JSON formatted data into Azure Data Explorer](https://docs.microsoft.com/en-us/azure/d

[2021-05-20 09:56] YaelSchuster commented on #689
This has been addressed by the Issue author by opening a public PR https://github.com/MicrosoftDocs/dataexplorer-docs/pull/690

#please-close

[2021-05-20 09:56] #689 closed

[2021-05-20 21:16] ldayananda opened #692 "clarification on external-tables"
One of the limitations of external-tables are mentioned as:

Does this mean `.purge` commands specifically or does this apply to the blobs that the external-table is referencing also?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: defaea13-e35e-6b8f-7c7a-f876ff50aea5
* Version Independent ID: f249e415-a2ff-c8d7-3ee0-09

[2021-05-20 23:32] KranthiPakala-MSFT commented on #692
@ldayananda
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-05-21 19:58] MartinJaffer-MSFT commented on #692
The way I understand it, an External Table, is a mapping that connects the concept of a Table in Kusto, to a data store outside Kusto / Data Explorer.

Hypothetically, if we wanted to purge a record from an external table, one of two things would need to happen.
- The blob / file / SQL table would need to be edited.  Data erased and re-written.
- If the blob is not edited, then Data Explorer would

[2021-05-24 18:50] MartinJaffer-MSFT commented on #692
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-05-24 18:50] #692 closed

[2021-05-24 21:11] ldayananda commented on #692
Thank you for your response! That answers my question.

[2021-05-27 07:51] liualexiang opened #696 "Demo Code incorrect"
*link*
https://docs.microsoft.com/en-us/azure/data-explorer/ingest-json-formats?tabs=kusto-query-language#ingest-json-records-containing-dictionaries

The KQL sample of step 1 in *Ingest JSON records containing dictionaries* section is incorrect, it should be:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68d5

[2021-05-27 08:12] liualexiang commented on #696
raise a PR: https://github.com/MicrosoftDocs/dataexplorer-docs/pull/697

[2021-05-27 09:30] CHEEKATLAPRADEEP-MSFT commented on #696
@liualexiang  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@orspod  Could please review the PR: [#697](https://github.com/MicrosoftDocs/dataexplorer-docs/pull/697) and approve?

[2021-05-27 11:37] YaelSchuster commented on #696
The associated PR has been approved and signed off.
Thanks @liualexiang for being part of the contributor community!
#please-close

[2021-05-31 07:22] GeorgeJoy commented on #687
Hi @CHEEKATLAPRADEEP-MSFT,
I returned back to this again. The code snippet is below:
.export async compressed to parquet 'https://stn.blob.core.windows.net/kustobackup?sv=2020-04-08&st=2021-05-31T06%3A11%3A19Z&se=2021-07-01T06%3A11%3A00Z&sr=c&sp=racwl&sig=XXX'
with (namePrefix=parquetpatients, fileExtension=parquet) <|phidocument

.ingest into table tempdocs 'https://stn.blob.core.windows.net/kust

[2021-05-31 07:24] CHEEKATLAPRADEEP-MSFT commented on #687
@YaelSchuster Could you please look into this issue?

[2021-05-31 07:27] GeorgeJoy commented on #687
Let me know if you prefer creating as a new issue.

[2021-06-01 16:46] GeorgeJoy opened #701 "Unclear how to ingest an exported table from Azure Blob Storage"
Are there some missing steps in the process I am following?

The code snippet is below:
.export async compressed to parquet 'https://stn.blob.core.windows.net/kustobackup?sv=2020-04-08&st=2021-05-31T06%3A11%3A19Z&se=2021-07-01T06%3A11%3A00Z&sr=c&sp=racwl&sig=XXX'
with (namePrefix=parquetpatients, fileExtension=parquet) <|phidocument

.ingest into table tempdocs 'https://stn.blob.core.windows.net/k

[2021-06-01 16:47] GeorgeJoy commented on #687
Opened #701
You can ignore this one

[2021-06-02 03:38] CHEEKATLAPRADEEP-MSFT commented on #701
@GeorgeJoy Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

@YaelSchuster Could you please look into this issue?

[2021-06-02 23:30] thoo1 opened #703 "Is there a limit on the number of columns for bag_unpack?"
Is there a limit on the number of columns for bag_unpack? I don't see it documented, but when I tried it out, it seems to be 20, is that correct?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79f8c39b-b27a-73b0-27d9-6fc0753431dd
* Version Independent ID: 4d01afaf-91ea-b4f1-0f43-b6dcaee0b26f
* Content: [bag_unpack plug

[2021-06-03 00:07] KranthiPakala-MSFT commented on #703
@thoo1
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-06-03 14:46] yonileibowitz commented on #703
@KranthiPakala-MSFT:
1. what's the scenario, and how many output columns are actually required?
2. what led to the observation that "20" is the upper limit? (it isn't, see example below)

[code]

--> 22

[2021-06-03 15:42] vladikbr commented on #701
@GeorgeJoy , the article you reference only talks about export to storage.
Ingest from storage is explained in https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/data-ingestion/ingest-from-storage and this article mentions and links to the document covering "ingestion properties".
In your case what's missing is format specification. Please let us know if you think the article on

[2021-06-03 17:33] thoo1 commented on #703
I see, when I add `| getschema` to the end of my query I see all the columns I expected. The default UI setting only selected the first 20 columns for me.

Thanks!

And side question if you don't mind, do you know how I can do `| summarize make_set()` for all columns where the columns can be dynamic?

[2021-06-03 19:17] yonileibowitz commented on #703
@thoo1 - which UI are you using?

as this isn't an issue with the documentation, I would recommend you create a question on Stack Overflow for this. please include a sample input, and the expected output.
https://stackoverflow.com/questions/tagged/azure-data-explorer

[2021-06-03 20:01] thoo1 commented on #703
@yonileibowitz I'm using the UI under the Logs tab in Azure Portal - Application Insights

And sure, I'll ask there thanks

[2021-06-03 20:50] KranthiPakala-MSFT commented on #703
@thoo1 - As @yonileibowitz called out could you please open a thread in [Stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-explorer).

Thank you @yonileibowitz  for assisting on this issue.

We will now proceed to close this thread.

Thank you

[2021-06-03 20:50] #703 closed

[2021-06-05 13:24] GeorgeJoy commented on #701
thanks for the response. I tried creating an ingestion mapping and using that and also specifying format="parquet" as below. I am still getting error BadRequest_InvalidBlob. I guess I'm looking for a way to serialize a table1 into Azure Blob and later ingest it into another table2. I expect table2 to be identical to table1.
[code]

[2021-06-05 14:08] GeorgeJoy opened #705 "validationpolicy not documented"
https://docs.microsoft.com/en-us/azure/data-explorer/ingestion-properties describes validationpolicy as one of the ingestion properties but I couldn't find the documentation for it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e24976a2-7a69-d602-31b4-30edf29aa03d
* Version Independent ID: 54a01e38-ce8c-dc77-bc88-e892

[2021-06-05 21:45] GiftA-MSFT commented on #705
@GeorgeJoy we'll review your feedback and get back to you shortly. Thanks.

[2021-06-07 15:07] ohadbitt commented on #701
hi
can you try naming the files *.parquet.gz
and try again?

[2021-06-08 12:11] GeorgeJoy commented on #701
@ohadbitt , tried that and got similar error. Reported full errror from _.show ingestion failures_ below (xx modified for privacy):
[code]

[2021-06-09 07:23] johnib opened #710 "How do I set the query_parameters when using the Kusto Web Explorer?"
I'm looking for a way to use `declare query_parameters` in KWE, and still be able to provide the parameters' values.
In Kusto Explorer it is possible via ALT+P -- I'm wondering if it's possible via KWE as well somehow?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3f989c5-4b98-697a-7db0-95e77ad43402
* Version Indepen

[2021-06-09 09:59] yogilad commented on #701
The server side reports the gzip stream is invalid:
[code]

Are you sure the parquet zip stream is valid?
Can you get the file and decompress it?

[2021-06-09 15:40] Svijay-msft commented on #710
Thanks for the question! We are looking into this and will get back to you soon.

[2021-06-10 14:21] ShakeySnake opened #713 "Cannot Add-Type for Kusto.Data.dll with Powershell"
Problem with running the steps here for Add-Type. Getting an error for missing dependencies that are not installed with the package.

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c2df80c7-1cca-9c8d-0ed5-05b387e1850f
* Version Independent ID: d3f5e3ed-dc62-ca1a-c821-4ca25453fa0f
* Content: [Kusto .NET Client Lib

[2021-06-10 17:23] izikl commented on #710
@johnib Unfortunately, at the moment, this is not supported in Kusto.WebExplorer.

[2021-06-10 22:51] KranthiPakala-MSFT commented on #710
Thank you @izakl for the update.

@johnib As it is not supported currently, we request you to please log a feature request item in User voice forum - https://feedback.azure.com/forums/915733-azure-data-explorer

We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will

[2021-06-10 22:51] #710 closed

[2021-06-11 12:05] GeorgeJoy commented on #701
@yogilad - the last experiment suggested by @ohadbitt renamed the file from *.gz.parquet to *.parquet.gz. I am guessing that's why the GZIP exception resulted.  (By the way, are you getting that extended error by looking up the operationId on the ADX back-end?)

[2021-06-14 08:38] shsagir commented on #705
@GeorgeJoy Thanks for your feedback. This property is in the process of being deprecated and will the topic will be updated when it's done. In the meantime, I'm closing this issue.
Thanks again for bringing this to our attention.
#close

[2021-06-15 06:01] ohadbitt commented on #701
Hello
Could you please provide us with a sample file failing ingestion

[2021-06-15 06:07] YaelSchuster commented on #705
#please-close

[2021-06-15 06:07] #705 closed

[2021-06-16 06:45] mattboothman opened #718 "Note box on Authentication page is vague, need more info"
Please elaborate the `Note` box at the bottom of the page. Documentation on `AadAuthorityUri` is almost non-existent.

For example, we have had major issues with executing deployment scripts that automate setting up Kusto. We want to add a Service Principal as a database admin. This randomly fails for no apparent reason. Kusto responds with 400 bad request - `entity is not valid and could not be r

[2021-06-16 08:45] CHEEKATLAPRADEEP-MSFT commented on #718
@mattboothman  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-06-16 14:12] cmasantos opened #719 "Adicional information for TableFragmentType and "progressive frames""
Hi,

It would be good to have more information about the **TableFragmentType** **_DataReplace_** option, I couldn't find what does it mean.

Also, I'm not sure what "**progressive frames**" really mean, is It all rows in a singles "dataFrame"? It would be really helpful to have aditional information here.

Thank you,
Carlos

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-06-16 14:17] YaelSchuster commented on #701
@georgejoy ping on the above question from Ohad

[2021-06-16 16:23] himanshusinha-msft commented on #713
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-06-16 17:30] himanshusinha-msft commented on #719
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-06-16 20:46] prbans opened #721 "MSAL scopes and tokens"
[Enter feedback here]

Hey Kusto team,

I am trying to use msal (@azure/identity) to do authentication in our NodeJS services

But I noticed in order to get a token, we need to provide scopes to the new API:

https://docs.microsoft.com/en-us/javascript/api/@azure/identity/chainedtokencredential?view=azure-node-latest

function getToken(scopes: string | string[], options?: GetTokenOptions)

Does an

[2021-06-17 00:22] lygasch opened #723 "Please provide example calculating percentages by a field value"
Thank you for providing these examples, they are very helpful.

I am trying to follow how to extend the data to report percentages, as in [this example](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/samples?pivots=azuredataexplorer#extend-a-table-by-a-percentage-of-the-total-calculation) but I have a further need to do that in hierarchy by another column value.

Following along,

[2021-06-17 03:52] AjayKumar-MSFT commented on #721
@prbans, Thanks for the feedback! We are taking a look into this and will get back to you soon.

[2021-06-17 04:33] ShaikMaheer-MSFT commented on #723
@lygasch Thank you for feedback. We are actively validating it. We will get back to you soon.

[2021-06-17 06:29] vladikbr commented on #718
1. We will improve the documentation.
2. Can you provide more details on the specific action that failed?
Were you really crafting REST requests or were you just trying to grant some principal access to your ADX resource?
3. 10 minutes cool-down is a service internal "negative cache" that is protecting the service from malicious DoS style attacks.
And if you create an SP, it takes some time for it

[2021-06-17 07:29] YaelSchuster commented on #713
Hi @ShakeySnake
Response from product team:
Are you trying to do dSTS authentication?

dSTS authentication using Kusto.Tools requires manual download of the dSTS binaries as we are not allowed to ship them with the package.

Please try this and let me know if it solves your problem.

[2021-06-17 07:37] GeorgeJoy commented on #701
I will try to reproduce with a non-sensitive workload

[2021-06-17 08:01] yogilad commented on #721
Kusto is a V1 resource, so we accept the scope `URL/.default`

[2021-06-17 09:40] mattboothman commented on #718
Thank you

It was a valid request:

Request Body:
[code]
Request URI: `https://abc123xyz.eastus.kusto.windows.net/v1/rest/mgmt`

Request method is `POST` and valid Authorization header and value set.

REST request, as above

We must've misunderstood eachother.

I'm making valid requests to Kusto, with a valid access token. If I understand you correctly, Kusto will process the initial request but i

[2021-06-17 10:00] vladikbr commented on #721
#close

[2021-06-17 13:58] shsagir commented on #719
@cmasantos Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you.

Documentation change: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1967

#please-close

[2021-06-17 13:58] #719 closed

[2021-06-18 06:47] ShaikMaheer-MSFT commented on #723
@Iygasch Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-06-19 23:55] GeorgeJoy commented on #701
While doing some more experiments to extract a sample file, I found that a parquet file exported from a smaller data set (20K rows instead of the full 42K rows) can be successfully imported.
.```
export async compressed to parquet
with (namePrefix=phisample10k, fileExtension=parquet) <| phidocument take 20000
[code]

[2021-06-20 07:51] YaelSchuster commented on #713
Hi @ShakeySnake - ping on the above question

[2021-06-20 08:23] ohadbitt commented on #701
hi
can you still provide us with a file that fails ingestion ?

[2021-06-20 22:03] ktom123 opened #725 "kql queries for http and https traffic"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d046c47f-5e33-bff9-51fd-b8fa4905a260
* Version Independent ID: 49509522-8d22-75e4-8dc7-ec78ff83a045
* Content: [Query/management HTTP request - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/rest/request)
* Content

[2021-06-20 23:21] KranthiPakala-MSFT commented on #725
@ktom123
Thanks for reaching out. To better assist on your query, could you please elaborate a bit on your feedback/query?

[2021-06-21 02:57] #723 closed

[2021-06-21 06:00] YaelSchuster commented on #713
Since we haven't heard from the customer in over 3 days, I'm going to proceed to close this issue.
@shakeysnake if you have further questions or problems, please feel free to reach out to us by @ mention my alias on this issue, or open a new issue. Thanks!

#please-close

[2021-06-21 06:00] YaelSchuster commented on #721
#please-close

[2021-06-21 06:00] #721 closed

[2021-06-21 10:58] ohadbitt commented on #701
The error doesnt indicates it was an issue with the size - therefore we are asking for the file for more investigation.
Anyway you can limit the size of an exported file (sizeLimit):
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/data-export/export-data-to-storage

Read here the answer and referred docs for more info on size limitation
https://stackoverflow.com/questions/612

[2021-06-21 17:36] KranthiPakala-MSFT commented on #725
@ktom123 - Could you please provide few additional details about your feedback on this document so that we can further review and do necessary enhancements accordingly?

[2021-06-21 18:27] ShakeySnake commented on #713
@YaelSchuster Could we have 3 business days to respond before closing things out. I'm not sure what the product team wants me to try here. The steps I'm asking about are simply trying to get the Add-Type step to work. If they would provide a pointer to the binaries or nugets required I could try that.

Also, I'm not the only person having problems with this https://stackoverflow.microsoft.com/ques

[2021-06-22 06:31] YaelSchuster commented on #713
#please-open
I will check and get back to you.

[2021-06-22 14:46] searleser97 opened #726 "'See also extend' does not have a link to the 'extend' operator section"
[Enter feedback here]

`See also extend` does not have a link to the 'extend' operator section

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3d21a5c6-ae80-52d0-7d06-43191081b656
* Version Independent ID: 799a41ab-2353-1bbc-8132-69eeb4678154
* Content: [Project operator - Azure Data Explorer](https://docs.microsoft.com

[2021-06-22 15:37] YaelSchuster commented on #726
@searleser97  Thanks for noticing that! I've updated this link in the docs, and this change should go live in a few hours.
https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1995

#please-close

[2021-06-22 15:37] #726 closed

[2021-06-22 17:27] vladikbr commented on #713
You need to retrieve the dSTS binaries yourself from dSTS feed (https://aka,ms/dsts)

[2021-06-22 17:27] vladikbr commented on #713
#please_close

[2021-06-22 17:27] #713 closed

[2021-06-23 17:28] KranthiPakala-MSFT commented on #725
We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-06-23 17:28] #725 closed

[2021-06-27 07:43] YaelSchuster commented on #701
We have not heard back from the customer in 6 days. This is clearly a product question, not a docs issue.
#please-close

[2021-06-27 07:43] #701 closed

[2021-06-28 09:15] vladikbr commented on #718
To execute the command .add database ['ASA-Data-Explorer-DB-01'] admins ('aadapp=53c329c5-0e54-4045-b3bf-1faca02bb916;example.com') ADX needs (after the command itself is authorized) to resolve the AAD entity that is the subject of the operation (not the actor). We cache failed resolutions in order to protect ourselves against attack by unresolved entities.

[2021-06-29 08:20] Shawngbk opened #730 "In clusters with ten or more nodes, the admin node doesn't participate in doing merge operations."
Document mentions that:
In clusters with three or more nodes, the admin node doesn't participate in doing merge operations. The Number of nodes in cluster is reduced by one.

However, confirmed with product team. The node count should be 10 more and then the admin node doesn't participate in doing merge operations. It is not 3.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2021-06-29 09:04] Shawngbk commented on #730
Guy Yehudy corrected that:
In 3+ the admin is not participating in ingestion
But it does participate in queries and is holding extents

The doc is correct. Kindly archive this issue

[2021-06-29 09:04] #730 closed

[2021-07-01 08:25] fgheysels opened #732 "Zero retention period on source table when using update policy"
I'm using an update-policy to ingest data to a table in Data Explorer (let's call it `table2`.   The source of this data is a table (`table1`) which gets it's data from an event-hub.
I only want to keep the data that exists in `table2`, so I specify a soft-delete period on `table1` as is told [here](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/updatepolicy#zero-retention-o

[2021-07-01 11:48] CHEEKATLAPRADEEP-MSFT commented on #732
@fgheysels  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-01 14:47] yonileibowitz commented on #732
yes. any time unit would be fine.

[2021-07-01 14:53] YaelSchuster commented on #732
A doc update has been made to reflect this change. Thanks @fgheysels for your contribution!
#please-close

[2021-07-01 15:18] #732 closed

[2021-07-04 06:57] shsagir commented on #718
@mattboothman Seems like your issue is resolved and therefore I'm closing it. To follow up on this issue, leave us a comment with an @mention. Please let us know if there's anything more we can do for you.

#please-close

[2021-07-04 06:57] #718 closed

[2021-07-04 07:27] mattboothman commented on #718
@shsagir Apologies for the additional comment. I'm hoping this doesn't re-open the issue. I've worked around it.

@vladikbr that is a bonkers, paranoid, and irrational pattern, in all honesty. The caching mechanism wasted a huge amount of time. Kusto should be properly handling failures and responding with the appropriate HTTP status code and error message.

Make it property rate limit requests an

[2021-07-05 09:26] Munyasya opened #733 "ValidationError: Parameter 'Identity.type' can not be None."
Getting the above error when running the CLI
az kusto cluster create --cluster-name mycuster --sku name="Standard_D13_v2" tier="Standard" --resource-group AML-rg --location westeurope

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d75797a-c3c0-34e0-981e-8cc3b9f7d0f2
* Version Independent ID: 94c113bd-7fc8-1588-cb06-1e

[2021-07-05 10:02] CHEEKATLAPRADEEP-MSFT commented on #733
@Munyasya  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

![image](https://user-images.githubusercontent.com/79183421/124454502-31845d80-dda6-11eb-8f9e-32bbf2e7c7fe.png)

@orspod Could you please review and update the cmdlet to create the Azure Data Explorer cluster?

[2021-07-06 17:09] wandyezj opened #735 "Average is not defined."
Average is a measure of central tendency. https://en.wikipedia.org/wiki/Average

What measure of central tendency is used for the `avg` formula?

Is this the mean? median? mode? A combination based on 'best fit'? Each measure of central tendency has it's own strengths and weaknesses, so it's important to know which is used.

Perhaps, this is a poor name for this method, and a more descriptive name

[2021-07-06 23:12] SatishBoddu-MSFT commented on #735
Hello @wandyezj
I have assigned the issue to the content author for further review and update the doc as appropriate.

[2021-07-07 07:27] YaelSchuster commented on #735
Hi @SatishBoddu-MSFT - Thanks for your question. The word 'average' as used here refers to the arithmetic mean, which has been updated in the docs.

#please-close

[2021-07-07 07:27] #735 closed

[2021-07-08 08:26] astauben commented on #733
Hi @Munyasya,
We are working on fixing this issue.
For now, may you please add '--type="None"' to your command? this should solve the issue.

Thanks,
Assaf.

[2021-07-08 08:37] shsagir commented on #733
@astauben Thx for responding.
@Munyasya Thanks for your feedback. As we understand it, you're describing a problem with the product itself and not with the product documentation. Therefore I am closing this issue.

Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention
#please-close

[2021-07-08 08:37] #733 closed

[2021-07-09 10:45] dhnilang opened #739 "Incorrect property TraceUserName specified in the doc"
In this document incorrect property (programmatic name of it) **TraceUserName** is specified , while the correct programmatic name is **UserNameForTracing**. This appears in '**User authentication properties**' section of the page. I have tested it with **Kusto.Data SDK 9.2.0**.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-07-09 15:51] MonikaReddy-MSFT commented on #739
Thanks for brining this to our attention. We will investigate it further and update you shortly.

[2021-07-09 15:52] MonikaReddy-MSFT commented on #739
@dhnilang -  Thanks again for bringing this to our attention. We have updated the Doc and it will be live once its merged.  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-09 15:52] #739 closed

[2021-07-11 23:59] csmathon opened #741 "Error in exemple"
the command "Add-Type -LiteralPath "$packagesRoot\Kusto.Data.dll"" fails all the time with the following error:
Could not load file or assembly 'Microsoft.WindowsAzure.Security.Authentication, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364
e35' or one of its dependencies. The system cannot find the file specified.

After contacting support, they told me to use:
[System.Reflection.A

[2021-07-12 04:32] CHEEKATLAPRADEEP-MSFT commented on #741
@csmathon  Thanks for the feedback! We are investigating and will update you shortly.

[2021-07-12 09:45] algorithmlover2016 opened #742 "Is there a github link to this example?"
[Enter feedback here]
I find a problem that the codes are not incomplete on this page. Can we offer a github link to the complete  example codes?
For example, the response link of go version is https://github.com/Azure-Samples/Azure-Data-Explorer-Go-SDK-example-to-ingest-data.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2021-07-12 11:50] CHEEKATLAPRADEEP-MSFT commented on #742
@algorithmlover2016 You may checkout this article: [Ingest data using the Azure Data Explorer Go SDK](https://docs.microsoft.com/en-us/azure/data-explorer/go-ingest-data).

Hope this helps.

[2021-07-13 19:41] jjadta opened #743 "--type argument needed to launch cluster"
Hi,

I tried running the following CLI command to create a cluster based on the example command in the doc doc, but got the following error:

az kusto cluster create --cluster-name dataHistoryAdxCluster --sku name="Standard_D13_v2" tier="Standard" --resource-group dataHistoryTest --location westcentralus
Command group 'kusto' is experimental and under development. Reference and support levels: htt

[2021-07-13 20:13] zivkan opened #744 "Link to timespan syntax"
This doc says that the argument to `ago(..)` is of type `a_timespan`, but it doesn't link to any docs to say what the syntax is.  The examples us `1d` and `1h`, but I want to know how to specify minutes and months. Only one of them can be `1m`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89f5099-9596-787c-198e-cc5f

[2021-07-13 20:15] KranthiPakala-MSFT commented on #743
@jjadta -
Thank you for reaching out and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-07-13 20:22] KranthiPakala-MSFT commented on #744
@zivkan
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-13 21:27] zivkan commented on #744
In the end, using the ToC search, I found that the docs for the timespan data type is: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/scalar-data-types/timespan

The `ago()` function docs page should have a link to this page which is easy to find.  I suggest making the `a_timespan` work a link to the page.

[2021-07-14 05:24] #744 closed

[2021-07-14 05:26] KranthiPakala-MSFT commented on #744
Hi @zivkan - I have submitted a PR to add link to the `timespan` doc reference. The changes should reflect within 24 hours.
Appreciate much for the feedback and helping us to improve the doc content.

[2021-07-14 05:27] KranthiPakala-MSFT commented on #744
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

[2021-07-14 07:30] shsagir commented on #743
Hi @jjadta ,
Thanks for your reporting the issue. We are working on a fix for this issue but in the meantime, you can resolve your immediate issue by adding **--type="None"** to your command.

As this is not an issue with the product documentation, I am closing this issue but please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @ment

[2021-07-14 07:30] #743 closed

[2021-07-16 08:57] CHEEKATLAPRADEEP-MSFT commented on #742
@algorithmlover2016  We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2021-07-16 08:57] #742 closed

[2021-07-16 08:58] CHEEKATLAPRADEEP-MSFT commented on #741
@orspod Could you please evaluate and update the document?

[2021-07-19 09:15] ciufudean opened #748 "Incorrect table header"
Incorrect table header at example _Using the 'by' clause_
The column headers must be swapped, make the first one be `isEvenSideCount `and the second `mylist`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa4efbc-144d-88d8-7032-20e8700e1725
* Version Independent ID: a693b1d8-ec33-971d-dc77-235cceae8481
* Content: [ma

[2021-07-19 11:14] ciufudean opened #749 "English mistakes"
1. _Aggregation that multiple columns or non-numeric results are not supported._ - _Aggregation over ..._?
2. _The last column in the output of the range function with all AxisColumn values._ - no predicate
3. _Due to the fill missing bins by default value, the resulting pivot table has the same number of bins (that is, aggregated values) for all series_ - did you mean _filling of the missing bins

[2021-07-19 11:22] ciufudean opened #750 "The syntax is not describing the optional list name"
The syntax is missing the optional list name that can be assigned with the list value, something like
`summarize [list_name = ] make_list(Expr [, MaxSize])`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa4efbc-144d-88d8-7032-20e8700e1725
* Version Independent ID: a693b1d8-ec33-971d-dc77-235cceae8481
* Content: [make

[2021-07-19 12:11] YaelSchuster commented on #749
Hi @ciufudean, thanks for the heads up. I've opened a PR to address these and other issues in the document.
At this time, I'm going to close this issue and we will work with product team on the PR.

#please-close

[2021-07-19 12:11] #749 closed

[2021-07-19 12:20] YaelSchuster commented on #750
Hi @ciufudean thanks for pointing that out. I've created a PR to update this in the docs.
Thanks for contributing!

#please-close

[2021-07-19 12:20] #750 closed

[2021-07-19 12:21] YaelSchuster commented on #748
Have added this change to other changes to makelist-aggfunction.md
Thanks @ciufudean, this doc clearly needs a lot of work.

#sign-off

[2021-07-19 12:32] YaelSchuster commented on #748
#please-close

[2021-07-19 12:32] #748 closed

[2021-07-20 02:13] algorithmlover2016 commented on #742
https://github.com/Azure/azure-kusto-samples-dotnet/blob/master/client/StreamingIngestionSample/Program.cs
https://github.com/Azure/azure-kusto-samples-dotnet
I think this is the answer that I'm looking for. I want get the complete examples codes. Thank you very much.

[2021-07-20 08:03] jayallen opened #751 "Parser flags example variable as an error but query runs without error"
In the section ["Use the view keyword in a let statement"](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/letstatement#use-the-view-keyword-in-a-let-statement), the example runs successfully but Intellisense parses it as an error.

![image](https://user-images.githubusercontent.com/40180/126284344-34c98283-576f-41e9-8b17-459da22f370d.png)

---
#### Document Details

⚠ *Do not edi

[2021-07-20 17:25] KranthiPakala-MSFT commented on #751
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-07-23 11:19] robert4os opened #752 "Should be semi-colon instead of comma in code regarding Laguage option in ODBC"
Hi,

the code example under 'For example, the following connection string will instruct Azure Data Explorer to encode strings as NVARCHAR(8000).'

Should read

"Driver={ODBC Driver 17 for SQL Server};Server=mykustocluster.kusto.windows.net;Database=mykustodatabase;Authentication=ActiveDirectoryIntegra**ted;Lang**uage=any@MaxStringSize:8000"

Note highlighting around semi-colon.

[Enter feedback he

[2021-07-23 17:07] KranthiPakala-MSFT commented on #752
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-07-26 06:13] ottodeng opened #753 "kusto mapping parameter error"
[ERROR] 2021-07-26 06:09:40.284 [Converge PipelineAction::Create<main>] kusto - Missing a required setting for the kusto output plugin:

  output {
    kusto {
      json_mapping => # SETTING MISSING
      ...
    }
  }

"mapping" need change to "json_mapping"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55ca34fa-96e

[2021-07-26 09:36] CHEEKATLAPRADEEP-MSFT commented on #753
@ottodeng Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-07-26 10:53] shsagir commented on #752
@robert4os Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.
@please-close

[2021-07-26 10:53] #752 closed

[2021-07-26 11:43] vladikbr commented on #741
We are re-evaluating the PS integration documentation and will update the docs once we have a better version

[2021-07-26 11:44] vladikbr commented on #741
#please-close

[2021-07-26 11:44] #741 closed

[2021-07-26 12:06] #753 closed

[2021-07-27 00:16] SaurabhSharma-MSFT commented on #751
@jayallen Products team has identified this as a bug and provided a fix for the same.  Please let me know if you still see any issues.

Thanks
Saurabh

[2021-07-27 17:27] SaurabhSharma-MSFT commented on #751
@jayallen We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-07-27 17:27] #751 closed

[2021-07-28 03:21] ElectricLlama opened #754 "Sample code failure"
When I run the sample code

[code]

I get

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f766314-2d79-147e-728c-cd661ab29939
* Version Independent ID: 0f1b5a73-c5ac-1505-bc62-5361eeaedbb7
* Content: [render operator - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/renderoperator)

[2021-07-28 05:13] CHEEKATLAPRADEEP-MSFT commented on #754
@ElectricLlama  Thanks for the question! We are investigating and will update you shortly.

[2021-07-28 06:01] CHEEKATLAPRADEEP-MSFT commented on #754
@ElectricLlama As per my repro, I am able to view the  'linechart' visualization type without any issue.

![image](https://user-images.githubusercontent.com/79183421/127271332-7bac0207-8467-49a5-b274-e3f20b8be660.png)

Could you please share more details on the above error message (Failed to create visualization
We currently don't support 'linechart' visualization type.) which you are experiencing

[2021-07-28 23:28] dhnilang opened #755 "The column 'ShouldRetry' skipped from the result of .show ingestion failure command"
[Enter feedback here]

The column 'ShouldRetry' is not mentioned in the result of .show ingestion failures command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 43e92070-d041-ea43-b0ee-577e61727302
* Version Independent ID: 4fcfa11f-f1a3-d27f-0674-2a4ea87623ef
* Content: [Ingestion failures - Azure Data Explorer](htt

[2021-07-29 04:45] AshokPeddakotla-MSFT commented on #755
@dhnilang Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-07-29 23:07] ElectricLlama commented on #754
Maybe it's because this is running in Application Insights. Shouldn't Kusto work the same everywhere?

![image](https://user-images.githubusercontent.com/3804276/127576492-f981a1f7-0382-4317-960b-ed484c2ca6b7.png)

[2021-07-29 23:13] ElectricLlama commented on #754
OK I see this doco is specifically for Azure Data Explorer. It seems like Kusto has different sets of functionality in Data Explorer vs Application Insights. /Log Analytics.

[2021-07-30 17:49] KranthiPakala-MSFT commented on #754
Hi @ElectricLlama, Yes this document is specific to Azure Data Explorer. And yes, both are two distinct products and varies by functionality.

As the issue is not relevant to the document content in reference, we request you to please reach out in [Microsoft Q&A forum](https://docs.microsoft.com/en-us/answers/products/) where we have our engineers and other MVP's who will be happy to assist.

If y

[2021-07-30 17:49] #754 closed

[2021-08-03 11:11] linglingruyu opened #757 "demo data result is not right."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e79e226-f1e1-b6ec-f4aa-1a66818190b4
* Version Independent ID: 49dba61b-3968-ac88-e2b2-49fd27942f61
* Content: [make-series operator - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/make-seriesoperator)
* Content

[2021-08-03 18:30] SamaraSoucy-MSFT commented on #757
Thanks for the feedback! I have assigned the issue to the doc author to update appropriately.

[2021-08-04 06:06] YaelSchuster commented on #757
Hi @linglingruyu can you please be more specific? There are several examples on this page.

[2021-08-04 08:11] YaelSchuster commented on #755
Hi @dhnilang, thanks for reaching out. This is an internally used metric. I will update the docs to reflect this.

#please-close

[2021-08-04 08:11] #755 closed

[2021-08-04 17:25] gorygregory opened #762 "What is docString, how do I use it, what are the parameters?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e69e5ba4-3bd0-cf52-ab4c-08153545c7cd
* Version Independent ID: ad158cd4-8163-1b55-2374-a00139a679cf
* Content: [.alter table docstring - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/alter-table-docstring-c

[2021-08-05 03:46] AshokPeddakotla-MSFT commented on #762
@gorygregory Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-08-05 13:46] YaelSchuster commented on #762
Hi @gorygregory, thanks for your question. DocString is a free text you can attach to table/function/column that will describe the entity. This string is presented in various UX settings next to the entity names.

[2021-08-05 17:37] #762 closed

[2021-08-08 06:43] YaelSchuster commented on #757
Hi @linglingruyu since I have not heard back from you, I am going to close this issue. If you would like to add more information, please feel free to @meniton me and we will reopen and try to address your question.

#please-close

[2021-08-08 06:43] #757 closed

[2021-08-12 15:31] dc995 opened #769 "Add basic role assignment for a single database or cluster then point to robust docs"
It would be great to add one more thing to this article which is assignment of an AAD user to a role as dbadmin, or database reader access.   The current article assumes that access is granted because the creator obviously has full rights.  After a simple add, point to https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/security-roles for details.

---
#### Document Details

⚠ *D

[2021-08-13 04:02] KranthiPakala-MSFT commented on #769
@dc995
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2021-08-13 07:18] KranthiPakala-MSFT commented on #769
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-08-13 14:25] jonathanrelf opened #772 "References to 'Azure Kusto' action may be out of date?"
The instructions show a Logic Apps Action called 'Azure Kusto'. When searching for this in Logic Apps, it appears to now be called 'Azure Data Explorer' and supports similar 'Run query and list results' actions but has (preview) suffixed on them.

Do the screenshots and instructions need updating to support this new naming?

![image](https://user-images.githubusercontent.com/584662/129372151-46b00

[2021-08-13 14:26] jonathanrelf commented on #772
Searching for 'Kusto' in the 'Choose an operation' search box returns the same options in the attached screenshot. 👍🏼

[2021-08-13 17:09] himanshusinha-msft commented on #772
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-08-13 22:53] himanshusinha-msft commented on #772
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-08-15 09:56] YaelSchuster commented on #772
Hi @jonathanrelf thanks so much for the kind words and pointing that out! I've added a work item so that we can follow up and update these screenshots.

https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1867879

#please-close

[2021-08-15 09:56] #772 closed

[2021-08-18 23:24] ushaq opened #779 "Documentation out of date"
[Enter feedback here]
 The documentation for using managed identity is out of date. When I used the SDK I get a warning for it being obsolete and to use a newer API call without parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2795f4-802e-754f-f325-00ebe5a2e5e1
* Version Independent ID: 1eee8c82-9f46-764f-4

[2021-08-19 00:57] KranthiPakala-MSFT commented on #779
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2021-08-19 09:34] zama202 opened #780 "many adx plugins are not documented - method to extract how to test those in order to make missing documentation?"
There are many plugins that are not activated by default and not documented yet.
Is there a ADX/Kusto method to have "plugin command list, command list options, ecc. in order to test (and to make missing documentation)? example "Show autocluster options"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dedfda0a-cdb4-8db2

[2021-08-19 11:44] CHEEKATLAPRADEEP-MSFT commented on #780
@zama202  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-08-20 11:30] shsagir commented on #769
@dc995 Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

We're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution to our community.

#please-close

[2021-08-20 11:30] #769 closed

[2021-08-22 05:46] idigra opened #783 "Property key with dot"
Is there a way to use extractjson function with property key that contains dot? i.e. is there a way to escape dots in property key, so it won't be captured as the special character of JSON path?

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01a9498f-3bba-5479-e7d7-32cc4d96c15a
* Version Independ

[2021-08-22 08:07] CHEEKATLAPRADEEP-MSFT commented on #783
@idigra  Thanks for the question! We are investigating and will update you shortly.

[2021-08-24 07:39] natinimni commented on #783
Hi @idigra, you may use _['<property_name>']_ notation for property names with special characters.
For example, the following JSON string has a property name that contains dots ("a.g.e"):
[code]

I hope this answer your question.

[2021-08-25 05:02] idigra commented on #783
Thanks! That's what I need, I'll try it.
I would consider explicitly mentioning in the documentation that escaping can be done using the [' syntax.
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/extractjsonfunction

[2021-08-25 05:02] #783 closed

[2021-08-29 06:26] YaelSchuster commented on #780
Hi @zama202, since it looks like all available plugins are documented, I'm going to proceed to close this issue. If you have further questions, please feel free to reopen by @mention myself, or opening a new issue.
#please-close

[2021-08-29 06:26] #780 closed

[2021-08-30 12:28] shsagir commented on #779
@ushaq Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2021-08-30 12:28] #779 closed

[2021-08-30 14:13] msangapu-msft opened #797 "Aks.ms links aren't working"
The links to kusto explorer aren't working.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ba96a1-65dd-5320-6d36-47de50b8403f
* Version Independent ID: deee5b70-9bd5-2bf9-f7b7-12c40200693d
* Content: [Kusto.Explorer installation and user interface](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/tools/kust

[2021-08-30 15:08] Clex19 opened #798 "dayofyear() syntax section shows dayofweek()"
![image](https://user-images.githubusercontent.com/8637208/131361196-ef1811a3-18d9-4b79-bc4d-fd6923a8614d.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c061cab9-a03a-c3f1-b8a3-1e9139f8f573
* Version Independent ID: 3673fc3b-53be-0dea-9538-15292425f306
* Content: [dayofyear() - Azure Data Explorer](https://docs.mi

[2021-08-30 22:59] femsulu commented on #797
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-30 23:04] femsulu commented on #798
Thanks for bringing this to our attention. We are actively investigating and will get back to you soon.

[2021-08-30 23:13] femsulu commented on #798
created a PR to resolve this doc-isssue.
FYI @orspod

[2021-08-31 03:16] femsulu commented on #798
Thanks again for bringing this to our attention, @Clex19. The fix will be live shortly.
We will now close this issue. If there are further questions regarding this matter, please reply and we will gladly continue the discussion.

[2021-08-31 03:16] #798 closed

[2021-08-31 06:36] YaelSchuster commented on #797
![image](https://user-images.githubusercontent.com/62833511/131453962-559cf233-6e4e-41ef-8dad-1f1c8680ff5d.png)
The links are working ok for me (see image).

[2021-08-31 14:17] msangapu-msft commented on #797
Thanks for taking a look. I've tracked the culprit to this Chrome extension mentioned here: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/tools/kusto-explorer#using-chrome-and-kustoexplorer

If I disable the extension, the link works. When the extension is enabled, the links don't work. Not sure if that's limited to my machine/experience, but wanted to share. I think we're good to clo

[2021-08-31 14:17] #797 closed

[2021-09-01 10:17] robert4os commented on #752
Hi,

the code sample still uses ',' instead of ';' before 'Language' in
`"Driver={ODBC Driver 17 for SQL Server};Server=mykustocluster.kusto.windows.net;Database=mykustodatabase;Authentication=ActiveDirectoryIntegrated,Language=any@MaxStringSize:8000"`

Best regards, Robert

[2021-09-01 12:46] raghuvamsi-disys opened #802 "Automate Table creation"
[Enter feedback here]

I have created Data Explorer Cluster, Database using Terraform. Looks like there is no option to create Tables using Terraform.

Wanted to check is it possible to create the table using ARM template atleast?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8a64f727-eca9-25a5-5350-bae37aeb79e9
* Ver

[2021-09-01 18:04] himanshusinha-msft commented on #802
Thanks for reaching out to us , but at this time it does not look like you are referring to a document but to a specific scenario . If that's the case we request you to please post your question on Microsoft Q&A and other forums , we have our engineers and others who are monitoring them and will be happy to help .
If you have a document which you are following and if you think it needs  an update

[2021-09-01 18:04] #802 closed

[2021-09-06 01:03] angie4u opened #808 "Broken link when deploy event hub namespace"
[Broken link when deploy event hub namespace]

When create a event hub namespace by following the docs(https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-no-code?tabs=diagnostic-metrics#create-an-azure-event-hubs-namespace), this azure deploy button doesn't work due to the invalid url.
![image](https://user-images.githubusercontent.com/16282358/132147051-b9ea3383-5a3c-4810-8ca6-124b5

[2021-09-06 02:26] why39 opened #809 "Wrong spelling for "results""
There seems a wrong spelling for "results"
![image](https://user-images.githubusercontent.com/38268442/132151528-24a4f188-d3ab-446e-87da-5aad9d6b1ebe.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3c750ffa-07a3-6247-b5d2-89c43f8aacd6
* Version Independent ID: 33f23cad-20a0-c0bb-0622-6272a7c5f9c2
* Content: [Capaci

[2021-09-06 04:18] CHEEKATLAPRADEEP-MSFT commented on #809
@why39 Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2278](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2278)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contr

[2021-09-06 04:19] CHEEKATLAPRADEEP-MSFT commented on #808
@angie4u Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2279](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2279)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community con

[2021-09-06 04:19] #808 closed

[2021-09-06 04:19] #809 closed

[2021-09-07 17:04] wangyuantao opened #810 "Import Dashboard via JSON?"
In the Dashboard view, there is a button "Export to JSON". How to "Import" it back to ADX Dashboard?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4be1640-3699-8fdf-07a2-c9b922499c90
* Version Independent ID: 55027537-6af4-541d-da8d-e2cdc2b5fa92
* Content: [Visualize data with the Azure Data Explorer dashboard](https

[2021-09-07 17:56] himanshusinha-msft commented on #810
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-09-07 23:36] MartinJaffer-MSFT commented on #810
That's a great question @wangyuantao .  So far I have not found the import dashboard button either.  Escalating to @orspod .

[2021-09-09 09:43] Gabilehner commented on #810
Thank you for your question!
Import json file is not supported today, but it is on our backlog for the mid term.

[2021-09-09 09:47] YaelSchuster commented on #810
Thanks @Gabilehner
Closing this issue now.
@wangyuantao thanks for reaching out, we're always here for questions.

[2021-09-09 09:47] YaelSchuster commented on #810
#please-close

[2021-09-09 09:47] #810 closed

[2021-09-10 15:15] Stuart-Wilcox opened #816 "Render Chart Title Type String"
[Enter feedback here]
In the docs for `render` it says an attribute called `title` is type string, but I have seen that this is not exactly true.

This works:
[code]

This does not:
[code]
![image](https://user-images.githubusercontent.com/22772721/132876427-0a669ba3-5003-48fe-87f2-829375f5a3f7.png)

This also does not:
[code]

Even though both of those resolve to string/are of type string. If thi

[2021-09-10 17:43] himanshusinha-msft commented on #816
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-09-10 19:20] jaimeatwork opened #817 "Requesting Updates to tutorial for Azure Data Explorer"
Hello, Thanks for making this tutorial

The section `Create the data connection for diagnostic metrics and logs and activity logs` looks like its referencing an old version of the console, compression settings are not referenced in the instructions.

Additionally, I followed the steps several times, double checking my work along the way and was not able to get events to populate in my table. Did s

[2021-09-11 05:26] BhargaviAnnadevara-MSFT commented on #817
@jaimeatwork Thanks for the feedback. We're investigating this and will get back to you shortly.

[2021-09-13 12:06] ohadbitt commented on #817
Hello
Its OK that the section is not updated as it should work with default values (its not compressed)- but we will update it.
in the section
'See data flowing to your event hubs'
do you see trafic to EH ? if yes - do you see trafic from EH?

If not - are you sure the categories you selected produce data ?

[2021-09-13 15:21] jaimeatwork commented on #817
Howdy, yes, it looks like it took a while for the data to populate (maybe my source account isn't active enough or it takes longer to populate than I expected) and since I created and deleted the data connection a few times, it may have resulted in lost data, I'm not certain.

After a weekend of letting it run, I can back, was able to simulate some activity like creating and deleting a virtual mac

[2021-09-14 02:23] SaurabhSharma-MSFT commented on #816
@Stuart-Wilcox I see the same behavior but it works using `with` operator.
 `render barchart with(xcolumn=x,title=MyGraphTitle)`
![image](https://user-images.githubusercontent.com/38112130/133184113-f9b0ba0a-5f45-4e61-a14b-09cc95327d46.png)
![image](https://user-images.githubusercontent.com/38112130/133184173-6bd1aa8d-f756-4ca7-bde2-0ec4040526e5.png)

Thanks
Saurabh

[2021-09-14 08:40] YaelSchuster commented on #817
looks like this has been resolved. @jamieatwork please feel free to reach out with any docs questions or improvements!
#please-close

[2021-09-14 08:40] #817 closed

[2021-09-15 17:54] SaurabhSharma-MSFT commented on #816
@Stuart-Wilcox We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2021-09-15 17:54] #816 closed

[2021-09-16 18:51] mlevin19 opened #824 ""Deploy to Azure" bottom linked to ARM template that can not be found."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5808ed2-5d09-4c56-dc0b-4e3650f8fc16
* Version Independent ID: ba034a8d-d5bb-6ea4-e61b-74ea3a5eb2be
* Content: [Ingest data from Event Hub into Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-event-hub)
* Content

[2021-09-17 03:58] CHEEKATLAPRADEEP-MSFT commented on #824
@mlevin19 Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2311](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2311)

The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contribution

[2021-09-19 10:52] YaelSchuster commented on #824
Have approved and merged the PR, thanks @CHEEKATLAPRADEEP-MSFT

At this time, I'm closing the Issue.
@mlevin19 thanks for reaching out and helping us improve the docs!

#please-close

[2021-09-19 10:52] #824 closed

[2021-09-21 11:02] mryn-tobii opened #829 "Document how null-values are treated in min_of() and max_of()"
It would be useful if the documentation noted how min_of() and max_of() treat null/empty values. A quick test shows that non-null values are preferred, but if all values are null, then the result is a null (rather than the query failing for instance).
Something like:
datatable (A:int, B:int)
[ 1, 2,
  2, 1,
  int(null), 1,
  1, int(null),
  int(null), int(null)]
| project max_of(A, B)

gives:
2,2,

[2021-09-21 17:16] BryanTrach-MSFT commented on #829
@MartinJaffer-MSFT Thanks for the feedback! We are currently investigating and will update you shortly.

[2021-09-22 15:50] MartinJaffer-MSFT commented on #829
Thank you for the detailed investigation and feedback, @mryn-tobii .  This looks like a good addition.

[2021-09-22 15:51] MartinJaffer-MSFT commented on #829
@orspod This document enhancement looks simple enough.  Should I attempt the edits, or would you prefer to do so?

[2021-09-23 12:09] smedegaard opened #831 "steps in order"
## Step 3 F
`helm install k2bridge charts/k2bridge -n k2bridge --set image.repository=$REPOSITORY_NAME/$CONTAINER_NAME --set settings.adxClusterUrl="$ADX_URL" --set settings.adxDefaultDatabaseName="$ADX_DATABASE" --set settings.aadClientId="$ADX_CLIENT_ID" --set settings.aadClientSecret="$ADX_CLIENT_SECRET" --set settings.aadTenantId="$ADX_TENANT_ID" [--set image.tag=latest] [--set privateRegistry

[2021-09-23 17:07] himanshusinha-msft commented on #831
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-09-28 18:17] himanshusinha-msft commented on #831
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-09-28 22:52] MartinJaffer-MSFT commented on #829
@orspod I am not a member of this repository, so I am assigning to you.

[2021-09-28 22:52] MartinJaffer-MSFT commented on #829
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2021-09-29 18:50] guregini commented on #831
Thanks @smedegaard for sharing this important feedback!
 We will add the 'create namespace' part.
Regarding the "set service.type=LoadBalancer", you said "should not come after the install command" - do you mean that it **should** be **placed** after the install command in the document?

[2021-10-04 05:12] AbhinavDAIICT opened #842 "Inconsistent Example of Innerunique Join"
While all other examples on this page use tables X and Y with keyset {a, b, b, c} and {b, c, c, d} respectively, the inner-join example uses different tables and keyset. Please consider using the same tables X and Y to illustrate innerjoins too. It helps beginners in comparing the results.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-10-04 08:09] CHEEKATLAPRADEEP-MSFT commented on #842
@AbhinavDAIICT  Thanks for the feedback! I have assigned the issue to the content author to evaluate and update as appropriate.

[2021-10-05 18:14] tikkanu opened #845 "Connect to Kusto Explorer"
Hi Team,

It is mentioned on this page that "You can run the queries using client tools that support Kusto queries, such as: Kusto Explorer, Azure Data Explorer Web UI, Jupyter Kqlmagic, Flow, PowerQuery, PowerShell, Lens, REST API."

Could you please explain how exactly would someone connect a Kusto Explorer to an Azure Log Analytics Workspace?

Thank you!

---
#### Document Details

⚠ *Do not ed

[2021-10-05 18:41] osalzberg commented on #845
Hi,

you can add a workspace just like any kusto cluster that you add, use the URL that is in the doc as the cluster URL

As I wrote in the doc,
In the Add Cluster window, add the URL of the LA or AI cluster.

In the Add Cluster window, add the URL of the LA or AI cluster.
For LA: https://ade.loganalytics.io/subscriptions/<subscription-id>/resourcegroups/<resource-group-name>/providers/microsoft.o

[2021-10-05 18:42] osalzberg commented on #845
I can see the the URL broke in the comment, use the ones that are in the [doc](aka.ms/adxproxy)

[2021-10-05 21:03] NickDorak opened #846 "Is there "Day of Week" for datetime_part()?"
I would like to build a chart that shows which day of the week is most busy (i.e. Sunday has 10 items, where Tuesday may have 100 items). Is there an option for "Day of Week" in the datetime_part() function?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 98fba875-6a28-3a22-9e4f-8366a8c9acc5
* Version Independent ID: 63

[2021-10-05 22:16] SaurabhSharma-MSFT commented on #846
@NickDorak Thanks for the feedback !  I have assigned this issue to content author to investigate and update as appropriate.

[2021-10-06 06:20] tikkanu commented on #845
Thank you for the response. I have tried this, and am getting the following error:

"Failed to connect to the cluster. Do you want to add this connection anyway?

Connection attempt resulted with the following error:
	Endpoint 'https://ade.loganalytics.io' is not responsive. This could indicate that the service in unavailable or does not exist"

NsLookup from my machine, resolves the host:

Non-au

[2021-10-06 07:17] osalzberg commented on #845
Hi,
I have just retried it in my lab environment. I have opened the latest version of Kusto Explorer, clicked on the Add connection button and copied and pasted `https://ade.loganalytics.io/subscriptions/<subscription-id>/resourcegroups/<resource-group-name>/providers/microsoft.operationalinsights/workspaces/<workspace-name>`, changed anything between the <> marks and clicked connect. it works.

C

[2021-10-06 07:54] tikkanu commented on #845
Hi Oren,

Sure. Will send it right away. Thanks!

[2021-10-06 08:13] YaelSchuster commented on #846
Hi @NickDorak, there is a dayofweek function here: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/dayofweekfunction

[2021-10-07 08:57] YaelSchuster commented on #846
I'm going to close the issue at this point. If you have any further questions, feel free to @ mention me or open another issue. Happy querying!

#please-close

[2021-10-07 11:48] shsagir commented on #752
Fixed in PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2127

[2021-10-07 11:53] YaelSchuster commented on #831
@smedegaard ping on the above question.

[2021-10-08 14:40] brandonh-msft commented on #359
@masisley indeed; they're transitioning to a new feedback system/site. I can only hope the existing entries aren't lost. If/when it comes back online and my request is still there, I'll update the links.

cc @MartinJaffer-MSFT

[2021-10-12 06:33] tikkanu commented on #845
@YaelSchuster yes, it has been switch to direct email, due to sensitive nature of the data shared, and I am waiting for an update from @osalzberg.

[2021-10-12 06:54] YaelSchuster commented on #845
@tikkanu ok thanks, so I'll let you two figure that out. @osalzberg please let me know if there are docs updates as a result.
At this time, I'm going to close this issue since you're otherwise in communication.
#please-close

[2021-10-12 06:55] YaelSchuster commented on #831
@smedegaard, since we haven't heard anything further, I'm going to close this issue. If you have further issues or questions, please feel free to @mention me or open a new issue. @guregini please let me know if you need my help with docs changes as a result.
#please-close

[2021-10-12 06:55] #831 closed

[2021-10-21 06:33] tikkanu commented on #845
Hey Oren,

Here is the screenshot i have also sent over email:

![kusto (002)](https://user-images.githubusercontent.com/31651387/138223684-753172a4-d062-4c78-a6b7-09c674dcfb81.png)

Thank you!

[2021-10-25 09:03] chribben opened #869 "How to query ADX from SSIS?"
The article states that "For example, you can create SSIS jobs to query Kusto with a KQL query." but who would one do this in practice?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eed42031-4dbf-b3d2-7488-cf202c7a2722
* Version Independent ID: af054c90-d722-d422-a5f2-41bef3ad2f40
* Content: [KQL over TDS - Azure Data

[2021-11-03 01:50] KhaoticMind opened #882 "KQL Command missing ticks"
The KQL commands provided on this page are incorrect, as they are missing the ticks for the function name, as an argument to the RLS policy.
Other pages (as https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/rowlevelsecuritypolicy) have the syntax correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-11-03 12:14] ShaikMaheer-MSFT commented on #882
@KhaoticMind Thank you for sharing your feedback. We are validating it. We will get back with updates soon.

[2021-11-03 21:40] szimmerMicrosoft opened #884 "Make term details more explicit on the has operator kusto documentation page"
The kusto documentation page on the "has" operator makes no reference to terms or the terms index discussed here.
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/datatypes-string-operators

This is vital information about the has operator which is not on the has operator documentation page in an explicit form, or even include a direct link to explain terms explicilty.

This led me

[2021-11-04 07:48] YaelSchuster commented on #884
@szimmerMicrosoft thanks for bringing this to our attention. Will add specific links to indexing discussion. A work item has been created for this task: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1891100
As such, closing this issue. Thanks for your help!

#please-close

[2021-11-04 07:48] #884 closed

[2021-11-04 10:16] tikkanu commented on #845
Hi @osalzberg ,

Do you have any news on this topic?

Thanks in advance!

[2021-11-04 10:36] osalzberg commented on #845
Hi,

Sorry but not really. Im still trying to figure out who owns the tool

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: tikkanu ***@***.***>
Sent: Thursday, November 4, 2021 12:17:08 PM
To: MicrosoftDocs/dataexplorer-docs ***@***.***>
Cc: Oren Salzberg ***@***.***>; Mention ***@***.***>
Subject: Re: [MicrosoftDocs/dataexplorer-docs] Connect to Kusto Explorer (

[2021-11-04 11:03] tikkanu commented on #845
No problem, Oren. I was just checking in, so to speak. Will wait patiently :)

Thank you!

[2021-11-05 03:12] justinmchase opened #886 "Please add an example of how to parse without losing all of your columns"
How can you use the parse step in conjuction with an extend? Syntactically it doesn't seem to work but when you add a `| parse` step to your query it drops all of the other columns.

I'm trying to do this query for example:
[code]

But the parse step removes all of the fields projected on the step before. I can't seem to use the parse in a join or in an extend or in a project step, so how on earth

[2021-11-05 11:40] ShaikMaheer-MSFT commented on #886
@justinmchase Thank you for sharing your valuable feedback. We are actively validating it. We will get back with updates soon.

[2021-11-07 06:03] shsagir commented on #869
@chribben Thanks for your patience. We are still looking into this and hope to get back to you soon.

[2021-11-07 07:46] YaelSchuster commented on #886
Hi @Justinmchase - to begin to answer your question,
the Parse operator adds additional columns, and doesn’t remove any. It's unclear what your question is in light of the behavior of the operator.

 If you're having problems with your query, please post your question to StackOverflow.
When posting question in StackOverflow – provide an input example using datatable() and expected output.

#please

[2021-11-07 07:46] #886 closed

[2021-11-07 09:24] YaelSchuster commented on #882
Hi @KhaoticMind Thanks for pointing that out to us and helping us to continually improve the docs.
Fixing that now.

[2021-11-07 10:38] YaelSchuster commented on #882
#please-close

[2021-11-07 10:38] #882 closed

[2021-11-08 15:41] justinmchase commented on #886
You're right somehow it wasnt' working for me but I think I had a bad query that was doing something I wasn't expecting. Please disregard.

[2021-11-09 23:11] ghogen opened #889 "Specify allowed values for step (bin size)"
By trial and error, I found out that `step 1m` means 1 minute, not 1 month, but this page doesn't list the possible step syntax
1d means 1 day, that's the only example available

Please list all possible syntax for "step"

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e79e226-f1e1-b6ec-f4aa-1a66

[2021-11-09 23:29] ghogen commented on #889
Apparently this is described in the timespan article. https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/scalar-data-types/timespan

[2021-11-10 04:47] ShaikMaheer-MSFT commented on #889
@ghogen Thank you for sharing your feedback. We are actively validating it. We will get back with updates soon.

[2021-11-10 09:25] YaelSchuster commented on #889
Hi @ghogen, sorry to hear that was confusing for you. I've added a link to this document: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/scalar-data-types/timespan which lists all the available timespan intervals. Hope that helps you and future customers! Thanks for contributing.

#please-close

[2021-11-10 09:25] #889 closed

[2021-11-10 13:15] MertUssakliMSFT opened #890 "On-behalf-of authentication using App Service Authentication"
Hi,

I am working on building a serverless web application hosted on Azure Functions. This application requires querying a Kusto database as its backend to display data for the users. To ensure that the users have proper access to the said Kusto database, I want to implement an on-behalf-of authentication flow. I am leveraging [App Service Authentication](https://docs.microsoft.com/en-us/azure/app

[2021-11-10 14:54] ShaikMaheer-MSFT commented on #890
@MertUssakliMSFT Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html).

[2021-11-11 04:26] #890 closed

[2021-11-11 07:22] shsagir commented on #869
@chribben Thanks for your feedback. Our investigation shows that the SSIS reference in this topic is a mistake. We'll be submitting a documentation change based on your suggestion. Please let us know if there's anything more we can do for you.

[2021-11-11 07:22] shsagir commented on #869
#please-close

[2021-11-11 07:22] #869 closed

[2021-11-11 19:42] mathaholic opened #893 "add column transformation example"
This page could give more clarity if it added a cheat sheet item for column transformations that do not require a group by.
For example:
SELECT
idColumn,
CAST(timestamp AS date) AS rowDate
FROM table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f392719-bd91-a626-7176-a95297e4ca99
* Version Independent ID: 362cb089-c

[2021-11-12 03:36] CHEEKATLAPRADEEP-MSFT commented on #893
@mathaholic  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the column transformation details.

[2021-11-14 07:29] YaelSchuster commented on #893
Hi @mathaholic, thanks for the suggestion. I've added this to our backlog of work items, where we will track here: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1893956

At this time, I'm going to close the issue. Please do continue to suggest ways to make our docs more useful!

#please-close

[2021-11-14 07:29] #893 closed

[2021-11-15 14:14] jovanroy opened #897 "Hardcoded value in example function code"
Hi,

An example function Test1 is included. While the example code is not incorrect, the function has a call to Test4 with a fixed value of 10, while it looks like the parameter id should be used in the call to Test4 instead of the fixed value 10. Otherwise, the output would always be 70, no matter which input value is provided as the id parameter. (See line 8 in the code underneath.)

[code]

---

[2021-11-15 15:54] ShaikMaheer-MSFT commented on #897
@jovanroy Thank you for sharing your valuable feedback. We are actively investigating it. We will share updates soon.

[2021-11-16 05:58] yuharucan opened #899 "Blob's SAS token maybe be expired."
[Enter feedback here]
Blob's SAS token maybe be expired.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7c010923-e011-6915-e3c4-6265fb997c35
* Version Independent ID: 6b102d99-8aae-bba3-0ddf-d4137c3d6434
* Content: [Ingest data using the Azure Data Explorer Python library](https://docs.microsoft.com/en-us/azure/data-ex

[2021-11-16 09:55] CHEEKATLAPRADEEP-MSFT commented on #899
@yuharucan Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/dataexplorer-docs/pull/900](https://github.com/MicrosoftDocs/dataexplorer-docs/pull/900)

![image](https://user-images.githubusercontent.com/79183421/141963203-2515313d-4415-43ae-b31d-627640bbb141.png)

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixe

[2021-11-17 11:49] raghuvamsi-disys opened #903 "Data Explorer with vnet deployment using Terraform"
Is there Terraform support to deploy Azure Data Explorer into vnet?

https://docs.microsoft.com/en-us/azure/data-explorer/vnet-deployment

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 501c33cd-0ac0-685b-0da1-03a269616d08
* Version Independent ID: 67e7428d-9b35-cb0c-7af9-6fc402848b8d
* Content: [Deploy Azure Data Explo

[2021-11-17 13:30] shsagir commented on #897
@jovanroy Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2021-11-17 13:30] #897 closed

[2021-11-17 13:33] shsagir commented on #899
Content is live.

#please-close

[2021-11-17 13:33] #899 closed

[2021-11-17 18:26] himanshusinha-msft commented on #903
Thanks for the ask  . At this time we are reviewing the ask and we will reply back as soon as we can .

[2021-11-19 11:50] Holger1968 opened #910 "decision tree has 2 redundant entries"
2 and 4 is the same

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6bba86f-f473-368c-e517-c02e4635119c
* Version Independent ID: 66be4c19-ccf8-a0e2-31b1-95a9d677ba12
* Content: [What is Azure Data Explorer?](https://docs.microsoft.com/en-us/azure/data-explorer/data-explorer-overview)
* Content Source: [data-explorer/d

[2021-11-19 15:26] KranthiPakala-MSFT commented on #910
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2021-11-21 13:30] asafnadler opened #912 "The example is missing the "database" keyword."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29c73c8b-48be-e8eb-0860-05f0e36d7e07
* Version Independent ID: a1213bb3-6969-5390-6e78-6f7851869666
* Content: [.show database ingestion batching policy command- Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/managemen

[2021-11-21 17:13] KranthiPakala-MSFT commented on #912
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2021-11-22 09:18] egoward opened #914 "Undocumented behavior : parse_json reformats strings that look like datetime assuming UTC"
parse_json is doing undocumented processing of string tokens that can be parsed as datetime

Test case:
  print parse_json('{"t":"2021-11-18T00:03:35"}');
Expected result:
  {"t":"2021-11-18T00:03:35"}
Actual result:
  {"t":"2021-11-18T00:03:35.0000000Z"}

This wasn't expected behavior for a JSON parser and is problematic for my use case which involves manipulating dates with business logic that w

[2021-11-22 09:50] YaelSchuster commented on #910
Thanks @Holger1968 for noticing that. Have opened WI to track this fix. https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1896675

#please-close

[2021-11-22 09:50] #910 closed

[2021-11-22 09:57] YaelSchuster commented on #903
Hi @raghuvamsi-disys please ask product questions on StackOverflow. Tag with Kusto and/or Azure Data Explorer. This forum is for docs-related issues only.

#Please-close

[2021-11-22 09:57] #903 closed

[2021-11-22 09:59] YaelSchuster commented on #912
Hi @asafnadler thanks for noticing that. I've fixed this in the docs and the changes will be live later today.
#please-close

[2021-11-22 09:59] #912 closed

[2021-11-22 15:46] Grace-MacJones-MSFT commented on #914
Hi @egoward, thanks for your feedback! We will review and update this doc accordingly.

[2021-11-23 06:37] miqm opened #917 "ParseUrl does not handle multiple query params with same key"
Hello,

I'm using parse_url function to get query params. However, if query is like `https://domain.com/a/b?c=1&c=2&c=3` and I call `parse_url(Url)["Query Parameters"]["c"]` I get as a result value `3` while it should be an array of all values: `[1,2,3]`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 25ef5c77-e818-8bf

[2021-11-23 08:53] ShaikMaheer-MSFT commented on #917
@miqm Thanks for the question. GitHub forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilize Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html).

[2021-11-23 10:14] YaelSchuster commented on #914
Hi @egoward, parse_json converts json string into dynamic objects, with possible type conversions into Kusto types involved.
You're correct- this wasn't clear from the documentation. I'm adding such a note now.

For the case where a strict parsing required, it's possible to use extract() or extractjson() functions.

[2021-11-23 10:17] YaelSchuster commented on #914
#please-close

[2021-11-23 10:17] #914 closed

[2021-11-24 09:49] miqm commented on #917
@ShaikMaheer-MSFT I do realise that, but this kind of limitation should be reflected in docs. Can you update the relevant section and clearly describe that parse_url returns only one query parameter - and which one - when multiple ones are supplied?

[2021-11-25 05:17] ShaikMaheer-MSFT commented on #917
@orspod Could you please validate feedback and update document as appropriate to reflect limitation in docs. Thank you.

[2021-11-25 11:40] hajekj opened #920 "Log Analytics Endpoint is wrong"
In the section [Add a Log Analytics/Application Insights workspace to Azure Data Explorer client tools](https://docs.microsoft.com/en-us/azure/data-explorer/query-monitor-data#add-a-log-analyticsapplication-insights-workspace-to-azure-data-explorer-client-tools) docs say to use `https://adx.monitor.azure.com/` but the address doesn't seem to work. I end up with `Failed to connect to cluster. Pleas

[2021-11-26 00:29] Grace-MacJones-MSFT commented on #920
Hi @hajekj , thank you for the detailed question. We are currently investigating and will update you when we have accurate information to provide.

[2021-11-27 04:13] osalzberg commented on #920
Hi @hajekj , there was an issue with one of my clusters. I am investigating it. at the meanwhile, I have updated the docs to a woking endpoint.

thanks

[2021-11-28 07:53] YaelSchuster commented on #920
#please-close

[2021-11-28 07:54] #920 closed

[2021-11-28 14:41] YaelSchuster commented on #917
Hi @miqm thanks for reaching out with your question. I've checked with the product team, and learned the following:

If there are multiple parameters with the same key, the last one is returned.

I've opened a PR to change this in the docs.

At this time I'm going to close the PR, but please feel free to reach out with other docs questions and issues!

#please-close

[2021-11-28 14:41] #917 closed

[2021-11-29 07:26] alexchen2016 opened #923 "wrong endpoints"
In segment "Additional syntax examples", for endpoints in the China 21Vianet, should be "cluster(`https://adx.monitor.azure.cn..."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6f6c8fe3-d9a3-f11b-cfe7-f0f67f44b0d5
* Version Independent ID: 418e6ed4-24b4-689b-50fc-490441dc393c
* Content: [Query data in Azure Monitor wi

[2021-11-29 09:03] osalzberg commented on #923
Thanks! My typo

Fixed it

Best regards,
Oren Salzberg

From: Alex Chen ***@***.***>
Date: Monday, 29 November 2021 at 9:27
To: MicrosoftDocs/dataexplorer-docs ***@***.***>
Cc: Oren Salzberg ***@***.***>, Mention ***@***.***>
Subject: [MicrosoftDocs/dataexplorer-docs] wrong endpoints (Issue #923)

In segment "Additional syntax examples", for endpoints in the China 21Vianet, should be "cluster(`htt

[2021-11-29 09:35] ShaikMaheer-MSFT commented on #923
@alexchen2016 Thank you for sharing feedback. We are actively monitoring it. We will share updates soon.

[2021-11-29 09:36] osalzberg commented on #923
Hi, I have updated the docs. I had a typo.

thanks Alex

[2021-11-30 02:02] natasha-tahariya commented on #72
@MRBreen - were you able to resolve the issue ? and how ?

[2021-11-30 17:35] ShaikMaheer-MSFT commented on #923
Thank you @osalzberg. Closing issue as doc update taken care.

[2021-11-30 17:35] #923 closed

[2021-12-03 10:27] e4ch opened #931 "Bug in 50M data query"
The sample query "50M data query" in that article seems to have a bug:
* The first line "EventType = rand(3)" creates a random integer between 0...2
* The "extend EventType=case(EventType..." indicates that it wants to convert these three numbers into letters A, B, C. This does not work; only letters A and B are generated.
The reason is that the numbers are integers, not float. So "EventType <= 1"

[2021-12-03 18:48] himanshusinha-msft commented on #931
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-06 16:53] Assafkalfa opened #935 "Question - Can I define the delimiter"
delete pls, tnx

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 278a7ae3-4eba-a252-b4e8-66e04ea280a5
* Version Independent ID: 6812cf36-c5de-eefb-2217-a89d0efe221f
* Content: [extract() - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/extractfunction)
* Content Source: [data-explorer/k

[2021-12-06 16:55] #935 closed

[2021-12-07 01:19] slowlyswimming opened #938 "Wrap kql code into a python function"
Hi,

Is it possible to wrap a piece of kql code into a python function in a notebook cell? Like this:

def func(a):
    %%kql
    let _a = a;
    DB
    | where cname == _a

    df = _kql_raw_result_.to_dataframe()
    return df

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f497838f-e309-f36a-43af-6d58b5e6b1e9
* Versi

[2021-12-07 04:16] AjayKumar-MSFT commented on #935
Assafkalfa,  Thanks for leveraging Azure docs feedback channel to raise this question and much appreciate the follow-up. Since you have closed the thread I presume the issue is resolved, if it's not the case or you need further assistance kindly just let us know.

- As a side note, this channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

[2021-12-07 04:31] ShaikMaheer-MSFT commented on #938
@slowlyswimming Thank you for sharing your feedback. We are actively validating it. We will share updates soon.

[2021-12-07 06:49] slowlyswimming opened #939 "ChunkedEncodingError: Connection broken"
Hi,

When I query by using %%kql code, I have the following error message:

ChunkedEncodingError: ("Connection broken: ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None)", ConnectionResetError(10054, 'An existing connection was forcibly closed by the remote host', None, 10054, None))

But when I limit the results in few rows,e.g.,
| limi

[2021-12-07 09:32] ShaikMaheer-MSFT commented on #939
@slowlyswimming Thanks for the question. Github forum is dedicated for docs related issues. For any technical queries or clarifications, we encourage to utilise Microsoft Q & A platform. Kindly raise your query on [Microsoft Q&A Platform](https://docs.microsoft.com/en-us/answers/index.html)

[2021-12-08 00:52] slowlyswimming commented on #939
Thanks @ShaikMaheer-MSFT for sharing me the correct place. I will close this ask and post there.

[2021-12-08 00:52] #939 closed

[2021-12-08 07:50] shsagir commented on #931
@e4ch Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2021-12-08 07:50] #931 closed

[2021-12-08 12:47] ShaikMaheer-MSFT commented on #938
@slowlyswimming As explained in below link. Using Python variables in your KQL Query is possible.
https://docs.microsoft.com/en-us/azure/data-explorer/kqlmagic#use-a-python-variable-in-your-kql-query

Converting Query results to Pandas data frame is also possible.
https://docs.microsoft.com/en-us/azure/data-explorer/kqlmagic#convert-query-results-to-pandas-dataframe

So, its feasible i feel. Are y

[2021-12-08 12:49] garybusheyWork opened #940 "Add a link to the case statement"
This page should have a link to the case statement under the Recommended Content as that is the next logical step if you have multiple iif statements.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5887c53-5505-7e1b-4592-c1d74d405c23
* Version Independent ID: c7a8a32a-7906-b341-f88a-b552d39ac8df

[2021-12-08 16:27] ShaikMaheer-MSFT commented on #940
@garybusheyWork Thank you for sharing feedback. We are actively validating it. We will share updates soon.

[2021-12-09 08:42] Ashikin8888ckin opened #942 "Microsoft Azure Data kemas kini"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2ccc4c6-423a-bab8-e5b9-6c05c75a6773
* Version Independent ID: 0be88948-94c9-3d05-0032-5bb0de9ae8f8
* Content: [.show workload group command - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/show-workload-gro

[2021-12-09 14:05] shsagir commented on #940
@ShaikMaheer-MSFT Thanks for the suggestion. The recommended content is autogenerated by the build system and, as such, cannot be updated manually.

#please-close

[2021-12-09 14:05] #940 closed

[2021-12-09 14:06] shsagir commented on #938
@ShaikMaheer-MSFT Thanks for responding to the question.

#please-close

[2021-12-09 14:06] #938 closed

[2021-12-09 14:09] shsagir commented on #942
@Ashikin8888ckin Please can you provide a little more detail on the issue you raised, @mention me, and then reopen it. Thanks.
No information is provided, so closing the issue for now.

#please-close

[2021-12-09 14:09] #942 closed

[2021-12-14 13:17] nischai-vinesh opened #947 "KQL 'has_any' operator does not capture all values"
Hi,
I am trying to match a set a keywords for filtering purposes and it seems that "contains" and "has_any" operators work differently. My assumption was "contains" is used to search for a single value and has_any / has_all can be used to check if multiple keywords are present in the data values. To explain this, I creates a dataset and filter queries as below:

"Contians" returns **8 records**:

[2021-12-14 19:35] SatishBoddu-MSFT commented on #947
Hello [@nischai-vinesh](https://github.com/nischai-vinesh)

Our SME will review your feedback soon.

[2021-12-15 18:08] abenisek opened #950 "Operation state missing "Throttled" as a valid option"
![image](https://user-images.githubusercontent.com/32983397/146239970-a11f28d8-6a14-4a92-b6d7-b6fa6eba76c7.png)

Documentation states that azure data explorer can only have 3 states, however, I see a 4th state of "Throttled" when running ".show commands-and-queries."

![image](https://user-images.githubusercontent.com/32983397/146240528-fd6f9005-a9b5-46b9-8b2b-e5e5d8de498a.png)

Can this documenta

[2021-12-15 18:23] himanshusinha-msft commented on #950
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2021-12-16 12:25] slavikn84 commented on #947
Hi,

`contains` and `has` operators indeed work differently. While `contains` matches substrings in a string, `has` matches full [terms](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/datatypes-string-operators#what-is-a-term) in a string.

So:
* `"ManagerGeneral" contains "General"` will return `true`
* `"ManagerGeneral" has "General"` will return `false`
* `"Manager-General" ha

[2021-12-16 14:05] jumacabo opened #951 "Would be nice to have examples on how to do this using azure-cli"
Azure cli is one of the prefered tools for many people for provisioning and configuring azure resources.

Would be great to have some example on how to do it with "az cli" too.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0641250b-48bc-c32c-2c87-51fdc8bfd6d7
* Version Independent ID: 9a7e16a5-b138-dcb1-6fed-aedeb683a

[2021-12-16 15:24] nischai-vinesh commented on #947
Hi @slavikn84,

Thanks for the reply and understands the logic of "has" now. But is there a way to filter data/strings based on multiple keywords, need not be "terms"? I know I can use multiple "contains" along with "or/and" operators. I am looking for a solution where I can define a set of keywords into a list and use it in the code. If required in future, change only that list rather than changi

[2021-12-16 16:05] ShaikMaheer-MSFT commented on #951
@jumacabo Thank you for sharing your valuable feedback. We are actively validating it. We will share updates soon.

[2021-12-16 17:53] slavikn84 commented on #947
Because `contains` looks for any substring, it doesn't take advantage of the bloomfilters, so it's much slower than `has`. That's why we implemented `has_any` and `has_all`, but didn't implement `contains_any` and `contains_all`. To do multiple lookups with `contains` you have no choice but to write something like `(Col1 contains "xx") or (Col1 contains "yy") or (Col1 contains "zz")`. But as I wro

[2021-12-16 18:37] astafan8 opened #953 "Mention that Path property in JSON ingestion mappings uses JSONPath format"
It would be great if for JSON mapping definition, for the Path property specifically, it would be stated explicitly that the format of that is JSONPath (https://restfulapi.net/json-jsonpath/). I could not bing/google this fact online, hence had to do a little investigation. Thankfully the one-click json ingestion doc page https://docs.microsoft.com/en-us/azure/data-explorer/ingest-json-formats?tab

[2021-12-17 00:59] SatishBoddu-MSFT commented on #953
[@astafan8](https://github.com/astafan8)
I have assigned the issue to the content author for further review.

[2021-12-17 18:47] himanshusinha-msft commented on #950
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2021-12-19 08:55] shsagir commented on #947
@slavikn84 Thanks for responding
@nischai-vinesh Thanks for your question. I believe your query has been answered and am closing this issue.

To follow up on this issue, please check if the answer is on the [Azure Data Explorer Q & A](https://docs.microsoft.com/en-us/answers/topics/azure-data-explorer.html) or ask a question there.

@please-close

[2021-12-19 08:55] #947 closed

[2021-12-19 08:59] shsagir commented on #950
@abenisek Thanks for your feedback. We've submitted a documentation change based on your suggestion, and updated the article. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2021-12-19 08:59] #950 closed

[2021-12-19 09:03] shsagir commented on #951
@jumacabo Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your

[2021-12-19 23:44] gholliday opened #956 "Add "Errors and Exceptions" page for Kusto.Data .NET SDK"
There is a [Errors and Exceptions](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/netfx/kusto-ingest-client-errors) page for the `Kusto.Ingest` SDK. Would it be possible to create a similar page relating to the `Kusto.Data` SDK?

For example, it would be useful to know that `KustoRequestThrottledException` is the exception type that a client will hit when their requests are throttl

[2021-12-20 03:17] SatishBoddu-MSFT commented on #956
[@gholliday](https://github.com/gholliday)
I have assigned the issue to the content author for further review.

[2021-12-20 06:07] ShaikMaheer-MSFT commented on #951
@orspod Customer is looking for adding CLI details also in the doc to work with identities for your Azure data explorer cluster. Could you please validate feedback and enhance document as appropriate. Thank you.

[2021-12-20 07:23] shsagir commented on #956
@gholliday Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. Your

[2021-12-20 11:46] sigorbor commented on #953
@astafan8 ADX indeed uses a JsonPath notation (JsonPath doesn't have an official RFC, BTW), but only a subset is supported. Currently, we don't implement wildcards/recursion/union/slices/current node/script expressions. Our documentation on that definitely needs improvement, thanks for pointing this issue out!

[2021-12-20 12:00] astafan8 commented on #953
@sigorbor thank you for the response and these details! i'll be looking forward to adding even your response to the docs :)

[2021-12-21 06:37] shsagir commented on #951
@jumacabo Thanks for your feedback. We’ll be submitting a documentation change based on your suggestion, though it may take a little while as people are on vacation. When the change is ready, we'll add the pull request to this issue, but in the meantime, we're closing the issue. Please let us know if there’s anything more we can do for you. To follow up on this issue, leave us a comment with an @m

[2021-12-21 06:37] #951 closed

[2021-12-22 09:19] sigorbor commented on #953
@astafan8 we added JSONPath documentation to the docs

https://docs.microsoft.com/en-us/azure/data-explorer/ingest-json-formats?tabs=kusto-query-language#ingest-json-records-containing-dictionaries
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/jsonpath

Thanks again for letting us know

[2021-12-22 09:26] astafan8 commented on #953
@sigorbor this is great! thank you so much!

the only little detail: the example in https://docs.microsoft.com/en-us/azure/data-explorer/ingest-json-formats?tabs=kusto-query-language#ingest-json-records-containing-dictionaries uses ``"$.event[?(@.Key == \'timestamp\')].Value"`` while it is not specified in the table here https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/jsonpath, bu

[2021-12-24 21:49] yang-jiayi opened #963 "Incorrect calculation result of KQL of sample"
`
let foo1 = (_start:long, _end:long, _step:long) { range x from _start to _end step _step};
let foo2 = (_step:long) { foo1(1, 100, _step)};
foo2(2) | count
`
The calculation result here is 50. Not 20.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 741d0e14-4a3f-af28-1d6e-e6a6dd3dd414
* Version Independent ID: 731bbd4d

[2021-12-25 00:30] JamesTran-MSFT commented on #963
@yang-jiayi
Thanks for your feedback! We will investigate and update as appropriate.

[2021-12-26 07:50] shsagir commented on #963
@yang-jiayi Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2021-12-26 07:50] #963 closed

[2021-12-26 10:20] emondoni-amplifon opened #964 "top-nested wrongly listed as an operator emitting serialized output?"
Hi,

this page lists `top-nested` as an operator emitting serialized output, but it looks like it is not.

This indication is at odds with the documentation of the `serialize` operator, which includes `top-nested` among the operators whose output is non-serialized. Furthermore, a proof-of-concept query on the Log Analytics demo environment seems to confirm that `top-nested` does not emit serialize

[2021-12-26 11:13] GitaraniSharma-MSFT commented on #964
@emondoni-amplifon , thank you for your feedback. We'll investigate and update as appropriate.

[2021-12-27 04:58] AnnuKumari-MSFT commented on #964
@orspod Requesting to validate customer feedback and update the document accordingly as appropriate. Thankyou

[2021-12-27 08:54] shsagir commented on #964
@GitaraniSharma-MSFT Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2021-12-27 08:54] #964 closed

[2021-12-30 15:58] vRachelBell commented on #349
This issue was addressed with PR #2647 (https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2647)

[2022-01-03 08:45] shsagir commented on #953
@astafan8 Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

We're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution to our community.

#please-close

[2022-01-03 08:45] #953 closed

[2022-01-03 12:00] alexs77 opened #973 "Example doesn't work with current az setup. Wrong syntax."
Example doesn't work with current `az` setup. Wrong syntax.

[code]

[code]

It has to be `-n`, per the help output:

[code]

The create database is even more broken:

[code]

Help:

[code]

Correct syntax:

[code]

And even then there's a warning:

**This command is implicitly deprecated because command group 'kusto database' is deprecated and will be removed in a future release. Use '"az extensi

[2022-01-03 17:57] KranthiPakala-MSFT commented on #973
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2022-01-04 17:35] alexs77 commented on #973
Yes, as I wrote, with the addon installed, it works. Maybe I wasn't
clear enough. :-)

But then there's still an error in the docs, because the docs don't
instruct, that the addon has to be installed first.

In my opinion, the docs should either work with the old syntax, as that's
what's there when the "non Experimental" plain az cli is installed.
Or the docs should make it clear, that the extensi

[2022-01-06 14:03] shsagir commented on #973
@alexs77 Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-01-06 14:03] #973 closed

[2022-01-07 07:30] shsagir commented on #956
@gholliday Thanks so much for taking the time to leave us your comment on our documentation. We're researching your issue to update the page based on your suggestions. If relevant, changes will be made in the next possible publish.

We're closing this as an open issue for now, but feel free to continue to comment here as necessary. We appreciate your contribution to our community.

#please-close

[2022-01-07 07:30] #956 closed

[2022-01-09 23:00] iwafula025 opened #979 "sc vs cs"
is the sc here supposed to be cs ?
String matching extensions: String literals that appear as terms in the SearchPredicate indicate a term match between all columns and the literal using has, hasprefix, hassuffix, and the inverted (!) or case-sensitive **(sc)** versions of these operators.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2022-01-10 03:45] SnehaAgrawal-MSFT commented on #979
@iwafula025 Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-01-10 04:24] CHEEKATLAPRADEEP-MSFT commented on #979
Thanks for pointing out the issue, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2691](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/2691)
The changes should be live soon. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contributions.

[2022-01-12 07:51] CHEEKATLAPRADEEP-MSFT commented on #979
@iwafula025 Now the changes are live.

![image](https://user-images.githubusercontent.com/79183421/149085875-8885c5b1-e880-4337-9b87-0c29273e2354.png)

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-01-12 07:51] #979 closed

[2022-01-12 12:52] helderpinto opened #983 "parse_ipv6 example query incorrect (copy-paste typo from parse_ipv4_mask)"
The example query for the `parse_ipv6` function is unrelated with the function as it is using content that should have been used in the `parse_ipv4_mask` function example. This seems a copy-paste typo.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 081657b6-f5c0-42c4-d360-8fb00887fa61
* Version Independent ID: ecf247ab

[2022-01-12 20:02] 0xThiebaut opened #985 "Best practices regarding the usage of the `in` operator against the `join` operator?"
Would it be possible to provide best practices regarding the usage of the `in` operator against the `join kind=leftsemi` operator when the outer table is large with a single column?

#### Using the `join` operator.
[code]

#### Using the `in` operator.
[code]

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8936

[2022-01-12 22:39] KranthiPakala-MSFT commented on #983
Thanks for the feedback! We have assigned the issue to the content author to further review this and update the document as appropriate.

[2022-01-13 03:35] CHEEKATLAPRADEEP-MSFT commented on #985
@0xThiebaut  Thanks for the feedback! I have assigned the issue to the content author to evaluate and add the above details.

[2022-01-13 13:10] shsagir commented on #983
@helderpinto Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close

[2022-01-13 13:10] #983 closed

[2022-01-13 13:11] shsagir commented on #985
@0xThiebaut Thanks for contacting us with feedback about our product documentation. Depending on the complexity, it could take from a few business days to a few weeks to look further into your question, issue, or suggestion. We'll contact you if we need further information, and you'll receive an email message each time we "@mention" you in a comment.

Thanks again for submitting your feedback. You

[2022-01-14 10:32] shsagir commented on #985
@name Thanks for your feedback. We've submitted a documentation change based on your suggestion, and the updated article should be live by tomorrow. Please let us know if there's anything more we can do for you. To follow up on this issue, leave us a comment with an @mention.

#please-close