[2020-04-15 15:16] jikuja opened #3 "Example of nested let statements is missing"
Looks like example of nested let statements is missing even text mentions it. The example is identical with the example of multiple let statements.

Also it should be noted if multiple let statements and access previously defined value or not. (Recursive let statements)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74

[2020-04-15 16:09] jikuja opened #4 "Suggest alternatives for dynamic table creation if available"
Documentation states following:
&gt; ScalarValue: A constant scalar value to insert into the table.
which is easy to understand. Is there any alternatives if I e.g. need to create datetime with ago()-function or refer data created with let statements?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97de494f-8a36-e9ee-45

[2020-04-16 09:56] Leybl opened #7 "Typo on this page: deafults should be defaults"
Typo on this page: deafults should be defaults

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 19a65aa5-0a6b-9916-e201-45fb67154e30
* Version Independent ID: e68aa06e-8811-a52b-8629-ffe7ada9accf
* Content: [Embed Web UI in an iframe - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/mo

[2020-04-16 10:58] orspod commented on #4
@jikuja - thank you for your contribution
@Mike-Ubezzi-MSFT - note issue in new repo
@yonileibowitz or @sloutsky please advise

[2020-04-16 10:58] orspod commented on #3
@jikuja - thank you for your contribution
@Mike-Ubezzi-MSFT - note issue in new repo
@yonileibowitz or @sloutsky please advise

[2020-04-16 14:40] yonileibowitz commented on #4
if i understand the question correctly, you could achieve that using the `print` operator
for example: `print dt1 = ago(7d), dt2 = now()+5m`.

as mentioned in the docs, the `datatable` operator requires scalar constant values (which `ago(7d)`, for example, is not)

[2020-04-16 14:42] yonileibowitz commented on #3
@jikuja, thanks for letting us know - we'll update the example to include nested `let` statements

[2020-04-16 16:52] jikuja commented on #4
Nice workaround but is there easy way to do multiline table?

[2020-04-16 16:54] yonileibowitz commented on #4
@jikuja, it may help if you provide your use case, and a sample for what you're trying to achieve.
reasoning: there are several ways, and we prefer providing you with one which is relevant to your use case (and not shoot in the dark)

[2020-04-16 17:10] jikuja commented on #4
My original plan was to do following:

[code]
and this table is reused by joining with other tables. Looks like this idea has multiple issues I found out after writing first version of the code.

Changing data type partially fixes the problem:
[code]

but this still has no easy way to define default value.

Because schema of myData is simply I probably should use dynamic object are rewrite joins I

[2020-04-16 17:14] yonileibowitz commented on #4
thanks @jikuja.
how about this as an option?
[code]

[2020-04-16 18:40] jikuja commented on #4
Thanks. That did the trick. Now I just need to choose the best approach.

[2020-04-16 20:52] orspod commented on #4
@yonileibowitz thanks for your assistance.
@jikuja, now that the issue is resolved, i am moving to close the issue.

[2020-04-16 20:52] #4 closed

[2020-04-16 20:55] orspod commented on #3
@yonileibowitz thanks for your assistance and for updating the docs.
@jikuja thanks for your feedback. Since doc has been updated, I will close the issue.

[2020-04-16 20:55] #3 closed

[2020-04-16 20:59] orspod commented on #7
@Leybl - thanks for your feedback. The following PR was created to fix the issue: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/25
I will now close the issue.

[2020-04-16 20:59] #7 closed

[2020-04-20 05:10] sloh-ms opened #15 "Need example CSV to go with this"
First, it would be more helpful to have a sample CSV file that would be ingested with this mapping.  I find myself reading this and wondering if a rownumber/rowguid are metadata that are ingested with every CSV file, or just the sample data we can't see.  If the latter - if the CSV being ingested has columns called rownumber/rowguid - that's confusing.  Consider changing to a more obvious sample s

[2020-04-20 05:38] sloh-ms opened #16 "This page should link to the "Mappings" page"
It would have been helpful to have a link here.
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/mappings

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a0013a7e-ee3a-6be5-64eb-a38b5f6c03a8
* Version Independent ID: ddaaa167-ce5c-5296-c403-9d3e354f315a
* Content: [.create ingestion mapping - Azure

[2020-04-20 08:26] ashwini-git opened #17 "ADX External Table fetches no data"
i followed the document to create external table in ADX from ADLS 2. But external_table('table_name','mapping') fetches no records. Here are the steps i performed:
Created External Table:

[code]
_secret key : taking it from access keys in ADLS._

**JSON Mapping Created:**
`.create external table extable json mapping "map" '[{ "column" : "AppId", "datatype" : "string", "path" : "$.AppId"}]'`

Exte

[2020-04-20 09:17] #17 closed

[2020-04-20 09:19] ashwini-git commented on #17
i didn't kept the folder structure right , which caused the issue. its resolved closing it.

[2020-04-20 14:52] dciborow opened #18 "Out of date"
This guidance (and tooling) needs to be updated for actualling using DevOps pipelines, not the outdated release pipeline.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d6cb9693-823a-74c8-4af4-2ad8118256e7
* Version Independent ID: c2e9e58b-75e1-9cde-4fb5-5cd0aad043fd
* Content: [Azure DevOps task for Azure Data Explor

[2020-04-20 15:00] orspod commented on #15
@sloh-ms - thanks for your feedback
@kerend - please advise re: needed changes to update this doc as requested

[2020-04-24 01:00] rtaylor72 opened #30 "Issues with NULL values"
I setup 2 tables (let statements) and did a full outer join.  I then was doing a sort with max_of() between a column in each table of type decimal and getting weird inconsistent results.  When I added the max_of as a projected column, its value was sometimes blank.
This fixed some of the issues:
| sort by max_of(iif(isnotempty(FEDuration),FEDuration,todecimal(0)), APIDuration);
but I had to do thi

[2020-04-24 17:04] smartpcr opened #32 "how to add permission programatically"
[Enter feedback here]

Kusto is using different model for access control, roles such as admin, viewer, injestor, etc cannot be managed via az-cli.

Are there alternative to manage these permissions using code?

thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dbcf6abb-8fab-4656-8e36-0828841c1b11
* Version Independ

[2020-04-26 09:48] orspod commented on #15
@kerend - is the information documented elsewhere? please advise if there are needed changes to this doc.

[2020-04-26 09:53] orspod commented on #30
@rtaylor72 - thanks for your feedback and question.
@yonileibowitz - can you please assist @rtaylor72 with an answer to this issue?

[2020-04-26 10:01] orspod commented on #18
@dciborow - thanks for your feedback and input. I am tagging our content experts for this topic: @ManojRaheja and @grawcho, please advise re: needed changes.
I created a [WI](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1711734) to follow up. Thanks!

[2020-04-26 10:01] orspod commented on #18
@dciborow - I am now moving to close this issue.

[2020-04-26 10:01] #18 closed

[2020-04-26 10:05] kerend commented on #15
Please review [concept document](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/mappings) on mappings:
rownumber/rowguid are predefined columns on the table. Properties field in mapping tells where to take the column from. For CSV, it's column ordinal in ingested data file.
By default, CSV is not expected to have titles row, if the file has titles, please use ignoreFirstReco

[2020-04-26 11:08] orspod commented on #15
@sloh-ms please LMK if @kerend comments answered your question.
@sloutsky can you please answer the second question: "Second, I've seen online samples showing you can use the mapping to insert const data. This doc says nothing about that."

[2020-04-26 11:16] orspod commented on #32
@smartpcr - thank you for your question.
We have 6 how-to docs that may be helpful to you. They include adding cluster / database principals using C#, Python or ARM. See the following links as examples:
https://docs.microsoft.com/en-us/azure/data-explorer/database-principal-csharp
https://docs.microsoft.com/en-us/azure/data-explorer/cluster-principal-python

[2020-04-26 11:27] sloutsky commented on #15
@orspod - you can see that today's document has example how to insert constant data.
Attaching screenshot from https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/mappings#csv-mapping

![image](https://user-images.githubusercontent.com/17802887/80306115-f5309700-87c9-11ea-9cb6-577234adde32.png)

[2020-04-26 11:30] orspod commented on #15
@sloutsky - thanks so much for the quick response.
@sloh-ms - I hope this answers both your questions. Please let us know if you require additional assistance or clarification.

[2020-04-26 11:41] orspod commented on #16
@sloh-ms - I added the link as requested. Closing this issue.

[2020-04-26 11:41] #16 closed

[2020-04-27 10:37] deyanp opened #37 "Network-secured Event Hub?"
What about event hub which is network-secured (Event Hubs -&gt; Networking -&gt; Firewalls and virtual networks -&gt; Selected Networks) with "Allow trusted Microsoft services to bypass the firewall" = Yes?
Would the ingestion work?
If not, how can I allow access to ADX in Event Hubs -&gt; Networking -&gt; Firewalls and virtual networks -&gt; Selected Networks based on Public IP Address range (e.g

[2020-04-27 10:53] deyanp opened #38 "Wrong step and link?"
Create public IP addresses -&gt; 2. Search for Network Security Group should be I guess 2. Search for Public IP Address instead ..

Next Steps -&gt; Deploy Azure Data Explorer into your Virtual Network seems to be linked with the current page, but I guess it should be linked to https://docs.microsoft.com/en-us/azure/data-explorer/vnet-deployment

---
#### Document Details

⚠ *Do not edit this sect

[2020-04-27 11:05] orspod commented on #38
@deyanp thanks for your feedback. The doc has been updated with the correct link.
Can you please clarify your first question so @basaba can assist.

[2020-04-27 11:41] deyanp commented on #38
My first point was related to the section "Create public IP addresses" in which step 2 says " Search for **Network Security Group**" which may be wrong, I would expect "Search for **Public IP Address**" instead

[2020-04-27 11:56] orspod commented on #37
@deyanp - thanks for your feedback/question.
@basaba - can you please assist?

[2020-04-28 07:58] orspod commented on #38
@deyanp - thank you for your feedback. I made the necessary change. Moving to close the issue.

[2020-04-28 07:58] #38 closed

[2020-04-28 14:46] HinaMS opened #40 "Search++ Kusto feature is not working"
Hello Team,

Search++ Kusto feature is not working as mentioned in Document - https://docs.microsoft.com/en-us/azure/data-explorer/kusto/tools/kusto-explorer#search-mode
It seems this feature is either deprecated or there is a bug or documentation needs to updated with correct steps.

Regards,
Hina Sharma
Support Escalation Engineer
Microsoft Dynamics 365

---
#### Document Details

⚠ *Do not edit

[2020-04-28 23:48] dellch opened #42 "Text references "table below" which doesn't exist"
On page `Azure  / Azure Data Explorer / Kusto / Query Language / Reference material for Kusto Query Language / RE2 syntax`, the second paragraph has the statement:

But the page contains no table

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4453d290-493e-74a0-3ada-1bd39bfbd587
* Version Independent ID: 275a219c-9449-

[2020-04-29 05:31] evilches opened #43 "Cannot compare dynamic values without explicit cast"
The main example:
print extract_all(@"(\d+)", "a set of numbers: 123, 567 and 789") == dynamic(["123", "567", "789"])
throws the error: Cannot compare dynamic values without explicit cast

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: df27c2b2-99c9-ed18-5b94-85e506132632
* Version Independent ID: d77fe688-fe1d-1c4f-eac

[2020-04-29 11:35] dciborow opened #44 "Import a ntebook."
In addition (I'd say in place of) the provided notebook. I would link to here. This is what you will want to use on DataBricks with Spark, not the regular python client. I knew something was fishy when it was a pip install here and not a maven install. Get the Spark Connector from Maven, "com.microsoft.azure.kusto:spark-kusto-connector:1.1.2"
https://github.com/Azure/azure-kusto-spark/blob/master/

[2020-04-29 11:43] dciborow opened #45 "This doc should include databricks in title"
The "Connect from Databricks using Python" document is a trap. This is what anyone going to databricks should be using...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa46bfb-17f8-a18d-50a5-eaad4c85ae19
* Version Independent ID: ac1fc513-55d6-203a-ce2c-bae250d126d4
* Content: [Use the Azure Data Explorer connector f

[2020-04-30 07:37] orspod commented on #15
@sloh-ms - I believe that we've answered both your questions. Please let us know if you require additional assistance.
@KalyanChanumolu-MSFT  - please close the issue.

[2020-04-30 07:38] orspod commented on #30
@yonileibowitz - can you please assist @rtaylor72 with an answer to this issue?

[2020-04-30 07:40] orspod commented on #32
@smartpcr - please LMK if your question was addressed.

[2020-04-30 07:40] KalyanChanumolu-MSFT commented on #15
@sloh-ms We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-04-30 07:40] #15 closed

[2020-04-30 10:12] orspod commented on #43
@evilches thanks for your feedback.
@yonileibowitz - can you assist re: this question?

[2020-04-30 10:17] orspod commented on #44
@dciborow - thanks for your feedback.
@ManojRaheja - please assist with the question and LMK if doc changes are necessary?

[2020-04-30 10:19] orspod commented on #45
@dciborow - thanks for your feedback. I believe it is connected to your other issue: https://github.com/MicrosoftDocs/dataexplorer-docs/issues/44
@ManojRaheja - please assist with the request.

[2020-04-30 10:32] orspod commented on #40
@HinaMS - Thanks for your feedback. There is an open PR on the update for this functionality.
https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/16 . It should be live early next week

[2020-04-30 10:37] orspod commented on #42
@dellch thanks for your feedback. I am investigating the matter further and will update.

[2020-04-30 10:58] HinaMS commented on #40
I can’t access the PR information .
[cid:image001.png@01D61EB4.4B0B59F0]

From: orspod <notifications@github.com>
Sent: Thursday, April 30, 2020 5:33 AM
To: MicrosoftDocs/dataexplorer-docs <dataexplorer-docs@noreply.github.com>
Cc: Hina Sharma <hinas@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dataexplorer-docs] Search++ Kusto feature is not working (#40)

@Hin

[2020-04-30 11:19] cosh commented on #37
Allow trusted Microsoft services to bypass this firewall? -> "This setting is related to firewall only. In order to access this event hub, the trusted service must also be given explicit permissions in the Access policies section."

if you would love to secure the eventhub to adx connection then you should deploy adx into a vnet https://docs.microsoft.com/en-us/azure/data-explorer/vnet-deployment

[2020-04-30 11:31] deyanp commented on #37
Thanks, @cosh , thus is what I have to do (spawn a new cluster and migrate all data to it somehow)

[2020-04-30 14:52] yonileibowitz commented on #30
@rtaylor72 - would you be able to provide a minimal input data set (using the `datatable` operator) that allows running your query, and the expected result for it? it's currently hard to deduce that from the verbal description.

also - consider posting technical questions to StackOverflow (under the `kusto`, `azure-data-explorer` or `kql` tags) instead of here (as this is not monitored by the Prod

[2020-04-30 14:53] yonileibowitz commented on #43
thanks @evilches, we'll have the example in the docs updated

[2020-04-30 19:40] yonileibowitz commented on #43
resolved by https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/125

[2020-04-30 23:47] jacobwbutler opened #52 "Spelling Error"
"The above will restrict the query access to the following entites:" -&gt; "entities:"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9edad54-ecb5-dc20-970d-214cce195a6f
* Version Independent ID: 9db1a075-410f-2933-6414-b92e5efd6385
* Content: [Cross-database and cross-cluster queries - Azure Data Explorer](https://do

[2020-05-03 18:56] darivuki opened #54 "One-click ingest from adls gen2 where data was stored from event hubs capture feature"
Hi,

I wanted to One-click ingest data from adls gen2. The data in the datalake was ingested using the event hubs capture feature. When I try to configure the One-click ingestion for the data from the datalake, I get an error saying:

Error loading file content - selected file: my-eventhubs-namespace/my-eventhub error: File is empty.

However, the files are there, but they are stored deep into a f

[2020-05-04 09:25] orspod commented on #54
@darivuki thanks for your question.
@TzviaGT can you please assist?

[2020-05-04 10:04] orspod commented on #52
@jacobwbutler - thanks for your feedback. Created a PR to fix the typo. Closing the issue now

[2020-05-04 10:04] #52 closed

[2020-05-04 10:07] orspod commented on #43
@yonileibowitz thanks for the super quick fix.
@evilches hope this resolves the issue. I am closing the issue. Feel free to reach out with any additional questions.

[2020-05-04 10:07] #43 closed

[2020-05-04 10:13] ArielYehezkely commented on #54
Hi @darivuki,

Thanks for bringing it to our attention, looks like enumerating the blobs in the container counts also directories as files with size 0 when using ADLS. We will open a task to solve this.
Meanwhile, do you see other files in the blob list?
Can you please set the file prefix to the path where the files are located?

Thanks,
Ariel

[2020-05-04 10:16] orspod commented on #30
@rtaylor72 - will you provide more information so we can assist you? Thanks!

[2020-05-04 18:02] TechieWorld opened #57 "Availability Zones for two nodes ADX cluster"
Hello Team,

I have created two nodes azure data explorer cluster. I want to use azure availability zones settings to ensure improved reliability (both availability and resiliency). Since, I am having two nodes cluster, can I choose to place them in 3 zones? Also, how these nodes will be placed from Fault Domain and Update Domain Perspective? What will be the impact/down side when placed in 3 diff

[2020-05-04 18:30] orspod commented on #37
@cosh thanks for your assistance. @deyanp since your question has been addressed, I will now close the issue. Feel free to reach out with any additional questions.

[2020-05-04 18:30] #37 closed

[2020-05-04 18:31] orspod commented on #32
@smartpcr - please LMK if your question was answered to your satisfaction.

[2020-05-04 23:56] darivuki commented on #54
Hi @ArielYehezkely ,

thank you for opening a task for this. I will test this out in the next few days and come back with the results.

Best Regards,
Davor

[2020-05-05 06:25] cosh commented on #57
"Deployment to availability zones is possible only during cluster creation and can't be modified at a later date." -> you have to decide about AZs earlier.
drawback: atm you can't deploy ADX into a vnet if you choose AZs

you are able to deploy a 2 node ADX cluster into 3 AZs. However only 2AZs will be used. Once you scale out the cluster we will make sure that the nodes are distributed across all

[2020-05-05 06:29] orspod commented on #57
@cosh thanks for your answer @TechieWorld - thanks for your question. I hope that your question has been addressed to your satisfaction.

[2020-05-05 07:04] CHEEKATLAPRADEEP-MSFT commented on #17
@ashwini-git  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-05-05 12:01] TechieWorld commented on #57
Thank you for prompt reply. BTW, is there any plan to support the VNET along with Zones since this feature is supported when we are creating VMs. Also, can you please let me know how to create the ADX cluster more than 2 Nodes by default, it's creating a two nodes cluster.

[2020-05-06 07:28] orspod commented on #57
@cosh - will you please respond to the additional questions?

[2020-05-06 07:29] KalyanChanumolu-MSFT commented on #30
@rtaylor72 Its been a while we heard from you.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-06 07:29] #30 closed

[2020-05-06 07:30] KalyanChanumolu-MSFT commented on #32
@smartpcr Its been a while we heard from you.
We will proceed to close this issue now.
If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-06 07:30] #32 closed

[2020-05-06 07:34] orspod commented on #40
@HinaMS i am attaching the text for the change. Please LMK if this answers your question.

Search++ mode enables you to search for a term using search syntax across one or more tables.

In the Home tab, in the Query dropdown, select Search++.
Select Multiple tables.
Under Choose tables, define which tables to search.
In the edit box, enter your search phrase and select Go.
A heat-map of the table/

[2020-05-06 09:54] cosh commented on #57
we are evaluating the VNet + Zones feature. I can't provide a date.
You can scale out the cluster after deployment or use an ARM template to provide this spec: https://docs.microsoft.com/en-us/azure/templates/microsoft.kusto/2020-02-15/clusters#azuresku-object

[2020-05-06 20:29] ManojRaheja commented on #44
Hi Dan,

Thanks for your feedback. We do have some customers wanted to use Kusto Python SDK on Azure Databricks, will update to the doc to reflect both the options.

Thanks,
Manoj

[2020-05-06 20:37] ManojRaheja commented on #45
Thanks Dan for your feedback. We will update the doc based on your feedback.

[2020-05-07 05:04] rtaylor72 commented on #30
I have not had a chance to circle back on this because of a project deadline. Please keep this open until this weekend.

Robert Taylor

________________________________
From: Kalyan Chanumolu <notifications@github.com>
Sent: Wednesday, May 6, 2020 2:30:06 AM
To: MicrosoftDocs/dataexplorer-docs <dataexplorer-docs@noreply.github.com>
Cc: Robert Taylor <rtaylor72@hotmail.com>; Mention <mention@norepl

[2020-05-07 11:30] ashwini-git opened #64 "External Table for Parquet or Avro data format throws error."
Hi ,
i created an external table to fetch Parquet data from ADLS which throws below error.

`Query execution has resulted in error (0x80131500): Partial query failure: 0x80131500 (message: 'Input parquet file is ill-formed and cannot be processed: 'not a Parquet file (size too small)'.: ', details: 'Source: Kusto.Common.Svc
[0]Kusto.Common.Svc.Exceptions.IngestionSourceParquetReaderException: Inpu

[2020-05-07 21:59] m2000ank opened #66 "Add section on how Data Explorer authorizes against Event Hub"
In the "Connect to the event hub" section above, nothing is said about how the Data Explorer cluster gets authorization to read from the event hub. Testing a simple setup, I have found that ingestion seems to work without having assigned a managed identity to Data Explorer (to be able to assign to it the "Azure Event Hubs Data Receiver" role) and without having created "Listen" authorization rules

[2020-05-11 05:05] orspod commented on #66
@m2000ank thanks for your feedback.
@kerend are you able to assist?

[2020-05-11 05:07] orspod commented on #64
@ashwini-git thank you for your feedback.
@yifatsor - can you please assist with the question?

[2020-05-11 05:09] orspod commented on #40
@HinaMS - did the information above answer your question?

[2020-05-11 06:23] evilches opened #70 "Please select a database to execute queries."
Running the example as is throws: "Please select a database to execute queries.". We should probably add something like "To run this query, click here and select the database 'Samples'. "

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef293ef5-6b7e-2fc4-fb62-838dd7d5e325
* Version Independent ID: bc13e5ac-5044-cca6-c31

[2020-05-11 09:31] orspod commented on #70
@evilches thanks for your feedback. I will investigate further.
@yonileibowitz any idea why it throws the error: "Please select a database to execute queries." Mine depicts properly. @YaelSchuster received the same error as @evilches the first time it was accessed but the second time it was scoped properly....

[2020-05-11 15:03] yonileibowitz commented on #70
@evilches, @YaelSchuster, @orspod - as the error message suggests - before running a query (any query), you need to select a database in the connections panel. a Kusto query must run in the context of a database, and can't run in a context of a cluster.

[2020-05-11 17:47] yifatsor commented on #64
@ashwini-git this looks like a recent regression we had which was already fixed but perhaps not deployed to your cluster. Can you provide cluster details and a client request id for the failure (and an approximate timestamp)? It would be better if you can move the question to stackoverflow, as we normally don't track product related issues in the docs repository (tag the question with Azure Data E

[2020-05-11 22:52] MRBreen opened #72 "Best Practices on Setting TimeOut between PowerBI and Kusto"
I've been struggling with the best way to increase Kusto's 4 minute default timeout and so far I have not been successful.

I've tried a few different ways...so I thought I'd ask for "Best practices of increasing the Kusto default timeout"  to be included in "Best Practices"

I have successfully increased the timeout in Kusto Explorer to 59 minutes and received data from a query that ran for 30 mi

[2020-05-12 03:47] CHEEKATLAPRADEEP-MSFT commented on #64
@ashwini-git  Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - [MSDN ](https://social.msdn.microsoft.com/Forums/en-US/home?forum=AzureKusto) or [StackOverflow](https://stackoverflow.com/questions/tagged/azure-data-explorer)
Once you post your issue on forums, it will have visibility across the community which is a better suited audience

[2020-05-12 03:47] #64 closed

[2020-05-12 06:43] YaelSchuster commented on #42
@dellch thanks for your feedback. Created a PR to fix this reference. Closing issue now.

[2020-05-12 06:47] TechieWorld opened #73 "Monitor Cluster Health"
Hi Team,

Can we create alert over .show diagnostics | IsHealthy command or shall we used the "KeepAlive" Metric?

Also, we noticed that "KeepAlive" is showing count as 0 sometimes. Metric is just an initial indicator for an issue but where I can find more details and investigate why cluster was not healthy during when we noticed "KeepAlive" was 0.

Thanks,

---
#### Document Details

⚠ *Do not ed

[2020-05-12 06:49] TechieWorld opened #74 "ADX Cluster - Resiliency to failures"
Hi Team,

We have setup a two node cluster with AZs. We would like to know what else we can to make our design more resilient to failures?

Also, In case of failures, how long it would take to switch over the traffic from old node (current) to new node? Also, I want to know where data will be stored and would data store have any impact due to outage?

What will be the MTTR, MTBF, RTO and RPO in ca

[2020-05-12 07:54] basaba commented on #66
Yes it is using "RootManageSharedAccessKey"

[2020-05-12 08:00] #42 closed

[2020-05-12 09:31] orspod commented on #66
@basaba - thanks for your assistance. @m2000ank - does that answer your question?

[2020-05-12 09:41] ChiragMishra-MSFT commented on #72
@orspod Can you please review this ask?

[2020-05-12 09:55] orspod commented on #72
@MRBreen thanks for your feedback.
@Gabilehner and @saguiitay can you assist with this question.

[2020-05-12 10:20] ChiragMishra-MSFT commented on #74
@orspod Can you please have a look at this?

[2020-05-12 10:31] ChiragMishra-MSFT commented on #73
@orspod Can you please look at this?

[2020-05-13 10:52] ArielYehezkely commented on #54
Hi @darivuki,

The fix was deployed. Please try again now and update so we could close this.

Thanks,
Ariel

[2020-05-13 13:40] m2000ank commented on #66
Yes it does, thank you @orspod and @basaba. However, since this is a very implicit dependency, I would appreciate it being mentioned in the documentation as well. What happens if that key is rotated, for instance? Is intervention necessary on the Data Explorer side, or will it sort itself out in some way?

[2020-05-13 15:06] darivuki commented on #54
Hello @ArielYehezkely

the One-click ingestion is now able to list the container blob files which I have in my adls gen2. However, I am not sure how to proceed further. Do I need to ingest file by file or will the One-click ingest all of the files from the container? Another problem that I am seeing is in the next step where I need to configure the Schema. The files are in AVRO format (exported fr

[2020-05-14 03:06] CHEEKATLAPRADEEP-MSFT commented on #40
@HinaMS  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-14 03:06] #40 closed

[2020-05-14 08:09] m2000ank opened #81 "Add section on how Data Explorer handles Event hubs in a disaster recovery setup"
Event hubs can be set up with multi-region disaster recovery, and I would like to understand how failing over an event hub namespace from primary to secondary region would affect the data connections. Will they need to be manually recreated after failover, for instance, or does Data Explorer handle such situations automatically?

---
#### Document Details

⚠ *Do not edit this section. It is requir

[2020-05-14 08:28] CHEEKATLAPRADEEP-MSFT commented on #81
@m2000ank  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-05-14 09:26] WaterWan opened #82 "Why does kusto have getyear and getmonth but no getday?"
[Enter feedback here]
When I tried to get the beginning of a day, I would use query like this:
[code]

I need to use two kind of functions to calculate. Why does not Kusto provide getday? Also, could you please show a more elegant way to get the beginnning of a day?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-05-14 10:57] CHEEKATLAPRADEEP-MSFT commented on #82
@WaterWan  Thanks for the question! We are investigating and will update you shortly.

[2020-05-14 17:50] PaulieC1972 opened #84 "Show Table Schema as json"
example command syntax is incorrect - .show table TableName schema as JSON

Should be ".show table TableName schema as json"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0c27ecef-9569-8659-af19-53a454b846ae
* Version Independent ID: 10203dc7-0f0c-7a09-7308-9755fdb805ba
* Content: [.show table schema - Azure Data Expl

[2020-05-14 18:27] KranthiPakala-MSFT commented on #84
@PaulieC1972 Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-05-14 20:47] PaulieC1972 commented on #84
Obviously it's not super hi pri 😉

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: KranthiPakala-MSFT <notifications@github.com>
Sent: Thursday, May 14, 2020 7:27:35 PM
To: MicrosoftDocs/dataexplorer-docs <dataexplorer-docs@noreply.github.com>
Cc: PaulieC1972 <paul_campbell@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dataexp

[2020-05-16 01:23] jcsclement opened #85 "What are the units of these columns?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 663dd48a-e82c-39b7-979a-dbf7103dd94f
* Version Independent ID: 4bba448f-c9c6-6bce-c694-35c9f0777e6b
* Content: [.show table details - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/show-table-details-command

[2020-05-16 16:12] SumanthMarigowda-MSFT commented on #85
@jcsclement Thanks for the question! We are investigating and will update you shortly.

[2020-05-17 04:24] yonileibowitz commented on #70
this seems to be fixed now - @evilches could you please confirm, and resolve the issue if confirmed?

[2020-05-17 11:16] jmiddleton opened #86 "Add examples for "File begins with""
It would be good to have more examples on how to use the filters. Application Insights stores files with a specific folder structure apiinsight[randomId]/Requests, apiinsight[randomId]/Avaliability, etc. You can filter files which are under specific folder in Blob storage so they can be stored in one table. For example, you can define "File begins with"  apiinsight[randomId]/Requests to ingest onl

[2020-05-18 03:35] BharathNimmala-MSFT commented on #86
@jmiddleton Thank you for your query, our team will look into it and get back to you at the earliest.

[2020-05-18 08:55] ArielYehezkely commented on #54
Hi @darivuki,

1. When using "From container" ingestion type, all the blobs that meets the filters criteria in the container will be ingested up to 10,000 blobs. the list in the source tab shows which blobs will be ingested.
2. Unfortunately One-Click doesn't support AVRO format yet, it's in our backlog though.

Thanks,
Ariel

[2020-05-18 13:04] darivuki commented on #54
Hello @ArielYehezkely ,

thanks for the info. I'm looking forward to this feature. At this point, my questions have been answered and this ticket can be closed.

Best,
Davor

[2020-05-18 13:04] #54 closed

[2020-05-18 14:15] orhasban commented on #66
Hi @m2000ank ,
In case of key rotation, the best practice is to update the data connection (using ARM template for example) with the exact same properties (actually you don't update any property but to process trigger re-fetching of the new keys).
In addition, we plan to support managed identity based data connection for better security of our customers' data sources (we wouldn't hold EH keys in t

[2020-05-18 14:21] orspod commented on #44
@dciborow - thanks for your feedback. I am moving to close this issue. WI has been created to update the doc as per your suggestion: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1721614

[2020-05-18 14:21] #44 closed

[2020-05-18 14:23] orspod commented on #57
@TechieWorld - thanks again for your feedback. I hope we were able to address all your questions.
Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-18 14:23] #57 closed

[2020-05-18 14:35] orspod commented on #45
@dciborow - thanks for your feedback. I believe it is connected to your other issue: https://github.com/MicrosoftDocs/dataexplorer-docs/issues/44. We created a WI to fix the doc. I am therefore closing this issue.

[2020-05-18 14:35] #45 closed

[2020-05-18 14:38] orspod commented on #72
@Gabilehner and @saguiitay can you assist with this question.

[2020-05-18 14:58] Gabilehner commented on #73
KeepAlive is a general top level metric to check your cluster health. when the value is 0 it means the cluster was not responding which is a non healthy state.
When this metric goes to 0, you should start a more in depth analysis to find the root cause of the issue using other troubleshooting flows and other metrics.
In order to get more insights you can also use the .show commands and queries ope

[2020-05-18 15:12] Gabilehner commented on #72
Hi MRBreen,

First I would recommend you move to Azure Data Explorer native connector to Power BI - https://docs.microsoft.com/en-us/azure/data-explorer/power-bi-connector
The native connector provides more flexibility as it allows also creating DirectQuery datasets and not just import datasets.
In addition, it is the main way to connect which means it is constantly updated and maintained.
The que

[2020-05-18 15:26] orspod commented on #74
@TechieWorld - thanks for your feedback
@cosh will you assist with this question?

[2020-05-18 15:27] orspod commented on #81
@m2000ank Thanks for the feedback! A BCDR doc is in progress.
@cosh will you assist with this question.

[2020-05-18 17:24] himanshusinha-msft commented on #86
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-05-18 20:08] #84 closed

[2020-05-18 20:09] KranthiPakala-MSFT commented on #84
@PaulieC1972 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2020-05-19 03:38] dciborow opened #91 "How to cancel async ingest query?"
I started a ingest query without distributed=true by mistake. .cancel does not seem to help...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4dde8b71-b1d9-ddef-1879-7358813b16ab
* Version Independent ID: db750929-3467-bbe3-b753-8953070900dc
* Content: [Kusto query ingestion (set, append, replace) - Azure Data Explorer

[2020-05-19 08:00] rbhanot4739 opened #92 "Syslog data from Event Hub not showing up in Azure Data Explorer"
I have my linux VMs installed with Linux Azure Diagnotics extension and configured to push syslog messages to Event Hub.

I can view my syslog messages on the event hub process data blade. Now I am trying to send these logs to Azure Data Explorer, for which I followed the below steps

1. Create a cluster in ADX.
2. Created a Database(`Syslog`) and table(`SyslogTable`) for storing syslog messages.

[2020-05-19 09:29] orspod commented on #66
@m2000ank hope this answers your question

[2020-05-19 09:33] orspod commented on #82
@yonileibowitz will you please assist with @WaterWan 's question?

[2020-05-19 09:34] orspod commented on #70
@yonileibowitz and @lidermanrony thanks so much for the quick fix. @evilches please confirm that the issue has been resolved.

[2020-05-19 09:36] orspod commented on #72
@MRBreen - thanks for your feedback. I hope this resolves your issue.

[2020-05-19 09:38] orspod commented on #73
@Gabilehner  thanks for the detailed explanation. @TechieWorld - please let us know if this resolves your issue.

[2020-05-19 09:44] orspod commented on #86
@jmiddleton thanks for your feedback. We are currently working on updating the doc and will incorporate your sugestion.  @ArielYehezkely can you assist with this question?

[2020-05-19 10:10] ArielYehezkely commented on #86
Hi @jmiddleton,

The file filters are simple prefix/suffix.
As of efficiency considerations we use Azure Storage blob API to provide the functionality of filtering by prefix, and Azure storage doesn't support other kinds of filters (regex for example).
For your scenario, you might want to take a look at [Light Ingest tool](https://docs.microsoft.com/en-us/azure/data-explorer/lightingest) which sup

[2020-05-19 11:10] CHEEKATLAPRADEEP-MSFT commented on #91
@dciborow
Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 11:10] CHEEKATLAPRADEEP-MSFT commented on #92
@rbhanot4739  Thanks for the question! We are investigating and will update you shortly.

[2020-05-19 11:54] orspod commented on #91
@dciborow thanks for the question. @kerend can you assist?

[2020-05-19 12:24] cosh commented on #74
Hi Deepak,

BCDR: https://techcommunity.microsoft.com/t5/azure-data-explorer/azure-data-explorer-and-business-continuity/ba-p/1332767
RTP/RPO depends on the scenario you chose.
Some more detailled information: https://azure.microsoft.com/de-de/resources/azure-data-explorer/ (in a nutshell: data is always stored on underlying storage accounts and some of it is cached on the engine local disks. In c

[2020-05-19 12:26] cosh commented on #81
Hi,

please go to https://techcommunity.microsoft.com/t5/azure-data-explorer/azure-data-explorer-and-business-continuity/ba-p/1332767 . You need to connect to the alias. The rest is handled by ADX with checkpointing.

Cheers

[2020-05-19 13:49] TechieWorld commented on #73
@Gabilehner  - can you please let me know where I can find more details on why KeepMetric is showing 0, I didn't find anything with .show commands and queries?

[2020-05-19 15:18] yonileibowitz commented on #92
this was already asked on StackOverflow - i recommend closing the issue here (as it's not a documentation issue) and following up there

https://stackoverflow.com/questions/61885948/syslog-data-from-event-hub-not-showing-up-in-azure-data-explorer

[2020-05-19 15:20] yonileibowitz commented on #82
you can use `bin(timestamp, 1d)` or `startofday(timestamp)` to get the beginning of a day.

you can request/vote new features at https://aka.ms/adx.uservoice.

[2020-05-19 15:44] #92 closed

[2020-05-19 15:45] CHEEKATLAPRADEEP-MSFT commented on #82
@WaterWan
We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-19 15:45] #82 closed

[2020-05-19 16:14] yonileibowitz commented on #91
`.cancel query` is meant for cancelling queries, not control commands.

in cases where the control commands runs a query (e.g. `.export` or `.set-or-append`), then using `.cancel query` may be able to cancel the query, and have the command fail, but that depends on the current phase of the command's execution.

[2020-05-19 19:03] evilches commented on #70
It works perfectly now! :D. Thank you!

[2020-05-19 20:28] hasridha opened #94 "How to apply a "what-if" parameter in the advanced query editor for a query copied in from kusto?"
So I added a what-if parameter("Last N Days") from the ribbon and it gave me a slider that I can happily drag between 1 and 30 (for number of days ago to use in the query). Problem is - I don't know how to connect the user-supplied value from this slider into the Kusto query I am using for a funnel chart on the side. Using  this in the query - & #"Last N Days" & - doesn't work because the advanced

[2020-05-20 07:39] CHEEKATLAPRADEEP-MSFT commented on #94
@hasridha  Thanks for the question! We are investigating and will update you shortly.

[2020-05-20 13:42] orspod commented on #70
@evilches - thanks again for your feedback. I will now close the issue.

[2020-05-20 13:42] #70 closed

[2020-05-20 22:53] himanshusinha-msft commented on #85
@jcsclement : Many of the columns are counts only  . I beleive that the extentsize will be in bytes .
@orspod  : Can you please confirm ?

[2020-05-20 22:54] kosylon opened #98 "Azure Data Explorer format_datetime() Day Partitioning Bug"
We are trying to partition an external table (ADLS Gen2 blog storage) to be viewable in Azure Data Explorer using `partition by format_datetime="'Day='d"`. Performing a partition with the 'd' format element only returns data for single-digit partitions (Day=1 to Day=9). The documentation clearly states it should handle days 1-31. Alternatively partitioning with the 'dd' format element only returns

[2020-05-21 04:14] MRBreen commented on #72
@orspod Thanks.  I followed up with an email to @Gabilehner.

[2020-05-21 07:51] CHEEKATLAPRADEEP-MSFT commented on #98
@kosylon  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-05-21 07:52] CHEEKATLAPRADEEP-MSFT commented on #66
@m2000ank  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-05-21 07:52] #66 closed

[2020-05-21 07:53] CHEEKATLAPRADEEP-MSFT commented on #72
@MRBreen  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-21 07:53] #72 closed

[2020-05-21 07:54] CHEEKATLAPRADEEP-MSFT commented on #74
@TechieWorld  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-21 07:54] #74 closed

[2020-05-21 07:55] CHEEKATLAPRADEEP-MSFT commented on #81
@m2000ank  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-21 07:55] #81 closed

[2020-05-21 07:56] CHEEKATLAPRADEEP-MSFT commented on #86
@jmiddleton  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-21 07:56] #86 closed

[2020-05-21 07:57] CHEEKATLAPRADEEP-MSFT commented on #91
@dciborow  We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-05-21 07:57] #91 closed

[2020-05-21 08:04] kerend commented on #66
Hi @m2000ank, In case of key rotation, you should rotate in 2 steps, with interval of few hours in between. Our service will pickup the first rotation and will auto update the connection and fetch the new keys. During this time the connection works with the secondary key.
After the second rotation, same process is done and we end up with 2 fresh keys.
I will add this explanation to the docs.

[2020-05-21 11:07] orspod commented on #98
@yifatsor and @spektom can you assist with this question?

[2020-05-21 11:09] orspod commented on #94
@Gabilehner can you assist with this question?

[2020-05-21 11:11] orspod commented on #85
@kerend - can you confirm?

[2020-05-21 12:58] spektom commented on #98
Hi @kosylon !

This is bug, and it will be fixed in the next release.
Thank you for reporting!

Sincerely,
Michael

[2020-05-21 21:36] zzgzy opened #101 "IngestionMapping might not exist"
It seems like `IngestionMapping` is no longer a valid property. What would be the new way to define `IngestionMappingReference`? Thank you in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62a2c619-a306-8f10-0106-5a6a34f6ef9f
* Version Independent ID: a4825509-e03c-6825-9d6e-37da0d08bd89
* Content: [Data inges

[2020-05-21 21:46] zzgzy commented on #101
Resolved by replacing

[code]

with    `ingestProps.SetAppropriateMappingReference(mappingName, DataSourceFormat.json);`

[2020-05-21 21:46] #101 closed

[2020-05-21 22:22] KranthiPakala-MSFT commented on #101
@zzgzy Thanks for sharing the resolution details here. It will be beneficial for others who reads this thread.

[2020-05-21 23:38] edburns opened #102 "Client-side export is defined but how do you learn how to do it?"
I would like to know how to perform client side export as defined above, however, none of the linked documents cover that topic?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7ad10bb6-4b40-d27e-c988-630c8e4e28be
* Version Independent ID: 30902ba1-ea77-0f75-e9bd-e20b1d4e1fd5
* Content: [Data export - Azure Data Explore

[2020-05-22 04:14] CHEEKATLAPRADEEP-MSFT commented on #102
@edburns  Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2020-05-24 05:50] kerend commented on #85
Size is in bytes.

[2020-05-24 06:30] orspod commented on #85
@jcsclement I believe we addressed your question. Moving to close this issue.

[2020-05-24 06:30] #85 closed

[2020-05-24 06:42] orspod commented on #98
@kosylon - thanks for your feedback. @spektom thanks for investigating and fixing the product bug.
Closing this issue.

[2020-05-24 06:42] #98 closed

[2020-05-24 12:40] spektom commented on #102
Hi @edburns ,

The reason client-side export is not explained well, is because there are variety of ways to do so.
The idea is to use you client application (Kusto Explorer, SDK, etc.) to retrieve the data, then saving it manually. For example, in Kusto Explorer there's an option to save query results to CSV file (File -> To CSV), which implements client-side export.

Sincerely.
Michael

[2020-05-25 04:35] Gabilehner commented on #73
@TechieWorld - as I mentioned KeepAlive metric is a general purpose health metric. When the value is 0 it tells you that something is not working well but It cannot provide you the root cause. This requires an analysis that can be done using other metrics (for example CPU, in case the issue stems from overload on the cluster), Another example, is to run the .show commands-and-queries to analyze he

[2020-05-25 07:17] vjrantal opened #104 "Docs indicate that Power BI connector would still be in beta"
The page at https://docs.microsoft.com/en-us/azure/data-explorer/visualize-power-bi has text:

Below that, there is a screenshot that has the `(Beta)`-label.

These imply that the connector is still in beta even though I believe it is GA (ref: https://powerbi.microsoft.com/en-us/blog/power-bi-desktop-june-2019-feature-summary/#azureDataExplorer).

[2020-05-25 17:04] kosylon commented on #98
@spektom - Thank you for the reply. Where can I be notified about Data Explorer releases? And when do you anticipate this bug will be fixed? We are using this service to expose data to partners and will need to perform an interim workaround depending on the timeline.

-Nathan

[2020-05-25 17:43] Mike-Ubezzi-MSFT commented on #104
@vjrantal Thank you for making us aware of this issue. This is an update that needs to take place in PowerBI and not necessarily with the documentation itself but understand there is no effective way to report this except for this channel.

[2020-05-26 02:21] edburns commented on #102
Hello @spektom , thanks for your response.  Is there a way to do it in the Web UI?

[2020-05-26 03:09] vjrantal commented on #104
@Mike-Ubezzi-MSFT In the Power BI, the `(Beta)`-label is already gone and there are other parts in the same docs that a newer screenshot such as this image:

https://github.com/MicrosoftDocs/dataexplorer-docs/blob/master/data-explorer/media/power-bi-connector/search-get-data.png

Above is referenced from https://github.com/MicrosoftDocs/dataexplorer-docs/blob/master/data-explorer/power-bi-connecto

[2020-05-26 05:22] spektom commented on #98
@kosylon it usually takes less than two weeks to rollout a fix. I'll notify you on email when the fix is out.

[2020-05-26 05:24] CHEEKATLAPRADEEP-MSFT commented on #104
@vjrantal Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

@orspod Could you please update the content and the screenshot in the document?

Screenshot needs to be updated.

![image](https://user-images.githubusercontent.com/44426401/82863140-f840b380-9f3e-11ea-9325-d000f21e5ee9.png)

Latest screenshot:

![image](https://user-imag

[2020-05-26 05:30] spektom commented on #102
Hi @edburns ,

Yes, there's an option:

![image](https://user-images.githubusercontent.com/158011/82863541-169cb400-9f2b-11ea-9e89-ed14603146cc.png)

[2020-05-26 22:05] edburns commented on #102
Proposed fix in https://github.com/MicrosoftDocs/dataexplorer-docs/pull/107

[2020-05-26 23:23] rafamerlin opened #109 "Possible new reserved word?"
So. I saw that I have one query that stopped working a while ago, I can't pinpoint when though.

Looks like `blocked` is now a reserved word in the project operator.

This works fine for example:
[code]

If I do this though:
[code]

I get this error now:
[code]

If this expected now or should I open a support ticket?
In case of being expected, is there a page in the docs with all the reserved word

[2020-05-27 00:41] KranthiPakala-MSFT commented on #109
@rafamerlin Thank you for reaching out and bringing this to our notice. At this time we are reviewing the ask and will provide an update as appropriate

[2020-05-27 04:35] rafamerlin commented on #109
Hey @KranthiPakala-MSFT , I may have asked this question on the wrong place. I am having this issue on log analytics query. I didn't realise I was looking at the project operator on the Data Explorer instead. The query looks the same and testing it on the provided test environment in this docs page I could confirm it doesn't work:

https://dataexplorer.azure.com/clusters/help/databases/Samples
[co

[2020-05-27 04:35] #109 closed

[2020-05-27 07:28] orspod commented on #102
@edburns thanks for your proposed fix. LMK when that PR #107 is ready to merge. Moving to close this issue

[2020-05-27 07:28] #102 closed

[2020-05-27 15:20] Marco-Santoni opened #110 "Page referring to Kusto Explorer"
This page and the images inside it are not up to date with Data Explorer and latest AAD App Registration. Would it be possible to update it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeb65164-6a92-2013-fda7-786690851a1d
* Version Independent ID: 10011da2-ec90-c6d1-5324-07fbb990e974
* Content: [HowTo -  Creating an

[2020-05-27 15:37] Marco-Santoni commented on #110
Found https://docs.microsoft.com/en-us/azure/data-explorer/provision-azure-ad-app 😄

[2020-05-27 15:37] #110 closed

[2020-05-27 16:22] KranthiPakala-MSFT commented on #110
@Marco-Santoni Thanks for sharing the latest link here. It will be helpful others who reads this thread.
Feel free to comment or open new issue if you further queries.

[2020-05-27 23:43] CIPop opened #113 "Drop query doesn't work"
Should be `mapping` (singular) and lowercase `json`.

.drop table TableName ingestion json mapping "JsonMapping1"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece17ed4-922c-fad6-8063-f6ba4988bd03
* Version Independent ID: 332cfe88-df27-b4e2-6556-d482b5f7fca2
* Content: [.drop ingestion mapping - Azure Data Explorer](

[2020-05-28 05:43] CHEEKATLAPRADEEP-MSFT commented on #113
@CIPop   Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-05-28 16:09] mitulmk opened #114 ""Query data ..." shouldn't be a next step for this page."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a4be1640-3699-8fdf-07a2-c9b922499c90
* Version Independent ID: 55027537-6af4-541d-da8d-e2cdc2b5fa92
* Content: [Visualize data with the Azure Data Explorer dashboard](https://docs.microsoft.com/en-us/azure/data-explorer/azure-data-explorer-dashboards)

[2020-05-28 16:17] mitulmk opened #115 "Please update this page for ADX dashboards."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f5815d8-3946-1579-14a0-6f1b94f2daf2
* Version Independent ID: 0b9bfbd9-0b00-f27c-0800-cc6a4b8e40d3
* Content: [Azure Data Explorer data visualization](https://docs.microsoft.com/en-us/azure/data-explorer/viz-overview)
* Content Source: [data-explorer

[2020-05-28 16:18] mitulmk opened #116 "Please update this page now that we have native ADX dashboards."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8744d097-8c1f-725a-358b-c39b6db2e5c3
* Version Independent ID: f412568f-e983-12be-3b07-e85bd2385b85
* Content: [Azure Data Explorer tools - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/tools/)
* Content Source: [data

[2020-05-28 17:12] himanshusinha-msft commented on #114
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-28 17:14] himanshusinha-msft commented on #115
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-28 17:16] himanshusinha-msft commented on #116
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-05-28 18:39] diligent176 opened #117 "this example doesn't work in AI logs query :-("
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f88f51d0-abca-00ac-4ab4-bbe18fc984d5
* Version Independent ID: abb505b3-e5b0-31f4-2542-fd5d41b58b0e
* Content: [T-SQL - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/tds/t-sql)
* Content Source: [data-explorer/kus

[2020-05-28 18:40] diligent176 commented on #117
using "explain" to translate T-SQL to Kusto doesn't work for me

[2020-05-29 03:08] Mike-Ubezzi-MSFT commented on #117
@diligent176 Thank you for providing this feedback. Can you provide a screen capture that details how you are attempting this?

![Screenshot (31)](https://user-images.githubusercontent.com/37126106/83216693-bbcbae00-a11e-11ea-905c-dcf33685dc4a.png)

The following:

select top(10) * from StormEvents order by DamageProperty desc

Outputs the equivalent KQL:

| project StartTime, EndTime, EpisodeId,

[2020-05-29 03:11] MartinJaffer-MSFT commented on #115
Thank you for your feedback. This has been assigned to the content owner , @orspod  and will be updated as appropriate.

[2020-05-29 05:14] nikhilboreddy opened #119 "Add more details around clientId mentioned in the code snippets"
Please add more details around clientId mentioned in the code snippets. What level of perms should it have on the leader ADX cluster, follower ADX cluster?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f7eb643f-96fa-ea4b-998c-fbbe012c497d
* Version Independent ID: 83e7ee0a-6376-924d-d777-4c312103bde7
* Content: [Use f

[2020-05-29 08:04] CHEEKATLAPRADEEP-MSFT commented on #119
@nikhilboreddy  Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2020-05-29 15:10] diligent176 commented on #117
I'm trying to use this syntax in Azure Portal, in Logs section of Application Insights.
Maybe I'm misunderstanding, is it not part of the Kusto query language?
![image](https://user-images.githubusercontent.com/7737939/83275264-cb311280-a183-11ea-93a9-7a835e38046e.png)

[2020-05-29 21:53] KranthiPakala-MSFT commented on #114
@orspod Could you please have a look at the above feedback. Thank you.

[2020-05-31 06:30] orspod commented on #73
@TechieWorld - I believe your question has been addressed. I am moving to close this issue.

[2020-05-31 06:30] #73 closed

[2020-05-31 06:31] orspod commented on #94
@Gabilehner can you assist with this question?

[2020-05-31 06:43] orspod commented on #114
@Gabilehner

[2020-05-31 06:48] orspod commented on #119
@docohe will you assist with the customer question?

[2020-05-31 06:57] docohe commented on #119
In order to to attach a database, you should be a contributor/owner on both follower/leader.
Will update the docs

[2020-06-01 04:42] xmorera opened #126 "Authentication Error on blob?"
The [Ingest JSON formatted sample data into Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-json-formats?tabs=kusto-query-language) page references two JSON files that are hosted within kustosamplefiles.blob.core.windows.net/jsonsamplefiles:  **_simple.json_** and **_multilined.json_**.

However, these links appear not to work to Data Explorer users—authentication

[2020-06-01 17:06] MartinJaffer-MSFT commented on #126
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-06-02 00:04] MartinJaffer-MSFT commented on #126
@xmorera  Thank you for bringing this issue to our attention.  I agree the blobs used for tutorials should be publicly accessible.  I will assign this to the content owner to update.

@orspod  Could you please make the sample data blobs public, and update the hyperlinks?  The current links are using expired SAS.

[2020-06-02 02:24] Mike-Ubezzi-MSFT commented on #117
@diligent176 You would need to use the [Kusto.Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/tools/kusto-explorer) desktop client. Can you connect to `jb51588awesone` with the Kusto Explorer client as per this document: [Query data in Azure Monitor using Azure Data Explorer (Preview)](https://docs.microsoft.com/en-us/azure/data-explorer/query-monitor-data)
There is some funct

[2020-06-02 06:28] orspod commented on #104
@vjrantal thanks for the feedback. The doc was updated with updated image: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/355. I am now closing this issue.

[2020-06-02 06:28] #104 closed

[2020-06-02 06:32] orspod commented on #113
@CIPop - thanks for the feedback. the doc has been updated with your changes. https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/356.
I am now closing this issue.

[2020-06-02 06:32] #113 closed

[2020-06-02 06:40] orspod commented on #114
@mitulmk thanks for your feedback.
Next steps are mandatory for all articles. The query data topic can be both a pre-req and a next steps for this article. Once more dashboard articles are published we will add those as next steps too.
I will now close this issue but feel free to continue discussion if you have additional concerns.

[2020-06-02 06:40] #114 closed

[2020-06-02 06:46] vjrantal commented on #104
@orspod As mentioned in the issue, the old info is also in the text (not just screenshot):

The page at https://docs.microsoft.com/en-us/azure/data-explorer/visualize-power-bi has text:

[2020-06-02 06:55] orspod commented on #104
@vjrantal - Appreciate your additional feedback. Sorry I missed that change.
Note: an updated PowerBI topic can be found here: https://docs.microsoft.com/en-us/azure/data-explorer/power-bi-connector along with other Power BI topics.
Created PR to fix the text: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/358

[2020-06-02 07:00] orspod commented on #115
@mitulmk - thanks for your feedback. The following PR was created to add the ADX dashboards to the viz overview page: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/357
Closing this issue.

[2020-06-02 07:00] #115 closed

[2020-06-02 08:17] orspod commented on #116
@mitulmk - thanks for the feedback. We will be removing this page shortly. I am now closing this issue.

[2020-06-02 08:17] #116 closed

[2020-06-02 08:21] orspod commented on #119
@docohe thanks for the fix.
@nikhilboreddy thanks for the feedback. Hope this answered your question.
I will now close this issue. Feel free to respond if you have additional questions/concerns. Thanks!

[2020-06-02 08:21] #119 closed

[2020-06-02 08:22] orspod commented on #126
@kerend - can you please assist with this request?

[2020-06-02 10:52] saguiitay commented on #94
You currently can't use WhatIf parameters in the Power Query Editor, as you've found out.
We are working on improving these kind of scenarios with the PBI team, but don't have anything to share yet.

Depending on what you are trying to do, you might be able to just use a filter on a column of your dataset.

[2020-06-02 23:16] darivuki opened #132 "Control the user identity connecting to Power BI"
Hello,

I would like to be able to connect to an ADX Cluster located in a specific AAD Tenant using my singed in details (AAD Account). Right now, when I sign in to PowerBI Desktop, I am not able to choose the right Tenant. How can I achieve this? Here is an example on how to do this in Kusto.Explorer. Is there a way to achieve this in Power BI as well? If so, I think that it would be nice to add

[2020-06-03 06:58] CHEEKATLAPRADEEP-MSFT commented on #132
@darivuki  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-06-03 07:34] orspod commented on #94
@saguiitay - thanks for the answer
@hasridha hope this answered your question. Please let us know if you have additional questions

[2020-06-03 19:46] Mike-Ubezzi-MSFT commented on #117
@diligent176 We will now proceed to close this thread. If there are further questions regarding this matter, please comment and we will gladly continue the discussion.

[2020-06-03 19:46] #117 closed

[2020-06-03 20:20] gkrajuska opened #134 "External table mapping creation doesn't work"
Data explorer does not detect ".create external table table_name JSON mapping" as a valid command

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3621d01-d6db-5ea1-4ac8-4c84787ef71f
* Version Independent ID: 5a6df5d9-c867-390d-4aa5-c6a899566cfb
* Content: [Create and alter external tables in Azure Storage or Azure Data

[2020-06-04 02:31] KranthiPakala-MSFT commented on #134
Hi @gkrajuska Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-06-04 04:50] nikhilboreddy commented on #119
Thank you! Yes that answered my question.

[2020-06-04 09:42] m2000ank commented on #66
Hi, everyone. Sorry for the late reply, and thanks for the details on key rotation. Looking forward to be able to use managed identity for this.

[2020-06-04 09:47] m2000ank commented on #81
Sorry for the late answer, and thanks for providing the documentation.

[2020-06-05 06:33] orspod commented on #94
@hasridha I am closing this issue. If you have additional questions feel free to comment.

[2020-06-05 06:33] #94 closed

[2020-06-05 10:49] darivuki opened #137 "Unable to enumerate databases after specifying Cluster Uri in "Add Data source""
Hello,

when I try to add a Data source and enter my Cluster Uri, I do not get any databases back and am not able to configure the Data source. My AAD account has Admin permissions to the Cluster, and I was able to enumerate the databases some days ago. Can it be that this is still not completely working due to the tech still being in Preview, or am I missing something?

Thanks!

---
#### Document

[2020-06-05 12:02] darivuki commented on #137
It seems like that I manually needed to switch to the Tenant where the Cluster is located. After I did that, I was able to enumerate the databases. This is not an issue, but maybe worth mentioning in the documentation.

[2020-06-05 12:18] CHEEKATLAPRADEEP-MSFT commented on #137
@Thanks for the update.

@orspod Could you look into this issue?

[2020-06-07 06:25] orspod commented on #132
@Gabilehner and @saguiitay - can you please assist the customer with the correct instructions?

[2020-06-07 06:33] orspod commented on #132
@darivuki - please contact the Power BI team with this question. Sorry we can't be of further assistance. Moving to close this issue. If you have additional questions on this topic, feel free to open a new issue.

[2020-06-07 06:33] #132 closed

[2020-06-07 06:34] orspod commented on #137
@Gabilehner - can you please assist?

[2020-06-07 06:35] orspod commented on #134
@spektom can you assist with this customer question?

[2020-06-07 07:23] spektom commented on #134
Hi @gkrajuska ,

Can you please provide the full command you're using (and the error message you're getting).

Thanks!

[2020-06-08 17:17] ivan-zakharchuk opened #142 "Mistake in docs"
[Enter feedback here]
there is a mistake in docs:

| where 1 == 2

this makes no sense

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cede3d6d-4803-358f-c3b3-11f8c407c878
* Version Independent ID: 9064e163-b02a-6030-dcc4-eddab6fa31cd
* Content: [summarize operator - Azure Data Explorer](https://docs.microsoft.com/en-us

[2020-06-09 04:58] CHEEKATLAPRADEEP-MSFT commented on #142
@ivan-zakharchuk  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-06-09 04:58] CHEEKATLAPRADEEP-MSFT commented on #126
@kerend  Any update on the issue?

[2020-06-09 04:59] CHEEKATLAPRADEEP-MSFT commented on #134
@gkrajuska  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-06-09 04:59] #134 closed

[2020-06-11 10:05] orspod commented on #142
@yonileibowitz - will you review @ivan-zakharchuk feedback?

[2020-06-11 13:28] orspod commented on #137
@Gabilehner - can you please assist?

[2020-06-11 14:04] orspod commented on #137
@darivuki - thanks for the feedback. We will look into adding this to the documentation. Moving to close the issue.

[2020-06-11 14:04] #137 closed

[2020-06-11 16:02] yonileibowitz commented on #142
this isn't a mistake - `1 == 2` is a condition that evaluates to false, and the purpose of those examples is to show you how the `summarize` operator acts when the input table includes no records (e.g. they were all filtered out)

that said, we'll update the docs with an example that focuses on the main part, without adding potentially confusing parts in between - thanks for the feedback!

[2020-06-11 16:03] yonileibowitz commented on #142
handled in: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/442

[2020-06-11 16:43] shanrath opened #148 "'syntax' section is a bit confusing"
Hello,

Currently, [the 'syntax' section](https://github.com/MicrosoftDocs/dataexplorer-docs/blame/master/data-explorer/kusto/query/series-fit-2linesfunction.md#L45) is a bit confusing because the query expected results are bunched in with the next example output.

I'd expect something like

**Syntax**

project `series_fit_2lines(`*x*`)`
* Will return all mentioned above columns with the following

[2020-06-11 16:58] MartinJaffer-MSFT commented on #148
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-06-11 17:57] MartinJaffer-MSFT commented on #148
@shanrath  Thank you for bringing this to our attention.  I have created a pull request making the helpful changes you proposed.

Please let me know if you have any further questions.  Have a great day!

[2020-06-11 17:57] #148 closed

[2020-06-11 23:52] cdmihai opened #153 "Add information on operator coerction in numerical expressions"
It would be helpful if the numerical operations talked about type coercion (or linked to a page with that information). Does `long / long` produce a long or a float / real number?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d1947564-176f-46a1-b33b-e04bdfcf502c
* Version Independent ID: 4166dbcc-cbd0-4076-c2ba-1b0498

[2020-06-12 05:15] orspod commented on #153
@cdmihai thanks for your feedback.
@yonileibowitz are you able to assist?

[2020-06-12 05:17] orspod commented on #142
Thanks @yonileibowitz for updating the docs and answering the question. Closing this issue.

[2020-06-12 05:17] #142 closed

[2020-06-12 05:18] orspod commented on #126
@xmorera we have a work item in place to update this doc as requested. Thanks for your feedback.

[2020-06-12 15:17] yonileibowitz commented on #153
Hi @cdmihai,

the documentation includes topics for all `to*()` functions, which attempt to cast a given value to the target data type

![image](https://user-images.githubusercontent.com/42423208/84518156-26372f00-ac85-11ea-983d-1ca56f73417d.png)

[2020-06-12 16:54] cdmihai commented on #153
@yonileibowitz, thanks for the info. I had also found it with further info. I opened the issue to let you know that the knowledge is not discoverable from the numerical operator doc page I opened the issue on. At the very least, it should have a "Related links" section pointing to details on the numeric type system, coercion rules, etc.

[2020-06-12 16:56] yonileibowitz commented on #153
thanks for the feedback @cdmihai .
just in case you're interested - we happily accept contributions.
otherwise - I'll let @orspod consider the right approach regarding your feedback

[2020-06-12 21:33] dzsquared opened #154 "isnotnull() function page shows notempty() as a synonym in the sidebar"
The left sidebar shows "isnotnull(), notempty()" as the title for this article - instead of "isnotnull(), notnull()"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e1aec316-04c5-e725-7e61-41abab34055d
* Version Independent ID: f7e8690d-7766-dec1-c41e-ed5657b6166c
* Content: [isnotnull() - Azure Data Explorer](https://d

[2020-06-12 22:34] KranthiPakala-MSFT commented on #154
@dzsquared Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update as appropriate.

[2020-06-12 22:44] KranthiPakala-MSFT commented on #154
@dzsquared
The PR for the fix has been created & notified doc author. It will be reviewed and merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you.

[2020-06-12 22:44] #154 closed

[2020-06-14 04:21] yuanman2016 opened #156 "CSV on the page should be lower case"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ece17ed4-922c-fad6-8063-f6ba4988bd03
* Version Independent ID: 332cfe88-df27-b4e2-6556-d482b5f7fca2
* Content: [.drop ingestion mapping - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/drop-ingestion-mapping

[2020-06-14 04:32] orspod commented on #156
@yuanman2016 thanks for your feedback.

[2020-06-15 06:32] CHEEKATLAPRADEEP-MSFT commented on #156
@yuanman2016 Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/466](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/466)
The changes should be live EOD or tomorrow. We will now close this issue. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we

[2020-06-15 06:32] #156 closed

[2020-06-16 08:33] orspod commented on #126
I am closing this issue. Link to [WI](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1736737)

[2020-06-16 08:33] #126 closed

[2020-06-17 13:10] MantisTree opened #162 "Example(s) missing"
Examples of implementation would be nice.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c844fe93-572f-fcf9-7752-ca8252381e89
* Version Independent ID: 15f828db-95ff-1328-66bf-ddedf6c44865
* Content: [count() (aggregation function) - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/

[2020-06-17 17:04] KranthiPakala-MSFT commented on #162
@MantisTree
Thanks for the feedback! We have assigned the issue to content author to further review the feedback and update the document as appropriate.

[2020-06-17 19:20] vamuzumd opened #165 "How to get all matches from extract() if the input matches a given regex pattern more than once"
[Enter feedback here]
I am trying to use _extract_ to match a given regex pattern from a column. My problem is that the column contains more than 1 value that matches the regex and I want to extract all the values that match the regex, but extract only returns the first matched pattern.

**Sample Input:**
"The following programs consumed the most virtual memory: ServiceHost.exe (4320) consumed 270

[2020-06-17 19:25] vamuzumd commented on #165
Looked into extract_all documentation and it achieves the intended purpose, closing the issue.

[2020-06-17 19:25] #165 closed

[2020-06-17 23:55] KranthiPakala-MSFT commented on #165
Hey @  thanks for sharing your findings. :)

extract_all() documentation :https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/extractallfunction

[2020-06-18 02:15] pallxk opened #166 "search "Lab*PC" syntax"
It's said that

\# | Syntax | Meaning (equivalent where) | Comments
-- | -- | -- | --
8 | search "Lab*PC" | where * matches regex @"\bLab\w*PC\b" |  

But my test reveals that `search "Lab*PC"` actually equals to `where * matches regex @"\bLab.*PC\b"`

Test it with the following KQL:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2020-06-18 07:04] CHEEKATLAPRADEEP-MSFT commented on #166
@pallxk  Thanks for bringing this to our attention. Your feedback  has been shared with the content owner for further review.

[2020-06-18 20:48] orspod commented on #166
@yonileibowitz can you assist with this question? Thanks!

[2020-06-18 20:57] yonileibowitz commented on #166
thanks @pallxk for pointing this out - you are correct, the docs are wrong, and we'll have them fixed

[2020-06-18 20:59] yonileibowitz commented on #166
resolved by https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/527

[2020-06-21 08:43] orspod commented on #166
@yonileibowitz thanks for fixing the docs. @pallxk - hope this answers your question. I am now closing this issue. If you have additional questions, feel free to reach out once again....

[2020-06-21 08:43] #166 closed

[2020-06-21 12:09] orspod commented on #153
@cdmihai - a WI has been created to deal with your suggestion. I'm closing this as an open issue for now, but feel free to continue to comment here as necessary.

[2020-06-22 13:13] #153 closed

[2020-06-22 13:20] orspod commented on #162
@sloutsky - thanks for adding the example.
@MantisTree - thanks for the feedback. I'm closing this issue for now, but feel free to continue to comment here if needed.

[2020-06-22 13:20] #162 closed

[2020-06-25 06:04] gauravgahlot299 opened #177 "Unable to download kusto"
[Enter feedback here]
kusto download link doesnt work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ba96a1-65dd-5320-6d36-47de50b8403f
* Version Independent ID: deee5b70-9bd5-2bf9-f7b7-12c40200693d
* Content: [Getting started with Kusto.Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/tools/kusto

[2020-06-25 15:28] yonileibowitz commented on #177
Hi @gauravgahlot299 ,

could you please specify which link you've clicked on, what happened when you did, and what you mean by "doesn't work" in more detail?

[2020-06-27 17:31] BadrulAlomEY opened #182 "Needs better documentation on PyPy"
The link to installing the Python connector is not very useful. This link was a bigger help:
https://github.com/azure/azure-kusto-python

Or just tell the user to type in
azure-kusto-data
azure-kusto-ingest

into the PyPy section of the databricks server library.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66353133-

[2020-06-27 23:39] iKshitiz opened #183 "ADF Substring length as an optional argument says invalid."
In documentation, It is mentioned that length parameter in substring function is optional and can be left blank. But In adf, It says substring requires 3 arguments.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 103728d9-415c-551e-ca55-7bd70a0894f0
* Version Independent ID: f88b2b51-a787-585b-708b-6b333fbdfe49
* Conten

[2020-06-28 06:45] BharathNimmala-MSFT commented on #182
@BadrulAlomEY Thank you for your feedback, assigned this issue to our Product PM and document author @ManojRaheja to further evaluate the feedback and update the document accordingly.

[2020-06-28 06:47] BharathNimmala-MSFT commented on #183
@iKshitiz Thank you for bringing this to our notice, our team will look into it and get back to you at the earliest.

[2020-06-29 08:11] yoelb opened #185 "Ingestion from ADLS"
It seems that the ingestion from  Azure Data Lake Storage Gen 2 (ADLSv2) is not correct. It should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8367589f-76cb-1a24-37d0-e4355594fb18
* Version Independent ID: 3455ea4f-4ce4-ee0d-007c-d4ca3b7ec89e
* Content: [Kusto .ingest into command (pull data from storage)

[2020-06-29 17:09] KranthiPakala-MSFT commented on #185
@yoelb  Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-06-29 17:44] KranthiPakala-MSFT commented on #177
Hi @gauravgahlot299 ,

Could you please point us to the link you are referring to? - Thanks.

[2020-06-29 17:51] KranthiPakala-MSFT commented on #183
@iKshitiz Thanks for reaching out. After reviewing the feedback, it seems that you are referring to Azure Data Factory substring function but this documentation is for Azure Data Explorer. If you have any feedback regarding ADF, please open another issue in ADF document.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and

[2020-06-29 17:51] #183 closed

[2020-06-29 19:28] mansivsaxena opened #188 "Data from Event Hub not showing up in Azure Data Explorer"
1. I used a sample data generator application written in C# in Visual Studio Code to generate some data in Azure Cosmos DB in a container.
2.  Then wrote an Azure Function to send this data to event hub.
3. Created an Azure Data Explorer account and a database with a table in it and used a data connection to connect to the created event hub where data was sent.
4. On running the application and az

[2020-06-30 01:15] SaurabhSharma-MSFT commented on #188
@mansivsaxena Thanks for your feedback! We will investigate and update as appropriate.

[2020-06-30 04:46] gauravgahlot299 commented on #177
on this page https://kusto.azurewebsites.net/docs/kusto/tools/kusto-explorer.html, when I click on install kusto explorer it redirects me to aka.ms/ke and that page never loads for me

[2020-06-30 06:04] sivanyuegmail opened #189 "error feedback"
[Enter feedback here]

curl -d '{"db":"Samples","csl":"print Test=\"Hello, World!\"","properties":"{\"Options\":{\"queryconsistency\":\"strongconsistency\"}}"}"'

最后一个}后满多了一个"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d046c47f-5e33-bff9-51fd-b8fa4905a260
* Version Independent ID: 49509522-8d22-75e4-8dc7-ec78ff83a04

[2020-06-30 06:40] sivanyuegmail opened #190 "I need to some help"
[Enter feedback here]

"Use the bearer token in your request to the query endpoint."
Could you give more comprehensive examples of the last request? I tried for a day and still couldn't get through.

the error message as follow

"error": {
        "code": "Bad request",
        "message": "Query (parameter name: 'csl') cannot be empty.",
        "@context": {
            "clientRequestId": "unspec

[2020-06-30 08:17] abbashus opened #192 "Kusto install link does not work"
The link to install Kusto explorer via "Install the Kusto.Explorer tool" does not work. It points to current page url.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ba96a1-65dd-5320-6d36-47de50b8403f
* Version Independent ID: deee5b70-9bd5-2bf9-f7b7-12c40200693d
* Content: [Getting started with Kusto.Explorer](https

[2020-06-30 08:20] abbashus commented on #177
Similar issue #192.

[2020-06-30 08:21] abbashus commented on #192
Closing this one. Similar to #177.

[2020-06-30 08:21] #192 closed

[2020-06-30 13:10] KrishnaG-MSFT commented on #189
@sivanyuegmail Thanks for reaching out! Is this issue a duplicate of [#190](https://github.com/MicrosoftDocs/dataexplorer-docs/issues/190)? If Yes, please let me know so that I can close this issue. If No, please elaborate your feedback with more context.

[2020-06-30 13:11] KrishnaG-MSFT commented on #190
@sivanyuegmail Thanks for your comment! We will review and provide an update as appropriate.

[2020-06-30 22:58] KranthiPakala-MSFT commented on #177
@gauravgahlot299 @abbashus What is the browser you are using? I was able to download it successfully without issue in Chrome. Have you tried using Chrome? If not could you please try and let us know?

![image](https://user-images.githubusercontent.com/50185738/86185130-7702b080-baea-11ea-81df-e122f2a40f4f.png)

[2020-07-01 07:26] abbashus commented on #177
I was able to install with Edge browser, still not working with Chrome.

[2020-07-01 18:46] KranthiPakala-MSFT commented on #177
@abbashus Thanks for confirming. As this is an issue to specific users, I would recommend you to file a support request for deeper analysis. In case if you don't have a support plan, please feel free to email at AzCommunity@microsoft.com with below details so that we can work closely on this to investigate further.

Subject of the email: [Attn - Kranthi : GitHub issue title]
Thread URL: [GitHub Is

[2020-07-01 18:46] #177 closed

[2020-07-01 19:00] KranthiPakala-MSFT commented on #190
Hi @sivanyuegmail,

Thanks for reaching out to us. At this time it does not look like you are referring to a document content, but to a specific scenario. If that's the case we request you to please post your question on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) and other forums - [stackoverflow](https://stackoverflow.com/questions/tagged/azure-data-explorer), we have ou

[2020-07-01 19:00] #190 closed

[2020-07-01 19:09] #185 closed

[2020-07-01 19:10] KranthiPakala-MSFT commented on #185
@yoelb The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with

Thank you..

[2020-07-01 20:58] ManojRaheja commented on #182
@BadrulAlomEY - this document is indented for using PySpark using the spark-kusto-connector. Would changing the doc title help?

[2020-07-02 17:43] grawcho commented on #192
@abbashus the link for installing kusto explorer is https://aka.ms/ke . It should download and open the Kusto. Explorer.application file which is the "click once" installer for the app.
The link seems to work for me both from inside and out side the MSFT network and allows annonimous access.
Can you please try the aka.ms link and share the actual URL you are directed to?

[2020-07-02 18:01] dougsi opened #199 "SDK version for .net standard"
The SDK version mentioned was in preview, but it's been deprecated. I don't see any new version that supports .net standard. What do you recommend?

This is what it says on the package itself:

And the version ([Microsoft.Azure.Kusto.Ingest](https://www.nuget.org/packages/Microsoft.Azure.Kusto.Ingest/)) that supersedes it doesn't support .net standard, only .net framework and .net core.

So, how d

[2020-07-02 22:48] KranthiPakala-MSFT commented on #199
@dougsi
Thanks for reaching out.  We have assigned the issue to the content author to investigate this and provide an update as appropriate.

[2020-07-02 22:55] KranthiPakala-MSFT commented on #188
@mansivsaxena Thanks for reaching out. Have you noticed any specific error or warning message?

[2020-07-02 22:57] orspod commented on #199
@vladikbr can you assist?

[2020-07-03 13:47] KrishnaG-MSFT commented on #189
@sivanyuegmail Closing this issue as there was no further response.

[2020-07-03 13:47] #189 closed

[2020-07-05 10:05] vladikbr commented on #199
The documentation is not correct.
We indeed do not publish .NET Standard package, due to certain limitations we ran across.
So right now we only offer .NET and .NET Core.

Side note: going forward (if and when we shift the baseline requirement for .NET to 4.7.2 or higher) we will be able to go back to publishing .NET Standard packages.

[2020-07-06 04:54] KranthiPakala-MSFT commented on #188
@mansivsaxena We will now proceed to close this thread as we have not heard back from you. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thanks.

[2020-07-06 04:54] #188 closed

[2020-07-06 05:37] orspod commented on #182
PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/638 created to fix title

[2020-07-07 06:31] orspod commented on #182
@BadrulAlomEY - thanks for your feedback. The title of the article was changed accordingly. I am now closing this issue.

[2020-07-07 06:31] #182 closed

[2020-07-07 06:34] orspod commented on #199
@dougsi thanks for your feedback and bringing the incorrect doc to our attention. A WI has been created to update the docs accordingly. I am now closing this issue.

[2020-07-07 06:34] #199 closed

[2020-07-07 10:19] orspod commented on #199
@dougsi : PR to fix the docs: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/650

[2020-07-08 19:15] karthik25 opened #207 "Unable to get the sample to work"
Hello,

I have a data explorer resource that has a database and a table w/ ~ 600k rows. I am trying to use this `KustoClientFactory.CreateCslQueryProvider` to execute a query but I cannot seem to get it to work. It fails with the following exception. While I understand that its failing because something is missing in the instance of `KustoConnectionStringBuilder` passed, what actually it is is not

[2020-07-09 05:52] CHEEKATLAPRADEEP-MSFT commented on #207
@karthik25  Thanks for the question! We are investigating and will update you shortly.

[2020-07-09 15:57] orspod commented on #207
@karthik25 we are in the process of fixing this doc. PR#https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/650.

[2020-07-10 15:17] karthik25 opened #211 "GetIngestionStatusBySourceId always returns the status of Queued"
Hello,

I am having trouble getting the `GetIngestionStatusBySourceId` method to work (https://docs.microsoft.com/en-us/azure/data-explorer/kusto/api/netfx/kusto-ingest-client-examples#ingest-from-local-files-and-report-status-to-a-table). It always seem to return a status of **Queued**, even after the ingestion is completed as per the data explorer (using `.show operations`). Am I missing anythin

[2020-07-10 15:36] karthik25 commented on #211
Sorry, it does work perfectly. I missed setting the `ReportLevel` and `ReportMethod` properties for the `KustoQueuedIngestionProperties` instance. Closing this one out. Thanks!

[2020-07-10 15:36] #211 closed

[2020-07-10 19:56] KranthiPakala-MSFT commented on #211
@karthik25 Glad that you were unblocked. Thanks for sharing your findings here 😊

[2020-07-12 06:40] orspod commented on #207
@karthik25 - thanks again for your feedback and for alerting us to issues with the doc. The doc has been revamped. See: https://docs.microsoft.com/en-us/azure/data-explorer/net-sdk-ingest-data . I will now close this issue. If you have additional problems, feel free to open a new issue or comment here.

[2020-07-12 06:40] #207 closed

[2020-07-15 18:54] pengjuntc opened #218 "The syntax uses sort by"
Shouldn't it be order by in the syntax?

_T_ | **`sort by`** _column_ [`asc` | `desc`] [`nulls first` | `nulls last`] [, ...]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b9f01ec0-f05e-3df0-6e70-1089542a03d6
* Version Independent ID: 3cbe9447-afe9-36c5-2bde-09807649973d
* Content: [order operator  - Azure Data Explor

[2020-07-15 19:02] KranthiPakala-MSFT commented on #218
@pengjuntc Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate.

[2020-07-20 18:13] KranthiPakala-MSFT commented on #218
Hi @pengjuntc ,

I have cross verified withe internal team and confirmed that `sort by` and `order by` are two aliases for the same operator with no difference in functionality. I have provided a feedback to the internal team to make this consistent in docs and it would be improved the near feature.

If you notice any differences, please feel free to report it to us.

We will now proceed to close

[2020-07-20 18:13] #218 closed

[2020-07-21 02:30] gardnerjr opened #226 "ADX best practices: add "don't use decimal when real will work""
from random other places, this best practices doc should also include not using decimal unless you *really* need more accuracy than real (64 bit double) provides.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8936d746-8ea8-a5ac-a565-f50befdeb15e
* Version Independent ID: 412e3ef5-53ca-56eb-d3cd-1fb1088132e9
* Content:

[2020-07-21 10:31] CHEEKATLAPRADEEP-MSFT commented on #226
@gardnerjr  Thanks for the question! We are investigating and will update you shortly.

[2020-07-24 11:46] deyanp opened #232 "Call ExtendedKustoIngestClient.IngestFromStreamAsync with individual json document 20 times/second is fine or not?"
Hi,

The page contains a lot of recommendations in direction of batching the data to be ingested. What I don't understand though is why the client application code should do the batching in case of Queued Ingestion? In that case Azure Data Explorer can itself decide how often (e.g. every 5 minutes) and how many queue messages to read at once, right?

Can I simply ingest individual json documents (

[2020-07-24 12:03] deyanp commented on #232
It should be actually the same as ingestion from Event Hubs where the client can write individual events to Event Hub at any time, and ADX ingests them every 5 minutes (batching them) ...

[2020-07-24 18:02] himanshusinha-msft commented on #232
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-07-26 15:00] SilentCC opened #233 "Streaming Ingestion with extents tags not work."
streaming ingest data with extents tags can upload data successfully, but extents tags didn't work!

[code]

I can see the new data in Kusto. But I can't see the new extents tags with command: .show table xxx extents.
However when I use client.IngestFromStorageAsync, I can successfully upload with tags.
Maybe there is a bug with IngestFromStreamAsync.

---
#### Document Details

⚠ *Do not edit thi

[2020-07-26 17:22] uribarash-personal opened #234 "Is soon be available a correct statement? I think it is already there."
Is soon be available a correct statement? I think it is already there.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbf34ca1-ff18-d8fb-3e5e-d1a814aef299
* Version Independent ID: 28e39763-a6c7-5e01-2ede-268685419e13
* Content: [Kusto Java SDK - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer

[2020-07-27 00:58] NavtejSaini-MSFT commented on #233
@SilentCC Github feedback is for raising issues with Github documentation. Please share the document link for which this feedback is raised

[2020-07-27 01:05] NavtejSaini-MSFT commented on #234
@uribarash-personal We are checking this and we will get back to you.

[2020-07-27 06:53] orspod commented on #233
@SilentCC  thanks for your feedback.
@alexefro - can you assist with this question?

[2020-07-27 07:04] alexefro commented on #233
@SilentCC extent tags are not supported on data sent via streaming ingestion. Please see full list of limitations [here](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-streaming#limitations).

[2020-07-27 07:18] orspod commented on #232
@deyanp - thanks for the feedback. @vladikbr - can you assist with an answer?

[2020-07-27 07:40] orspod commented on #226
@gardnerjr - thanks for your feedback. This information doesn't exactly belong to query best practices. Decimal type should not be used in the beginning (as storage) if it isn't needed. I will look for an alternative location to place this information. I am now closing this issue.

[2020-07-27 07:40] #226 closed

[2020-07-27 07:50] orspod commented on #234
Thanks @uribarash-personal for your feedback. @vladikbr - can you assist? Is "and will be soon available from Maven." correct or is it already available?

[2020-07-27 11:44] vladikbr commented on #234
Yes, it is long since available on Maven.
I think we should delete all references to Maven and just leave the reference to the GitHub repo (it has library installation guidance pointing at Maven)

[2020-07-27 12:54] vladikbr commented on #232
@deyanp,
First of all, ingesting your data record at a time will incur costs - every IngestFromStream call involves a storage write transaction.
It is true that the ADX ingestion service will batch the incoming data (or more correctly, the blobs containing that data), but the more source data is fragmented, the harder the ingestion service will work and the more storage transactions will be needed

[2020-07-27 13:28] deyanp commented on #232
@vladikbr, thanks for the answer and the hints about event hubs and IKustoIngestClient.IngestFromStreamAsync!

I am looking for the easiest (from client code point of view) way to ingest "trickling" data as you called it into ADX ...

Creating Event Hubs just for this sounds like an overkill (and additional costs) ... Do you mean that every call to IKustoIngestClient.IngestFromStreamAsync results

[2020-07-27 14:05] orspod commented on #234
@vladikbr and @uribarash-personal  - maven has been removed. See PR:
Is the SDK still called Kusto Java SDK and not Azure Data Explorer Java SDK?

[2020-07-27 21:14] StenPetrov opened #238 "Update Policy view must match target table schema in column order"
I had a view that was used as an update policy for a table.
I added a column to the view, somewhere in the middle of other columns in the last `project`, then I *appended* the same column to the existing table. As a result ingestion into that target table stopped working, until I made the view return that new column *last*

This behavior was unexpected, as there was still an obvious name+type mapp

[2020-07-28 00:22] sloh-ms opened #239 "Missing BadRequest_EmptyArchive"
I'm hitting "BadRequest_EmptyArchive: Empty zip archive" but that isn't documented here.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4865cc4e-f472-ebe3-c8a7-0be9a9b3d939
* Version Independent ID: 534b2807-65fd-3c55-4e56-56ed29b30dc2
* Content: [Kusto.Ingest errors & exceptions - Azure Data Explorer](https://docs.mic

[2020-07-28 02:42] SilentCC commented on #233
@alexefro Thanks! I see. But why are extent tags not supported with streaming ingestion? Can this be a new feature？

[2020-07-28 03:06] CHEEKATLAPRADEEP-MSFT commented on #239
@sloh-ms  Thanks for the feedback! . Your feedback  has been shared with the content owner for further review.

[2020-07-28 03:07] CHEEKATLAPRADEEP-MSFT commented on #238
@StenPetrov  Thanks for the feedback!  Your feedback  has been shared with the content owner for further review.

[2020-07-28 05:14] orspod commented on #234
@uribarash-personal - since your question has been addressed and doc changes made, I am now closing this issue

[2020-07-28 05:14] #234 closed

[2020-07-28 05:38] orspod commented on #233
@SilentCC thanks for your question. I see @alexefro addressed it. Since Github feedback is for raising issues with Github documentation, please direct any additional product questions to stackoverflow. I will now close this issue. Happy to assist you in the future with any additional docs questions.

[2020-07-28 05:38] #233 closed

[2020-07-28 17:38] thrastarson opened #241 "KustoSourceOptions keys out of date"
Hi,

It looks like the keys KUSTO_AAD_CLIENT_ID and KUSTO_AAD_CLIENT_PASSWORD in KustSourceOptions have been replaced with new names. If I'm correct it should be a breeze to update the docs.

Cheers,
Arni

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fa46bfb-17f8-a18d-50a5-eaad4c85ae19
* Version Independent ID: ac1fc

[2020-07-29 03:04] BhargaviAnnadevara-MSFT commented on #241
@thrastarson Thank you very much for bringing this to our attention. We shall evaluate and update the document as appropriate.

[2020-07-29 04:31] BhargaviAnnadevara-MSFT commented on #241
@thrastarson You're right in that the Azure AD application authentication property names had been updated recently. AFAIK, that would also affect `KustoSinkOptions` in addition to `KustoSourceOptions`.

I have submitted a PR to fix the issue that's under review. Thanks for letting us know!

[2020-07-29 06:36] orspod commented on #238
@StenPetrov - Thanks for your feedback!
The update policy function schema and the target table schema must match – column names, types, and their order.
We will update the document with that information. See PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/613
Now that your question has been addressed, I will close this issue

[2020-07-29 06:36] #238 closed

[2020-07-29 06:51] vladikbr commented on #232
@deyanp,
Yes, every call to IKustoIngestClient.IngestFromXXX (other than IngestFromBlob) includes a write transaction to Blob storage. A queue message is also written to point to the written blob (or to the existing blob in case of IngestFromBlob).

If your scenario is trickling data, Streaming ingestion is for you. This mechanism was specifically designed for trickling scenarios.

[2020-07-29 06:54] orspod commented on #232
@vladikbr thanks for the response.  @deyanp thanks for your feedback.
I will now close this issue.

[2020-07-29 06:54] #232 closed

[2020-07-29 08:09] deyanp commented on #232
Thanks @vladikbr , but are you sure Streaming Ingestion is applicable to my scenario where I have only a few events per second? I see this in the docs:

`"This ingestion method is suitable for ingesting a high volume of data, such as thousands of records per second, spread over thousands of tables. Each table receives a relatively low volume of data, such as a few records per second."`

Which is a

[2020-07-29 09:06] orspod commented on #239
@sloh-ms - thanks for your feedback.
BadRequest_InvalidOrEmptyBlob that appears in the documentation was replaced by 4 errors:
- BadRequest_InvalidBlob – non zip blob that the Engine failed to open and read
- BadRequest_EmptyBlob – empty blob
- BadRequest_EmptyArchive – zip file that doesn’t contain any archived elements
- BadRequest_EmptyBlobUri – the specified blob URI is empty
We will update th

[2020-07-29 09:06] #239 closed

[2020-07-29 10:00] githubavi opened #242 "How to specify "Retry" option for the async operation"
Hi Team, is there any way we can apply "retry" for the async operation? As tested I have found operation details like below,
e.g.

"OperationId": 82f5c388-b01a-4d16-ac17-4e8930ff54ec,
"Operation": TableSetOrReplace,
"NodeId": ,
"StartedOn": 2020-07-29T09:56:58.4927571Z,
"LastUpdatedOn": 2020-07-29T09:56:58.8051836Z,
"Duration": 00:00:00.3124265,
"State": Completed,
"Status": ,
"RootActivityId": 33

[2020-07-29 17:41] KranthiPakala-MSFT commented on #242
Hi @githubavi Thanks for reaching out. Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/products/) or [stackoverflow](https://stackoverflow.com/).

Once you post your issue on forums, it will have visibility across the community which has a better suited audience for such ty

[2020-07-29 17:41] #242 closed

[2020-07-30 14:21] #241 closed

[2020-07-30 16:25] yahorsi opened #246 "NOW()/UTCNOW()"
I expected to find on this page how could I get NOW/UTC NOW and didn't find

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14e96632-ab2c-4c9a-bc5e-4224859e7f4a
* Version Independent ID: b476eea5-5895-39ca-d4ab-b78ad3f39e98
* Content: [Datetime / timespan arithmetic - Azure Data Explorer](https://docs.microsoft.com/en-u

[2020-07-30 17:31] BhargaviAnnadevara-MSFT commented on #241
@thrastarson Thank you for the feedback! The change is merged internally and will go-live in the public docs shortly.

[2020-07-30 17:45] KranthiPakala-MSFT commented on #246
Hi @yahorsi , Thanks for reaching out. now() function is documented under Scalar functions section. Please refer to this doc: [now()](https://docs.microsoft.com/azure/data-explorer/kusto/query/nowfunction)

Hope this helps.

We will now proceed to close this thread. Please feel free to comment and tag us in your reply if there are further questions. We will gladly continue the discussion.

Thanks

[2020-07-30 17:45] #246 closed

[2020-07-30 21:18] bclubbMSFT opened #248 "Countif document needs an example to explain how the predicate works"
This page is difficult to follow without an example of what we can use as a predicate for the countif()

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54049329-6d97-b871-d77f-0d9bd3138b72
* Version Independent ID: d744fad1-2b1f-cca3-5cd0-d170d35c7d67
* Content: [countif() (aggregation function) - Azure Data Explorer](h

[2020-07-31 01:54] CHEEKATLAPRADEEP-MSFT commented on #248
@bclubbMSFT  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-07-31 02:59] shwetalodha opened #249 "Typo mistake"
[Enter feedback here]
In last 4th line - 'If you run the query above in Kusto.Explorer, all true values will be **displated** as 1, and all false values will be displayed as 0.'

My suggestion: It should be displayed rather than displated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54b8c137-22c6-18b2-d07e-cc9e76e4d

[2020-07-31 09:46] CHEEKATLAPRADEEP-MSFT commented on #249
@shwetalodha Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/750](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/750)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community contri

[2020-07-31 09:46] #249 closed

[2020-07-31 13:26] kylebrandt opened #250 "Add footnote or callout for "terms" in has/in string operators"
I was a little tripped up when a query like the following returned no results, even though there are results like "BA".

[code]

Returning to the documentation, and reading more of :-P, I see that I misunderstood because it matches 'terms' as described in https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/datatypes-string-operators#understanding-string-terms .

I think it might help

[2020-07-31 17:34] KranthiPakala-MSFT commented on #250
@kylebrandt
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will provide an update as appropriate.

[2020-07-31 21:06] MartinJaffer-MSFT commented on #250
@kylebrandt
Thank you for your feedback. This has been assigned to the content owner and will be updated as appropriate.

[2020-08-02 06:26] orspod commented on #250
@kylebrandt - thanks for your feedback. We will rewrite the topic to clarify. I am now closing this issue.

[2020-08-02 06:26] #250 closed

[2020-08-02 07:31] orspod commented on #248
@bclubbMSFT thanks for your feedback. The following two PRs have been created to clarify how predicate works:
https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/754 , https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/753
These clarifications should answer your question. Closing this issue now.

[2020-08-02 07:31] #248 closed

[2020-08-02 14:56] orspod commented on #239
See PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/743

[2020-08-04 01:59] SQLDataSide opened #255 "issue in ".create external table" using "dataformat=apacheavro ""
[Hi
I have used 2 MXCHIPDevKit from Microsoft and generated data using IoT Hub into a Blob storage (Gen2) (Cold Path), my point is that the data is real and stored in a cold storage.

I have tested reading the files using **======>**

.create external table TblNameNew (EnqueuedTimeUtc:datetime, Properties:dynamic, SystemProperties:dynamic, Body:dynamic, filename:string)
kind=blob
dataformat=apache

[2020-08-04 10:10] CHEEKATLAPRADEEP-MSFT commented on #255
@SQLDataSide  Thanks for the question! We are investigating and will update you shortly.

[2020-08-04 16:44] amsoffer opened #256 "Wrong line of code"
The last code snippet is wrong:
ingestClient.IngestFromStorageAsync
should be changed to
ingestClient.IngestFromStorageAsync(blobPath, ingestionProperties: properties).Result;

Because we must await on the future.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae82ebd2-f7f6-5068-54f2-69c7532b6b38
* Version Independent

[2020-08-04 17:03] SsandmanN opened #257 "Cartesian product example makes no sense with current parameters"
The Cartesian product example makes no sense when the 3rd column is fixed at a single value ([5]).
It should be 2 values for 2nd column and 3 values for 3rd column, as in the previous example, so the difference can be made apparent.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ec66d4d-34dc-ad45-e456-afaa20947616
* V

[2020-08-04 17:18] himanshusinha-msft commented on #256
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-08-04 17:19] himanshusinha-msft commented on #257
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-08-05 06:31] orspod commented on #256
@amsoffer - thanks for your feedback. @vladikbr - please review the requested change.

[2020-08-05 06:34] orspod commented on #255
@SQLDataSide Thanks for your question! @kerend - can you please assist? Thanks!

[2020-08-05 10:50] spektom commented on #255
@SQLDataSide please note that unlike external tables, full file path must be specified in `.ingest into` command connection string. If you need to ingest several files at once, you can separate connection strings with comma.

[2020-08-06 03:38] gauravgahlot299 opened #262 "No option to restore the tab which got mistakenly closed"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e0fe92a-90be-c666-9d29-fe3d4eb68b27
* Version Independent ID: bfb921ef-c510-a3d4-6d39-d7e7f5fde79f
* Content: [Quickstart: Query data in Azure Data Explorer Web UI](https://docs.microsoft.com/en-us/azure/data-explorer/web-query-data#provide-feedback)

[2020-08-06 05:31] CHEEKATLAPRADEEP-MSFT commented on #262
@gauravgahlot299  Thanks for the question! We are investigating and will update you shortly.

[2020-08-06 06:14] orspod commented on #255
@SQLDataSide - hope that answers your question. Closing the PR. If you have additional comments, feel free to continue the conversation.

[2020-08-06 06:14] #255 closed

[2020-08-06 07:23] vladikbr commented on #256
@amsoffer, thanks for pointing this out.

@orspod, can we please change line 205 to:
ingestClient.IngestFromStorageAsync(blobPath, ingestionProperties: properties).GetAwaiter().GetResult();

Thanks!

[2020-08-06 07:41] orspod commented on #256
@vladikbr - thanks for the fix. Created PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/771 to correct the docs. Closing this issue now.

[2020-08-06 07:41] #256 closed

[2020-08-06 14:27] pbalajiips opened #264 "Query could not be parsed at 'extractjson' on line"
[Enter feedback here]
 Hi There, flunetbit running on our k8s cluster pushes json format logs to azure log analytics, and when i try to extract a specific field from the josn log using extractjson function i am getting below error.  anyone has idea on this...?

Query could not be parsed at 'extractjson' on line [5,2]

Token: extractjson
Line: 5
Position: 2
If issue persists, please open a support

[2020-08-06 16:44] KranthiPakala-MSFT commented on #264
@pbalajiips Thanks for reaching out. Since the issue is not a feedback on the doc in reference, I would recommend you to create a thread on the forums - [Microsoft Q&A ](https://docs.microsoft.com/en-us/answers/products/) or [stackoverflow](https://stackoverflow.com/).

Once you post your issue on forums, it will have visibility across the community which has a better suited audience for such type

[2020-08-06 16:44] #264 closed

[2020-08-06 19:07] KranthiPakala-MSFT commented on #262
Hi @gauravgahlot299 , Thanks for reaching out and sharing your feedback. This could be a feature request.
I would recommend you to please share your feedback in ADX user voice forum: https://feedback.azure.com/forums/915733-azure-data-explorer as well as you can send feedback directly to ADX product team from portal as shown below.

![image](https://user-images.githubusercontent.com/50185738/89571

[2020-08-06 21:25] ZStoner opened #266 "'Let' examples unclear which is for parameterized user-defined or lambda functions"
The issue refers to the docs page for the `let` operator, and in the 2nd to last example: `Use multiple let statements`.

- This example is an example of using the previously mentioned "_lambda_" syntax...
- ...but it's also an example of the also-previously mentioned "_User-defined function_" near the top of the docs page...
    * ...and it's currently the **_ONLY_** example here using **paramete

[2020-08-07 04:37] BhargaviAnnadevara-MSFT commented on #266
@orspod Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-07 04:38] BhargaviAnnadevara-MSFT commented on #266
@ZStoner Thanks for the feedback. I have assigned the issue to the content author to evaluate and update as appropriate.

[2020-08-07 23:19] KranthiPakala-MSFT commented on #262
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Thank you

[2020-08-07 23:19] #262 closed

[2020-08-09 06:36] orspod commented on #266
@ZStoner - thanks so much for your detailed feedback.
Here are the examples you requested:
<img width="500" alt="github-issue-266(a)" src="https://user-images.githubusercontent.com/42039150/89726481-b7c3e280-da23-11ea-96bb-6575fc30c01e.PNG">

<img width="573" alt="github-issue-266(b)" src="https://user-images.githubusercontent.com/42039150/89726488-bdb9c380-da23-11ea-9823-2b5438154d87.PNG">
<img w

[2020-08-10 06:56] orspod commented on #266
Updated doc in PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/778. Closing this issue now.

[2020-08-10 06:56] #266 closed

[2020-08-11 13:51] orspod commented on #257
@SsandmanN - see PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/789 with doc changes that should answer your question. Closing this issue.

[2020-08-11 13:51] #257 closed

[2020-08-12 04:54] tamatsuxyz opened #273 "(doc/suggestion) need more detail about NSG rule requirement for client access"
**Suggestion**
About VNET deployment scenarios, Inbound NSG rule requirement is described in the following doc.

Deploy Azure Data Explorer cluster into your Virtual Network:
https://docs.microsoft.com/en-us/azure/data-explorer/vnet-deployment

I suggest to add the client access rule sample to "Inbound NSG configuration" tables.

**Background**
I try to set NSG rule following "Inbound NSG configur

[2020-08-12 10:08] CHEEKATLAPRADEEP-MSFT commented on #273
@tamatsuxyz  Thanks for the feedback! Your feedback  has been shared with the content owner for further review.

[2020-08-13 09:35] orspod commented on #273
@tamatsuxyz - thanks for your feedback. @basaba - can you assist?

[2020-08-13 11:33] basaba commented on #273
@tamatsuxyz Thanks for your feedback.
The inbound rules section are rules that must be added for proper cluster operation, while the optional rules (based on user config) are mentioned earlier, we are concerned that adding another one to the list will be confused with the required dependency

[2020-08-15 11:50] chshihMSFT opened #279 "missing keyword "policy""
should be
.alter table T1 **policy** streamingingestion '{"IsEnabled": true}'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a7868235-6354-d9ae-1c3c-450c4d4133cd
* Version Independent ID: 9b6f6ac8-fa6d-b855-769d-00f04559c4ce
* Content: [Kusto streaming ingestion policy management - Azure Data Explorer](https://docs.mic

[2020-08-15 18:04] KranthiPakala-MSFT commented on #279
@chshihMSFT Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-08-15 18:12] #279 closed

[2020-08-15 18:12] KranthiPakala-MSFT commented on #279
@chshihMSFT The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thank you

[2020-08-16 05:58] orspod commented on #273
@tamatsuxyz - I think that addresses your question. Thanks again for your feedback. I'm now closing this issue.

[2020-08-16 05:58] #273 closed

[2020-08-16 08:38] YaelSchuster commented on #250
https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/759 was created to address this Issue

[2020-08-26 17:06] mkennedy345 opened #303 "Cx wants application to insert data in a SQLDB table that will then be used by application insights as a filter condition"
Cx wants application to insert data in a SQLDB table that will then be used by application insights as a filter condition. Need help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f9edad54-ecb5-dc20-970d-214cce195a6f
* Version Independent ID: 9db1a075-410f-2933-6414-b92e5efd6385
* Content: [Cross-database & cross-clust

[2020-08-26 23:35] Grace-MacJones-MSFT commented on #303
Hi @mkennedy345, thanks for the Comment. We are actively investigating and will get back to you soon.

[2020-08-26 23:53] KranthiPakala-MSFT commented on #303
Hi @mkennedy345  Thanks for leveraging Azure docs feedback channel to raise this question. This channel is reserved for ‘Azure docs’ feedback- for sharing doc feedback and suggesting content improvements.

After reviewing the feedback, it seems that this issue is not related directly to the doc in reference. Hence, I would recommend you to please create a thread on the forums - [Microsoft Q&A](htt

[2020-08-27 23:49] KranthiPakala-MSFT commented on #303
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply and reopen the issue. We will gladly continue the discussion.

Please do share the forum link once it is created.

Thank you

[2020-08-27 23:49] #303 closed

[2020-08-31 15:31] laughingman42 opened #310 "More examples for JSON"
It would be useful if you can specify examples for JSON format. It would also be useful is there are either sample files to test with, and a writeup on how to handle nested json objects.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c0c78088-4289-15ef-3111-8116976124bb
* Version Independent ID: 3c8d8be2-2841-df0a-6c8b

[2020-08-31 17:09] KranthiPakala-MSFT commented on #310
@laughingman42
Thanks for the feedback! We have assigned the issue to the content author to further review this feedback and update the document as appropriate.

[2020-09-01 07:42] orspod commented on #310
@laughingman42 - thanks for your feedback.
There isn't much difference in querying using externaldata() or external_table().
Here's an example of querying JSON file using external_table: https://docs.microsoft.com/en-us/azure/data-explorer/data-lake-query-data#querying-hierarchical-data-formats
Hope this answers your question.

[2020-09-01 12:55] orspod commented on #310
PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/883 for fix

[2020-09-01 15:43] #310 closed

[2020-09-02 07:18] spektom commented on #310
@laughingman42 Please see the updated documentation that now includes some examples for querying JSON files: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/externaldata-operator

[2020-09-02 14:08] laughingman42 opened #315 "Datasize limitations for externaldata()"
This page doesn't specify what is the maximum number of records, or maximum filesize that this function can handle. Unless there are no limits.
It might also be a good idea to add a footnote that the ALA query will always limit the resultset to 10,000 rows, though the entire table maybe retrieved from the externaldata source.

---
#### Document Details

⚠ *Do not edit this section. It is required

[2020-09-02 16:58] KranthiPakala-MSFT commented on #315
@laughingman42
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-02 20:29] laughingman42 commented on #310
Thanks @spektom
Really appreciate it. This will be helpful for everyone.

[2020-09-02 22:27] mitulmk opened #318 "Consider specifying that Filter search shows up only once you have more than a handful of entries"
Nit: consider specifying that Filter search shows up only once you have more than a handful of entries

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7fdcd90e-7d08-39e9-c2e5-888c690c6cbc
* Version Independent ID: 525bd933-5da2-29b5-8d7c-dadfa094c9f0
* Content: [Parameters in Azure Data Explorer dashboards](https://docs

[2020-09-03 00:14] KranthiPakala-MSFT commented on #318
@mitulmk
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-03 07:32] ymost opened #319 ""Use time filters first" best practice - what about conjunctions that contain time filters?"
If the `where` operator contains a conjunction of a time filter with a non-time filter, will Kusto know to apply the time filter first, and benefit from the "use time filters first" best practice?
Or should the user split the conjunction in two, so the time filter is explicitly first?
Whatever the answer is - I suggest adding this information to the page.

[code]

---
#### Document Details

⚠ *Do

[2020-09-03 17:02] orspod commented on #318
@Gabilehner

[2020-09-03 17:21] KranthiPakala-MSFT commented on #319
@ymost
Thanks for the feedback! We have assigned the issue to the content author to investigate this and update the document as appropriate.

[2020-09-04 03:50] Nishco opened #323 "There is an error reunning this page, sample file in code may not be avaiable."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fc651bb6-a359-89f1-04ca-fd1a253a3ab0
* Version Independent ID: e5d31e43-6497-243d-0162-319dc9aeb87c
* Content: [Ingest sample data into Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/ingest-sample-data)
* Content Source: [da

[2020-09-04 04:02] Nishco opened #324 "Step 5 needs ( ) as shown below"
Step 5 needs ( ) as shown below
.ingest into table StormEvents h'https://kustosamplefiles.blob.core.windows.net/samplefiles/StormEvents.csv?st=2018-08-31T22%3A02%3A25Z&se=2020-09-01T22%3A02%3A00Z&sp=r&sv=2018-03-28&sr=b&sig=LQIbomcKI8Ooz425hWtjeq6d61uEaq21UVX7YrM61N4%3D' with (ignoreFirstRecord=true)

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-09-04 06:31] CHEEKATLAPRADEEP-MSFT commented on #324
@Nishco  Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-04 06:31] CHEEKATLAPRADEEP-MSFT commented on #323
@Nishco  Thanks for your feedback! We will investigate and update as appropriate.

[2020-09-04 07:26] CHEEKATLAPRADEEP-MSFT commented on #324
@Nishco, As per my repro, it shows as nothing wrong with step5.  Could you please more details on your feedback.

`.ingest into table StormEvents h'https://kustosamplefiles.blob.core.windows.net/samplefiles/StormEvents.csv?st=2018-08-31T22%3A02%3A25Z&se=2020-09-01T22%3A02%3A00Z&sp=r&sv=2018-03-28&sr=b&sig=LQIbomcKI8Ooz425hWtjeq6d61uEaq21UVX7YrM61N4%3D' with (ignoreFirstRecord=true)`

![image](http

[2020-09-04 07:43] #323 closed

[2020-09-06 06:28] sloutsky commented on #319
Both expressions are the same.
(and please try to use 'has' instead of 'contains')

[2020-09-06 06:34] ymost commented on #319
@sloutsky - thanks!
I understand from this that given a conjunction, Kusto will apply the time filter first, and benefit from the "use time filters first" best practice.
Short follow-up question: does the order of the expressions in the conjunction matter?

[code]

[2020-09-06 06:56] orspod commented on #319
@ymost - re: has/contains see here:
https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/datatypes-string-operators#what-is-a-term
"Kusto builds a term index consisting of all terms that are four characters or more, and this index is used by has, !has, and so on. If the query looks for a term that is smaller than four characters, or uses a contains operator, Kusto will revert to scanni

[2020-09-06 07:09] sloutsky commented on #319
The order of filters matters in general. Use time-filters first, and prefer having filter with best selectivity (stronger filter) first.

[2020-09-06 07:31] orspod commented on #318
@mitulmk - created a WI to make this update. I'm closing now.

[2020-09-06 07:31] #318 closed

[2020-09-06 08:59] orspod commented on #319
@ymost - thanks for your feedback. I believe your question has been addressed. I will now close this issue. If you have additional questions, feel free to continue the conversation by tagging @sloutsky and @orspod

[2020-09-06 08:59] #319 closed

[2020-09-06 09:09] orspod commented on #324
@Nishco - thanks for your feedback. The SAS token has been extended and doc updated. I am now closing this issue.

[2020-09-06 09:09] #324 closed

[2020-09-06 09:11] ymost commented on #319
Thanks!
This is all very useful information, and some of it was not clear to me from the documentation.
Here are the things that were not clear to me from the current documentation, for your consideration:
1. Consecutive "where" filters are equivalent to a single "where" filter with a conjunction.
2. While the `and` operator is theoretically symmetric, in KQL queries it matters which filters come

[2020-09-07 07:30] orspod commented on #315
@laughingman42 - thanks for your feedback. Standard [query limits](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/concepts/querylimits) apply to external data queries as well.
Fix in PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/909
I will now close this issue. Thanks!

[2020-09-07 07:30] #315 closed

[2020-09-07 10:53] kiranpradeep opened #328 "WithAadUserPromptAuthentication is not available in SDK"
Under section "AAD-based authentication examples", recommended code syntax samples use _WithAadUserPromptAuthentication_  which is not available in SDK

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9e2795f4-802e-754f-f325-00ebe5a2e5e1
* Version Independent ID: 1eee8c82-9f46-764f-429d-228071922d4a
* Content: [Kusto con

[2020-09-07 22:17] RyanHill-MSFT commented on #328
Thanks for the feedback @kiranpradeep! I have assigned the issue to the content author to investigate further and update the document as appropriate.

[2020-09-08 05:20] orspod commented on #328
@kiranpradeep thanks for your feedback @vladikbr - can you please assist?

[2020-09-08 06:25] orspod commented on #318
@Gabilehner @Mitulmk please review https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/906

[2020-09-09 16:18] KranthiPakala-MSFT commented on #328
HI @kiranpradeep,

Please see below response from @vladikbr in the user voice forum:

[code]

Reference user voice link: https://feedback.azure.com/forums/915733-azure-data-explorer/suggestions/36777112-withaaduserpromptauthentication-method-not-availab

Tech Community discussion on the same issue: https://techcommunity.microsoft.com/t5/azure-data-explorer/missing-method-withaaduserpromptauthentic

[2020-09-09 22:27] baselsalam opened #335 "What are the steps to recover a deleted ADX dashboard?"
One of our colleagues wants to recover an ADX dashboard they deleted.

We found some instructions, but those are for "Azure portal dashboards".

How can we do this for ADX dashboards?

[2020-09-10 00:25] KranthiPakala-MSFT commented on #335
Hi @baselsalam,

Thanks for leveraging Microsoft docs feedback channel to raise this question. This channel is reserved for ‘Microsoft docs’ feedback- for sharing doc feedback and suggesting content improvements. Up on  reviewing this feedback, we are not able to determine any specific document related to this query.

Since your issue is specific to a use case, we request you to please reach out i

[2020-09-10 00:25] #335 closed

[2020-09-10 15:35] KranthiPakala-MSFT commented on #328
Hi @kiranpradeep , We have opened an internal work item (issue# 1769801) and assigned to content author to investigate further on this and update the document as appropriate.

We will now proceed to close this thread based on this update. If there are further questions regarding this, please feel free to comment and we will gladly continue the discussion.

Thanks much for using Microsoft docs feed

[2020-09-10 15:35] #328 closed

[2020-09-13 17:09] gbmsft opened #336 "TotalOriginalDataSize does not mention the Unit of measurement. Is it Bytes ?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: edf45cf2-2f81-6063-01eb-6195d2e04054
* Version Independent ID: 5d1e0dd2-d14c-8a59-ce77-1b9f90fbe828
* Content: [Diagnostic information - Azure Data Explorer](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/diagnostics)
* Content

[2020-09-14 03:26] RyanHill-MSFT commented on #336
Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-15 05:33] uthsab opened #340 "Limit for string size for parese_xml"
[Question]
Is the limit for data size of 128KB still applicable. I have a ~220KB xml content as string in one of the fields and parse_xml seems to work on that field.
Is it still recommended to stick to the 128KB limit?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 428a7851-083f-b4f4-d37a-cdf235101b72
* Version Indepe

[2020-09-15 11:34] CHEEKATLAPRADEEP-MSFT commented on #340
@uthsab  Thanks for the question! We are investigating and will update you shortly.

[2020-09-15 21:05] simonsigre opened #342 "Typo under "Supported formats - ISO 8601" section"
Under the "Supported formats - ISO 8601"  section the following exsts;
[code]
Please note the `"` . This trailing `"` should be removed;

This trailing `"` exists in approx 14 places in the document

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68211517-a161-eb5b-9456-ec946c20c351
* Version Independent ID: a4d128b1-e6

[2020-09-16 04:59] KranthiPakala-MSFT commented on #342
@simonsigre
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-09-16 05:54] KranthiPakala-MSFT commented on #336
Hi @gbmsft,

Sorry for the delay in response. Yes, the unit of measurement for 'TotalOriginalDataSize' output parameter is 'bytes' .

Hope this answers your query. We will now proceed to close this thread. If there are further questions regarding this matter, please feel free to comment or open a new issue. We will gladly continue the discussion.

Thank you

[2020-09-16 05:54] #336 closed

[2020-09-16 06:37] sloutsky commented on #340
The limit was updated to 1MB (1,048,576 bytes). We will update the docs accordingly.

[2020-09-16 06:40] uthsab commented on #340
Sure, thanks for the update!

[2020-09-16 06:43] orspod commented on #340
Thanks @sloutsky for creating the PR with the fix: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/951
@uthsab thanks for the feedback! I am now closing this issue.

[2020-09-16 06:43] #340 closed

[2020-09-16 06:45] orspod commented on #342
@simonsigre - Thanks for your feedback. fix was done and PR was merged. Closing this issue.

[2020-09-16 06:45] #342 closed

[2020-09-16 19:50] chrisbro-MSFT opened #344 "Documentation needs to describe how to use advanced connection strings in the web app"
In the client app you can specify parameters on connection strings, like https://<cluster>.kusto.windows.net/security_signals_realtime;Authority Id=<guid>;User ID=<something>.

The documentation should also specify the format that you use when specifying these properties for the Data Explorer web app.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2020-09-17 00:29] KranthiPakala-MSFT commented on #344
@chrisbro-MSFT  Thanks for the feedback! We have assigned the issue to the content author to further evaluate this and update the document as appropriate.

[2020-09-17 07:29] satonaoki opened #346 "Non-ASCII characters in entity names"
Entity names (such as column names) don't support non-ASCII characters (such as Japanese or Korean characters).

Could you please clarify what characters are supported as "letters"? (I think they are a-z and A-Z)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e85b21a1-258d-b3bf-8c35-51f0e7162f21
* Version Independent I

[2020-09-17 07:41] koheikawata opened #347 "The newest azure-kusto-data (pip version 1.0.2) doesn not have "azure.kusto.data.request""
I found the issues below, and please take a look at it and fix it if it is issues.

1) This document should be updated because the most recent version of azure-kusto-data does not work for the import below.
[code]
Instead, it should be
[code]

2) Another feedback is the example on this page does not use BlockBlobService. So the line below has to be removed.
[code]

---
#### Document Details

⚠ *Do

[2020-09-17 11:21] orspod commented on #344
@chrisbro-MSFT thanks for the feedback.
@lidermanrony - can you assist?
--

[2020-09-17 11:32] orspod commented on #347
@koheikawata - thanks for your feedback.
@vladikbr - can you assist?

[2020-09-17 12:19] CHEEKATLAPRADEEP-MSFT commented on #346
@satonaoki
Thanks for the question! We are investigating and will update you shortly.

[2020-09-17 14:57] sloutsky commented on #346
Any letters supported, including Korean ones (with escaping):

print ['여보세요'] = 's'

[2020-09-17 17:36] lidermanrony commented on #344
the web client does not currently support any of these parameters

[2020-09-18 12:25] SamZhangQingChuan opened #349 "hint.strategy = partitioned"
Is `hint.strategy = partitioned` valid? I have a piece of legacy code containing this.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 563768b5-021b-9d7a-98cd-a630f67b02fd
* Version Independent ID: 2c0fe763-005d-5532-a7b4-9697e29dd380
* Content: [Shuffle query - Azure Data Explorer](https://docs.microsoft.com/en-us/azur

[2020-09-18 17:22] himanshusinha-msft commented on #349
Thanks for the feedback and bringing this to our notice . At this time we are reviewing the feedback and will update the document as appropriate .

[2020-09-21 09:55] orspod commented on #344
Thanks @lidermanrony for the information. I am now closing this issue. @chrisbro-MSFT, If you have additional questions, feel free to open another issue.

[2020-09-21 09:55] #344 closed

[2020-09-21 10:40] orspod commented on #346
@satonaoki - thanks for your feedback. @sloutsky - thanks for the response. I am now closing this issue.

[2020-09-21 10:40] #346 closed

[2020-09-21 10:47] orspod commented on #347
@ArielYehezkely - thanks for your assistance.
@koheikawata - the doc has been updated according to your feedback PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/964
I am now closing this issue.

[2020-09-21 10:47] #347 closed

[2020-09-22 08:24] benohead opened #354 "Syntax error: Query could not be parsed: . Query: '.show database query results cache'"
When trying to use this command to show the query result cache, I get the following error: "Syntax error: Query could not be parsed: . Query: '.show database query results cache'"

Does this command still exist ? Or are there any kind of prerequisite in order to be able to execute it ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-09-22 17:31] KranthiPakala-MSFT commented on #354
@benohead
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-22 18:52] himanshusinha-msft commented on #349
@SamZhangQingChuan  : I dont see anything mentioned on the document which mentions it deprecated or something . I could say it should work , but I will wait to hear from the content author as the final verdict . @orspod  : Can you please comment on the ask ?

[2020-09-23 02:19] SamZhangQingChuan commented on #349
What I mean is that in the doc it says `Set shuffle query strategy using the query parameter hint.strategy = shuffle or hint.shufflekey = <key>.`. This seems not to mention other possibilities?

[2020-09-23 13:24] orspod commented on #349
@SamZhangQingChuan  - Thanks for your feedback.
Hint.strategy=shuffle and hint.strategy=partitioned are quite the same.
In the past it was recognized as partitioned then there was a suggestion to change this to shuffle.
shuffle is now published in the docs and partitioned was removed but both are valid and recognized by the service.

I will now close this issue. Feel free to reply here if you have

[2020-09-23 13:24] #349 closed

[2020-09-23 14:16] SamZhangQingChuan commented on #349
@orspod Would it be better if it can be mentioned in the doc that `partitioned` has been deprecated?

[2020-09-23 14:23] orspod commented on #349
@SamZhangQingChuan - we will place the info in the doc and/or the KE and Web UI intellisense.

[2020-09-23 14:30] SamZhangQingChuan commented on #349
@orspod thanks:)

[2020-09-23 18:00] brandonh-msft opened #359 "clusterName parameter cannot be a variable"
When I attempt this:

[code]

I receive this error:

so seems this syntax either isn't allowed or isn't properly documented if there is indeed a way to pull it off.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d6a7945-dc26-39b3-bec7-1778b7e53958
* Version Independent ID: d59ce2e5-2d13-0ff7-1017-df2bdb35299e
* Conten

[2020-09-23 21:37] KranthiPakala-MSFT commented on #359
@brandonh-msft
Thank you for reaching out. At this time we are reviewing the ask and will provide an update as appropriate

[2020-09-24 06:58] mpdelbuono opened #360 "series_fill_const does not have optional parameter 'constant_value'"
When attempting to use the default for constant_value, I get an error: series_fill_const(): function expects [2..3] argument(s).

Based on this error, as best I can tell, series_fill_const does not have a default value for constant_value. If true, the documentation should be updated to reflect that.

I would make the edit myself, but since it's an API definition I would look to the code owners to

[2020-09-24 12:31] orspod commented on #360
@mpdelbuono - thanks for the feedback. We are currently investigating this issue

[2020-09-24 14:38] adieldar commented on #360
Thank @mpdelbuono for reporting this. We consider whether default value makes sense for this parameter. Accordingly we will fix either the function or the doc

[2020-09-24 17:30] orspod commented on #360
@mpdelbuono the doc has been updated PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/996.
@adieldar - thanks for the update.
Closing this issue.

[2020-09-24 17:30] #360 closed

[2020-09-24 18:30] adieldar commented on #360
The updated doc is already published: [series_fill_const](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/series-fill-constfunction)

thanks,
Adi

[2020-09-25 18:42] adamabdelhamed opened #364 "Table visualization requests"
Table visualizer in dashboard should remember column size settings (e.g. manual sizes, or auto size options that are present within the column hamburger menu.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4f766314-2d79-147e-728c-cd661ab29939
* Version Independent ID: 0f1b5a73-c5ac-1505-bc62-5361eeaedbb7
* Content: [re

[2020-09-25 20:47] KranthiPakala-MSFT commented on #364
@adamabdelhamed  Thanks for the feedback! We have assigned the issue to the content author to review this and provide an update as appropriate.

@orspod Could you please have a look at this feedback and do the helpful needed. Thanks!

[2020-09-25 22:56] himanshusinha-msft commented on #354
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-09-27 06:22] prashanthmadi opened #365 "Map visualization improvement"
Took me a while to figure this out and thought a good addition to our documentation.. you can do join on externaldata to get long/lat if your data has country code or county name.. while map visualization also requires long/lat

you can find lat/long + country_code+ country_name data from below link
https://developers.google.com/public-data/docs/canonical/countries_csv

| join kind = leftouter (
e

[2020-09-27 08:27] orspod commented on #354
@benohead - thanks for the feedback. The query syntax has been fixed in PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1003. Closing this issue.

[2020-09-27 08:27] #354 closed

[2020-09-27 09:09] orspod commented on #364
@adamabdelhamed - thanks for your request. Since this is a feature request, I am closing this issue.
Adding @Olgagold318 and @lidermanrony for FYI of feature request.

[2020-09-27 09:09] #364 closed

[2020-09-28 03:06] NaveenAkode-MSFT commented on #365
Hello @prashanthmadi, Thanks for the feedback! We are currently investigating and will update you shortly.

[2020-09-28 05:50] HarithaMaddi-MSFT commented on #365
@prashanthmadi - Thank you for your valuable inputs. It is mentioned in the documentation that lat/long details are needed for rendering map visual. And if they are not available in input data, retrieving them from external data is a specific scenario and we have [documentation ](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/externaldata-operator)on external data and joins as we

[2020-09-28 19:45] joelverhagen opened #368 "Is it possible to ingest from a container using Kusto query language?"
This guide (https://docs.microsoft.com/en-us/azure/data-explorer/ingest-data-one-click) allows you to interactively import up to 1000 blobs into a Kusto table. Is it possible to do this same thing via scripting or the Kusto query language?

I would like to perform this task on a scheduled basic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2020-09-28 21:18] MartinJaffer-MSFT commented on #359
Hello @brandonh-msft  I believe you are running into the caveat for the cluster function:

I was able to run
[code]
I am seeing if there is a way to make it constant other than hard-coding string literals

[2020-09-29 00:29] KranthiPakala-MSFT commented on #368
@joelverhagen  Thanks for reaching out. We have assigned the issue to the content author to further review the ask and provide an update as appropriate.

[2020-09-29 00:38] KranthiPakala-MSFT commented on #368
Hi @joelverhagen I just had a conversation with internal source and confirmed that your ask can be achieved by LightIngest Utility.

LightIngest is a command-line utility for ad-hoc data ingestion into Azure Data Explorer. The utility can pull source data from a local folder or from an Azure blob storage container.

For more info please refer to this document: https://docs.microsoft.com/azure/data

[2020-09-29 00:38] #368 closed

[2020-09-29 05:24] #365 closed

[2020-09-29 15:04] prashanthmadi commented on #365
As i mentioned earlier, it took me atleast an hour to figure out that solution. we should be little more clear in this visualization doc on how to do it i guess.

[2020-09-29 15:13] orspod commented on #365
Thanks @prashanthmadi for the feedback. I am adding for FYI: @mjsharma and @Gabilehner

[2020-09-29 19:12] MartinJaffer-MSFT commented on #359
I am closing this issue, as we connected out-of-channel.  If you would like to use `cluster()` with functions rather than string literals, please upvote/request this feature in the [feedback forum](https://feedback.azure.com/forums/915733-azure-data-explorer).

[2020-09-29 19:12] #359 closed

[2020-10-01 16:12] brandonh-msft commented on #359
[done and done](https://feedback.azure.com/forums/915733-azure-data-explorer/suggestions/41528347-allow-cluster-to-take-function-variable-values), thanks!

[2020-10-08 13:59] LUKEALDRED opened #381 "sort and top example contains incorrect column name"
The second example in **sort and top** (https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/tutorial?pivots=azuredataexplorer#sort-and-top) contains the column name **EndLat**. I noticed EndLat doesn't contain any information. Should this be **EndTime**?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1b32c

[2020-10-08 17:27] KranthiPakala-MSFT commented on #381
Hi @LUKEALDRED ,
Thanks for the feedback and bringing this to our notice. At this time we are reviewing the feedback and will update the document as appropriate.

[2020-10-13 13:32] Craigmeister68 opened #387 "Connection problems from Notebook"
It should be mentioned in the documentation that the successful connection attempt must identify the cluster using the pattern
'<cluster name>.<region>'

Not including the region produces this error message at the connection cell:
ConnectionError: HTTPSConnectionPool(host='<cluster name>.kusto.windows.net', port=443): Max retries exceeded with url: /v2/rest/query (Caused by NewConnectionError(': F

[2020-10-13 18:59] krishnabm opened #389 "Reference docs for a_timespan"
[Enter feedback here]
Can you please provide a reference link to all acceptable values for a_timespan argument?
Valid combinations of month,year etc.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f89f5099-9596-787c-198e-cc5fcc2eb5aa
* Version Independent ID: 9cbf33f5-0698-131b-f2d5-11433e1d2392
* Content: [ago() - Azu

[2020-10-13 22:18] Mike-Ubezzi-MSFT commented on #387
Hi, @Craigmeister68. Thank you for bringing this to our attention. I will work with the content team to have an update made as you have suggested. Thank you for taking the time to detail all the minor but important updates needed to this document.

[2020-10-14 05:16] CHEEKATLAPRADEEP-MSFT commented on #389
@krishnabm  Thanks for the question! We are investigating and will update you shortly.

[2020-10-14 06:55] orspod commented on #381
@himanshusinha-msft  - thanks for the fix. Change was merged and will be live with next publish.
@LUKEALDRED - thanks again for the fix. I will now close this issue.

[2020-10-14 06:55] #381 closed

[2020-10-14 07:00] orspod commented on #389
@krishnabm - see this topic for additional information about timespan format: https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/format-timespanfunction

[2020-10-14 13:23] michael-niemand opened #391 "Example that better shows regex usage"
It would be great to have an example where the content of the field that's parsed using regex is more like:

`10.242.21.13 [14/Oct/2020:12:48:32 +0000] "GET / HTTP/1.1" `

instead of

`value01=10.242.21.13 value02=[14/Oct/2020:12:48:32 +0000] value03="GET / HTTP/1.1" `

The 2nd example is trivial and can be solved easily with the text parse alone. Extracting values without column names using regex

[2020-10-14 15:12] michael-niemand commented on #391
nevermind, I think I'm using it wrong and use extract() instead

[2020-10-14 15:12] #391 closed

[2020-10-15 11:59] CHEEKATLAPRADEEP-MSFT commented on #391
@michael-niemand  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-10-15 12:03] CHEEKATLAPRADEEP-MSFT commented on #387
@orspod  Could you please review further and update the document as appropriate.

[2020-10-15 12:15] orspod commented on #387
@Craigmeister68  thanks for the feedback.
@ManojRaheja - can you please review user comments on this and Azure Notebooks doc

[2020-10-16 19:16] krepko7 opened #395 "Syntax"
You refer to Always-on configuration in one section title and then in two tables below you refer to it as Active-Active-Active-n.  You may want to update that.  Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c426719b-43df-8702-a573-9b1698439773
* Version Independent ID: d33d9114-7292-8487-a4c3-a3491b23c212
* Co

[2020-10-17 03:44] Mike-Ubezzi-MSFT commented on #395
@krepko7 Thank you for bringing this to our attention. I am having the content team review this and have an update made as appropriate.

[2020-10-18 08:12] orspod commented on #389
@krishnabm - I believe we have answered your question. I will now close this issue. If you have additional questions, please respond here and @mention both @orspod and @CHEEKATLAPRADEEP-MSFT

[2020-10-18 08:12] #389 closed

[2020-10-18 08:17] orspod commented on #387
@ManojRaheja and @mbnshtck - please review user comments and assist in clarifications, as needed.

[2020-10-18 08:26] orspod commented on #395
@krepko7 - thanks for your useful feedback. Created a [WI](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1784648) to update doc. I am now closing this issue. Thanks!

[2020-10-18 08:26] #395 closed

[2020-10-18 08:31] orspod commented on #387
@Craigmeister68 Thanks for your feedback. I've created a [WI](https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1784650) to deal with your request. I will now close this issue

[2020-10-18 08:31] #387 closed

[2020-10-19 00:36] metrognome1 opened #398 "Incorrect example for `endswith_cs` operator"
In the __Operators on Strings__ section the example given for the `endswith_cs` operator is shown as `"Fabrikam" endswith "Kam"` is incorrect. That statement when run in Azure Data Explorer resolves as false. The example should be something like `"Fabrikam" endswith "kam"`. The original example was probably copied from the `endswith` operator (non case-sensitive).

---
#### Document Details

⚠ *Do

[2020-10-19 03:58] BhargaviAnnadevara-MSFT commented on #398
@metrognome1 Thanks for the feedback. We shall evaluate and update the document as appropriate.

[2020-10-19 04:23] BhargaviAnnadevara-MSFT commented on #398
@metrognome1 Yes, it looks like a copy-paste error as `endswith` examples are the same as that of `endswith_cs`. Thanks for bringing this to our attention. I have submitted a PR to fix the issue that's in review.

Meanwhile, here is the updated set of examples:

Operator | Description | Case-Sensitive | Example (yields true)
-- | -- | -- | --
`endswith_cs` | RHS is a closing subsequence of LHS | Y

[2020-10-19 12:51] #398 closed

[2020-10-20 07:09] orspod commented on #387
@Craigmeister68 - doc was updated and Azure Notebooks removed in this PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1113
Thanks again for your feedback

[2020-10-21 06:02] joelw opened #403 "Clarify the starting offset for Event Hubs ingestion"
Hi! Would it be possible for this document to clarify the initial offsets used for Event Hubs ingestion? In my testing it appears that it uses the latest position - that is, it will only start reading events published after the connection is created. Is there any way to set an initial offset / timestamp or to specify that it should read all available events upon creation?

---
#### Document Detail

[2020-10-21 11:23] HarithaMaddi-MSFT commented on #403
@joelw - Thanks for posting the question. We are looking into it and will update you shortly.

[2020-10-22 05:24] HarithaMaddi-MSFT commented on #403
@orspod - As per my understanding, it is not configurable today. Can you please share your thoughts on the ask.

[2020-10-22 09:14] orspod commented on #403
@kerend and @LeaShallev - will you respond re: the question?

[2020-10-23 21:11] gibron opened #408 "Understand Azure Data Explorer Dashboard Usage (Number of Users, etc.)"
Is there a way to find out what the usage of Azure Data Explorer Dashboards by users by Subscription?
Would like to provide a usage report to influence the ongoing use of this feature across the broader team.

Some metrics we would be after:
* number of dashboards created
* number of users w/ dashboards (by time period [day, month])
* daily users of dashboards (by time period)

---
#### Document D

[2020-10-23 21:23] thisisnish commented on #408
+1

[2020-10-24 05:58] Svijay-msft commented on #408
Thanks for the question! We are taking a look into this and will get back to you soon.

[2020-10-25 12:32] orspod commented on #403
@kerend and @LeaShallev can you assist with this question? Thanks.

[2020-10-25 12:33] orspod commented on #408
@Gabilehner - can you assist with this question?

[2020-10-25 13:01] kerend commented on #403
![image](https://user-images.githubusercontent.com/20067795/97107918-c640a280-16d2-11eb-820d-4a3e6be798cb.png)

Please see the note on the subject - events are ingested from the moment the connection was created.

[2020-10-26 06:57] joelw commented on #403
Ah! You're absolutely correct. I did not see that for some reason. Thank you and sorry for the trouble!

[2020-10-26 07:01] orspod commented on #403
@joelw since your questions was answered I will now close your issue.
@kerend thanks for the assistance

[2020-10-26 07:01] #403 closed

[2020-10-26 21:36] Gabilehner commented on #408
Hi, unfortunately we don't have a trivial way to offer this today.
As workaround, assuming you have admin permissions on the DB where the data of the dashboards is stored, you can use .show queries command to extract all the data about the queries that were sent to the relevant DB. Assuming you have a way to identify the queries sent from the dashboard (in the query text column) you'll be able to

[2020-10-27 04:56] henrik-me opened #412 "Unable to install KE via Edge even with ClickOnce installed"
the aka.ms/ke and mirror links doesn't allow me to download kusto explorer on the new edge even with the ClickOnce for Google chrome installed.

Works fine when using Internet Explorer.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c7ba96a1-65dd-5320-6d36-47de50b8403f
* Version Independent ID: deee5b70-9bd5-2bf9-f7b7-

[2020-10-27 05:33] JayaChatterjee-MSFT commented on #412
Thank you for your feedback! We will review and update as appropriate.

[2020-10-27 06:09] HarithaMaddi-MSFT commented on #408
@Gabilehner - Thanks for sharing the details along with workaround and limitation.

@gibron - As recommended, kindly post an idea in[ feedback forum](https://feedback.azure.com/forums/915733-azure-data-explorer) which is closely monitored by our product team to implement in future releases. I will proceed with closing the issue now, please feel free to post for any queries.

[2020-10-27 06:09] #408 closed

[2020-10-27 06:27] HarithaMaddi-MSFT commented on #412
@henrik-me - I have observed that it is giving a pop-up on the new edge, please try allowing pop-ups and let us know if it works.

[2020-10-27 07:13] henrik-me commented on #412
For me the redirect doesn't even happen on Edge (86.0.622.51). PoP-up blocker doesn't say anything about blocked (other aka.ms links works fine for redirects). Same issue with pop-up blocker completely disabled.

[2020-10-27 07:37] HarithaMaddi-MSFT commented on #412
@henrik-me - Thanks for confirming the details. As I am unable to reproduce the same, moving it to content author for further thoughts.

@orspod - Can you please take a look and suggest.

[2020-10-27 12:10] orspod commented on #412
@sloutsky - can you assist @henrik-me ?

[2020-10-27 12:24] sloutsky commented on #412
Please check if the following article helps:

https://smartofficeblog.com/2020/02/19/microsoft-edge-chromium-and-clickonce/

[2020-10-28 08:12] orspod commented on #412
@henrik-me was the article mentioned by @sloutsky helpful in solving your issue?

[2020-10-29 12:56] AC740 opened #416 "Json Array Doesn't Work"
[Enter feedback here]

I made same process and it works with one record but it doesn't work with multiple records.

This works
{"TimeStamp": "1987-11-16 12:00","Value": "two array World","Source": "TestSource"}

but this doesn't work
[{"TimeStamp": "1987-11-16 12:00","Value": "two array World","Source": "TestSource"},{"TimeStamp": "1987-11-16 12:00","Value": "twotwo array World","Source": "TestSou

[2020-10-29 17:02] AC740 commented on #416
Found, there is multiline json option. (I had the same problem 5 years and I did again.)

[2020-10-29 17:02] #416 closed

[2020-10-30 04:11] CHEEKATLAPRADEEP-MSFT commented on #416
@AC740  Hope you have self resolved and hence closed the issue. Thanks for the update.

[2020-11-02 09:31] orspod commented on #412
@henrik-me - I assume your question was addressed. I will now close this issue.

[2020-11-02 09:31] #412 closed

[2020-11-02 11:09] rbhanot4739 opened #420 "Parse not working correctly"
I have got a column in my kusto table which contains some log messages of the following form

msg1
`2020-10-29T12:57:08+00:00 dc1-k30-asw05.nw.domain.com cron: :- addNeighbor: Created neighbor ac:1f:6b:8b:09:99 on Vlan100`

msg2
`2020-10-29T15:55:20+00:00 dc1-k12-asw30.domain.com cron: :- validatePortSpeed: Unable to validate speed for port 100000000005c. Not supported by platform`

Now I want to

[2020-11-02 16:42] henrik-me commented on #412
No this doesn't help me, ClickOnce doesn't work for for me on Edge Chromium.
My workaround was to open IE and install KE using IE
(using the ClickOnce for Google Chrome extension only works if .net 3.5 is installed and I prefer to not have that on my system).

[2020-11-03 05:06] HarithaMaddi-MSFT commented on #420
@rbhanot4739 - Please help with the link of document on which above document feedback request is created.

In case your query in not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be better place to get help on your scenario. These forum community members could

[2020-11-04 07:32] HarithaMaddi-MSFT commented on #420
@rbhanot4739 - Since this issue is not related directly to the doc, I would recommend you to create a thread on the forums - Q&A or stack overflow.
Once you post your issue on forums, it will have visibility across the community which is a better suited audience for such types of issues.
Please create a Forum thread and post it's link here and tag me. I will now proceed to close this issue. Feel f

[2020-11-04 07:32] #420 closed

[2020-11-05 16:36] hugovoerman opened #427 "COGS term unclear / undefined"
Hi,

Also in https://github.com/orspod/azure-docs/commit/21e10d60f7d2d71b3378f5a8e4405069ba6de24f
the term COGs was used and created confusion and not clearity.

In this page it even has a heading. "Optimizing for COGS"
What is meant by that?

Thank you for the clarification.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-11-06 07:58] CHEEKATLAPRADEEP-MSFT commented on #427
@hugovoerman  Thanks for the question! We are investigating and will update you shortly.

[2020-11-08 08:20] orspod commented on #427
Thanks @hugovoerman for the feedback
Adding explanation of COGs to text in various places in repo: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1182
Will now close this issue.

[2020-11-08 08:20] #427 closed

[2020-11-09 08:40] thec0dewriter opened #430 "Parquet data ingest inconsistency"
Hello,
The description under: https://docs.microsoft.com/en-us/azure/data-explorer/lightingest#how-to-ingest-data-using-creationtime mentions that the blob name contains parquet but the the Kusto ingest command says that the format and pattern is CSV:

ingest-{Cluster name and region}.kusto.windows.net;AAD Federated Security=True -db:{Database} -table:Trips -source:"https://{Account}.blob.core.win

[2020-11-09 11:39] orspod commented on #430
@thec0dewriter thanks for your feedback.
@vladikbr - please advise.

[2020-11-10 13:58] vladikbr commented on #430
this is a typo, we need to change "-pattern:"*.csv.gz"" to "-pattern:"*.parquet""

[2020-11-10 15:38] stowen-msft opened #432 "Count should have many more examples"
The Count() command is very powerful and has a lot of usages. The example given is very basic and should be expanded with other scenarios, like the role of count in aggregate statements.  Since KQL is so new, these docs are still a top result and this page doesn't provide much meat.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2020-11-10 18:10] MartinJaffer-MSFT commented on #432
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-11-10 20:13] MartinJaffer-MSFT commented on #432
Thank you for your feedback, @stowen-msft . This has been assigned to the content owner, @orspod , and will be updated as appropriate.

Documentation rich with examples, are often the most helpful documentation.

[2020-11-11 05:06] akashlkendre opened #435 "all data ingest links(https://kustosamplefiles.blob.core.windows.net/jsonsamplefiles/simple.json) are expired."
can you please also mention if we can fetch data drom an API which gives JSON as output...?

---
#### Document Details

https://docs.microsoft.com/en-us/azure/data-explorer/ingest-json-formats?tabs=kusto-query-language

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68d5f8ab-85c7-19bf-d91a-e76e81c76d7b
* Version Independent ID: 161a10d8-fc7f-97e8

[2020-11-11 05:49] HarithaMaddi-MSFT commented on #435
@akashlkendre - Thanks for posting the query. I am looking into it and will update you shortly.

[2020-11-11 07:24] HarithaMaddi-MSFT commented on #435
@orspod - Can you please take a look and share your thoughts.

[2020-11-11 08:47] orspod commented on #435
@akashlkendre - thanks so much for the feedback. We have a WI to fix these links. I will expedite the process. Closing this issue now.

[2020-11-11 08:47] #435 closed

[2020-11-11 08:55] YaelSchuster commented on #430
Addressed in PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1198

[2020-11-11 09:37] orspod commented on #430
Thanks all for the fix. @thec0dewriter thanks again for your feedback. Since issue is resolved, I'm now closing this issue.

[2020-11-11 09:37] #430 closed

[2020-11-11 09:47] orspod commented on #432
@stowen-msft thanks for your feedback.

The count operator usage is very simple and therefore doesn't require more text.
I think you are referring to the count() - aggregation function. There is additional documentation on this page https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/count-aggfunction with links to other option:
https://docs.microsoft.com/en-us/azure/data-explorer/kus

[2020-11-11 14:34] sergiopaim opened #436 "Complex regex examples are missing. Just typing them in quotes doesn't work"
There should be more elaborated regex examples like this one:
`indexof_regex(cloud_RoleInstance, @'-[\da-z]*-[\da-z]*\.\(none\)')`

I have lost 1h hour trying to figure out that single quotes should be used along with @...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9ed06035-d345-6258-e782-247623d25b3f
* Version Ind

[2020-11-11 14:37] stowen-msft commented on #432
You are right :)

Maybe adding a link to the other aggregation function would help similarly confused people, like me :)

Thanks.

[2020-11-11 19:32] SaurabhSharma-MSFT commented on #436
@sergiopaim Thanks for the feedback !  I have assigned this issue to content author to investigate and update the document as appropriate.

[2020-11-11 21:52] zurdev opened #438 "Examples on this page are broken"
The query clause below appears in multiple examples and is incorrect:
`extend series_decompose_anomalies_y_ad_flag = series_multiply(10, series_decompose_anomalies_y_ad_flag) // multiply by 10 for visualization purposes`
1. series_multiply doesn't take scalar value as first argument
1. the second argument has a typo, it's currently pointing to undefined variable

---
#### Document Details

⚠ *Do n

[2020-11-11 22:08] orspod commented on #438
@zurdev thanks for your feedback.
@adieldar - will you take a look?

[2020-11-11 22:15] orspod commented on #436
Thanks @sergiopaim for your feedback.
@sloutsky - can you assist?

[2020-11-12 00:36] Utsav37 opened #440 "activity_counts_metrics not aggregating distinct count + dcount also incorrect."
As mentioned activity_counts_metrics is not correctly calculating dcount and its not correctly counting Aggregating distinct Count.

PFA image for proof of aggregating not working. 2nd Image is proof that dcount itself is incorrect!!
![image](https://user-images.githubusercontent.com/25278093/98880180-06768380-243c-11eb-8296-b88e711bf560.png)

![image](https://user-images.githubusercontent.com/252

[2020-11-12 01:02] Utsav37 commented on #440
Should I confirm all plugins that we use in Kusto before using it? I am worried now as its the first time I started using plugin and it had bugs.

[2020-11-12 05:07] HarithaMaddi-MSFT commented on #440
@Utsav37 - Thanks for posting the query. I am looking into it and will get back to you soon.

[2020-11-12 07:02] orspod commented on #435
@akashlkendre - there are new links to the files. Please lmk if you have any issues...

[2020-11-12 09:01] bingbing8 opened #441 "How does this sample related with the description"
[Enter feedback here]
The following command ingests data into a table (Purchases) with two columns, SKU (of type string) and Quantity (of type long).

Kusto

Copy
.ingest inline into table Purchases <|
Shoes,1000
Wide Shoes,50
"Coats, black",20
"Coats with ""quotes""",5

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf

[2020-11-12 09:34] HarithaMaddi-MSFT commented on #441
@bingbing8 - Thanks for posting the query. I can see that the sample is associated to .ingest inline command as covered in the article. Can you please share more details on unrelated content here as that will help us in assisting you better.

[2020-11-12 11:55] HarithaMaddi-MSFT commented on #440
@orspod - Can you please take a look and share your thoughts.

[2020-11-12 13:10] vivere-dally opened #442 "Documentation is incomplete"
Hello,

By following this documentation you can create an application that can only view/read resources. I believe you should also point to some documentation with which you can make an admin application.

In cases of creation of let's say IotHubDataConnection from C#, you encounter an error due to roles and permissions.

Besides everything mentioned here, the application also needs to be added fo

[2020-11-12 13:28] adieldar commented on #438
Hi @zurdev,

All samples are working as is

1. series_multiply can take scalar value as one of its argument and it's extended into a constant vector of the same size as that of the other argument

2. There is no typo. When you call extend with some function, but without specifying explicitly the name of the variable (or tuple of variables) then the variable names are generated  based on the output

[2020-11-12 17:15] zurdev commented on #438
@orspod - thanks for the quick response
@adieldar - thanks for the elaborated answer
Nothing is broken with the current examples, I'm closing this issue.
Since Kusto.Explorer's intellisense is showing red squiggly and Kusto's documentation doesn't mention series_multiple can take scalar input, it might be a good idea to add a comment.

[2020-11-12 17:15] #438 closed

[2020-11-12 18:18] MartinJaffer-MSFT commented on #442
Thank you for your detailed feedback.  We are looking into the issue, and we will respond when we have more information.

[2020-11-12 18:19] MartinJaffer-MSFT commented on #442
Thank you for your feedback @vivere-dally . This has been assigned to the content owner, @orspod , and will be updated as appropriate.

[2020-11-12 19:35] bingbing8 commented on #441
@HarithaMaddi-MSFT , I did not link "Shoes" "Wide Shoes" with column name SKU when I read the description and sample code.

[2020-11-15 10:07] orspod commented on #432
Thanks @stowen-msft. We will add that link. Closing the issue.

[2020-11-15 10:07] #432 closed

[2020-11-15 10:13] orspod commented on #436
@sergiopaim - thanks for your feedback. PR: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1212 was created to address your issue. I am now closing this issue. Thanks

[2020-11-15 10:13] #436 closed

[2020-11-15 10:29] orspod commented on #442
@vladikbr - please advise.

[2020-11-16 00:10] yifatsor commented on #440
@Utsav37, it's hard to tell from the images what exactly is not working correctly. Are you referring to the record of Nov 1st in the first image (in which the aggregated_dcount is lower than previous row)? Or is it something else?
It would also greatly help if you can provide a request id for these queries.

[2020-11-16 04:52] HarithaMaddi-MSFT commented on #441
@bingbing8 - Thanks for confirming. I will proceed with closing this issue now, please feel free to comment for further queries.

[2020-11-16 04:52] #441 closed

[2020-11-16 19:39] hugovoerman opened #447 "Which version of Excel is needed for the Kusto connector"
In this page there is no reference to which version of Excel is needed to have the Azure Data Explorer connector.

On my company laptop, I do not have this connector. Is there something to install?

Please elaborate on how to enable this in Excel.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab47fc29-e55f-b6f8-4904-f

[2020-11-17 03:28] CHEEKATLAPRADEEP-MSFT commented on #447
@hugovoerman Could you please share the Excel version installed on your company laptop and also please do share the screenshot where it doesn't show Azure Data Explorer connector?

You can find the excel version in the Account section => About Excel.

[2020-11-17 07:38] orspod commented on #442
@vivere-dally - thanks for your feedback. Created a WI to add link to the documentation. Closing this issue now.

[2020-11-17 07:38] #442 closed

[2020-11-17 08:58] hugovoerman commented on #447
Hi,

Please see the requested screenshots below.

Hope this helps to enable me to use the Azure Data Explorer connector.

Best regards,

Hugo Voerman
Priva

[cid:image001.png@01D6BCC8.21F47BC0]

[cid:image002.png@01D6BCC8.21F47BC0]
From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Tuesday, November 17, 2020 04:29
To: MicrosoftDocs/dataexplorer-docs <dataexplorer-docs@noreply.github.com>

[2020-11-18 07:12] CHEEKATLAPRADEEP-MSFT commented on #440
@Utsav37  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-18 07:12] #440 closed

[2020-11-18 07:14] CHEEKATLAPRADEEP-MSFT commented on #447
@hugovoerman Unable to find the requested screenshot, Could you please upload it again?

[2020-11-18 10:01] hugovoerman commented on #447
Here they are again.

From: CHEEKATLAPRADEEP-MSFT <notifications@github.com>
Sent: Wednesday, November 18, 2020 08:14
To: MicrosoftDocs/dataexplorer-docs <dataexplorer-docs@noreply.github.com>
Cc: Hugo Voerman <hugo.voerman@priva.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dataexplorer-docs] Which version of Excel is needed for the Kusto connector (#447)

@hugovoerman<ht

[2020-11-20 04:21] CHEEKATLAPRADEEP-MSFT commented on #447
@hugovoerman Could you please reshare the screenshot?

[2020-11-22 07:23] orspod commented on #126
Note: docs fixed: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1206

[2020-11-22 10:13] tedvanderveen opened #453 "Missing documentation on how to select the engine version of Azure Data Explorer when deploying via ARM template"
When creating a new Azure Data Explorer cluster using the Portal UI, there is a checkbox available that allows to select version 3 of the ADX engine, see [Screenshot](https://docs.microsoft.com/en-us/azure/data-explorer/media/engine-v3/create-new-cluster-v3.png).
How can we create a new Azure Data Explorer cluster with that same setting (engine version 3) enabled via ARM template deployment (or ot

[2020-11-22 16:12] SumanthMarigowda-MSFT commented on #453
@tedvanderveen Thanks for your question. We are checking on this and will respond to you soon.

[2020-11-23 04:25] CHEEKATLAPRADEEP-MSFT commented on #447
@HugoDurana  Since we have not heard back from you we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly reopen the issue and continue the discussion.

[2020-11-23 04:25] #447 closed

[2020-11-23 06:05] CHEEKATLAPRADEEP-MSFT commented on #453
@tedvanderveen  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

@orspod Could you please review and update the document with the template that allows selecting version 3 of the ADX engine?

[2020-11-23 09:47] hugovoerman commented on #447
@CHEEKATLAPRADEEP-MSFT

Hi, I did mail the requested screenshots twice. I think the mailhandler you use is not capable of correctly handing the mail (send by outlook btw).

Hopefully you find them now as a zip file attached to this

And thus I think the line:

should be altered. This can be used but apparently when sending embedded screenshots (which outlook perfectly supports), things get a bit m

[2020-11-24 20:54] hugovoerman opened #459 "Looking for first() and last() aggregation functions like in Time Series Insights"
In Time Series Insights the aggregation functions first and last are also available. Where are they in ADX?

See https://docs.microsoft.com/en-us/rest/api/time-series-insights/gen1-query-syntax#aggregate-expressions for  a TSI description.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e79e226-f1e1-b6ec-f4aa-1a66818190

[2020-11-25 07:54] orspod commented on #459
@hugovoerman thanks for the feedback
@adieldar - please review and respond

[2020-11-25 13:08] adieldar commented on #459
@royoMS to answer

[2020-11-25 13:18] royoMS commented on #459
@hugovoerman you could use [arg_max](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/arg-max-aggfunction) and [arg_min](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/arg-min-aggfunction) aggregation functions inside a [summarize operator](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/summarizeoperator) to find the first/last values of a given

[2020-11-25 14:20] hugovoerman commented on #459
Thank you very much.

This (a little bit generalized) seems to do the job.

Can you confirm that this is the right way to do this?

T
| where DateTime > ago(1d)
| where Identifier == <blablabla>
| where reading matches regex ‘<nice regex to get the readings we want>'
| summarize last_value=arg_max(DateTime, v1=tostring(Value)), first_value=arg_min(DateTime, v2=tostring(Value)) by bin(DateTime, 180

[2020-11-25 15:02] royoMS commented on #459
@hugovoerman yes that seems right

[2020-11-25 19:04] Craigmeister68 opened #462 "Storage Account Requirements for Ingestion"
Greetings,
It would be helpful to have a statement on this page that states that storage account type General Purpose v1 is not supported for use with blob ingestion. The error message that occurs when you try to target this kind of account in a data connection from the Azure  Portal points to this doc - https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-overview. But putting

[2020-11-26 00:48] MonikaReddy-MSFT commented on #462
@Craigmeister68 -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-26 08:31] ciufudean opened #463 "delimiting let statements"
This statement is incomplete
_Multiple let statements can be used with the semicolon, ;, delimiter between them_

I am finding it that the semicolon needs to be even in this situation
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 741d0e14-4a3f-af28-1d6e-e6a6dd3dd414
* Version Independent ID: 731bbd4d-10c6-5cc4-

[2020-11-26 12:09] orspod commented on #459
@royoMS - thanks for your assistance with this question.
@hugovoerman - Now that your question has been addressed, I will close this issue.

[2020-11-26 12:09] #459 closed

[2020-11-26 12:24] orspod commented on #453
@tedvanderveen - thanks for your feedback. I have created a [WI](https://mseng.visualstudio.com/TechnicalContent/_queries/edit/1796697/?triage=true) to update this doc.
@AssafTaubenfeldMSFT - FYI
I am now closing this issue. I will follow up when doc is updated

[2020-11-26 12:24] #453 closed

[2020-11-26 12:31] orspod commented on #462
@Craigmeister68 - thanks for your feedback.
@kerend and @LeaShallev - can you please review the feedback?

[2020-11-26 12:33] CHEEKATLAPRADEEP-MSFT commented on #463
@ciufudean  Thanks for bringing this to our attention. Your feedback has been shared with the content owner for further review.

[2020-11-26 12:41] ciufudean opened #464 "code does not run"
This code will not run as `Text `is incorrectly cased.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7273ba66-9fda-51e5-1f6b-46cb610f6c33
* Version Independent ID: 12a79f6f-223f-3940-29dd-69d9dbc9f370
* Content: [Management (control commands) overview - Azure Data Explorer](https://docs.microsoft.com/en-us/azu

[2020-11-26 12:48] CHEEKATLAPRADEEP-MSFT commented on #464
@ciufudean  Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1267 ](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1267)
The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community cont

[2020-11-26 12:49] #464 closed

[2020-11-26 13:04] orspod commented on #463
@ciufudean - can you please clarify why your example is contradicting that let statements can be delimited ‘;’? Please lmk how we can make the docs more clear.
@sloutsky - FYI

[2020-11-26 13:11] ciufudean commented on #463
The semicolon _must_ be put even with a single `let` statement. Before a tabular data query.

I cannot find the semicolon where the `let` syntax is defined.

[2020-11-26 13:31] dg-eparizzi opened #465 "Where to report bugs on .NET Data SDK?"
I've been searching around and I cannot seem to find any place to report bugs on the [Microsoft.Azure.Kusto.Data library](https://www.nuget.org/packages/Microsoft.Azure.Kusto.Data/)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae82ebd2-f7f6-5068-54f2-69c7532b6b38
* Version Independent ID: 4727dbed-4e17-879b-d494-6ee6

[2020-11-26 15:17] MonikaReddy-MSFT commented on #465
@dg-eparizzi -
- Thanks for bringing this to our attention.
I'm going to assign this to the document author so they can update the document accordingly.

[2020-11-27 05:39] chintanr97 opened #468 "Incorrect definition for database cursor function `cursor_before_or_at`"
The `cursor_before_or_at(rhs:string)` terminology definition on the documentation page [here](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/management/databasecursor#cursor-functions) should be modified to have following explanation:

[cursor_before_or_at(rhs:string)](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/cursorbeforeoratfunction?pivots=azuredataexplorer): T

[2020-11-27 07:04] CHEEKATLAPRADEEP-MSFT commented on #468
@chintanr97  Thanks for your contribution, I've addressed this issue in PR: [https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1269](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1269).

The changes should be live EOD or tomorrow. In future, if you see any minor bug fixes in the doc, feel free to click on the edit button and submit a PR to update. we love to take community co

[2020-11-27 07:04] #468 closed

[2020-11-28 06:12] DavidBerg-MSFT opened #470 "Best Practices for Schema Design???"
The page "Best Practices for Schema Design" feels mislabeled.  I read it expecting to get tips on **designing** Data Explorer Schemas.  Instead I got a bunch of tips on manipulating and querying schemas, **not** designing them.

(If you have any tips on **designing** Data Explorer Schemas, I'd love to read them.  In the meantime, please consider retitling the page.)

---
#### Document Details

⚠ *

[2020-11-28 09:45] krish-gh commented on #470
@DavidBerg-MSFT Thanks for the suggestion. Assigning to the author to have a look.

[2020-11-30 07:38] riserrad opened #472 "Is it correct to say that, to delete a database, the user needs Contributor or Owner role at the **subscription** level?"
When reading through this document, I see the following statement:

_To delete or rename a database, you must be a member of the Contributor or Owner role for the **Azure subscription**._

Shouldn't it be for the **Azure Data Explorer cluster** instead?

I see this is also mentioned for database creation. And I think it should be the same case.
---
#### Document Details

⚠ *Do not edit this sectio

[2020-11-30 07:43] orspod commented on #462
@Craigmeister68 - thanks again for the feedback.
The following statement was added as prerequisite for article: "*Event Grid notification subscription can be set on Azure Storage accounts for `BlobStorage`, `StorageV2`, or [Data Lake Storage Gen2](/azure/storage/blobs/data-lake-storage-introduction)."

@orhasban will be addressing your suggestion: "checking for a Gen Purpose v1 storage account fro

[2020-11-30 07:43] #462 closed

[2020-11-30 07:47] lohithrvce opened #473 "Please provide the documentation for running management queries from Spark Databricks Notebook. We need run the adx mangement queries like renaming and droping the adx tables from spark code."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66353133-1b29-fa99-c9bd-e74c4a2f14dc
* Version Independent ID: 5cf9bdf3-207a-ab00-4cb9-4b5e4668f894
* Content: [Connect to Azure Data Explorer from Azure Databricks](https://docs.microsoft.com/en-us/azure/data-explorer/connect-from-databricks)
* Conte

[2020-11-30 07:47] CHEEKATLAPRADEEP-MSFT commented on #472
@riserrad  Thanks for the feedback! I have assigned the issue to the content author to review further and update the document as appropriate.

[2020-11-30 07:59] orspod commented on #463
@sloutsky - can you please clarify - Must a semicolon be used with a single let statement, before a tabular expression? as described by @ciufudean ?

[2020-11-30 09:47] vladikbr commented on #465
@dg-eparizzi, you can reach us at nugetkusto@microsoft.com

[2020-11-30 13:13] orspod commented on #465
@vladikbr - thanks for your response.
@dg-eparizzi thanks for your feedback. You can also select "contact owners" in right-hand menu to report a bug.
I am now closing this issue

[2020-11-30 13:13] #465 closed

[2020-11-30 13:18] orspod commented on #463
@ciufudean - Semicolon separates all statements (let statements, set statements, tabular expressions, etc). I created a [WI](https://mseng.visualstudio.com/TechnicalContent/_queries/edit/1797180/?triage=true) to add clarification in the docs. I am now closing this issue.

[2020-11-30 13:18] #463 closed

[2020-11-30 20:03] BharathNimmala-MSFT commented on #473
@lohithrvce Thank you for reaching out, our team will review your request and get back to you at the earliest

[2020-12-01 17:02] orspod commented on #472
@riserrad thanks for your feedback.
The docs are correct for database creation and deletion. There aren't cluster-level permissions.
You can ALSO delete a database if you have database admin permissions. I will update the doc.

I will now close this issue. If you have additional questions, feel free to @mention me in this issue or open a new issue.

[2020-12-01 17:02] #472 closed

[2020-12-01 17:36] orspod commented on #470
@DavidBerg-MSFT thanks for your feedback. We will change the page title as requested.
I created a [WI](https://mseng.visualstudio.com/TechnicalContent/_queries/query/977d69dc-a57d-4219-8f3c-fba78447ccf4/) re: your request for "tips on designing Data Explorer Schemas"
I will now close this issue.

[2020-12-01 17:36] #470 closed

[2020-12-01 20:43] dwhathaway opened #478 "Maximum number of records that can be ingested this way?"
I see there's a mention of `For example, the command can retrieve 1000 CSV-formatted blobs from Azure Blob Storage`.  Is 1000 the max number of records that a statement can contain?  It would be good to note that on the page explicitly if that's the case, or whatever the actual limit is along with any recommendations on best practices on how many files to include.

---
#### Document Details

⚠ *Do

[2020-12-01 21:32] KristianCEliassen opened #479 "Section labeled "Show n rows: take" (text/example) mismatch"
Issue: Text explaining example does not match the provided example

Text - "NetworkMonitoring contains monitoring data for Azure virtual networks. Let's use the take operator to look at **five** random sample rows in that table."

Example - "NetworkMonitoring
| take **10**
| project TimeGenerated, Computer, SourceNetwork, DestinationNetwork, HighLatency, LowLatency"

---
#### Document Details

⚠ *

[2020-12-02 00:46] jonmcco opened #481 "Desktop and Web Results Viewer has red rows"
Table Row Colors section for the User Interface in the documentation ([Table Row Colors](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/tools/kusto-explorer#table-row-colors)) could be improved by adding a legend as to what the colors mean.

Recently I came across a query where rows that were joining with blanks for the $left and $right were highlighting red but I had no idea why. I th

[2020-12-02 04:06] CHEEKATLAPRADEEP-MSFT commented on #479
@KristianCEliassen  Please help with the link to the document on which the above document feedback request is created.

In case your query is not related to document content, open a new forum thread in [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) or [Stack Overflow](https://stackoverflow.com/) as it could be a better place to get help on your scenario. These forum community

[2020-12-02 05:35] DavidBerg-MSFT commented on #470
Thanks.  Glad you found the suggestion helpful.

From: orspod <notifications@github.com>
Sent: Tuesday, December 1, 2020 9:36 AM
To: MicrosoftDocs/dataexplorer-docs <dataexplorer-docs@noreply.github.com>
Cc: David Berg <David.Berg@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/dataexplorer-docs] Best Practices for Schema Design??? (#470)

@DavidBerg-MSFT<https://n

[2020-12-02 08:52] CHEEKATLAPRADEEP-MSFT commented on #478
@dwhathaway  Thanks for the question! We are investigating and will update you shortly.

[2020-12-02 09:33] HarithaMaddi-MSFT commented on #481
@jonmcco - Thanks for your valuable feedback. I am looking into it and will get back to you soon.

[2020-12-02 12:13] HarithaMaddi-MSFT commented on #481
@orspod - Can you please take a look and share your thoughts.

[2020-12-02 16:31] kosinsky opened #482 "How to enable Engive V3 when creating with ARM template?"
Doc shows only how to use portal to enabled V3 during cluster creation. Is it a way to do that using ARM template?

I tried to create V2 and V3 from portal and see differences in the exported template, unfortunately it's none.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ad6d867d-04e9-eb00-6186-27c15896f26e
* Version

[2020-12-02 19:27] himanshusinha-msft commented on #473
We have assigned the issue to the content author . They will evaluate & update the document as appropriate

[2020-12-02 23:06] KristianCEliassen commented on #479
**Not here** --- https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/tutorial?pivots=azuredataexplorer . This looks to be correct.

**Here** --- https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/tutorial?pivots=azuremonitor . Search pages for "Show n rows: take".  Read the summary below the section "Show n rows: take". Then read the example image posted.

[2020-12-03 03:41] CHEEKATLAPRADEEP-MSFT commented on #482
@kosinsky Thanks for your feedback. I have created a Work Item to update this document.

Duplicate of #453

[2020-12-03 03:41] #482 closed

[2020-12-03 07:29] orspod commented on #473
@lohithrvce thanks for your feedback.
@ohadbitt or @ManojRaheja can you please assist.

[2020-12-03 07:48] ohadbitt commented on #473
The spark connector is for querying and ingesting data. In order to use management queries (called control commands) one need to use the java or python sdk depend on the environment he is using

[2020-12-03 07:51] CHEEKATLAPRADEEP-MSFT commented on #479
@KristianCEliassen Thanks for sharing the document.

@orspod Could you please change five => ten random sample rows?

![image](https://user-images.githubusercontent.com/44426401/100979838-54c60080-356a-11eb-872c-584a10929cd2.png).

[2020-12-03 08:38] orspod commented on #473
@ohadbitt thanks for the clarification. @lohithrvce - I hope this answers your question. I am now closing this issue. If you have follow-up questions, feel free to comment here.

[2020-12-03 08:38] #473 closed

[2020-12-03 09:39] orspod commented on #479
@KristianCEliassen - thanks for the feedback.
I created a PR to fix this issue: https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1296

@bwren - FYI

[2020-12-03 09:39] #479 closed

[2020-12-03 10:43] astauben commented on #453
Hi, @tedvanderveen I'm updating our files to include the engine-type property. In the meanwhile, to create cluster with engine-type using CLI please see these CLI docs: https://docs.microsoft.com/en-us/cli/azure/ext/kusto/kusto/cluster?view=azure-cli-latest#ext_kusto_az_kusto_cluster_create

[2020-12-03 14:55] ciufudean opened #486 "render ignores the "with" properties in Azure Monitor"
I am running the same query in Log Analytics and Data Explorer.
[code]
The Data Explorer chart displays six series, while the one in Log Analytics only two.
Moreover, the chart in Log Analytics displays the same chart even if I remove all `with` properties

Another problem is with the samples provided for Azure Monitor, they use `render linechart` which is not supported in this product.

---
####

[2020-12-04 04:18] MayankBargali-MSFT commented on #486
@ciufudean Thank you for your feedback! We will review and update as appropriate.

[2020-12-04 20:30] JasonWHowell opened #489 "What is the syntax for the bin size for time"
Hi @orspod

I see examples like 14d in the bin function.

Could we add a link for whatever syntax the time span is?

I am searching for several minutes to find what the syntax is called but haven't figured it out yet. I need to figure out what to put in there for 1 month bins, and `1m` seems to be minutes, and `1M` doesn't do months.

Thanks! Jason
---
#### Document Details

⚠ *Do not edit this se

[2020-12-04 20:34] JasonWHowell commented on #489
Found out a timespan is a data type for the bin roundsto parameters, but maybe it doesn't support months or years.
I'm not really sure yet.
https://docs.microsoft.com/azure/data-explorer/kusto/query/scalar-data-types/timespan

[2020-12-05 08:41] BharathNimmala-MSFT commented on #489
@JasonWHowell Thanks a lot for your query, assigned this issue to our document author @orspod to further review you and circle back accordingly.

[2020-12-07 10:23] vivere-dally opened #491 "Table with Streaming Ingestion enabled"
Hello,

Is it possible to make some sort of duplicate detection like the one in this [example](https://docs.microsoft.com/en-us/azure/data-explorer/dealing-with-duplicates#solution-3-filter-duplicates-during-the-ingestion-process)?

In my case DeviceEventsAll Table has streaming ingestion enabled and when I try to replicate the update policy for DeviceEventsUnique I get the following error:
Error

[2020-12-07 13:29] orspod commented on #478
@dwhathaway thanks for the feedback. The text you quoted is just an example and not a limit.
We created a [WI](https://mseng.visualstudio.com/TechnicalContent/_queries/edit/1799178/?triage=true) to clarify this statement in the doc.
I will now close this issue. If you need more information on product limitations, feel free to
create a thread on the forums - [Microsoft Q&A](https://docs.microsoft.c

[2020-12-07 13:29] #478 closed

[2020-12-07 13:38] orspod commented on #481
@jonmcco - thanks for your feedback.
Here is the table colors legend, as requested:

KWE: Light mode and dark mode:
![KWE](https://user-images.githubusercontent.com/42039150/101357327-f7032280-38a1-11eb-802d-6ae6ba4904bd.PNG)

Kusto.Explorer:
![KE](https://user-images.githubusercontent.com/42039150/101357497-2fa2fc00-38a2-11eb-9497-80a478a74fb3.PNG)

I created a [WI](https://mseng.visualstudio.com

[2020-12-07 15:54] orspod commented on #489
@JasonWHowell - thanks for your feedback.

The argument type of the 2nd param of the bin() function is [timespan](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/scalar-data-types/timespan).
I created a [WI](https://mseng.visualstudio.com/TechnicalContent/_queries/edit/1799204/?triage=true) to update the doc.
Regarding the fact that timespan doesn't support months/years, feel free

[2020-12-07 15:54] #489 closed

[2020-12-07 18:37] MartinJaffer-MSFT commented on #486
Thank you for your feedback @ciufudean . This has been assigned to the content owner, @orspod , and will be updated as appropriate.

[2020-12-07 19:44] NavtejSaini-MSFT commented on #491
@vivere-dally We are checking this and will get back to you.

[2020-12-07 21:18] jonmcco commented on #481
Wonderful @orspod! You are fantastic, thank you very much.

[2020-12-07 21:53] orspod commented on #486
@bwren can you assist the customer?

[2020-12-08 01:27] bwren commented on #486
@ciufudean Thanks for noticing this. Obviously, we copied over the content for Azure Monitor and failed to update the sample. The render operator tells the UI how to present the results, and ADX and Log Analytics work different with charts. Log Analytics lets you select which series to display, while the ADX web UI has to display the series together. I'll get the example changed. We really should

[2020-12-08 01:27] #486 closed

[2020-12-08 13:17] ymost opened #494 "How to check if a value exists in an array, where the array is a dynamic column?"
Minimal example:
[code]

Here are things I tried which don't work exactly as required:
[code]

[2020-12-08 15:21] NavtejSaini-MSFT commented on #494
@ymost We are checking this and we will get back to you.

[2020-12-08 17:38] HymieHo opened #495 "Wrong feature is suggested in "Effective Slicers" section"
"Effective slicers – Use **sync slicers** to prevent reports from loading data before you're ready."

This should say "Use **Query Reduction** to prevent reports from loading data before you're ready." and "Query Reduction" should be linked to https://docs.microsoft.com/en-us/power-bi/connect-data/desktop-directquery-about.

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-12-09 01:05] NavtejSaini-MSFT commented on #495
@HymieHo We are checking this and will get back to you.

[2020-12-09 04:17] NavtejSaini-MSFT commented on #495
@orspod Please check and verify and let us know if we can make this change.

[2020-12-09 08:26] orspod commented on #495
@Gabilehner and @saguiitay - can you please verify the feedback from @HymieHo

[2020-12-09 09:50] orspod commented on #486
Thanks @bwren
@ciufudean - [PR](https://github.com/MicrosoftDocs/dataexplorer-docs-pr/pull/1307) was created with fix. See changes in the doc.

[2020-12-09 14:19] NavtejSaini-MSFT commented on #491
@vivere-dally We have checked with our PG team and got below info:
"This article is not current (we will fix it). We now have materialized views that can be used for the deduplication and provide much simpler interface. There is one catch though and it is that for streaming scenarios the support is still in beta since the "cursor" feature is streaming is still in preview and need to be enabled on